<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="The Aviator website has been blocked in India. But you can download our mobile application and have permanent access to the site in the mobile application"
          name="description"><!--=============== CSS ===============-->
    <link href="assets/css/styles.css" rel="stylesheet">
    <title>AVIATOR</title>
</head>
<body>
<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a class="nav__logo" href="index.html"><img alt="" src="assets/img/aviator.png"></a>
    </nav>
</header><!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home section" id="home">
        <div class="home__container container grid center">
            <div>
                <a class="button" href="aviator.apk">DOWNLOAD APP</a>
            </div>
            <h2>Cookie Policy</h2>
            <p>Aviator ("we," "us," or "our") uses cookies and similar tracking technologies to enhance your experience
                on our mobile application and website ("Services"). This Cookie Policy explains what cookies are, how we
                use them, and your choices regarding cookies. By using our Services, you agree to the use of cookies in
                accordance with this policy.</p>
            <p>1. What Are Cookies?</p>
            <p>Cookies are small text files that are placed on your device when you visit a website or use a mobile
                application. They help us understand how you interact with our Services, remember your preferences, and
                improve your experience.</p>
            <p>2. Types of Cookies We Use</p>
            <p>2.1. Essential Cookies These cookies are necessary for the proper functioning of our Services. They
                enable you to navigate our site and use its features, such as accessing secure areas.</p>
            <p>2.2. Performance Cookies These cookies collect information about how you use our Services, such as which
                pages you visit most often and if you encounter any errors. This data helps us improve the performance
                of our Services.</p>
            <p>2.3. Functional Cookies These cookies allow our Services to remember choices you make, such as your
                username, language, or region, and provide enhanced, more personalized features.</p>
            <p>2.4. Advertising Cookies These cookies are used to deliver advertisements that are relevant to you and
                your interests. They also help measure the effectiveness of advertising campaigns.</p>
            <p>2.5. Analytics Cookies These cookies help us understand how visitors interact with our Services by
                collecting and reporting information anonymously. This information is used to make improvements and
                optimize performance.</p>
            <p>3. How We Use Cookies</p>
            <p>We use cookies to:</p>
            <p>Improve the functionality and performance of our Services</p>
            <p>Personalize your experience by remembering your preferences and settings</p>
            <p>Provide you with relevant content and advertisements</p>
            <p>Analyze and understand how our Services are used</p>
            <p>Enhance security and prevent fraudulent activity</p>
            <p>4. Your Choices Regarding Cookies</p>
            <p>4.1. Managing Cookies You can control and manage cookies in various ways. Most web browsers allow you to
                accept or reject cookies, delete cookies already set, and set preferences for certain websites. Please
                note that disabling cookies may affect your ability to use some features of our Services.</p>
            <p>4.2. Opt-Out Options For more information on how to manage cookies and your preferences, you can visit
                the help pages of your browser. Here are links to the help pages of some popular browsers:</p>
            <p>Google Chrome</p>
            <p>Mozilla Firefox</p>
            <p>Apple Safari</p>
            <p>Microsoft Edge</p>
            <p>5. Third-Party Cookies</p>
            <p>We may also allow third parties to place cookies on your device through our Services to provide
                advertising, analytics, and other functionalities. These third parties have their own privacy policies
                and cookie policies, and we encourage you to review them.</p>
            <p>6. Changes to This Cookie Policy</p>
            <p>We may update this Cookie Policy from time to time. We will notify you of any changes by posting the new
                Cookie Policy on our Services. You are advised to review this Cookie Policy periodically for any
                changes.</p>
            <p>7. Contact Us</p>
            <p>If you have any questions about this Cookie Policy, please contact us.</p>
            <p>By using our Services, you acknowledge that you have read and understood this Cookie Policy and agree to
                its terms.</p>
        </div>
    </section>
</main><!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer__info container grid">
        <span class="footer__copy">&#169; Aviator. All rights reserved.</span>
        <div class="footer__privacy">
            <a class="copy__link" href="terms.html">Terms of Use</a> <a class="copy__link" href="privacy.html">Privacy
            Policy</a> <a
                class="copy__link" href="cookie.html">Cookie Policy</a>
        </div>
    </div>
</footer>
</body>
</html>