<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="fortune tiger" />
  <title>fortune tiger</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="shortcut icon" href="/static/images/favicon.jpeg.png" type="image/x-icon" />
</head>
<body>
<div class="wrapper">
  <header>
    <h1>PLAY WITHOUT RISC</h1>
  </header>



  <section>
    <div class="containerText scrollable-container">
      <h2>Terms of Service</h2>
      <p>Welcome! By using our platform, you agree to the following terms and conditions:</p>

      <h3>Acceptance of Terms</h3>
      <p>Your use of our platform indicates that you have read, understood, and agree to these Terms of Service. If you disagree, please stop using the platform.</p>

      <h3>Use of Platform</h3>
      <p>You agree to use our platform legally and in accordance with these Terms. Illegal or unauthorized use is prohibited.</p>

      <h3>User Accounts</h3>
      <p>Creating an account may be necessary for some features. You must keep your account details confidential and are responsible for all activities under your account.</p>

      <h3>User Content</h3>
      <p>Submitting content grants us a non-exclusive, global, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, publish, and distribute your content.</p>

      <h3>Prohibited Conduct</h3>
      <p>You must not:</p>
      <ul>
        <li>Violate laws or regulations.</li>
        <li>Disrupt platform operations.</li>
        <li>Attempt unauthorized access.</li>
        <li>Impersonate others.</li>
        <li>Post harmful or offensive content.</li>
      </ul>

      <h3>Intellectual Property</h3>
      <p>All platform content and materials are owned by us or our licensors and protected by intellectual property laws. Unauthorized use is not allowed.</p>

      <h3>Limitation of Liability</h3>
      <p>We are not responsible for any indirect, incidental, special, consequential, or punitive damages resulting from your use of the platform.</p>

      <h3>Governing Law</h3>
      <p>These Terms are governed by applicable laws, and disputes will be resolved in the relevant local courts.</p>

      <h3>Changes to Terms</h3>
      <p>We may update these Terms at any time. Continued platform use signifies acceptance of the changes.</p>
    </div>
  </section>

  <div class="disclaimer-container">
    <h2>Important Disclaimer</h2>
    <p>Our application does not offer real-money bets or gambling games with the possibility of winning real money or prizes. All games in the application are intended solely for entertainment purposes and do not provide the opportunity to win real money or valuable prizes. The results of the games are completely random and have no real value.</p>
  </div>

  <footer class="footer">
    <nav>
      <ul>
        <li><a href="/tiger">Home</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/dmca">DMCA</a></li>
        <li><a href="/data">Data Product</a></li>
        <li><a href="/cookie">Cookie</a></li>
      </ul>
    </nav>
  </footer>
</div>
</body>
</html>