<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="fortune tiger" />
  <title>fortune tiger</title>
  <link rel="stylesheet" href="/tiger/static/css/style.css" />
  <link rel="shortcut icon" href="/tiger/static/images/favicon.jpeg.png" type="image/x-icon" />
</head>
<body>
<div class="wrapper">
  <header>
    <h1>PLAY WITHOUT RISC</h1>
  </header>



  <section>
    <div class="containerText scrollable-container">
      <p>To Whom It May Concern,</p>
      <p>
        This notice serves to formally address a copyright infringement on your website.<br><br>
        Our copyrighted material has been used without authorization, violating our rights under copyright law. <br><br>
        We insist on the immediate removal of the infringing content.
        Failure to comply with this request promptly may lead to further legal measures to protect our intellectual property. <br><br>
        We expect your immediate response to rectify this matter.
      </p>
      <p>Thank you for your cooperation.</p>

    </div>
  </section>

  <div class="disclaimer-container">
    <h2>Important Disclaimer</h2>
    <p>Our application does not offer real-money bets or gambling games with the possibility of winning real money or prizes. All games in the application are intended solely for entertainment purposes and do not provide the opportunity to win real money or valuable prizes. The results of the games are completely random and have no real value.</p>
  </div>

  <footer class="footer">
    <nav>
      <ul>
        <li><a href="/tiger/">Home</a></li>
        <li><a href="/tiger/privacy">Privacy</a></li>
        <li><a href="/tiger/terms">Terms</a></li>
        <li><a href="/tiger/dmca">DMCA</a></li>
        <li><a href="/tiger/data">Data Product</a></li>
        <li><a href="/tiger/cookie">Cookie</a></li>
      </ul>
    </nav>
  </footer>
</div>
</body>
</html>