<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="fortune tiger" />
  <title>fortune tiger</title>
  <link rel="stylesheet" href="/tiger/static/css/style.css" />
  <link rel="shortcut icon" href="/tiger/static/images/favicon.jpeg.png" type="image/x-icon" />
</head>
<body>
<div class="wrapper">
  <header>
    <h1>PLAY WITHOUT RISC</h1>
  </header>



  <section>
    <div class="containerText scrollable-container">
      <h2>Privacy Policy</h2>
      <p>We prioritize your privacy and are dedicated to protecting it. This Privacy Policy explains how we collect, use, disclose, and protect your personal information.</p>
      <h3>Information We Collect</h3>
      <p>We may gather personal information from you, including your name, email address, mailing address, phone number, and payment information when you interact with our site. Additionally, we automatically collect information about your device, such as your IP address, browser type, operating system, and browsing behavior.</p>
      <h3>How We Use Your Information</h3>
      <p>We use the collected information for various purposes, including to:</p>
      <ul>
        <li>Provide and maintain our services</li>
        <li>Process transactions and complete orders</li>
        <li>Communicate with you about your account or inquiries</li>
        <li>Customize your experience on our website</li>
        <li>Improve our website and services</li>
        <li>Prevent fraud and illegal activities</li>
      </ul>
      <h3>Information Sharing and Disclosure</h3>
      <p>We may share your personal information with third-party service providers who assist us in operating our website, managing our business, or providing services to you. We may also share your information in response to legal requests, to protect our rights or property, or to enforce our policies.</p>
      <h3>Data Security</h3>
      <p>We implement reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</p>
      <h3>Changes to This Policy</h3>
      <p>We may update this Privacy Policy from time to time, with any changes posted on this page. Your continued use of our website after any updates to this Privacy Policy will signify your acceptance of those changes.</p>
    </div>
  </section>

  <div class="disclaimer-container">
    <h2>Important Disclaimer</h2>
    <p>Our application does not offer real-money bets or gambling games with the possibility of winning real money or prizes. All games in the application are intended solely for entertainment purposes and do not provide the opportunity to win real money or valuable prizes. The results of the games are completely random and have no real value.</p>
  </div>

  <footer class="footer">
    <nav>
      <ul>
        <li><a href="/tiger/">Home</a></li>
        <li><a href="/tiger/privacy">Privacy</a></li>
        <li><a href="/tiger/terms">Terms</a></li>
        <li><a href="/tiger/dmca">DMCA</a></li>
        <li><a href="/tiger/data">Data Product</a></li>
        <li><a href="/tiger/cookie">Cookie</a></li>
      </ul>
    </nav>
  </footer>
</div>
</body>
</html>