<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="application-name" content="Aviator India Game">
    <meta name="apple-mobile-web-app-title" content="Aviator India Game">
    <meta name="description" content="To achieve the status of the ultimate Aviator, you must strike a perfect balance between strength and speed. At the bottom of our website, you will discover valuable links and resources designed to enhance your Avia X experience. Explore our FAQ section for solutions to common queries, or access our support page for any assistance you may require. Additionally, you can access our social media platforms to engage with fellow Aviator enthusiasts and remain informed about the latest developments and announcements. We appreciate your selection of Avia X and trust that you will relish your journey with us! Keep in mind that the sky is your only limit, so set your sights high and strive to become the ultimate Aviator. Best of luck!">
    <meta name="theme-color" content="#ff0000">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/png">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="manifest" href="/manifest.json">
    <title>Aviator India</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo-box">
          <img src="{{url_for('static', filename='img/logo.png')}}" alt="site-logo" />
          <div class="logo--info">
            <h1>Aviator India</h1>
            <h2>Aviator Ltd.</h2>
            <p class="title-info">Contains ads · In-app purchases</p>
          </div>
        </div>

        <div class="reiting">
          <span class="review">
            <p class="for-font">
              4.6<i class="material-icons custom-icon star-icon">star</i>
            </p>
            <p>3.8K reviews</p>
          </span>
          <span class="review">
            <p class="for-font">100K+</p>
            <p>Downloads</p>
          </span>
          <span class="review">
            <p><img class="icon18" src="{{url_for('static', filename='img/other_18.png')}}" alt="18+" /></p>
            <p>Rated for 18+ <i class="material-icons custom-icon">info</i></p>
          </span>
        </div>
        <div class="buttons">
          <button class="installBtn" id="init">Loading...</button>
          <button>
            <img src="{{url_for('static', filename='img/image.png')}}" alt="favourite" />Add to wishlist
          </button>
        </div>
      </div>
    </header>

    <main>
      <section class="photos">
        <div class="container">
          <div class="photos-top">
            <p>
              <i class="material-icons custom-icon laptop-icon">devices</i> This
              app is available for all of your devices.
            </p>
          </div>

          <div class="photos-bottom">
            <img src="{{url_for('static', filename='img/fir.png')}}" alt="image" />
            <img src="{{url_for('static', filename='img/sec.png')}}" alt="image" />
            <img src="{{url_for('static', filename='img/thr.png')}}" alt="image" />
            <img src="{{url_for('static', filename='img/fors.png')}}" alt="image" />
            <img src="{{url_for('static', filename='img/fivs.png')}}" alt="image" />
          </div>
        </div>
      </section>

      <section class="content">
        <div class="container">
          <div class="content--info">
            <h2 class="content--title">
              About this game <i class="material-icons">arrow_forward</i>
            </h2>
            <p class="content--text">
              To achieve the status of the ultimate Aviator, you must strike a
              perfect balance between strength and speed.
            </p>

            <p class="content--text second-text">
              At the bottom of our website, you will discover valuable links and
              resources designed to enhance your Avia X experience. Explore our
              FAQ section for solutions to common queries, or access our support
              page for any assistance you may require. Additionally, you can
              access our social media platforms to engage with fellow Aviator
              enthusiasts and remain informed about the latest developments and
              announcements.
              <br />
              <sub>...</sub>
            </p>
          </div>

          <div class="update--date">
            <p>Updated on</p>
            <span>March 24, 2024</span>
          </div>

          <div class="content--info">
            <h2 class="content--title second--title-content">
              Data safety <i class="material-icons">arrow_forward</i>
            </h2>
            <p class="content--text">
              In this section, developers can specify how applications collect
              and use data.
            </p>
          </div>

          <div class="more-information">No information.</div>
        </div>
      </section>

      <section class="ratings">
        <div class="container">
          <h2 class="content--title second--title-content">
            Ratings and reviews <i class="material-icons">arrow_forward</i>
          </h2>

          <div class="rating-range">
            <div class="rating-box">
              <div class="rating">
                <span>4.6 </span>
              </div>
              <div class="stars">
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star_half</span>
              </div>
              <div class="reviews">3.8K reviews</div>
            </div>

            <div class="bars">
              <div class="bar bar-5">
                <div class="bar-label">5</div>
                <div class="bar-bg">
                  <div class="bar-fg"></div>
                </div>
              </div>
              <div class="bar bar-4">
                <div class="bar-label">4</div>
                <div class="bar-bg">
                  <div class="bar-fg"></div>
                </div>
              </div>
              <div class="bar bar-3">
                <div class="bar-label">3</div>
                <div class="bar-bg">
                  <div class="bar-fg"></div>
                </div>
              </div>
              <div class="bar bar-2">
                <div class="bar-label">2</div>
                <div class="bar-bg">
                  <div class="bar-fg"></div>
                </div>
              </div>
              <div class="bar bar-1">
                <div class="bar-label">1</div>
                <div class="bar-bg">
                  <div class="bar-fg"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="review--cards">
        <div class="container">
          <div class="review-container">
            <div class="review-header">
              <img src="{{url_for('static', filename='img/comment1.png')}}" alt="User Image" />
              <div class="name">Ekapad Pai</div>
              <span class="material-icons menu-icon">more_vert</span>
            </div>
            <div class="review-rating">
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <div class="date">May 28, 2024</div>
            </div>
            <div class="review-text">
              I'm not usually one for reviews, but Aviator has earned it. It's
              exciting and the wins are great. This app is a must!
            </div>
            <div class="review-footer">
              <div class="helpful-count">
                456 people found this review helpful
              </div>
              <div class="helpful-buttons">
                Did you find this helpful?
                <button>Yes</button>
                <button>No</button>
              </div>
            </div>
          </div>

          <div class="answer">
            <div class="answer-title-box">
              <h4>Aviator Ltd.</h4>
              <p>May 29, 2024</p>
            </div>
            <p>
              Thank you for your positive review! We are glad that this game
              brings excitement and fun to your gaming sessions. Wishing you
              many big wins!
            </p>
          </div>

          <div class="review-container">
            <div class="review-header">
              <img src="{{url_for('static', filename='img/comment2.png')}}" alt="User Image" />
              <div class="name">Monisha Tipparti</div>
              <span class="material-icons menu-icon">more_vert</span>
            </div>
            <div class="review-rating">
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star_half</span>
              <div class="date">May 28, 2024</div>
            </div>
            <div class="review-text">
              I became addicted to this game from the first moment I played. I
              was pleasantly surprised
            </div>
            <div class="review-footer">
              <div class="helpful-count">
                5.1K people found this review helpful
              </div>
              <div class="helpful-buttons">
                Did you find this helpful?
                <button>Yes</button>
                <button>No</button>
              </div>
            </div>
          </div>

          <div class="answer">
            <div class="answer-title-box">
              <h4>Aviator Ltd.</h4>
              <p>May 29, 2024</p>
            </div>
            <p>
              Thank you for your positive review! We are glad that this game
              brings excitement and fun to your gaming sessions. Wishing you
              many big wins!
            </p>
          </div>

          <div class="review-container">
            <div class="review-header">
              <img src="{{url_for('static', filename='img/comment3.png')}}" alt="User Image" />
              <div class="name">Krishna Prabhakaran</div>
              <span class="material-icons menu-icon">more_vert</span>
            </div>
            <div class="review-rating">
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star_half</span>
              <div class="date">May 28, 2024</div>
            </div>
            <div class="review-text">
              From the sign-up bonus to the big wins, Aviator exceeded all my
              expectations. This is how casino games should be!
            </div>
            <div class="review-footer">
              <div class="helpful-count">
                3.5K people found this review helpful
              </div>
              <div class="helpful-buttons">
                Did you find this helpful?
                <button>Yes</button>
                <button>No</button>
              </div>
            </div>
          </div>

          <div class="answer">
            <div class="answer-title-box">
              <h4>Aviator Ltd.</h4>
              <p>May 27, 2024</p>
            </div>
            <p>Thank you for your positive review!</p>
          </div>

          <div class="review-container">
            <div class="review-header">
              <img src="{{url_for('static', filename='img/comment4.png')}}" alt="User Image" />
              <div class="name">Krishna Prabhakaran</div>
              <span class="material-icons menu-icon">more_vert</span>
            </div>
            <div class="review-rating">
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <div class="date">May 28, 2024</div>
            </div>
            <div class="review-text">
              It turns out that you can easily win in Av1ator if you have your
              own strategy. I didn't believe it, but it turned out to be easy
              for me. After the first win, I checked how fast the winnings are
              withdrawn, and it was very fast. I rarely write good reviews, but
              now I've decided to do so.
            </div>
            <div class="review-footer">
              <div class="helpful-count">
                233 people found this review helpful
              </div>
              <div class="helpful-buttons">
                Did you find this helpful?
                <button>Yes</button>
                <button>No</button>
              </div>
            </div>
          </div>

          <div class="answer">
            <div class="answer-title-box">
              <h4>Aviator Ltd.</h4>
              <p>May 26, 2024</p>
            </div>
            <p>Thank you for your positive review!</p>
          </div>

          <div class="review-container">
            <div class="review-header">
              <img src="{{url_for('static', filename='img/comment5.png')}}" alt="User Image" />
              <div class="name">Koushtubh Harjo</div>
              <span class="material-icons menu-icon">more_vert</span>
            </div>
            <div class="review-rating">
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <div class="date">May 28, 2024</div>
            </div>
            <div class="review-text">
              I won 5,000 rupees in just 10 minutes, this game is so much fun!
            </div>
            <div class="review-footer">
              <div class="helpful-count">
                1.3K people found this review helpful
              </div>
              <div class="helpful-buttons">
                Did you find this helpful?
                <button>Yes</button>
                <button>No</button>
              </div>
            </div>
          </div>

          <div class="answer">
            <div class="answer-title-box">
              <h4>Aviator Ltd.</h4>
              <p>May 25, 2024</p>
            </div>
            <p>
              We're so happy to hear about your win! Aviator is designed to
              provide an exciting and rewarding gaming experience. Thanks for
              playing and good luck!
            </p>
          </div>
          <p class="p">See all review</p>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div>
          <h1>What's new</h1>
        </div>
        <br /><br />

        <div class="div">
          <h1>Developer contact</h1>
          <i class="material-icons">expand_less</i>
        </div>
      </div>
    </footer>
    <script src="/sw.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
  </body>
</html>
