<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Privacy Policy defining personal data collection and protection</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Privacy Policy defining personal data collection and protection">
    <meta name="description"
          content="This privacy policy explains how we collect, use, store and protect personal data of users visiting our website and using our services.">
    <meta property="og:title" content="Privacy Policy defining personal data collection and protection">
    <meta property="og:description"
          content="This privacy policy explains how we collect, use, store and protect personal data of users visiting our website and using our services.">
    <meta name="twitter:title" content="Privacy Policy defining personal data collection and protection">
    <meta name="twitter:description"
          content="This privacy policy explains how we collect, use, store and protect personal data of users visiting our website and using our services.">
    <meta name="twitter:card" content="summary_large_image">
    <link as="font" rel="preload" href="/static/css/css.css?family=Inter:400,500,600|DM+Sans:400,500&display=swap">
    <link rel="stylesheet" href="/static/css/css.css?family=Inter:400,500,600|DM+Sans:400,500&display=swap">
    <link rel="stylesheet" href="/static/css/doc.css?v=1720000783907">


</head>
<body>

<section class="milena-section symbol--header milena-section-8kv52e75 ">
    <div class="">
        <div class="container milena-row-80vj5xo8-wrapper    ">
            <div class="milena-row-80vj5xo8  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner milena-column-3nlzswir  1/1">
                        <div class="milena-navbar--wrapper milena-nav-kflzsvrm-wrapper  sticky-nav">
                            <div class="milena-navbar milena-nav-kflzsvrm ">
                                <button aria-label="Navbar Toggle" class="milena-navbar--toggle"
                                        data-target="#milenaNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="milena-navbar--collapse collapse" id="milenaNavbarCollapse">
                                    <div class="milena-navbar--navs">
                                        <ul class="milena-nav--links normalize">
                                            <li class=""><a href="/site"
                                                            class="milena-nav--link home milena-nav--link-2suuvmpu  "><span
                                                    class="milena-nav--link-icon"></span><span
                                                    class="milena-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/priacy"
                                                            class="milena-nav--link policy milena-nav--link-jrjtnw95  "><span
                                                    class="milena-nav--link-icon"></span><span
                                                    class="milena-nav--link-text">Policy</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="milena-nav--link policy milena-nav--link-jrjtnw95  "><span
                                                    class="milena-nav--link-icon"></span><span
                                                    class="milena-nav--link-text">Terms</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="milena-nav--link policy milena-nav--link-jrjtnw95  "><span
                                                    class="milena-nav--link-icon"></span><span
                                                    class="milena-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="milena-nav--link policy milena-nav--link-jrjtnw95  "><span
                                                    class="milena-nav--link-icon"></span><span
                                                    class="milena-nav--link-text">Dmca</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="milena-nav--link policy milena-nav--link-jrjtnw95  "><span
                                                    class="milena-nav--link-icon"></span><span
                                                    class="milena-nav--link-text">Data Products</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="milena-section milena-section-g5s04yys ">
    <div class="">
        <div class="container milena-row-1iq6cjv7-wrapper    ">
            <div class="milena-row-1iq6cjv7  flex  ">
                <div class="col-lg-1/1 col-md-7/8 ">
                    <div class="column-inner milena-column-hlz9wruk  1/1">
                        <div class="milena-wrapper milena-heading-ndgl5fnl-wrapper "><h2
                                class="milena-heading milena-heading-ndgl5fnl "><span>Privacy Policy
</span></h2></div>
                        <div class="milena-text milena-text-yz67lgl4 "><p>&nbsp;Introduction</p>
                            <p><br></p>
                            <p>This Privacy Policy defines how our company collects, uses, stores and protects the
                                personal data of users who visit our website and use our services. We value your privacy
                                and are committed to protecting your personal data in accordance with applicable
                                law.</p>
                            <p><br></p>
                            <p>&nbsp;Collecting information</p>
                            <p><br></p>
                            <p>We may collect the following types of information:</p>
                            <p><br></p>
                            <p>1. Personal data: First name, last name, email address, phone number, delivery address
                                and payment details that you provide when placing an order or registering on the
                                site.</p>
                            <p>2. Technical data: IP address, browser type, operating system, data on site visits,
                                including time and duration of sessions, pages visited on our site.</p>
                            <p>3. Purchase Information: Order history, preferences and product reviews.</p>
                            <p><br></p>
                            <p>&nbsp;Use of information</p>
                            <p><br></p>
                            <p>The collected data is used for the following purposes:</p>
                            <p><br></p>
                            <p>1. Order Processing: To process and fulfill your orders, including shipping and
                                service.</p>
                            <p>2. Service Improvement: To improve the quality of service and user experience on our
                                website.</p>
                            <p>3. Personalization: To provide personalized suggestions and recommendations based on your
                                preferences and purchase history.</p>
                            <p>4. Communication: To send notifications about the status of orders, promotions, news and
                                updates.</p>
                            <p><br></p>
                            <p>&nbsp;Data protection</p>
                            <p><br></p>
                            <p>We take all necessary measures to protect your personal data from unauthorized access,
                                modification, disclosure or destruction. Including the use of modern encryption and
                                information security technologies.</p>
                            <p><br></p>
                            <p>&nbsp;Transfer of data to third parties</p>
                            <p><br></p>
                            <p>We do not sell, exchange or transfer your personal data to third parties without your
                                consent, except in the following cases:</p>
                            <p><br></p>
                            <p>1. Partners and Suppliers: Who help us maintain the site, fulfill orders and improve our
                                services, provided that they agree to keep your information confidential.</p>
                            <p>2. Law enforcement agencies: In cases provided for by law, when we are required to
                                provide information at the request of government agencies.</p>
                            <p><br></p>
                            <p>&nbsp;Cookies</p>
                            <p><br></p>
                            <p>We use cookies to improve the operation of our website. Cookies help us remember your
                                preferences and improve your user experience. You can configure your browser settings to
                                disable cookies, however, this may limit the functionality of our site.</p>
                            <p><br></p>
                            <p>&nbsp;Links to third-party sites</p>
                            <p><br></p>
                            <p>Our site may contain links to other websites. We are not responsible for the content and
                                privacy policies of these sites. We recommend that you read the privacy policy of each
                                site that you visit.</p>
                            <p><br></p>
                            <p>&nbsp;Changes to the Privacy Policy</p>
                            <p><br></p>
                            <p>We reserve the right to change this Privacy Policy at any time. All changes will be
                                posted on this page. We recommend checking this page regularly to get acquainted with
                                the current version of the policy.</p>
                            <p><br></p>
                            <p>&nbsp;User Consent</p>
                            <p><br></p>
                            <p>By using our website, you agree to the terms of this Privacy Policy. If you do not agree
                                to these terms, please do not use our website.</p>
                            <p><br></p>
                            <p>&nbsp;Your rights</p>
                            <p><br></p>
                            <p>In accordance with current legislation, you have the right to:</p>
                            <p><br></p>
                            <p>1. Request access to your personal data that we store.</p>
                            <p>2. Require correction of inaccurate data or their deletion.</p>
                            <p>3. Restrict or object to the processing of your data.</p>
                            <p>4. Transfer your data to another service provider.</p>
                            <p><br></p>
                            <p>If you have any questions or would like to exercise your rights, please contact us
                                through the relevant sections of our website.</p>
                            <p><br></p>
                            <p>We strive to ensure maximum protection of your data and provide you with the best
                                service. Thank you for trusting our company and using our
                                services.&nbsp;&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .cookie-dialog {
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: rgba(30, 30, 30, 0.5);
        border-radius: 12px;
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
        padding: 40px;
        max-width: 400px;
        width: 90%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }

    .cookie-dialog-icon {
        font-size: 36px;
        color: #ff9800;
        margin-bottom: 12px;
    }

    .cookie-dialog-title {
        font-size: 22px;
        font-weight: bold;
        color: #f5f5f5;
    }

    .cookie-dialog-text {
        font-size: 16px;
        line-height: 1.6;
        color: #e0e0e0;
        margin-bottom: 28px;
    }

    .cookie-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .cookie-dialog-button {
        background-color: #4caf50;
        color: #f5f5f5;
        border: none;
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        transition: background-color 0.4s;
    }

    .cookie-dialog-button:hover {
        background-color: #43a047;
    }
</style>
<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-header">
            <div class="cookie-dialog-icon">
                <i class="fas fa-cookie-bite"></i>
            </div>
            <h2 class="cookie-dialog-title">Cookie Settings</h2>
        </div>
        <p class="cookie-dialog-text">
            We use cookies to enhance your browsing experience on our website. These small data files help us remember your preferences and provide personalized content. By continuing to use our site, you agree to our cookie policy.
        </p>
        <a href="cookie.html">Cookie</a>
        <div class="cookie-dialog-actions">
            <button id="accept-cookies" class="cookie-dialog-button">
                <i class="fas fa-check"></i>
                I Accept
            </button>
        </div>
    </div>
</div>
<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

       // localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        //cookieDialog.style.visibility = 'hidden';
    });
</script>
</body>
</html>