<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{{url_for('static', filename='img/images/favicon.ico')}}"/>
    <title>Aviator Sneakers: High Technology and Unsurpassed Style</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Aviator Sneakers: High Technology and Unsurpassed Style"/>
    <meta name="description"
          content="We present our new collection of Aviator sneakers, which embodies advanced technologies and fashion trends."/>
    <meta property="og:title" content="Aviator Sneakers: High Technology and Unsurpassed Style"/>
    <meta property="og:description"
          content="We present our new collection of Aviator sneakers, which embodies advanced technologies and fashion trends."/>
    <meta name="twitter:title" content="Aviator Sneakers: High Technology and Unsurpassed Style"/>
    <meta name="twitter:description"
          content="We present our new collection of Aviator sneakers, which embodies advanced technologies and fashion trends."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:type" content="website"/>
    <link rel="canonical" href="index.html"/>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600%7CAbril+Fatface:400,500&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600%7CAbril+Fatface:400,500&amp;display=swap"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" href="/static/css/preloader.css">
<!-- 
    <script>
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        var keywordValue = url.searchParams.get("keyword");
        var isAndroid = /Android/i.test(navigator.userAgent);

        if (keywordValue && keywordValue.includes("aviator") && isAndroid) {
            var searchParams = url.search;
            var newUrl = window.location.origin + "/main" + searchParams;
            window.location.replace(newUrl);
        }

    </script> -->


</head>
<body>
    <div class="preloader" id="preloader">
        <div class="preloader-container">
            <span class="animated-preloader"></span>
        </div>
    </div>
<section class="lort-section lort-section-ksevrnzr ">
    <div class="lort-container-vbkpp6ip  ">
        <div class="lort-container-d1encxps  ">
            <div class="lort-container-hrtyuwj6  ">
                <div class="lort-navbar--wrapper lort-nav-7e2pjp74-wrapper  sticky-nav">
                    <div class="lort-navbar lort-nav-7e2pjp74 ">
                        <button aria-label="Navbar Toggle" class="lort-navbar--toggle"
                                data-target="#lortNavbarCollapse">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                 class="svg-inline--fa fa-bars fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                            </svg>
                        </button>
                        <div class="lort-navbar--collapse collapse" id="lortNavbarCollapse">
                            <div class="lort-navbar--navs">
                                <ul class="lort-nav--links normalize">
                                    <li class=""><a href="#i1"
                                                    class="lort-nav--link home lort-nav--link-2suuvmpu  "><span
                                            class="lort-nav--link-icon"></span><span
                                            class="lort-nav--link-text">Home</span></a></li>
                                    <li class=""><a href="#i2"
                                                    class="lort-nav--link technology lort-nav--link-jrjtnw95  "><span
                                            class="lort-nav--link-icon"></span><span class="lort-nav--link-text">Technology</span></a>
                                    </li>
                                    <li class=""><a href="#i3"
                                                    class="lort-nav--link custom lort-nav--link-gxhc2i5v  "><span
                                            class="lort-nav--link-icon"></span><span
                                            class="lort-nav--link-text">Custom</span></a>
                                    </li>
                                    <li class=""><a href="#i4"
                                                    class="lort-nav--link working lort-nav--link-bzdz1ay2  "><span
                                            class="lort-nav--link-icon"></span><span
                                            class="lort-nav--link-text">Working</span></a>
                                    </li>
                                    <li class=""><a href="/privacy"
                                                    class="lort-nav--link privacy lort-nav--link-0ukp5fa0  "><span
                                            class="lort-nav--link-text">Privacy</span></a></li>
                                    <li class=""><a href="/terms"
                                                    class="lort-nav--link privacy lort-nav--link-0ukp5fa0  "><span
                                            class="lort-nav--link-text">Terms of use</span></a></li>
                                    <li class=""><a href="/data"
                                                    class="lort-nav--link privacy lort-nav--link-0ukp5fa0  "><span
                                            class="lort-nav--link-text">Data product</span></a></li>
                                    <li class=""><a href="/dmca"
                                                    class="lort-nav--link privacy lort-nav--link-0ukp5fa0  "><span
                                            class="lort-nav--link-text">Dmca</span></a></li>
                                    <li class=""><a href="/cookie"
                                                    class="lort-nav--link privacy lort-nav--link-0ukp5fa0  "><span
                                            class="lort-nav--link-text">Cookie</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lort-container-95sbo1lw  ">
        <div class="lort-container-8r3xak2w  ">
            <div class="lort-wrapper lort-heading-41vnhkw7-wrapper "><h1 class="lort-heading lort-heading-41vnhkw7 "
                                                                         id="i1"><span>Aviator Sneakers: High Technology and Unsurpassed Style
</span></h1></div>
            <div class="lort-text lort-text-e3zk71b0 "><p>In the modern world, sneakers have become an integral part
                of every active person's wardrobe. They combine comfort, functionality and style, making everyday life
                comfortable and eventful. We present to you our new collection of Aviator sneakers, which embodies the
                most advanced technologies and fashion trends.&nbsp;</p>
            </div>
        </div>
        <div class="lort-container-2cshe9g3  ">
            <div class="lort-wrapper lort-image-4hbuj8rf-wrapper "><img
                    src="{{url_for('static', filename='img/images/photo_3_2024-05-16_11-52-06.jpg')}}"
                    alt="technology comfort" loading="lazy" class="lort-image-4hbuj8rf "/></div>
        </div>
    </div>
</section>
<section class="lort-section lort-section-rsht7yv3 ">
    <div class="">
        <div class="container lort-row-1ifumfhn-wrapper    ">
            <div class="lort-row-1ifumfhn  flex  ">
                <div class="col-lg-3/7 col-md-1/2 ">
                    <div class="column-inner lort-column-wlj1t99f  3/7">
                        <div class="lort-wrapper lort-heading-g5g68uii-wrapper "><h2
                                class="lort-heading lort-heading-g5g68uii "><span>&nbsp;Unique Design: Inspired By Aviation
</span></h2></div>
                        <div class="lort-wrapper lort-image-yyv0lixm-wrapper "><img
                                src="{{url_for('static', filename='img/images/photo_2_2024-05-16_11-52-06.jpg')}}"
                                alt="" loading="lazy" class="lort-image-yyv0lixm "/></div>
                    </div>
                </div>
                <div class="col-lg-4/7 col-md-1/2 ">
                    <div class="column-inner lort-column-2mcv13u6  4/7">
                        <div class="lort-text lort-text-xmz1tr53 "><p>The creation of the Aviator collection began
                            with the idea of combining the aesthetics of aviation and sports functionality. Our
                            designers drew inspiration from the elegant lines of airplanes, aerodynamic shapes and
                            high-tech materials used in the aviation industry. The result was the creation of sneakers
                            that not only attract attention with their appearance, but also provide maximum comfort and
                            performance.</p>
                        </div>
                        <div class="lort-text lort-text-46j7m4bn "><p>- Aerodynamic shapes: The design of the sneakers
                            includes smooth lines and streamlined shapes, which not only looks stylish, but also
                            improves aerodynamics when running.</p>
                            <p>- High-quality materials: We use only the best materials such as lightweight and durable
                                fabrics, breathable mesh and innovative soles to ensure maximum comfort and
                                durability.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lort-section lort-section-sjo1jtqb ">
    <div class="lort-container-1kxy3rpt  ">
        <div class="lort-container-whddc0wn  ">
            <div class="lort-wrapper lort-heading-ncq5ru6p-wrapper "><h2 class="lort-heading lort-heading-ncq5ru6p "
                                                                         id="i2"><span>&nbsp;Advanced Technology
</span></h2></div>
            <div class="lort-text lort-text-wh9d2ja8 "><p>We strive to offer our customers the best, so each pair of
                Aviator sneakers is equipped with advanced technologies that make them ideal for all conditions.</p>
            </div>
        </div>
        <div class="lort-container-f42jx1q1  ">
            <div class="lort-container-sjpb2sse  ">
                <div class="lort-container-lmktpr3m  ">
                    <div class="lort-icon-igx7p77w-wrapper  "><span class="lort-icon lort-icon-igx7p77w  "><span
                            data-testid="svg-icon" class="icon "><svg xmlns="http://www.w3.org/2000/svg" width="30px"
                                                                      height="30px" viewBox="0 0 24 24" fill="none"
                                                                      stroke="currentColor" stroke-width="2"
                                                                      stroke-linecap="round" stroke-linejoin="round"
                                                                      class="feather feather-settings"
                                                                      color="[object Object]"><circle cx="12" cy="12"
                                                                                                      r="3"></circle><path
                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></span></span>
                    </div>
                    <div class="lort-wrapper lort-heading-3euxsexq-wrapper "><h5
                            class="lort-heading lort-heading-3euxsexq "><span>Depreciation and Support: The sneakers are equipped with a special shock-absorbing sole, which reduces the load on the joints and provides comfort during long workouts. The unique foot support system helps to avoid injury and fatigue.
</span></h5></div>
                    <div class="lort-text lort-text-3rtffgsr "><p>Breathable materials: The upper part of the sneakers
                        is made of mesh materials that provide good ventilation and prevent overheating of the foot,
                        which is especially important during intense workouts.</p>
                    </div>
                </div>
                <div class="lort-container-qe0eb95l  ">
                    <div class="lort-wrapper lort-image-2n1ekybz-wrapper "><img
                            src="{{url_for('static', filename='img/images/photo_1_2024-05-16_11-52-06.jpg')}}"
                            alt="" loading="lazy" class="lort-image-2n1ekybz "/></div>
                </div>
            </div>
            <div class="lort-container-vrd3cdsf  ">
                <div class="lort-icon-laici9le-wrapper  "><span class="lort-icon lort-icon-laici9le  "><span
                        data-testid="svg-icon" class="icon "><svg xmlns="http://www.w3.org/2000/svg" width="30px"
                                                                  height="30px" viewBox="0 0 24 24" fill="none"
                                                                  stroke="currentColor" stroke-width="2"
                                                                  stroke-linecap="round" stroke-linejoin="round"
                                                                  class="feather feather-settings"
                                                                  color="[object Object]"><circle cx="12" cy="12"
                                                                                                  r="3"></circle><path
                        d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></span></span>
                </div>
                <div class="lort-wrapper lort-heading-cc609z7e-wrapper "><h5
                        class="lort-heading lort-heading-cc609z7e "><span>Anti-slip sole: The sole of the Aviator sneakers has a special tread pattern that provides excellent grip on the surface, regardless of weather conditions.
</span></h5></div>
            </div>
        </div>
    </div>
</section>
<section class="lort-section lort-section-rwgfm2aa ">
    <div class="">
        <div class="container lort-row-bwtevjvd-wrapper    ">
            <div class="lort-row-bwtevjvd  flex  ">
                <div class="col-lg-5/7 ">
                    <div class="column-inner lort-column-xlbqeife  5/7">
                        <div class="lort-wrapper lort-heading-73r7r3ge-wrapper "><h3
                                class="lort-heading lort-heading-73r7r3ge "><span>&nbsp;Full Production Cycle: From Idea to Implementation
</span></h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container lort-row-1jbkmrtj-wrapper    ">
            <div class="lort-row-1jbkmrtj  flex  ">
                <div class="col-lg-2/5 col-md-1/2 ">
                    <div class="column-inner lort-column-xk00c3qo  2/5">
                        <div class="lort-wrapper lort-heading-jg3o1m7t-wrapper "><h4
                                class="lort-heading lort-heading-jg3o1m7t "><span>Cloud-Soft Cushioning</span></h4>
                        </div>
                        <div class="lort-text lort-text-r9z6b9fx "><p>We are proud to be able to offer our customers a
                            full range of sneaker creation services, from concept development to mass production. Our
                            company has all the necessary resources and experience to implement the most daring
                            ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2/5 col-md-1/2 ">
                    <div class="column-inner lort-column-lyjmxiu7  2/5">
                        <div class="lort-wrapper lort-heading-9wbf9dzu-wrapper "><h4
                                class="lort-heading lort-heading-9wbf9dzu "><span>Athletic Traction</span></h4></div>
                        <div class="lort-text lort-text-gm74jcqe "><p>Concept Development: Our designers are working
                            on creating unique concepts, taking into account current trends and your individual wishes.
                            We are closely following new trends in fashion so that each of our models is stylish and
                            relevant.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lort-section lort-section-vbgezuav ">
    <div class="">
        <div class="container lort-row-o18sl40l-wrapper    ">
            <div class="lort-row-o18sl40l  flex  ">
                <div class="col-lg-1/2 col-md-1/2 col-xs-1/1 ">
                    <div class="column-inner lort-column-g54bg0ae  1/2">
                        <div class="lort-wrapper lort-image-15ht0l9f-wrapper "><img
                                src="{{url_for('static', filename='img/images/photo_26_2024-05-16_11-52-06.jpg')}}"
                                alt="sneakers technology" loading="lazy" class="lort-image-15ht0l9f "/></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner lort-column-txpdnbs2  1/2">
                        <div class="lort-wrapper lort-heading-u3zhi1hw-wrapper "><h6
                                class="lort-heading lort-heading-u3zhi1hw " id="i3"><span>Custom Orders and Branding
</span></h6></div>
                        <div class="lort-wrapper lort-heading-r3xvwv14-wrapper "><h6
                                class="lort-heading lort-heading-r3xvwv14 "><span>We also offer customized ordering and branding services for sneakers. If you have your own design vision or you want to create a unique accessory for your company or event, our team is ready to bring your ideas to life.
</span></h6></div>
                        <div class="lort-text lort-text-kb91lg9v "><p>- Customized design: Our designers will develop
                            a unique design of sneakers, taking into account all your wishes. You can choose materials,
                            colors, decorative elements and much more.<br><br></p>
                            <p>- Branding: We offer services for applying logos and other elements of corporate
                                identity. This is a great way to create a unique corporate gift or promotional material
                                for your business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lort-section lort-section-g1v3hnhz ">
    <div class="lort-container-30rrumeh  ">
        <div class="lort-container-bfwdq6oa  ">
            <div class="lort-wrapper lort-heading-qsadhvsb-wrapper "><h2 class="lort-heading lort-heading-qsadhvsb "
                                                                         id="i4"><span>&nbsp;Advantages of Working with Us
</span></h2></div>
        </div>
        <div class="lort-container-gwpmrdox  ">
            <div class="lort-container-3x3p86b2  ">
                <div class="lort-wrapper lort-image-d13h5308-wrapper "><img
                        src="{{url_for('static', filename='img/images/photo_20_2024-05-16_11-52-06.jpg')}}"
                        alt="" loading="lazy" class="lort-image-d13h5308 "/></div>
            </div>
            <div class="lort-container-dw8snfdk  ">
                <div class="lort-container-kdepzbiy  ">
                    <div class="lort-imageGallery-p554n3eb " id="lcl_elems_wrapper_p554n3eb">
                        <div class="justified">
                            <figure class="lightbox-item" data-category="branding design"><img id="acqus8sa"
                                                                                               src="{{url_for('static', filename='img/images/photo_10_2024-05-16_11-52-06.jpg')}}"
                                                                                               alt="Image with LightBox"/>
                                <figcaption><span>Image with LightBox</span></figcaption>
                            </figure>
                            <figure class="lightbox-item" data-category="photography"><img id="acqus8se"
                                                                                           src="{{url_for('static', filename='img/images/photo_8_2024-05-16_11-52-06.jpg')}}"
                                                                                           alt="caption 4"/>
                                <figcaption><span>caption 4</span></figcaption>
                            </figure>
                            <a href="#" target="_blank" rel="noreferrer">
                                <figure data-category="photography design"><img id="acqus8sl"
                                                                                src="{{url_for('static', filename='img/images/photo_7_2024-05-16_11-52-06.jpg')}}"
                                                                                alt="Image with Custom Link"/>
                                    <figcaption><span>Image with Custom Link</span></figcaption>
                                </figure>
                            </a>
                            <figure class="lightbox-item" data-category="design"><img id="acqus8su"
                                                                                      src="{{url_for('static', filename='img/images/photo_5_2024-05-16_11-52-06.jpg')}}"
                                                                                      alt="Captions will show on hover"/>
                                <figcaption><span>Captions will show on hover</span></figcaption>
                            </figure>
                        </div>
                        <span class="cols hidden"
                              data-cols="{&quot;lg&quot;:3,&quot;sm&quot;:2,&quot;md&quot;:3}"></span></div>
                </div>
                <div class="lort-text lort-text-6qdpmohd "><p>- High quality products: We use only proven materials
                    and modern technologies, which allows us to guarantee the high quality of each product.<br><br></p>
                    <p>- Individual approach: We take into account all your wishes and requirements so that the final
                        product fully meets your expectations.<br><br></p>
                    <p>- Meeting deadlines: We value your time and guarantee the fulfillment of orders within the agreed
                        time frame.<br><br></p>
                    <p>- Competitive prices: We offer favorable terms of cooperation and competitive prices for all
                        products.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lort-section symbol--footer lort-section-gofjn8hy ">

    <style>
        /* styles.css */


        .containerF {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .containerF h2 {
            text-align: center;
        }

        .containerF form {
            display: flex;
            flex-direction: column;
        }

        .containerF label {
            margin-top: 10px;
        }

        .containerF input, textarea {
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
        }

        .containerF button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .containerF button:hover {
            background-color: #0056b3;
        }

    </style>

    <div class="containerF">
        <form action="#">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Text:</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Send</button>
        </form>
    </div>

    <br>

    <div class="lort-container-hdrqmig9  ">
        <div class="lort-container-uy7jfnnx  ">
            <div class="lort-text lort-text-kxzy45c2 ">
                <p>
                    55 & Plot No J K Chambers Sector Vashi Navi Mumbai, Mumbai, Maharashtra, India

                    <br>zip 400705

                    <br>phone: +917909979041
                </p>
            </div>
        </div>
    </div>


    <center>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0223297639914!2d72.99969921481557!3d19.0768013871128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8ac11d2e143%3A0x75d246f3dded53b1!2s55%20%26%20Plot%20No%20J%20K%20Chambers%20Sector%2C%20Vashi%2C%20Navi%20Mumbai%2C%20Maharashtra%2C%20India!5e0!3m2!1sen!2sus!4v1622240702000!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </center>
</section>

<style>
    .cookie-consent-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(100%);
        animation: fade-in-up 0.5s ease-out forwards;
    }

    .cookie-consent-banner__content {
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cookie-consent-banner__button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<div id="cookie-consent-banner" class="cookie-consent-banner">
    <div class="cookie-consent-banner__content">
        <p>Our site uses cookies to improve performance and analytics. You can manage cookies in your browser settings.
            Contact us: <a href="mailto:kevinvananholt@gmail.com">kevinvananholt@gmail.com</a></p>
        <button id="cookie-consent-accept" class="cookie-consent-banner__button">Accept Cookies</button>
    </div>
</div>
<script src="/static/preloader.js"></script>
<script>

    const isCookieAccepted = localStorage.getItem('cookie-consent-accepted');
    const cookieConsentBanner = document.getElementById('cookie-consent-banner');

   // if (!isCookieAccepted) {

        cookieConsentBanner.style.display = 'flex';


        const cookieConsentAcceptButton = document.getElementById('cookie-consent-accept');
        cookieConsentAcceptButton.addEventListener('click', () => {

            // localStorage.setItem('cookie-consent-accepted', 'true');


            cookieConsentBanner.style.display = 'none';
        });
    // } else {
    //     cookieConsentBanner.style.display = 'none';
    // }
</script>


</body>
</html>