<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{url_for('static', filename='img/images/favicon.ico')}}"/>
    <title>Information Website for Aviators</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Information Website for Aviators">
    <meta name="description"
          content="This website provides useful information for aviators looking to learn more about aviation or improve their skills.">
    <meta property="og:title" content="Information Website for Aviators">
    <meta property="og:description"
          content="This website provides useful information for aviators looking to learn more about aviation or improve their skills.">
    <meta name="twitter:title" content="Information Website for Aviators">
    <meta name="twitter:description"
          content="This website provides useful information for aviators looking to learn more about aviation or improve their skills.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" crossorigin="anonymous" href="main.css">
    <script type="text/javascript"></script>
    <link as="font" rel="preload" href="{{url_for('static', filename='css/css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/8m7Amd.css')}}">


</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/dmca">Dmca</a></li>
        <li><a href="/data">Data product</a></li>
        <li><a href="/cookie">Cookies</a></li>
    </ul>
</nav>
<section class="lort-section lort-section-ois5w3y9 ">
    <div class="">
        <div class="container lort-row-wtujx3eg-wrapper    ">
            <div class="lort-row-wtujx3eg  flex  ">
                <div class="col-lg-1/1 col-md-3/5 ">
                    <div class="column-inner lort-column-cgt757lk  1/1">
                        <div class="">
                            <div class=" lort-row-ir2almqs-wrapper    ">
                                <div class="lort-row-ir2almqs  flex  ">
                                    <div class="col-lg-2/3 ">
                                        <div class="column-inner lort-column-8iw4ywz1  2/3">
                                            <div class="lort-wrapper lort-heading-a9y9yh5l-wrapper "><h2
                                                    class="lort-heading lort-heading-a9y9yh5l "><span>Privacy Policy
</span></h2></div>
                                            <div class="lort-text lort-text-o8vqaac3 "><p>We respect your right to
                                                privacy and are committed to protecting your personal information. This
                                                Privacy Policy explains what data we collect, how we use it, and what
                                                measures we take to protect your information.</p>
                                                <p></p>
                                                <p>1. Collection and use of information</p>
                                                <p></p>
                                                <p>&nbsp;1.1 Personal Information</p>
                                                <p>We collect personal information that you voluntarily provide when
                                                    registering on our website, placing orders, subscribing to
                                                    newsletters or contacting customer support. This information may
                                                    include your name, email address, phone number, and billing
                                                    information.</p>
                                                <p></p>
                                                <p>&nbsp;1.2 Non-personal Information</p>
                                                <p>We may also collect non-personal information about you, such as data
                                                    about your device, IP address, browser type, information about pages
                                                    visited and activities on our site. This data is collected to
                                                    improve the site's performance and analyze user activity.</p>
                                                <p></p>
                                                <p>&nbsp;2. Use of information</p>
                                                <p></p>
                                                <p>&nbsp;2.1 Order Processing</p>
                                                <p>We use your personal information to process and fulfill your orders,
                                                    ensure product delivery and inform you about the status of the
                                                    order.</p>
                                                <p></p>
                                                <p>&nbsp;2.2 Customer Support</p>
                                                <p>Your contact information can be used to provide customer support,
                                                    respond to your requests, and solve problems that have arisen.</p>
                                                <p></p>
                                                <p>&nbsp;2.3 Website Improvement</p>
                                                <p>We analyze non-personal information to improve the performance of our
                                                    site, optimize the user experience and develop new features.</p>
                                                <p></p>
                                                <p>&nbsp;2.4 Marketing Newsletters</p>
                                                <p>With your consent, we may use your contact information to send you
                                                    marketing materials, including news about our products, special
                                                    offers and events. You can opt out of receiving such newsletters at
                                                    any time.</p>
                                                <p></p>
                                                <p>3. Transfer of information to third parties</p>
                                                <p></p>
                                                <p>&nbsp;3.1 Service Providers</p>
                                                <p>We may share your personal information with third parties who provide
                                                    services to us, such as payment processing, order delivery, and
                                                    marketing newsletters. These third parties are required to keep your
                                                    information confidential and use it only to provide services on our
                                                    behalf.</p>
                                                <p></p>
                                                <p>&nbsp;3.2 Legal requirements</p>
                                                <p>We may disclose your information if required by law or in response to
                                                    legitimate requests from government agencies.</p>
                                                <p></p>
                                                <p>4. Information Protection</p>
                                                <p></p>
                                                <p>We take reasonable measures to protect your personal information from
                                                    unauthorized access, use or disclosure. These measures include the
                                                    use of encryption, password protection and other technical and
                                                    organizational means.</p>
                                                <p></p>
                                                <p>&nbsp;5. Information Storage</p>
                                                <p></p>
                                                <p>We store your personal information only for the period necessary to
                                                    fulfill the purposes described in this Privacy Policy, unless a
                                                    longer retention period is required or permitted by law.</p>
                                                <p></p>
                                                <p>6. Your rights</p>
                                                <p></p>
                                                <p>&nbsp;6.1 Access and Correction</p>
                                                <p>You have the right to access your personal information and can
                                                    request its correction, updating or deletion. To do this, contact us
                                                    using the contact details listed below.</p>
                                                <p></p>
                                                <p>&nbsp;6.2 Withdrawal of consent</p>
                                                <p>You can revoke your consent to the processing of your personal
                                                    information at any time. Please note that withdrawal of consent may
                                                    limit your use of certain features of our site or our services.</p>
                                                <p></p>
                                                <p>&nbsp;6.3 Complaints</p>
                                                <p>If you believe that your privacy rights have been violated, you can
                                                    file a complaint with the appropriate regulatory authority.</p>
                                                <p></p>
                                                <p>7. Cookies</p>
                                                <p></p>
                                                <p>Our website uses cookies to improve its operation and user
                                                    experience. Cookies are small text files that are stored on your
                                                    device when you visit our website. You can configure your browser to
                                                    block cookies or notify you about them, but in this case some
                                                    functions of the site may not be available.</p>
                                                <p></p>
                                                <p>8. Changes to the Privacy Policy</p>
                                                <p></p>
                                                <p>We may update this Privacy Policy from time to time. We will notify
                                                    you of any significant changes by posting the new Policy on our
                                                    website and indicating the date of its last update.</p>
                                                <p></p>
                                                <p></p>
                                                <p>We strive to respond to all requests within a reasonable time and
                                                    make every effort to resolve any privacy concerns.</p>
                                                <p></p>
                                                <p>---</p>
                                                <p></p>
                                                <p>This Privacy Policy is effective from [date].</p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<style>
    .cookie-consent-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(100%);
        animation: fade-in-up 0.5s ease-out forwards;
    }

    .cookie-consent-banner__content {
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cookie-consent-banner__button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<div id="cookie-consent-banner" class="cookie-consent-banner">
    <div class="cookie-consent-banner__content">
        <p>Our site uses cookies to improve performance and analytics. You can manage cookies in your browser settings. Contact us: <a href="mailto:kevinvananholt@gmail.com">kevinvananholt@gmail.com</a></p>
        <button id="cookie-consent-accept" class="cookie-consent-banner__button">Accept Cookies</button>
    </div>
</div>

<script>

    const isCookieAccepted = localStorage.getItem('cookie-consent-accepted');
    const cookieConsentBanner = document.getElementById('cookie-consent-banner');

    // if (!isCookieAccepted) {

    cookieConsentBanner.style.display = 'flex';


    const cookieConsentAcceptButton = document.getElementById('cookie-consent-accept');
    cookieConsentAcceptButton.addEventListener('click', () => {

        // localStorage.setItem('cookie-consent-accepted', 'true');


        cookieConsentBanner.style.display = 'none';
    });
    // } else {
    //     cookieConsentBanner.style.display = 'none';
    // }
</script>



</body>
</html>