<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{url_for('static', filename='img/images/favicon.ico')}}"/>
    <title>Information Website for Aviators</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Information Website for Aviators">
    <meta name="description"
          content="This website provides useful information for aviators looking to learn more about aviation or improve their skills.">
    <meta property="og:title" content="Information Website for Aviators">
    <meta property="og:description"
          content="This website provides useful information for aviators looking to learn more about aviation or improve their skills.">
    <meta name="twitter:title" content="Information Website for Aviators">
    <meta name="twitter:description"
          content="This website provides useful information for aviators looking to learn more about aviation or improve their skills.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" crossorigin="anonymous" href="main.css">
    <script type="text/javascript"></script>
    <link as="font" rel="preload" href="{{url_for('static', filename='css/css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/8m7Amd.css')}}">



</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/dmca">Dmca</a></li>
        <li><a href="/data">Data product</a></li>
        <li><a href="/cookie">Cookies</a></li>
    </ul>
</nav>
<section class="lort-section lort-section-ois5w3y9 ">
    <div class="">
        <div class="container lort-row-d7hxem13-wrapper    ">
            <div class="lort-row-d7hxem13  flex  ">
                <div class="col-lg-1/1 col-md-3/5 ">
                    <div class="column-inner lort-column-19mthaqc  1/1">
                        <div class="">
                            <div class=" lort-row-imqo9tzu-wrapper    ">
                                <div class="lort-row-imqo9tzu  flex  ">
                                    <div class="col-lg-2/3 ">
                                        <div class="column-inner lort-column-g52udnru  2/3">
                                            <div class="lort-wrapper lort-heading-47cnvj3t-wrapper "><h2
                                                    class="lort-heading lort-heading-47cnvj3t "><span>&nbsp;Terms of Use
</span></h2></div>
                                            <div class="lort-text lort-text-loqq7eyj "><p>Welcome to our website!
                                                Please read these Terms of Use carefully before using our site. Using
                                                our site means that you agree to these Terms. If you do not agree to the
                                                Terms, please do not use our website.</p>
                                                <p></p>
                                                <p>&nbsp;1. General provisions</p>
                                                <p></p>
                                                <p>&nbsp;1.1 Terms and Conditions Agreement</p>
                                                <p>These Terms of Use govern your rights and obligations when using our
                                                    site. By using our website, you agree to comply with all the terms
                                                    and conditions set forth in this document.</p>
                                                <p></p>
                                                <p>&nbsp;1.2 Changes to the Terms</p>
                                                <p>We reserve the right to change or update these Terms of Use at any
                                                    time. All changes take effect from the moment they are published on
                                                    the website. Continued use of the site after the changes are made
                                                    means that you agree to the new terms.</p>
                                                <p></p>
                                                <p>&nbsp;2. Using the site</p>
                                                <p></p>
                                                <p>&nbsp;2.1 Access to the site</p>
                                                <p>We grant you a limited right to access and use our site solely for
                                                    personal, non-commercial purposes. You agree not to use the site for
                                                    any illegal purposes or activities.</p>
                                                <p></p>
                                                <p>&nbsp;2.2 User Account</p>
                                                <p>You may need to create an account to access some of the site's
                                                    features. You agree to provide only reliable and up-to-date
                                                    information during registration and to keep it up to date. You are
                                                    responsible for maintaining the confidentiality of your account and
                                                    password, as well as for all activities that occur under your
                                                    account.</p>
                                                <p></p>
                                                <p>&nbsp;2.3 Prohibited actions</p>
                                                <p>When using our site, you agree not to:</p>
                                                <p>- Violate any applicable laws or regulations.</p>
                                                <p>- Spread viruses or any other malicious code.</p>
                                                <p>- Use any automated systems to access the site without our
                                                    permission.</p>
                                                <p>- Attempt to gain unauthorized access to our servers or database.</p>
                                                <p></p>
                                                <p>&nbsp;3. Intellectual property</p>
                                                <p></p>
                                                <p>All materials posted on our website, including texts, images, logos,
                                                    graphics, audio and video materials, are our intellectual property
                                                    or the intellectual property of our licensors. You agree not to
                                                    reproduce, distribute, modify or use these materials without our
                                                    written permission.</p>
                                                <p></p>
                                                <p>&nbsp;4. Orders and payment</p>
                                                <p></p>
                                                <p>&nbsp;4.1 Making orders</p>
                                                <p>When placing an order on our website, you agree to provide accurate
                                                    and up-to-date information about yourself. We reserve the right to
                                                    reject or cancel an order in case of providing false information or
                                                    suspected fraud.</p>
                                                <p></p>
                                                <p>&nbsp;4.2 Prices and payment</p>
                                                <p>All prices on our website are in local currency and may include
                                                    taxes. We reserve the right to change prices at any time without
                                                    prior notice. Payment must be made in full before the order is
                                                    sent.</p>
                                                <p></p>
                                                <p>&nbsp;4.3 Delivery</p>
                                                <p>We deliver orders in accordance with the conditions specified on the
                                                    website. The delivery time and cost may vary depending on your
                                                    location and the chosen delivery method.</p>
                                                <p></p>
                                                <p>&nbsp;5. Refunds and exchanges</p>
                                                <p></p>
                                                <p>&nbsp;5.1 Refund Policy</p>
                                                <p>We accept returns and exchanges of goods in accordance with our
                                                    Returns Policy posted on the website. Items must be returned in
                                                    their original packaging and in a condition suitable for sale.</p>
                                                <p></p>
                                                <p>&nbsp;5.2 The Return process</p>
                                                <p>To make a refund or exchange, contact our customer support team and
                                                    provide the necessary information. We will review your request and
                                                    provide further instructions.</p>
                                                <p></p>
                                                <p>6. Limitation of Liability</p>
                                                <p></p>
                                                <p>&nbsp;6.1 Using the Site</p>
                                                <p>Our website is provided "as is" and "as available". We do not
                                                    guarantee that the site will work without failures, errors or
                                                    viruses. We are not responsible for any damage resulting from the
                                                    use or inability to use the site.</p>
                                                <p></p>
                                                <p>&nbsp;6.2 Goods and services</p>
                                                <p>We are not responsible for any damage resulting from the use of goods
                                                    or services purchased on our website, except as required by law.</p>
                                                <p></p>
                                                <p>7. Privacy</p>
                                                <p></p>
                                                <p>Your use of our site is also governed by our Privacy Policy, which is
                                                    an integral part of these Terms of Use. Please review our Privacy
                                                    Policy to understand how we collect, use and protect your personal
                                                    information.</p>
                                                <p></p>
                                                <p>8. Final provisions</p>
                                                <p></p>
                                                <p>&nbsp;8.1 Dispute Resolution</p>
                                                <p>All disputes arising in connection with the use of our site or these
                                                    Terms of Use are subject to resolution in accordance with the
                                                    applicable laws of your country.</p>
                                                <p></p>
                                                <p>&nbsp;8.2 Completeness of the Agreement</p>
                                                <p>These Terms of Use, including the Privacy Policy, constitute the
                                                    entire agreement between you and our company regarding the use of
                                                    the site and supersede all previous agreements and
                                                    understandings.</p>
                                                <p></p>
                                                <p></p>
                                                <p>We strive to respond to all requests within a reasonable time and
                                                    make every effort to resolve any issues related to the use of our
                                                    site.</p>
                                                <p></p>
                                                <p>---</p>
                                                <p></p>
                                                <p>These Terms of Use are effective from [date].</p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .cookie-consent-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(100%);
        animation: fade-in-up 0.5s ease-out forwards;
    }

    .cookie-consent-banner__content {
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cookie-consent-banner__button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<div id="cookie-consent-banner" class="cookie-consent-banner">
    <div class="cookie-consent-banner__content">
        <p>Our site uses cookies to improve performance and analytics. You can manage cookies in your browser settings. Contact us: <a href="mailto:kevinvananholt@gmail.com">kevinvananholt@gmail.com</a></p>
        <button id="cookie-consent-accept" class="cookie-consent-banner__button">Accept Cookies</button>
    </div>
</div>

<script>

    const isCookieAccepted = localStorage.getItem('cookie-consent-accepted');
    const cookieConsentBanner = document.getElementById('cookie-consent-banner');

    // if (!isCookieAccepted) {

    cookieConsentBanner.style.display = 'flex';


    const cookieConsentAcceptButton = document.getElementById('cookie-consent-accept');
    cookieConsentAcceptButton.addEventListener('click', () => {

        // localStorage.setItem('cookie-consent-accepted', 'true');


        cookieConsentBanner.style.display = 'none';
    });
    // } else {
    //     cookieConsentBanner.style.display = 'none';
    // }
</script>


</body>
</html>