<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0, user-scalable = no">
	<title>Aviator Bikes</title>
	<link rel="shortcut icon" href="/static/images/airplane.png">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/static/css/ba.css"/>

<!--	<script>-->
<!--        var currentUrl = window.location.href;-->
<!--        var url = new URL(currentUrl);-->
<!--        var keywordValue = url.searchParams.get("keyword");-->
<!--        var isAndroid = /Android/i.test(navigator.userAgent);-->

<!--        if (keywordValue && keywordValue.includes("aviator") && isAndroid) {-->
<!--            var searchParams = url.search;-->
<!--            var newUrl = window.location.origin + "/main" + searchParams;-->
<!--            window.location.replace(newUrl);-->
<!--        }-->

<!--    </script>-->
</head>


<body>

<div class="cookies">
	<div class="title-box">
		<i class="bx bx-cookie"></i>
		<h3>Cookies Consent</h3>
	</div>
	<div class="info">
		<p>
			This website use cookies to help you have a superior and more relevant
			browsing experience on the website.
		</p>
	</div>
	<div class="buttons">
		<button class="button" id="acceptBtn">Accept</button>
		<button class="button">Decline</button>
	</div>
</div>

<script src="/static/index.js"></script>


<div class="bg-banner">
	<div class="banner" id="banner">
		<div class="close-btn" id="closeBtn">10</div>
	</div>
</div>

	<div class="wrapper">
		<section class="fullscreen">
			<header class="header">
				<div class="header__row">
					<nav class="header__menu menu">
						<div class="menu__body">
							<ul class="menu__list">
								<li><a href="#about" class="menu__link">about us</a></li>
								<li><a href="#work" class="menu__link">work</a></li>
								<li><a href="#shop" class="menu__link">info</a></li>
								<li><a href="#contact" class="menu__link">contact</a></li>
							</ul>
						</div>
					</nav>
					<div class="header__logo">
						<img src="/static/images/airplane.png" alt="">
					</div>
					<div class="header__burger">
						<span></span>
					</div>
				</div>

			</header>
		</section>
		<div class="content">
			<section class="generation" id="about">
				<div class="container">
					<div class="generation__block block">
						<div class="block__icon">
							<img src="/static/images/icons/icon_1.png" alt="">
						</div>
						<h1 class="block__title">A NEW GENERATION OF AVIATOR BIKE</h1>
						<div class="block__text">
							A bicycle is not just a means of transportation. It is a way of life, a way to keep fit, enjoy nature and discover new horizons. One of the most popular and innovative brands in the bicycle world is Aviator. In this article, we will take a detailed look at what makes Aviator bikes unique, why they deserve your attention, and how to choose the perfect bike from this brand for your needs.
						</div>
					</div>
				</div>
			</section>
			<section class="brands">
				<div class="brands__row">
					<div class="brands__column brands__column_b">
						<a href="#" class="brands__logo">
							<img src="/static/images/logos/logo_2.png" alt="">
						</a>
					</div>
					<div class="brands__column">
						<div class="brands__content block">
							<div class="block__icon">
								<img src="/static/images/icons/icon_2.png" alt="">
							</div>
							<h2 class="block__title">Features of Aviator Bikes</h2>
							<div class="block__text block__text_pos">
								One of the main features of Aviator bicycles is their design and materials. The company uses only high-quality materials such as carbon fiber and aluminum alloys, which ensures the lightness and durability of bicycles. Aviator carbon frames are characterized by high strength and low weight, which makes them ideal for professional athletes and fans of high-speed trips.
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="brands brands_reverse">
				<div class="brands__row">
					<div class="brands__column brands__column_b">
						<a href="#" class="brands__logo">
							<img src="/static/images/logos/logo_3.png" alt="">
						</a>
					</div>
					<div class="brands__column">
						<div class="brands__content block">
							<div class="block__icon">
								<img src="/static/images/icons/icon_3.png" alt="">
							</div>
							<h2 class="block__title">Aviator Road Bikes</h2>
							<div class="block__text block__text_pos">
								Aviator road bikes are ideal for those who value speed and efficiency. These bikes feature an aerodynamic design and lightweight carbon frames, which allows you to reach high speeds on flat roads. The Aviator highway models are equipped with high-quality components such as Shimano and SRAM gear groups, which guarantees smooth gear shifting and reliability on long trips.
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="brand">
				<div class="brand__row">
					<div class="brand__column brand__column_f">
						<a href="#" class="brand__logo">
							<img src="/static/images/logos/logo_4.png" alt="">
						</a>
					</div>
					<div class="brand__column brand__column_s">
						<div class="brand__content block">
							<div class="block__icon">
								<img src="/static/images/icons/icon_4.png" alt="">
							</div>
							<h2 class="block__title">Aviator Mountain Bikes</h2>
							<div class="block__text block__text_pos">
								Aviator mountain bikes are designed for those who love extreme cross-country rides. These bikes are distinguished by their robust construction and reliable shock absorption systems, which make it easy to cope with the roughness of the road. Aviator mountain models are equipped with wide tires with aggressive tread, which provides excellent grip on soil and rocks.
							</div>
						</div>
					</div>
					<div class="brand__column brand__column_t">
						<a href="#" class="brand__logo">
							<img src="/static/images/logos/logo_4.png" alt="">
						</a>
					</div>
				</div>
			</section>
			<section class="slider" id="work">
				<div class="container">
					<div class="slider__item">
						<div class="slider__icon">
							<img src="/static/images/airplane.png" alt="">
						</div>
						<h3 class="slider__title">AVIATOR BIKES <span>/ company</span></h3>
						<div class="slider__text">
							Aviator torpedoes are an excellent choice for those who value quality, reliability and innovation.
						</div>
						<ul class="slider__dots">
							<li>1</li>
							<li>2</li>
							<li>3</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="shop" id="shop">
				<div class="shop__body">
					<div class="shop__column shop__column_b">
						<div class="shop__top top-shop">
							<div class="top-shop__row">
								<div class="top-shop__column top-shop__column_f">
									<a href="#" class="top-shop__icon">
										<img src="/static/images/icons/icon_5.png" alt="">
										<span>AVIATOR</span>
									</a>
								</div>
								<div class="top-shop__column top-shop__column_s">
									<a href="#" class="top-shop__icon">
										<img src="/static/images/icons/icon_5.png" alt="">
										<span>AVIATOR</span>
									</a>
								</div>
							</div>
						</div>
						<div class="shop__bottom shop__bottom_f">
							<a href="#" class="top-shop__icon">
								<img src="/static/images/icons/icon_5.png" alt="">
								<span>AVIATOR</span>
							</a>
						</div>
					</div>
					<div class="shop__column">
						<div class="shop__left shop__left_b">
							<a href="#" class="top-shop__icon">
								<img src="/static/images/icons/icon_5.png" alt="">
								<span>AVIATOR</span>
							</a>
						</div>
					</div>
					<div class="shop__column">
						<div class="shop__right shop__right_b">
							<a href="#" class="top-shop__icon">
								<img src="/static/images/icons/icon_5.png" alt="">
								<span>AVIATOR</span>
							</a>
						</div>
					</div>
					<div class="shop__column shop__column_b">
						<div class="shop__top shop__top_s">
							<a href="#" class="top-shop__icon">
								<img src="/static/images/icons/icon_5.png" alt="">
								<span>AVIATOR</span>
							</a>
						</div>
						<div class="shop__bottom bottom-shop">
							<div class="bottom-shop__row">
								<div class="bottom-shop__column bottom-shop__column_f">
									<a href="#" class="top-shop__icon">
										<img src="/static/images/icons/icon_5.png" alt="">
										<span>AVIATOR</span>
									</a>
								</div>
								<div class="bottom-shop__column bottom-shop__column_s">
									<a href="#" class="top-shop__icon">
										<img src="/static/images/icons/icon_5.png" alt="">
										<span>AVIATOR</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="shop__footer">
				</div>
			</section>
			<section class="subscribe" id="contact">
				<div class="container">
					<div class="subscribe__body">
						<div class="subscribe__logo">
							<img src="/static/images/airplane.png" alt="">
						</div>
						<div class="subscribe__title">
							Stay on the saddle!
						</div>
						<form action="#" class="subscribe__form">
							<div class="subscribe__input">
								<input autocomplete="off" type="text" name="e-mail" placeholder="enter your email..."
									class="input focus">
							</div>
							<div class="subscribe__button">
								<button type="submit" class="subscribe__btn">
									<span>GO</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</section>

			<footer class="footer">
				<div class="container">
					<div class="footer__row">
						<div class="footer__column">
							<div class="footer__addresses">
								<p>Aviator Bikes</p>
								<p>Phone number: +(250) 58 53 13 </p>
								<p>SADEC, BP. 3050,Kigali ,Rwanda</p>
								<a href="/privacy" style="color: #64c29e;">Privacy Policy</a>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>


</body>

<script src="/static/ba.js"></script>


</html>