<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Church of the Holy Aviator - Aviation and Spirituality Intersect</title>
    <link rel="icon" href="/static/images/favicon.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Church of the Holy Aviator - Aviation and Spirituality Intersect">
    <meta name="description"
          content="The Church of the Holy Aviator unites aviation enthusiasts and spiritual seekers through inclusive religious services and community outreach.">
    <meta property="og:title" content="Church of the Holy Aviator - Aviation and Spirituality Intersect">
    <meta property="og:description"
          content="The Church of the Holy Aviator unites aviation enthusiasts and spiritual seekers through inclusive religious services and community outreach.">
    <meta name="twitter:title" content="Church of the Holy Aviator - Aviation and Spirituality Intersect">
    <meta name="twitter:description"
          content="The Church of the Holy Aviator unites aviation enthusiasts and spiritual seekers through inclusive religious services and community outreach.">
    <meta name="twitter:card" content="summary_large_image">
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Inter:400,500,600|Gentium+Book+Plus:400,500,700&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Inter:400,500,600|Gentium+Book+Plus:400,500,700&amp;display=swap">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/ba.css"/>

</head>
<body>

<style>


    :root {
        --primary-color: #9b59b6;
        --secondary-color: #8e44ad;
        --bg-color: rgba(242, 242, 242, 0.7);
        --text-color: #333;
    }



    .cookie-preferences {
        z-index: 9999999;
        position: fixed;
        bottom: -400px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 40px;
        border-radius: 30px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: bottom 0.5s ease-in-out;
    }

    .cookie-preferences.show {
        bottom: 40px;
    }

    .cookie-preferences h2 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 16px;
        color: var(--primary-color);
    }

    .cookie-preferences p {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .cookie-preferences .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .cookie-preferences button {
        background-color: var(--primary-color);
        border: none;
        color: #fff;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .cookie-preferences button.secondary {
        background-color: var(--secondary-color);
    }

    .cookie-preferences button:hover {
        background-color: #8e44ad;
    }

    .cookie-preferences button.secondary:hover {
        background-color: #7d3c9c;
    }

    .cookie-preferences a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: 600;
    }

    .cookie-preferences a:hover {
        text-decoration: underline;
    }
</style>

<div class="cookie-preferences show">
    <h2>Cookie Preferences</h2>
    <p>On our website, we use cookies to improve the user experience. Cookies allow us to remember your preferences and provide personalized content. We also use cookies to collect anonymous statistics about site visits in order to improve its operation and functionality. By continuing to use our site, you agree to the use of cookies. If you do not agree, please disable cookies in your browser settings. Thank you for understanding!</p>
    <div class="buttons">
        <button id="accept-cookies">Accept All</button>

    </div>
</div>

<script>
    const cookiePreferencesDialog = document.querySelector('.cookie-preferences');
    const acceptCookiesBtn = document.getElementById('accept-cookies');
    const manageCookiesBtn = document.getElementById('manage-cookies');



    acceptCookiesBtn.addEventListener('click', () => {
        cookiePreferencesDialog.style.display = 'none';

    });

</script>

<div class="bg-banner">
    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">10</div>
    </div>
</div>

<script src="/static/ba.js"></script>

<section class="liken-section liken-section-j4iivc74 ">
    <div class="">
        <div class="container liken-row-8mfd0tln-wrapper    ">
            <div class="liken-row-8mfd0tln  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner liken-column-zgkeg8r7  1/1">
                        <div class="liken-navbar--wrapper liken-nav-tzqswq2t-wrapper  sticky-nav">
                            <div class="liken-navbar liken-nav-tzqswq2t " id="blog">
                                <button aria-label="Navbar Toggle" class="liken-navbar--toggle"
                                        data-target="#likenNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="liken-navbar--collapse collapse" id="likenNavbarCollapse">
                                    <div class="liken-navbar--navs">
                                        <ul class="liken-nav--links normalize">
                                            <li class=""><a href="#home"
                                                            class="liken-nav--link home liken-nav--link-uex4jy0c  "><span
                                                    class="liken-nav--link-icon"></span><span
                                                    class="liken-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="#l1"
                                                            class="liken-nav--link history liken-nav--link-jrjtnw95  "><span
                                                    class="liken-nav--link-icon"></span><span
                                                    class="liken-nav--link-text">History</span></a></li>
                                            <li class=""><a href="#l2"
                                                            class="liken-nav--link crunch liken-nav--link-hqrz6yvb  "><span
                                                    class="liken-nav--link-icon"></span><span
                                                    class="liken-nav--link-text">Crunch</span></a></li>
                                            <li class=""><a href="#l3"
                                                            class="liken-nav--link social liken-nav--link-bzdz1ay2  "><span
                                                    class="liken-nav--link-icon"></span><span
                                                    class="liken-nav--link-text">Social</span></a></li>
                                            <li class=""><a href="#l4"
                                                            class="liken-nav--link contact liken-nav--link-bzdz1ay2  "><span
                                                    class="liken-nav--link-icon"></span><span
                                                    class="liken-nav--link-text">Contact</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="liken-nav--link privacy liken-nav--link-fa9dn7e6  "><span
                                                    class="liken-nav--link-text">Privacy</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container liken-row-9wsm0uws-wrapper    ">
            <div class="liken-row-9wsm0uws  flex  ">
                <div class="col-lg-1/2 col-md-7/8 ">
                    <div class="column-inner liken-column-0b3hc0fg  1/2">
                        <div class="liken-wrapper liken-heading-weo934ho-wrapper "><h1
                                class="liken-heading liken-heading-weo934ho " id="home"><span>Church of the Holy Aviator
</span></h1></div>
                        <div class="liken-text liken-text-rkhqs37n "><p>The Church of the Holy Aviator is a unique place
                            where spirituality and aviation are intertwined, creating a unique atmosphere of holiness
                            and inspiration. Our church is designed to unite people who are connected with the sky and
                            flights, whether they are professional pilots, aviation enthusiasts or just those who are
                            looking for spiritual comfort and support.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/2 ">
                    <div class="column-inner liken-column-8oiyv8dn  1/2">
                        <div class="liken-wrapper liken-image-0m67lj9v-wrapper "><img src="/static/images/2-awp3Z.jpg"
                                                                                      alt="worship runway"
                                                                                      loading="lazy"
                                                                                      class="liken-image-0m67lj9v ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="liken-section liken-section-h9ipl2aq ">
    <div class="liken-container-ai9kyab8  ">
        <div class="liken-container-n0bz42b3  ">
            <div class="liken-wrapper liken-image-3vc1uxg9-wrapper "><img
                    src="/static/images/photo_10_2024-05-14_00-24-40-g2xX0.jpg" alt="aviation spirituality" loading="lazy"
                    class="liken-image-3vc1uxg9 "></div>
        </div>
    </div>
    <div class="liken-container-x0eu008o  ">
        <div class="liken-container-tkgaro0f  ">
            <div class="liken-wrapper liken-heading-vixgbsqc-wrapper "><h3 class="liken-heading liken-heading-vixgbsqc "
                                                                           id="l1"><span>&nbsp;The history of the Church
</span></h3></div>
            <div class="liken-line-1o4t10v2-wrapper ">
                <hr class="liken-line-1o4t10v2 ">
            </div>
        </div>
        <div class="liken-container-pk706riz  ">
            <div class="liken-text liken-text-p1xw7b0b "><p>The Church of the Holy Aviator was founded in 2005 by a
                group of aviation enthusiasts and spiritual leaders who sought to create a place where aviation and
                faith could coexist and enrich each other. Since its foundation, our church has become a center of
                attraction for many people connected with the sky and flights.</p>
            </div>
        </div>
    </div>
</section>
<section class="liken-section liken-section-c9216bsa ">
    <div class="liken-container-zn2fu2c9  ">
        <div class="liken-container-878vnfcz  ">
            <div class="liken-text liken-text-kxwbb74k " id="l2"><p>Our church is the embodiment of a harmonious
                combination of traditional church architecture and elements symbolizing aviation. High vaulted ceilings,
                magnificent stained glass windows depicting scenes from the history of aviation, columns decorated with
                symbols of wings and propellers create a unique atmosphere.</p>
            </div>
        </div>
    </div>
    <div class="liken-container-gy1oepgo  ">
        <div class="liken-container-75ukxfvb  ">
            <div class="liken-wrapper liken-image-34wi3sgr-wrapper "><img
                    src="/static/images/photo_2_2024-05-14_00-24-40-3WRuW.jpg" alt="airplane community" loading="lazy"
                    class="liken-image-34wi3sgr "></div>
            <div class="liken-wrapper liken-heading-sis2nqqf-wrapper "><h3
                    class="liken-heading liken-heading-sis2nqqf "><span>Exterior
</span></h3></div>
            <div class="liken-text liken-text-sl5bjwxp "><p>&nbsp;&nbsp;&nbsp;- The exterior of the church attracts
                attention with its high spire, resembling the tail of an airplane, and the graceful lines of the facade,
                which is decorated with aviation symbols.</p>
            </div>
        </div>
        <div class="liken-container-kx5e7tj4  ">
            <div class="liken-wrapper liken-image-8s6zgsdh-wrapper "><img
                    src="/static/images/photo_31_2024-05-14_00-24-40-UIK36.jpg" alt="worship runway" loading="lazy"
                    class="liken-image-8s6zgsdh "></div>
            <div class="liken-wrapper liken-heading-dk4r9wjw-wrapper "><h3
                    class="liken-heading liken-heading-dk4r9wjw "><span>Interior
</span></h3></div>
            <div class="liken-text liken-text-r3t53bxw "><p>&nbsp;&nbsp;&nbsp;- The interior of the temple impresses
                with its details: stained glass windows depicting angel pilots, icons with elements of aircraft
                technology and soft lighting, creating an atmosphere of peace and tranquility.</p>
            </div>
        </div>
    </div>
    <div class="liken-container-f22xc1u7  ">
        <div class="liken-container-qnkb8mp4  ">
            <div class="liken-wrapper liken-heading-tix7pk4f-wrapper "><h2
                    class="liken-heading liken-heading-tix7pk4f "><span>Unite</span></h2></div>
            <div class="liken-text liken-text-ruw0a8uy ">Faith and flight</div>
        </div>
        <div class="liken-container-s9ie3k2b  ">
            <div class="liken-wrapper liken-heading-m0ilcwaa-wrapper "><h2
                    class="liken-heading liken-heading-m0ilcwaa "><span>Inspire</span></h2></div>
            <div class="liken-text liken-text-9d496yam ">Seekers</div>
        </div>
        <div class="liken-container-zz5czd3a  ">
            <div class="liken-wrapper liken-heading-tztjvwh3-wrapper "><h2
                    class="liken-heading liken-heading-tztjvwh3 "><span>Serve</span></h2></div>
            <div class="liken-text liken-text-uiojd4ax ">Community</div>
        </div>
    </div>
</section>
<section class="liken-section liken-section-4001y6m9 ">
    <div class="liken-container-pwymbgzw  ">
        <div class="liken-container-8g1kjqdh  ">
            <div class="liken-text liken-text-19urqjv5 "><p>&nbsp;Spiritual Services and Ritual Life</p>
                <p></p>
                <p>St. Aviator's Church offers a wide range of spiritual services and rituals designed to support
                    believers and strengthen their faith.</p>
            </div>
            <div class="liken-wrapper liken-heading-t88rafnk-wrapper "><h4
                    class="liken-heading liken-heading-t88rafnk "><span>Member Testimonials</span></h4></div>
            <div class="liken-text liken-text-1x6hvr3s "><p>1. Worship Services</p>
                <p>- Regular services are held every Sunday and on aviation holidays. The services include prayers for
                    the safety of flights and the well-being of all those involved in aviation.<br><br></p>
                <p></p>
                <p>2. Baptisms and Weddings</p>
                <p>- The Church offers baptisms and weddings in a unique atmosphere filled with symbols of heaven and
                    flights.<br><br></p>
                <p></p>
                <p>3. Prayer Services</p>
                <p>- Special prayer services and prayer services are held at the request of believers, especially before
                    important flights or aviation events.</p>
                <p></p>
            </div>
        </div>
        <div class="liken-container-2vud5pxf  ">
            <div class="liken-wrapper liken-image-6dyve4rh-wrapper "><img
                    src="/static/images/photo_25_2024-05-14_00-24-40-gPC-b.jpg" alt="aviation spirituality" loading="lazy"
                    class="liken-image-6dyve4rh "></div>
        </div>
    </div>
</section>
<section class="liken-section liken-section-iyu27bfk ">
    <div class="">
        <div class="container liken-row-o0pv9kgq-wrapper    ">
            <div class="liken-row-o0pv9kgq  flex  ">
                <div class="col-lg-1/3 ">
                    <div class="column-inner liken-column-x6swmlaf  1/3">
                        <div class="liken-wrapper liken-heading-kyuzd78x-wrapper "><h2
                                class="liken-heading liken-heading-kyuzd78x " id="l3"><span>Social and Educational Programs
</span></h2></div>
                        <div class="liken-text liken-text-j93i3xay "><p>Our church is actively involved in the social
                            and educational life of the community, offering a variety of programs and activities for all
                            ages.</p>
                        </div>
                        <div class="liken-line-d06ymf3d-wrapper ">
                            <hr class="liken-line-d06ymf3d ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner liken-column-ver7gt8t  1/3">
                        <div class="liken-wrapper liken-image-28vgxqt8-wrapper "><img
                                src="/static/images/photo_24_2024-05-14_00-24-40-UHCMX.jpg" alt="" loading="lazy"
                                class="liken-image-28vgxqt8 "></div>
                        <div class="liken-wrapper liken-heading-uuosvv9r-wrapper "><h5
                                class="liken-heading liken-heading-uuosvv9r "><span>Educational Programs
</span></h5></div>
                        <div class="liken-text liken-text-zeqtb94k "><p>&nbsp;&nbsp;&nbsp;- Lectures and seminars on
                            topics related to aviation history, spirituality and flight safety.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Courses on the basics of aviation for children and young people,
                                aimed at attracting interest in aviation science and technology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner liken-column-3m40mrmu  1/3">
                        <div class="liken-wrapper liken-image-n3m9bjwd-wrapper "><img
                                src="/static/images/photo_22_2024-05-14_00-24-40-yeG2E.jpg" alt="" loading="lazy"
                                class="liken-image-n3m9bjwd "></div>
                        <div class="liken-wrapper liken-heading-iabfdfvh-wrapper "><h5
                                class="liken-heading liken-heading-iabfdfvh "><span>Social Events
</span></h5></div>
                        <div class="liken-text liken-text-4uecs8wv "><p>- Organization of aviation exhibitions and
                            festivals.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Charity events and fundraising to support the families of pilots and
                                employees of aviation services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner liken-column-xgz3t2te  1/3">
                        <div class="liken-wrapper liken-image-hpx396ux-wrapper "><img
                                src="/static/images/photo_21_2024-05-14_00-24-40-XjGNc.jpg" alt="" loading="lazy"
                                class="liken-image-hpx396ux "></div>
                        <div class="liken-wrapper liken-heading-shfmms2q-wrapper "><h5
                                class="liken-heading liken-heading-shfmms2q "><span>Excursions
</span></h5></div>
                        <div class="liken-text liken-text-09fsggx1 "><p>- Organized tours of the temple, during which
                            you can learn more about its architecture, history and symbols.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Special excursion programs for schools and educational
                                institutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner liken-column-qfgrh05m  1/3">
                        <div class="liken-wrapper liken-image-jvpynvjb-wrapper "><img
                                src="/static/images/photo_19_2024-05-14_00-24-40-qii13.jpg" alt="" loading="lazy"
                                class="liken-image-jvpynvjb "></div>
                        <div class="liken-wrapper liken-heading-oz9zckt1-wrapper "><h5
                                class="liken-heading liken-heading-oz9zckt1 "><span>Pilgrimages
</span></h5></div>
                        <div class="liken-text liken-text-ljrmfrtx "><p>- Organization of pilgrimages to historically
                            significant aviation sites.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Spiritual retreats and aviation symposiums.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner liken-column-yqm088em  1/3">
                        <div class="liken-wrapper liken-image-apyn8iv5-wrapper "><img
                                src="/static/images/photo_17_2024-05-14_00-24-40-y8NZq.jpg" alt="" loading="lazy"
                                class="liken-image-apyn8iv5 "></div>
                        <div class="liken-wrapper liken-heading-msltgsiq-wrapper "><h5
                                class="liken-heading liken-heading-msltgsiq "><span>Charity Projects
</span></h5></div>
                        <div class="liken-text liken-text-kyi47vdk "><p>- Fundraising to support the families of
                            deceased pilots and aviators.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Financing of educational programs and scholarships for young
                                pilots.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="liken-section liken-section-e5wjy2nk ">
    <div class="liken-container-qpzbqtgr  ">
        <div class="liken-container-p0esu97j  ">
            <div class="liken-wrapper liken-heading-duw7c0iq-wrapper "><h2
                    class="liken-heading liken-heading-duw7c0iq "><span>Get in Touch!</span></h2></div>
            <div class="liken-text liken-text-2kczyhgd "><p>The Church of St. Aviator is a place where everyone can find
                spiritual support, inspiration and understanding. We strive to unite all those connected with the sky
                and flights in a single community where faith, hope and love reign. Join us to create a future filled
                with spirituality and striving for heights together.</p>
            </div>
        </div>
    </div>
    <div class="liken-container-c2uv9tdx  ">
        <div class="liken-container-pj6ks918  ">
            <div class="liken-wrapper liken-heading-f9wvxmvd-wrapper "><h2 class="liken-heading liken-heading-f9wvxmvd "
                                                                           id="l4"><span>Contact Form
</span></h2></div>
            <div class="liken-text liken-text-warzwuol ">Fill out our online contact form to get in touch. We typically
                respond within 24 hours.
            </div>
            <div class="liken-container-nabqftwr  ">
                <div class="liken-container-ny95dco7  ">
                    <div class="liken-container-2khknywa  ">
                        <div class="liken-icon-88nrxsxy-wrapper  "><span class="liken-icon liken-icon-88nrxsxy  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone"
                                class="svg-inline--fa fa-phone fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"></path></svg></span>
                        </div>
                    </div>
                    <div class="liken-container-xpxizrgq  ">
                        <div class="liken-wrapper liken-heading-kyvwosz9-wrapper "><h5
                                class="liken-heading liken-heading-kyvwosz9 "><span>Call Us</span></h5></div>
                        <div class="liken-text liken-text-9m4dzgnj "><p>+250 78 8448694</p>
                        </div>
                    </div>
                </div>
                <div class="liken-container-jun5opsi  ">
                    <div class="liken-container-7hp90zaw  ">
                        <div class="liken-icon-enmmeu6q-wrapper  "><span class="liken-icon liken-icon-enmmeu6q  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="location-dot"
                                class="svg-inline--fa fa-location-dot fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg></span>
                        </div>
                    </div>
                    <div class="liken-container-t7bx2pgg  ">
                        <div class="liken-wrapper liken-heading-uqi33qb8-wrapper "><h5
                                class="liken-heading liken-heading-uqi33qb8 "><span>Visit Us</span></h5></div>
                        <div class="liken-text liken-text-20951c06 "><p>Nyarugenge, P.O.Box 7190  , Kigali  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>