<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cookie</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Cookie">
    <meta property="og:title" content="Cookie">
    <meta name="twitter:title" content="Cookie">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">


</head>
<body>

<section class="likf-section symbol--header likf-section-r69479k5 ">
    <div class="">
        <div class="container likf-row-acf9gpf0-wrapper    ">
            <div class="likf-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner likf-column-t61xckg3  1/1">
                        <div class="likf-navbar--wrapper likf-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="likf-navbar likf-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="likf-navbar--toggle"
                                        data-target="#likfNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="likf-navbar--collapse collapse" id="likfNavbarCollapse">
                                    <div class="likf-navbar--navs">
                                        <ul class="likf-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="likf-nav--link home likf-nav--link-2suuvmpu  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="likf-nav--link privacy-policy likf-nav--link-jrjtnw95  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="likf-nav--link terms-of-use likf-nav--link-bzdz1ay2  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="likf-nav--link cookie likf-nav--link-xbr0av3x  "><span
                                                    class="likf-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="likf-nav--link data-products likf-nav--link-xvprhmdr  "><span
                                                    class="likf-nav--link-text">Data Products</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="likf-nav--link dmca likf-nav--link-nwha9fph  "><span
                                                    class="likf-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="likf-section likf-section-bz7lwuc6 ">
    <div class="likf-container-vruc0399  ">
        <div class="likf-container-iv3pi55i  ">
            <div class="likf-wrapper likf-heading-7wfafhuh-wrapper "><h2
                    class="likf-heading likf-heading-7wfafhuh "><span>Cookies Policy
</span></h2></div>
            <div class="likf-text likf-text-xjo2wvtk "><p>Introduction<br><br></p>
                <p>Aviator Nation ("we", "us", "our") uses cookies and similar technologies to enhance your experience
                    on our app and website. This Cookies Policy explains what cookies are, how we use them, and your
                    choices regarding their use.<br><br></p>
                <p>What Are Cookies?<br><br></p>
                <p>Cookies are small text files placed on your device by websites or apps you visit. They are widely
                    used to make websites and apps work more efficiently and to provide information to the site or app
                    owners.<br><br></p>
                <p>How We Use Cookies<br><br></p>
                <p>We use cookies for various purposes, including:</p>
                <p>Essential Cookies: These cookies are necessary for the operation of our app. They enable you to
                    navigate the app and use its features.</p>
                <p>Performance Cookies: These cookies collect information about how you use our app, such as which pages
                    you visit most often. This information helps us improve the app's performance.<br><br></p>
                <p>Functionality Cookies: These cookies allow our app to remember your preferences and provide enhanced,
                    more personalized features.</p>
                <p>Analytics Cookies: We use analytics cookies to understand how users interact with our app, track
                    usage patterns, and improve our services.</p>
                <p>Advertising Cookies: These cookies are used to deliver relevant advertisements to you based on your
                    interests and to measure the effectiveness of our advertising campaigns.<br><br></p>
                <p>Third-Party Cookies<br><br></p>
                <p>We may also use third-party cookies from trusted partners for analytics and advertising purposes.
                    These third parties may collect information about your online activities over time and across
                    different websites and apps.<br><br></p>
                <p>Your Choices<br><br></p>
                <p>You have several options to manage or disable cookies:</p>
                <p>Browser Settings: You can adjust your browser settings to block or delete cookies. However, please
                    note that if you disable cookies, some parts of our app may not function properly.<br><br></p>
                <p>Opt-Out Tools: You can use opt-out tools provided by third-party advertisers to manage advertising
                    cookies.</p>
                <p>Changes to This Cookies Policy</p>
                <p>We may update this Cookies Policy from time to time. We will notify you of any significant changes by
                    posting the new policy on this page. Please review this policy periodically for updates.<br><br></p>
                <p>Contact Us<br><br></p>
                <p>If you have any questions or concerns about our use of cookies, please contact us at:</p>
                <p>Email: support@aviatornation.com
                </p>
                <p>Address: 123 Adventure Lane, Travel City, TX, 78901, USA</p>
                <p>Thank you for using Aviator Nation. We are committed to providing you with a great experience while
                    respecting your privacy.</p>
                <p>&nbsp;</p>
                <p></p>
            </div>
        </div>
    </div>
</section>


</body>
</html>