<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Data products</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Data products">
    <meta property="og:title" content="Data products">
    <meta name="twitter:title" content="Data products">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">


</head>
<body>

<section class="likf-section symbol--header likf-section-r69479k5 ">
    <div class="">
        <div class="container likf-row-acf9gpf0-wrapper    ">
            <div class="likf-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner likf-column-t61xckg3  1/1">
                        <div class="likf-navbar--wrapper likf-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="likf-navbar likf-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="likf-navbar--toggle"
                                        data-target="#likfNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="likf-navbar--collapse collapse" id="likfNavbarCollapse">
                                    <div class="likf-navbar--navs">
                                        <ul class="likf-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="likf-nav--link home likf-nav--link-2suuvmpu  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="likf-nav--link privacy-policy likf-nav--link-jrjtnw95  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="likf-nav--link terms-of-use likf-nav--link-bzdz1ay2  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="likf-nav--link cookie likf-nav--link-xbr0av3x  "><span
                                                    class="likf-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="likf-nav--link data-products likf-nav--link-xvprhmdr  "><span
                                                    class="likf-nav--link-text">Data Products</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="likf-nav--link dmca likf-nav--link-nwha9fph  "><span
                                                    class="likf-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="likf-section likf-section-bz7lwuc6 ">
    <div class="likf-container-vruc0399  ">
        <div class="likf-container-iv3pi55i  ">
            <div class="likf-wrapper likf-heading-7wfafhuh-wrapper "><h2
                    class="likf-heading likf-heading-7wfafhuh "><span>Data Protection Policy
</span></h2></div>
            <div class="likf-text likf-text-xjo2wvtk "><p>Introduction<br><br></p>
                <p>Aviator Nation ("we", "us", "our") is committed to protecting the privacy and security of our users'
                    personal information. This Data Protection Policy outlines how we collect, use, store, and protect
                    your data in compliance with applicable data protection laws.<br><br></p>
                <p>Data Collection<br><br></p>
                <p>Personal Information<br><br></p>
                <p>We may collect personal information that you provide to us, such as:</p>
                <p>Name</p>
                <p>Email address</p>
                <p>Location data</p>
                <p>Photos and notes added to routes</p>
                <p>Non-Personal Information<br><br></p>
                <p>We may also collect non-personal information, including:</p>
                <p>Device information (e.g., device model, operating system version)</p>
                <p>Usage data (e.g., features used, time spent on the app)</p>
                <p>Crash reports and performance data<br><br></p>
                <p>Data Use<br><br></p>
                <p>We use your data to:</p>
                <p>Provide and improve services: Enhance app functionality and personalize your experience.</p>
                <p>Communicate with you: Send updates, promotional offers, and information about our services.</p>
                <p>Analyze usage: Understand app usage patterns and improve user experience.</p>
                <p>Ensure security: Protect against unauthorized access, fraud, and other security issues.<br><br></p>
                <p>Data Storage<br><br></p>
                <p>We store your data securely using industry-standard encryption and security measures. Personal
                    information is stored for as long as necessary to provide our services or as required by
                    law.<br><br></p>
                <p>Data Sharing<br><br></p>
                <p>We do not sell, trade, or rent your personal information to third parties. We may share your
                    information with:</p>
                <p>Service providers: Trusted partners who assist us in operating our app and providing our services,
                    subject to strict data protection agreements.</p>
                <p>Legal requirements: Authorities if required by law or to protect our legal rights.<br><br></p>
                <p>Data Security<br><br></p>
                <p>We implement appropriate technical and organizational measures to protect your data from unauthorized
                    access, loss, or misuse. These measures include:</p>
                <p>Encryption: Protecting data in transit and at rest using encryption technologies.</p>
                <p>Access controls: Restricting access to personal data to authorized personnel only.</p>
                <p>Regular audits: Conducting regular security audits to identify and mitigate potential
                    vulnerabilities.<br><br></p>
                <p>Your Rights<br><br></p>
                <p>You have the right to:</p>
                <p>Access: Request a copy of the personal information we hold about you.</p>
                <p>Correction: Request correction of any inaccurate or incomplete information.</p>
                <p>Deletion: Request deletion of your personal information, subject to certain exceptions.</p>
                <p>Objection: Object to the processing of your data under certain circumstances.</p>
                <p>To exercise these rights, please contact us at the contact information provided below.<br><br></p>
                <p>Changes to This Data Protection Policy<br><br></p>
                <p>We may update this Data Protection Policy from time to time. We will notify you of any significant
                    changes by posting the new policy on this page. Please review this policy periodically for
                    updates.<br><br></p>
                <p>Contact Us<br><br></p>
                <p>If you have any questions or concerns about this Data Protection Policy, please contact us at:</p>
                <p>Email:support@aviatornation.com
                </p>
                <p>Address: 123 Adventure Lane, Travel City, TX, 78901, USA</p>
                <p>Thank you for trusting Aviator Nation with your personal information. We are committed to protecting
                    your privacy and providing you with a safe and enjoyable experience.</p>
                <p></p>
            </div>
        </div>
    </div>
</section>


<style>
    #cookie-notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(35, 35, 35, 0.7);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: none;
    }

    #cookie-notification p {
        margin: 0;
        margin-bottom: 10px;
        color: #ffffff;
    }

    #cookie-notification a {
        color: #007bff;
        text-decoration: none;
    }

    #cookie-notification a:hover {
        text-decoration: underline;
    }

    #cookie-notification button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

</style>

<div id="cookie-notification">
    <p>This website uses cookies to enhance your browsing experience. By continuing to use this site, you agree to our <a href="cookie.html">Cookie Policy</a>.</p>
    <button id="cookie-accept">Accept</button>
</div>

<script>

    if (!localStorage.getItem('cookieAccepted')) {

        document.getElementById('cookie-notification').style.display = 'block';


        document.getElementById('cookie-accept').addEventListener('click', function() {

            //localStorage.setItem('cookieAccepted', true);


            document.getElementById('cookie-notification').style.display = 'none';
        });
    }
</script>

</body>
</html>