<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Dmca</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Dmca">
    <meta property="og:title" content="Dmca">
    <meta name="twitter:title" content="Dmca">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">

</head>
<body>

<section class="likf-section symbol--header likf-section-r69479k5 ">
    <div class="">
        <div class="container likf-row-acf9gpf0-wrapper    ">
            <div class="likf-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner likf-column-t61xckg3  1/1">
                        <div class="likf-navbar--wrapper likf-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="likf-navbar likf-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="likf-navbar--toggle"
                                        data-target="#likfNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="likf-navbar--collapse collapse" id="likfNavbarCollapse">
                                    <div class="likf-navbar--navs">
                                        <ul class="likf-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="likf-nav--link home likf-nav--link-2suuvmpu  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="likf-nav--link privacy-policy likf-nav--link-jrjtnw95  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="likf-nav--link terms-of-use likf-nav--link-bzdz1ay2  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="likf-nav--link cookie likf-nav--link-xbr0av3x  "><span
                                                    class="likf-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="likf-nav--link data-products likf-nav--link-xvprhmdr  "><span
                                                    class="likf-nav--link-text">Data Products</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="likf-nav--link dmca likf-nav--link-nwha9fph  "><span
                                                    class="likf-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="likf-section likf-section-bz7lwuc6 ">
    <div class="likf-container-vruc0399  ">
        <div class="likf-container-iv3pi55i  ">
            <div class="likf-wrapper likf-heading-7wfafhuh-wrapper "><h2
                    class="likf-heading likf-heading-7wfafhuh "><span>DMCA Policy

</span></h2></div>
            <div class="likf-text likf-text-xjo2wvtk "><p>Introduction<br><br></p>
                <p>Aviator Nation ("we", "us", "our") respects the intellectual property rights of others and expects
                    our users to do the same. In accordance with the Digital Millennium Copyright Act (DMCA), we have
                    adopted the following policy to address claims of copyright infringement.<br><br></p>
                <p>Reporting Copyright Infringement<br><br></p>
                <p>If you believe that your copyrighted work has been copied in a way that constitutes copyright
                    infringement and is accessible on our app or website, please notify our designated DMCA agent by
                    providing the following information:</p>
                <p>Identification of the copyrighted work: A description of the copyrighted work that you claim has been
                    infringed.</p>
                <p>Identification of the infringing material: A description of where the allegedly infringing material
                    is located on our app or website, including a URL or other specific location information.<br><br>
                </p>
                <p>Contact information: Your address, telephone number, and email address.<br><br></p>
                <p>Statement of good faith belief: A statement that you have a good faith belief that the use of the
                    material in the manner complained of is not authorized by the copyright owner, its agent, or the
                    law.<br><br></p>
                <p>Statement of accuracy: A statement that the information in the notification is accurate and, under
                    penalty of perjury, that you are authorized to act on behalf of the copyright owner.<br><br></p>
                <p>Signature: A physical or electronic signature of the copyright owner or a person authorized to act on
                    their behalf.</p>
                <p>Designated DMCA Agent<br><br></p>
                <p>Please send your DMCA notice to our designated agent at:</p>
                <p>DMCA Agent</p>
                <p>Email: support@aviatornation.com
                </p>
                <p>Address: 123 Adventure Lane, Travel City, TX, 78901, USA</p>
                <p>Counter-Notification<br><br></p>
                <p>If you believe that your content was removed or access to it was disabled by mistake or
                    misidentification, you may file a counter-notification with us by providing the following
                    information:</p>
                <p>Identification of the material: A description of the material that was removed or to which access was
                    disabled and the location at which the material appeared before it was removed or disabled.</p>
                <p>Statement of good faith belief: A statement that you have a good faith belief that the material was
                    removed or disabled as a result of mistake or misidentification of the material.<br><br></p>
                <p>Contact information: Your name, address, telephone number, and email address.</p>
                <p>Consent to jurisdiction: A statement that you consent to the jurisdiction of the federal court in
                    your district (or the district where your address is located if outside the United States) and that
                    you will accept service of process from the person who provided the original DMCA notice or an agent
                    of such person.</p>
                <p>Signature: A physical or electronic signature.</p>
                <p>Please send your counter-notification to our designated DMCA agent at the contact information
                    provided above.<br><br></p>
                <p>Repeat Infringers</p>
                <p>In accordance with the DMCA and other applicable laws, we have adopted a policy of terminating, in
                    appropriate circumstances and at our sole discretion, users who are deemed to be repeat infringers.
                    We may also, at our sole discretion, limit access to our app or website and/or terminate the
                    accounts of any users who infringe any intellectual property rights of others, whether or not there
                    is any repeat infringement.<br><br></p>
                <p>Changes to This DMCA Policy<br><br></p>
                <p>We may update this DMCA Policy from time to time. We will notify you of any significant changes by
                    posting the new policy on this page. Please review this policy periodically for updates.<br><br></p>
                <p>Contact Us<br><br></p>
                <p>If you have any questions or concerns about this DMCA Policy, please contact us at:</p>
                <p>Email: support@aviatornation.com
                </p>
                <p>Address: 123 Adventure Lane, Travel City, TX, 78901, USA</p>
                <p>Thank you for using Aviator Nation. We are committed to respecting and protecting intellectual
                    property rights.</p>
                <p>&nbsp;</p>
                <p></p>
            </div>
        </div>
    </div>
</section>

<style>
    #cookie-notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(35, 35, 35, 0.7);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: none;
    }

    #cookie-notification p {
        margin: 0;
        margin-bottom: 10px;
        color: #ffffff;
    }

    #cookie-notification a {
        color: #007bff;
        text-decoration: none;
    }

    #cookie-notification a:hover {
        text-decoration: underline;
    }

    #cookie-notification button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

</style>

<div id="cookie-notification">
    <p>This website uses cookies to enhance your browsing experience. By continuing to use this site, you agree to our <a href="cookie.html">Cookie Policy</a>.</p>
    <button id="cookie-accept">Accept</button>
</div>

<script>

    if (!localStorage.getItem('cookieAccepted')) {

        document.getElementById('cookie-notification').style.display = 'block';


        document.getElementById('cookie-accept').addEventListener('click', function() {

            //localStorage.setItem('cookieAccepted', true);


            document.getElementById('cookie-notification').style.display = 'none';
        });
    }
</script>


</body>
</html>