<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cookie</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Cookie">
    <meta property="og:title" content="Cookie">
    <meta name="twitter:title" content="Cookie">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">

</head>
<body>

<section class="likf-section symbol--header likf-section-r69479k5 ">
    <div class="">
        <div class="container likf-row-acf9gpf0-wrapper    ">
            <div class="likf-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner likf-column-t61xckg3  1/1">
                        <div class="likf-navbar--wrapper likf-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="likf-navbar likf-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="likf-navbar--toggle"
                                        data-target="#likfNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="likf-navbar--collapse collapse" id="likfNavbarCollapse">
                                    <div class="likf-navbar--navs">
                                        <ul class="likf-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="likf-nav--link home likf-nav--link-2suuvmpu  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="likf-nav--link privacy-policy likf-nav--link-jrjtnw95  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="likf-nav--link terms-of-use likf-nav--link-bzdz1ay2  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="likf-nav--link cookie likf-nav--link-xbr0av3x  "><span
                                                    class="likf-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="likf-nav--link data-products likf-nav--link-xvprhmdr  "><span
                                                    class="likf-nav--link-text">Data Products</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="likf-nav--link dmca likf-nav--link-nwha9fph  "><span
                                                    class="likf-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="likf-section likf-section-bz7lwuc6 ">
    <div class="likf-container-vruc0399  ">
        <div class="likf-container-iv3pi55i  ">
            <div class="likf-wrapper likf-heading-7wfafhuh-wrapper "><h2
                    class="likf-heading likf-heading-7wfafhuh "><span>Privacy Policy
</span></h2></div>
            <div class="likf-text likf-text-xjo2wvtk "><p>Introduction<br><br></p>
                <p>Welcome to Aviator Nation. We value your privacy and are committed to protecting your personal
                    information. This Privacy Policy outlines how we collect, use, and protect your data when you use
                    our app, Aviator Nation.</p>
                <p>Information We Collect<br><br></p>
                <p>Personal Information<br><br></p>
                <p>When you use Aviator Nation, we may collect personal information such as:</p>
                <p>Name</p>
                <p>Email address</p>
                <p>Location data</p>
                <p>Photos and notes you add to routes</p>
                <p>Non-Personal Information</p>
                <p>We may also collect non-personal information that cannot be used to identify you, such as:</p>
                <p>Device information (e.g., device model, operating system version)</p>
                <p>Usage data (e.g., features used, time spent on the app)</p>
                <p>Crash reports and performance data</p>
                <p>How We Use Your Information<br><br></p>
                <p>We use your information to:</p>
                <p>Provide and improve our services: Personalize your experience, respond to your requests, and enhance
                    app functionality.</p>
                <p>Communicate with you: Send you updates, promotional offers, and information about our services.</p>
                <p>Analyze usage: Understand how our app is used to improve user experience and develop new
                    features.</p>
                <p>Ensure security: Protect against unauthorized access, fraud, and other security issues.<br><br></p>
                <p>Sharing Your Information<br><br></p>
                <p>We do not sell, trade, or rent your personal information to third parties. We may share your
                    information with:</p>
                <p>Service providers: Trusted partners who assist us in operating our app and providing our services,
                    subject to strict data protection agreements.</p>
                <p>Legal requirements: Authorities if required by law or to protect our legal rights.<br><br></p>
                <p>Data Security<br><br></p>
                <p>We take the security of your data seriously and implement appropriate technical and organizational
                    measures to protect your information from unauthorized access, loss, or misuse.<br><br></p>
                <p>Your Rights<br><br></p>
                <p>You have the right to:</p>
                <p>Access: Request a copy of the personal information we hold about you.</p>
                <p>Correction: Request correction of any inaccurate or incomplete information.</p>
                <p>Deletion: Request deletion of your personal information, subject to certain exceptions.</p>
                <p>Objection: Object to the processing of your data under certain circumstances.<br><br></p>
                <p>Changes to This Privacy Policy<br><br></p>
                <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by
                    posting the new policy on this page. Please review this policy periodically for updates.<br><br></p>
                <p>Contact Us<br><br></p>
                <p>If you have any questions or concerns about this Privacy Policy, please contact us at:</p>
                <p>Email: support@aviatornation.com
                </p>
                <p>Address: 123 Adventure Lane, Travel City, TX, 78901, USA</p>
                <p>Thank you for trusting Aviator Nation with your personal information. We are committed to protecting
                    your privacy and providing you with a safe and enjoyable experience.</p>
                <p>&nbsp;</p>
                <p></p>
            </div>
        </div>
    </div>
</section>


<style>
    #cookie-notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(35, 35, 35, 0.7);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: none;
    }

    #cookie-notification p {
        margin: 0;
        margin-bottom: 10px;
        color: #ffffff;
    }

    #cookie-notification a {
        color: #007bff;
        text-decoration: none;
    }

    #cookie-notification a:hover {
        text-decoration: underline;
    }

    #cookie-notification button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

</style>

<div id="cookie-notification">
    <p>This website uses cookies to enhance your browsing experience. By continuing to use this site, you agree to our <a href="cookie.html">Cookie Policy</a>.</p>
    <button id="cookie-accept">Accept</button>
</div>

<script>

    if (!localStorage.getItem('cookieAccepted')) {

        document.getElementById('cookie-notification').style.display = 'block';


        document.getElementById('cookie-accept').addEventListener('click', function() {

            //localStorage.setItem('cookieAccepted', true);


            document.getElementById('cookie-notification').style.display = 'none';
        });
    }
</script>

</body>
</html>