<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Aviator Nation Terms of Service</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Aviator Nation Terms of Service">
    <meta name="description"
          content="This page outlines the terms of service for using Aviator Nation's website and mobile app, including eligibility, account registration, and user conduct policies.">
    <meta property="og:title" content="Aviator Nation Terms of Service">
    <meta property="og:description"
          content="This page outlines the terms of service for using Aviator Nation's website and mobile app, including eligibility, account registration, and user conduct policies.">
    <meta name="twitter:title" content="Aviator Nation Terms of Service">
    <meta name="twitter:description"
          content="This page outlines the terms of service for using Aviator Nation's website and mobile app, including eligibility, account registration, and user conduct policies.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">

</head>
<body>

<section class="likf-section symbol--header likf-section-r69479k5 ">
    <div class="">
        <div class="container likf-row-acf9gpf0-wrapper    ">
            <div class="likf-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner likf-column-t61xckg3  1/1">
                        <div class="likf-navbar--wrapper likf-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="likf-navbar likf-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="likf-navbar--toggle"
                                        data-target="#likfNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="likf-navbar--collapse collapse" id="likfNavbarCollapse">
                                    <div class="likf-navbar--navs">
                                        <ul class="likf-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="likf-nav--link home likf-nav--link-2suuvmpu  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="likf-nav--link privacy-policy likf-nav--link-jrjtnw95  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="likf-nav--link terms-of-use likf-nav--link-bzdz1ay2  "><span
                                                    class="likf-nav--link-icon"></span><span
                                                    class="likf-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="likf-nav--link cookie likf-nav--link-xbr0av3x  "><span
                                                    class="likf-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="likf-nav--link data-products likf-nav--link-xvprhmdr  "><span
                                                    class="likf-nav--link-text">Data Products</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="likf-nav--link dmca likf-nav--link-nwha9fph  "><span
                                                    class="likf-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="likf-section likf-section-bz7lwuc6 ">
    <div class="likf-container-vruc0399  ">
        <div class="likf-container-iv3pi55i  ">
            <div class="likf-wrapper likf-heading-7wfafhuh-wrapper "><h2
                    class="likf-heading likf-heading-7wfafhuh "><span>Terms of Service
</span></h2></div>
            <div class="likf-text likf-text-xjo2wvtk "><p>Introduction<br><br></p>
                <p>Welcome to Aviator Nation. By using our app or website, you agree to these Terms of Service
                    ("Terms"). Please read them carefully. If you do not agree with these Terms, you may not use our
                    services.</p>
                <p>Use of Our Services<br><br></p>
                <p>Eligibility<br><br></p>
                <p>You must be at least 13 years old to use our services. By using Aviator Nation, you represent that
                    you meet this age requirement.</p>
                <p>Account Registration<br><br></p>
                <p>You may need to create an account to access certain features of our app. You are responsible for
                    maintaining the confidentiality of your account information and for all activities that occur under
                    your account.<br><br></p>
                <p>User Conduct<br><br></p>
                <p>You agree to use our services only for lawful purposes and in accordance with these Terms. You agree
                    not to:</p>
                <p>Violate any applicable laws or regulations.<br><br></p>
                <p>Infringe the rights of others, including intellectual property rights.</p>
                <p>Upload or distribute any harmful or malicious content.</p>
                <p>Interfere with the operation of our services.<br><br></p>
                <p>Content<br><br></p>
                <p>Your Content<br><br></p>
                <p>You retain ownership of any content you submit, post, or display on or through our services. By
                    providing content, you grant us a non-exclusive, worldwide, royalty-free license to use, modify,
                    reproduce, and distribute your content in connection with the operation and promotion of our
                    services.<br><br></p>
                <p>Our Content<br><br></p>
                <p>All content provided by Aviator Nation, including text, graphics, logos, and software, is the
                    property of Aviator Nation or its licensors and is protected by intellectual property laws. You may
                    not use, reproduce, or distribute our content without our prior written permission.<br><br></p>
                <p>Privacy<br><br></p>
                <p>Your use of our services is also governed by our Privacy Policy, which explains how we collect, use,
                    and protect your personal information. By using our services, you agree to the terms of our Privacy
                    Policy.<br><br></p>
                <p>Termination<br><br></p>
                <p>We may suspend or terminate your access to our services at any time, with or without cause, and with
                    or without notice. Upon termination, your right to use our services will immediately cease, and any
                    data associated with your account may be deleted.</p>
                <p>Disclaimers and Limitation of Liability<br><br></p>
                <p>Disclaimers<br><br></p>
                <p>Our services are provided "as is" and "as available" without warranties of any kind, either express
                    or implied. We do not warrant that our services will be uninterrupted, error-free, or free of
                    harmful components.<br><br></p>
                <p>Limitation of Liability<br><br></p>
                <p>To the fullest extent permitted by law, Aviator Nation and its affiliates, licensors, and service
                    providers will not be liable for any indirect, incidental, special, consequential, or punitive
                    damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of
                    data, use, goodwill, or other intangible losses resulting from (a) your use or inability to use our
                    services; (b) any unauthorized access to or use of our servers and/or any personal information
                    stored therein; (c) any bugs, viruses, trojan horses, or the like that may be transmitted to or
                    through our services; (d) any errors or omissions in any content; or (e) any other matter related to
                    our services.<br><br></p>
                <p>Governing Law<br><br></p>
                <p>These Terms and any disputes related to them will be governed by and construed in accordance with the
                    laws of the State of Texas, without regard to its conflict of laws principles.<br><br></p>
                <p>Changes to These Terms<br><br></p>
                <p>We may update these Terms from time to time. We will notify you of any significant changes by posting
                    the new Terms on this page. Your continued use of our services after such changes constitutes your
                    acceptance of the new Terms.<br><br></p>
                <p>Contact Us<br><br></p>
                <p>If you have any questions or concerns about these Terms, please contact us at:</p>
                <p>Email: support@aviatornation.com
                </p>
                <p>Address: 123 Adventure Lane, Travel City, TX, 78901, USA</p>
                <p>Thank you for using Aviator Nation. We hope you enjoy our services and have a great experience!</p>
                <p>&nbsp;</p>
                <p></p>
            </div>
        </div>
    </div>
</section>


<style>
    #cookie-notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(35, 35, 35, 0.7);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: none;
    }

    #cookie-notification p {
        margin: 0;
        margin-bottom: 10px;
        color: #ffffff;
    }

    #cookie-notification a {
        color: #007bff;
        text-decoration: none;
    }

    #cookie-notification a:hover {
        text-decoration: underline;
    }

    #cookie-notification button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

</style>

<div id="cookie-notification">
    <p>This website uses cookies to enhance your browsing experience. By continuing to use this site, you agree to our <a href="cookie.html">Cookie Policy</a>.</p>
    <button id="cookie-accept">Accept</button>
</div>

<script>

    if (!localStorage.getItem('cookieAccepted')) {

        document.getElementById('cookie-notification').style.display = 'block';


        document.getElementById('cookie-accept').addEventListener('click', function() {

            //localStorage.setItem('cookieAccepted', true);


            document.getElementById('cookie-notification').style.display = 'none';
        });
    }
</script>


</body>
</html>