

.hero-image {
    display: none; /* Скрываем картинку по умолчанию */
}

@media (max-width: 768px) { /* Включаем изображение на мобильных устройствах */
    .hero-image {

        display: block; /* Показываем картинку на мобильных экранах */
        height: 100vh; /* Высота на весь экран */
        overflow: hidden; /* Скрываем часть картинки, выходящую за пределы */
    }

    .hero-image img {
        width: 100%; /* Картинка занимает всю ширину */
        height: 100%; /* Картинка занимает всю высоту */
        object-fit: cover; /* Картинка сохраняет пропорции и обрезается по краям */
    }
}

.content {
    padding: 20px; /* Отступы для контента */
    text-align: center; /* Центрирование текста */
}