
.bottom-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 9999;
}

.btn1 {
    background-color: #e08f09;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn2 {
    background-color: #28a709;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 10px 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #777;
}

.bottom-panel p{
    color: black;
}

.panel-text {
    margin-bottom: 10px; /* Отступ между текстом и кнопками */
    text-align: center; /* Центрировать текст */
}

.close-btn {
    margin-right: 5px;
    align-self: end;
    font-size: 18px;
    font-weight: bolder;
    color: #383838;
    transition: color 0.3s;
    z-index: 1; /* Ensure close button is above the banner */
}

@media (min-width: 768px) {
    .bottom-panel {
        display: none;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {

    .bottom-panel {
        flex-direction: column; /* Убедитесь, что текст и кнопки располагаются вертикально */
    }

    .bottom-panel-row {
        display: flex;
        justify-content: space-between; /* Размещаем кнопки с пространством между ними */
        flex-direction: row; /* Убедитесь, что текст и кнопки располагаются вертикально */
    }

    .btn1 {
        flex: 1;
        width: auto;
    }

    .btn2 {
        flex: 1;
        width: auto;
    }
}