<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Privacy Policy and Terms of Use for Baseball Aviators Website</title>
    <link rel="icon" href=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Privacy Policy and Terms of Use for Baseball Aviators Website"/>
    <meta name="description"
          content="This page outlines the privacy policy and terms of use that govern the baseball aviators website."/>
    <meta property="og:title" content="Privacy Policy and Terms of Use for Baseball Aviators Website"/>
    <meta property="og:description"
          content="This page outlines the privacy policy and terms of use that govern the baseball aviators website."/>
    <meta name="twitter:title" content="Privacy Policy and Terms of Use for Baseball Aviators Website"/>
    <meta name="twitter:description"
          content="This page outlines the privacy policy and terms of use that govern the baseball aviators website."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Open+Sans:400,500,600%7CJosefin+Sans:400,500&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Open+Sans:400,500,600%7CJosefin+Sans:400,500&amp;display=swap"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/8NFITl.css')}}"/>


</head>
<body>

<section class="jik-section symbol--header jik-section-r69479k5 ">
    <div class="jik-container-th7e2u2q  ">
        <div class="jik-container-gjxxhfmx  ">
            <div class="jik-text jik-text-wexcof8y "><p>Privacy Policy</p>
            </div>
        </div>
    </div>
</section>
<section class="jik-section jik-section-kgj2c0ge ">
    <div class="jik-container-r1s02dxu  ">
        <div class="jik-container-c38h771p  ">
            <div class="jik-text jik-text-nbm5vdb9 "><p>We respect your right to privacy and are committed to
                protecting your personal information. This Privacy Policy explains what data we collect, how we use it,
                and what measures we take to protect your information.</p>
                <p></p>
                <p>1. Collection and use of information</p>
                <p></p>
                <p>&nbsp;1.1 Personal Information</p>
                <p>We collect personal information that you voluntarily provide when registering on our website, placing
                    orders, subscribing to newsletters or contacting customer support. This information may include your
                    name, email address, phone number, and billing information.</p>
                <p></p>
                <p>&nbsp;1.2 Non-personal Information</p>
                <p>We may also collect non-personal information about you, such as data about your device, IP address,
                    browser type, information about pages visited and activities on our site. This data is collected to
                    improve the site's performance and analyze user activity.</p>
                <p></p>
                <p>&nbsp;2. Use of information</p>
                <p></p>
                <p>&nbsp;2.1 Order Processing</p>
                <p>We use your personal information to process and fulfill your orders, ensure product delivery and
                    inform you about the status of the order.</p>
                <p></p>
                <p>&nbsp;2.2 Customer Support</p>
                <p>Your contact information can be used to provide customer support, respond to your requests, and solve
                    problems that have arisen.</p>
                <p></p>
                <p>&nbsp;2.3 Website Improvement</p>
                <p>We analyze non-personal information to improve the performance of our site, optimize the user
                    experience and develop new features.</p>
                <p></p>
                <p>&nbsp;2.4 Marketing Newsletters</p>
                <p>With your consent, we may use your contact information to send you marketing materials, including
                    news about our products, special offers and events. You can opt out of receiving such newsletters at
                    any time.</p>
                <p></p>
                <p>3. Transfer of information to third parties</p>
                <p></p>
                <p>&nbsp;3.1 Service Providers</p>
                <p>We may share your personal information with third parties who provide services to us, such as payment
                    processing, order delivery, and marketing newsletters. These third parties are required to keep your
                    information confidential and use it only to provide services on our behalf.</p>
                <p></p>
                <p>&nbsp;3.2 Legal requirements</p>
                <p>We may disclose your information if required by law or in response to legitimate requests from
                    government agencies.</p>
                <p></p>
                <p>4. Information Protection</p>
                <p></p>
                <p>We take reasonable measures to protect your personal information from unauthorized access, use or
                    disclosure. These measures include the use of encryption, password protection and other technical
                    and organizational means.</p>
                <p></p>
                <p>&nbsp;5. Information Storage</p>
                <p></p>
                <p>We store your personal information only for the period necessary to fulfill the purposes described in
                    this Privacy Policy, unless a longer retention period is required or permitted by law.</p>
                <p></p>
                <p>6. Your rights</p>
                <p></p>
                <p>&nbsp;6.1 Access and Correction</p>
                <p>You have the right to access your personal information and can request its correction, updating or
                    deletion. To do this, contact us using the contact details listed below.</p>
                <p></p>
                <p>&nbsp;6.2 Withdrawal of consent</p>
                <p>You can revoke your consent to the processing of your personal information at any time. Please note
                    that withdrawal of consent may limit your use of certain features of our site or our services.</p>
                <p></p>
                <p>&nbsp;6.3 Complaints</p>
                <p>If you believe that your privacy rights have been violated, you can file a complaint with the
                    appropriate regulatory authority.</p>
                <p></p>
                <p>7. Cookies</p>
                <p></p>
                <p>Our website uses cookies to improve its operation and user experience. Cookies are small text files
                    that are stored on your device when you visit our website. You can configure your browser to block
                    cookies or notify you about them, but in this case some functions of the site may not be
                    available.</p>
                <p></p>
                <p>8. Changes to the Privacy Policy</p>
                <p></p>
                <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by
                    posting the new Policy on our website and indicating the date of its last update.</p>
                <p></p>
                <p>We strive to respond to all requests within a reasonable time and make every effort to resolve any
                    privacy concerns.</p>
                <p></p>
                <p>---</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</section>
<section class="jik-section jik-section-a1rlr7l0 ">
    <div class="">
        <div class="container jik-row-glttqosu-wrapper    ">
            <div class="jik-row-glttqosu  flex  ">
                <div class="col-lg-1/1 col-md-7/8 ">
                    <div class="column-inner jik-column-czkjjoff  1/1">
                        <div class="jik-wrapper jik-heading-u4u3j66x-wrapper "><h2
                                class="jik-heading jik-heading-u4u3j66x  1/1"><span>&nbsp;Terms of Use
</span></h2></div>
                        <div class="jik-text jik-text-t609h9tb "><p></p>
                            <p>Welcome to our website! Please read these Terms of Use carefully before using our site.
                                Using our site means that you agree to these Terms. If you do not agree to the Terms,
                                please do not use our website.</p>
                            <p></p>
                            <p>&nbsp;1. General provisions</p>
                            <p></p>
                            <p>&nbsp;1.1 Terms and Conditions Agreement</p>
                            <p>These Terms of Use govern your rights and obligations when using our site. By using our
                                website, you agree to comply with all the terms and conditions set forth in this
                                document.</p>
                            <p></p>
                            <p>&nbsp;1.2 Changes to the Terms</p>
                            <p>We reserve the right to change or update these Terms of Use at any time. All changes take
                                effect from the moment they are published on the website. Continued use of the site
                                after the changes are made means that you agree to the new terms.</p>
                            <p></p>
                            <p>&nbsp;2. Using the site</p>
                            <p></p>
                            <p>&nbsp;2.1 Access to the site</p>
                            <p>We grant you a limited right to access and use our site solely for personal,
                                non-commercial purposes. You agree not to use the site for any illegal purposes or
                                activities.</p>
                            <p></p>
                            <p>&nbsp;2.2 User Account</p>
                            <p>You may need to create an account to access some of the site's features. You agree to
                                provide only reliable and up-to-date information during registration and to keep it up
                                to date. You are responsible for maintaining the confidentiality of your account and
                                password, as well as for all activities that occur under your account.</p>
                            <p></p>
                            <p>&nbsp;2.3 Prohibited actions</p>
                            <p>When using our site, you agree not to:</p>
                            <p>- Violate any applicable laws or regulations.</p>
                            <p>- Spread viruses or any other malicious code.</p>
                            <p>- Use any automated systems to access the site without our permission.</p>
                            <p>- Attempt to gain unauthorized access to our servers or database.</p>
                            <p></p>
                            <p>&nbsp;3. Intellectual property</p>
                            <p></p>
                            <p>All materials posted on our website, including texts, images, logos, graphics, audio and
                                video materials, are our intellectual property or the intellectual property of our
                                licensors. You agree not to reproduce, distribute, modify or use these materials without
                                our written permission.</p>
                            <p></p>
                            <p>&nbsp;4. Orders and payment</p>
                            <p></p>
                            <p>&nbsp;4.1 Making orders</p>
                            <p>When placing an order on our website, you agree to provide accurate and up-to-date
                                information about yourself. We reserve the right to reject or cancel an order in case of
                                providing false information or suspected fraud.</p>
                            <p></p>
                            <p>&nbsp;4.2 Prices and payment</p>
                            <p>All prices on our website are in local currency and may include taxes. We reserve the
                                right to change prices at any time without prior notice. Payment must be made in full
                                before the order is sent.</p>
                            <p></p>
                            <p>&nbsp;4.3 Delivery</p>
                            <p>We deliver orders in accordance with the conditions specified on the website. The
                                delivery time and cost may vary depending on your location and the chosen delivery
                                method.</p>
                            <p></p>
                            <p>&nbsp;5. Refunds and exchanges</p>
                            <p></p>
                            <p>&nbsp;5.1 Refund Policy</p>
                            <p>We accept returns and exchanges of goods in accordance with our Returns Policy posted on
                                the website. Items must be returned in their original packaging and in a condition
                                suitable for sale.</p>
                            <p></p>
                            <p>&nbsp;5.2 The Return process</p>
                            <p>To make a refund or exchange, contact our customer support team and provide the necessary
                                information. We will review your request and provide further instructions.</p>
                            <p></p>
                            <p>6. Limitation of Liability</p>
                            <p></p>
                            <p>&nbsp;6.1 Using the Site</p>
                            <p>Our website is provided "as is" and "as available". We do not guarantee that the site
                                will work without failures, errors or viruses. We are not responsible for any damage
                                resulting from the use or inability to use the site.</p>
                            <p></p>
                            <p>&nbsp;6.2 Goods and services</p>
                            <p>We are not responsible for any damage resulting from the use of goods or services
                                purchased on our website, except as required by law.</p>
                            <p></p>
                            <p>7. Privacy</p>
                            <p></p>
                            <p>Your use of our site is also governed by our Privacy Policy, which is an integral part of
                                these Terms of Use. Please review our Privacy Policy to understand how we collect, use
                                and protect your personal information.</p>
                            <p></p>
                            <p>8. Final provisions</p>
                            <p></p>
                            <p>&nbsp;8.1 Dispute Resolution</p>
                            <p>All disputes arising in connection with the use of our site or these Terms of Use are
                                subject to resolution in accordance with the applicable laws of your country.</p>
                            <p></p>
                            <p>&nbsp;8.2 Completeness of the Agreement</p>
                            <p>These Terms of Use, including the Privacy Policy, constitute the entire agreement between
                                you and our company regarding the use of the site and supersede all previous agreements
                                and arrangements</p>
                            <p></p>
                            <p>We strive to respond to all requests within a reasonable time and make every effort to
                                resolve any issues related to the use of our site.</p>
                            <p></p>
                            <p>---</p>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .cookie-banner {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    button {
        background-color: #007bff;
        color: white;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

</style>

<div id="cookie-banner" class="cookie-banner" style="display: none;">
    <p>Our site uses cookies to optimize performance and enhance your user experience.</p>
    <p>Email: paullavd975@gmail.com</p>
    <button id="accept-cookies">Accept Cookies</button>
</div>

<script>
    const hasAcceptedCookies = document.cookie.includes('acceptedCookies=true');
    const cookieBanner = document.getElementById('cookie-banner');
    const acceptCookiesBtn = document.getElementById('accept-cookies');

    // if (!hasAcceptedCookies) {
        cookieBanner.style.display = 'block';

        acceptCookiesBtn.addEventListener('click', () => {
            // document.cookie = 'acceptedCookies=true; expires=Fri, 31 Dec 9999 23:59:59 GMT';
            cookieBanner.style.display = 'none';
        });
    // }
    // else {
    //     cookieBanner.style.display = 'none';
    // }
</script>

</body>
</html>