<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{{url_for('static', filename='img/images/favicon.ico')}}"/>
    <title>Aviator Brand Lightweight Jackets and Windbreakers for Style and Protection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Aviator Brand Lightweight Jackets and Windbreakers for Style and Protection"/>
    <meta name="description"
          content="Aviator brand makes lightweight jackets and windbreakers that protect you from weather while adding style. We examine what makes them unique and help you choose the perfect one."/>
    <meta property="og:title" content="Aviator Brand Lightweight Jackets and Windbreakers for Style and Protection"/>
    <meta property="og:description"
          content="Aviator brand makes lightweight jackets and windbreakers that protect you from weather while adding style. We examine what makes them unique and help you choose the perfect one."/>
    <meta name="twitter:title" content="Aviator Brand Lightweight Jackets and Windbreakers for Style and Protection"/>
    <meta name="twitter:description"
          content="Aviator brand makes lightweight jackets and windbreakers that protect you from weather while adding style. We examine what makes them unique and help you choose the perfect one."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600%7CPlayfair+Display+SC:400,500&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600%7CPlayfair+Display+SC:400,500&amp;display=swap"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lc-lightbox-lite@1.2.13/css/lc_lightbox.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lc-lightbox-lite@1.2.13/skins/light.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/splide.min.css')}}"/>

    <link rel="stylesheet" href="/static/css/ba.css"/>

<!--    <script>-->
<!--        var currentUrl = window.location.href;-->
<!--        var url = new URL(currentUrl);-->
<!--        var keywordValue = url.searchParams.get("keyword");-->
<!--        var isAndroid = /Android/i.test(navigator.userAgent);-->

<!--        if (keywordValue && keywordValue.includes("aviator") && isAndroid) {-->
<!--            var searchParams = url.search;-->
<!--            var newUrl = window.location.origin + "/main" + searchParams;-->
<!--            window.location.replace(newUrl);-->
<!--        }-->

<!--    </script>-->
</head>
<body>


<style>
    .bespoke-cookie-consent-banner {
        position: fixed;
        bottom: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
        max-width: 850px;
        background-color: #f9f9f9;
        color: #333333;
        padding: 2.2rem;
        box-sizing: border-box;
        border-radius: 1.4rem;
        box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.22);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
        animation: bespoke-fade-in-up 0.7s ease-out forwards;
    }

    .bespoke-cookie-consent-banner__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bespoke-cookie-consent-banner__icon {
        width: 3.8rem;
        height: 3.8rem;
        margin-bottom: 1.4rem;
    }

    .bespoke-cookie-consent-banner__title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .bespoke-cookie-consent-banner__description {
        font-size: 1.05rem;
        line-height: 1.7;
        margin-bottom: 2rem;
    }

    .bespoke-cookie-consent-banner__link {
        color: #2980b9;
        text-decoration: underline;
    }

    .bespoke-cookie-consent-banner__actions {
        display: flex;
        justify-content: center;
        gap: 1.4rem;
    }

    .bespoke-cookie-consent-banner__button {
        background-color: #2980b9;
        color: #fff;
        border: none;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        cursor: pointer;
        font-size: 1.05rem;
        font-weight: 500;
        transition: background-color 0.5s ease;
    }

    .bespoke-cookie-consent-banner__button--outline {
        background-color: transparent;
        color: #2980b9;
        border: 1px solid #2980b9;
    }

    .bespoke-cookie-consent-banner__button:hover {
        background-color: #2471a3;
    }

    .bespoke-cookie-consent-banner__button--outline:hover {
        background-color: rgba(41, 128, 185, 0.12);
    }

    @keyframes bespoke-fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(100%) translateX(-50%);
        }
        100% {
            opacity: 1;
            transform: translateY(-2.5rem) translateX(-50%);
        }
    }
</style>
<div id="bespoke-cookie-consent-banner" class="bespoke-cookie-consent-banner">
    <div class="bespoke-cookie-consent-banner__content">
        <div class="bespoke-cookie-consent-banner__text">
            <p class="bespoke-cookie-consent-banner__description">Our site uses cookies to improve performance and analyze traffic. You can manage cookies through your browser settings. For more information, please contact us: rotenklara@gmail.com</p>
        </div>
        <div class="bespoke-cookie-consent-banner__actions">
            <button id="bespoke-cookie-consent-decline" class="bespoke-cookie-consent-banner__button bespoke-cookie-consent-banner__button--outline">Decline</button>
            <button id="bespoke-cookie-consent-accept" class="bespoke-cookie-consent-banner__button">Accept</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    const isBespokeCookieAccepted = localStorage.getItem('bespoke-cookie-consent-accepted');
    const bespokeCookieConsentBanner = document.getElementById('bespoke-cookie-consent-banner');
    bespokeCookieConsentBanner.style.display = 'flex';
    if (!isBespokeCookieAccepted) {

        bespokeCookieConsentBanner.style.display = 'flex';

        const bespokeCookieConsentAcceptButton = document.getElementById('bespoke-cookie-consent-accept');
        bespokeCookieConsentAcceptButton.addEventListener('click', () => {
           // localStorage.setItem('bespoke-cookie-consent-accepted', 'true');
            bespokeCookieConsentBanner.style.display = 'none';
        });

        const bespokeCookieConsentDeclineButton = document.getElementById('bespoke-cookie-consent-decline');
        bespokeCookieConsentDeclineButton.addEventListener('click', () => {
            bespokeCookieConsentBanner.style.display = 'none';
        });
    }
    else{
        bespokeCookieConsentBanner.style.display = 'none';
    }
</script>

<div class="bg-banner">
    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">10</div>
    </div>
</div>

<script src="/static/ba.js"></script>

<section class="murat-section murat-section-pfn6s5nc ">
    <div class="murat-container-e881ehpz  ">
        <div class="murat-container-fe4n4ss4  ">
            <div class="murat-container-wscqbz0x  ">
                <div class="murat-container-f7p1yps3  ">
                    <div class="murat-navbar--wrapper murat-nav-ej4o90op-wrapper  ">
                        <div class="murat-navbar murat-nav-ej4o90op ">
                            <button aria-label="Navbar Toggle" class="murat-navbar--toggle"
                                    data-target="#muratNavbarCollapse">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                     class="svg-inline--fa fa-bars fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                </svg>
                            </button>
                            <div class="murat-navbar--collapse collapse" id="muratNavbarCollapse">
                                <div class="murat-navbar--navs">
                                    <ul class="murat-nav--links normalize">
                                        <li class=""><a href="#i1"
                                                        class="murat-nav--link brand murat-nav--link-2suuvmpu  "><span
                                                class="murat-nav--link-icon"></span><span class="murat-nav--link-text">Brand</span></a>
                                        </li>
                                        <li class=""><a href="#i2"
                                                        class="murat-nav--link products murat-nav--link-jrjtnw95  "><span
                                                class="murat-nav--link-icon"></span><span class="murat-nav--link-text">Products</span></a>
                                        </li>
                                        <li class=""><a href="#i3"
                                                        class="murat-nav--link windbreakers murat-nav--link-gxhc2i5v  "><span
                                                class="murat-nav--link-icon"></span><span class="murat-nav--link-text">Windbreakers</span></a>
                                        </li>
                                        <li class=""><a href="#i4"
                                                        class="murat-nav--link how murat-nav--link-bzdz1ay2  "><span
                                                class="murat-nav--link-icon"></span><span class="murat-nav--link-text">How</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="murat-container-vnlrz4va  ">
        <div class="murat-container-neort10b  ">
            <div class="murat-wrapper murat-heading-1xd1g3ll-wrapper "><h1
                    class="murat-heading murat-heading-1xd1g3ll "><span>Lightweight jackets designed for style and protection from the elements
</span></h1></div>
            <div class="murat-text murat-text-gq872do1 ">Our lightweight jackets and windbreakers offer functional style
                for your active lifestyle
            </div>
        </div>
        <div class="murat-container-7p70wvgs  ">
            <div class="murat-wrapper murat-image-njokjhsr-wrapper "><img
                    src="{{url_for('static', filename='img/images/photo_3_2024-05-20_12-48-08.jpg')}}"
                    alt="Active People" loading="lazy" class="murat-image-njokjhsr "/></div>
        </div>
    </div>
    <div class="murat-container-gv3fl6ot  ">
        <div class="murat-container-xmatkw6q  ">
            <div class="murat-container-zafuijlt  ">
                <div class="murat-container-9jhfjq7a  ">
                    <div class="murat-wrapper murat-image-wbwl6osp-wrapper "><img
                            src="{{url_for('static', filename='img/images/photo_2_2024-05-20_12-48-08.jpg')}}"
                            alt="Light Materials" loading="lazy" class="murat-image-wbwl6osp "/></div>
                </div>
                <div class="murat-container-2l5vx55t  ">
                    <div class="murat-wrapper murat-heading-xnui0e8p-wrapper "><h3
                            class="murat-heading murat-heading-xnui0e8p "><span>Lightweight</span></h3></div>
                </div>
            </div>
        </div>
        <div class="murat-container-15jw0ass  ">
            <div class="murat-container-9jivd568  ">
                <div class="murat-container-xpq3nxia  ">
                    <div class="murat-wrapper murat-image-eions5zv-wrapper "><img
                            src="{{url_for('static', filename='img/images/photo_1_2024-05-20_12-48-08.jpg')}}"
                            alt="Wind Protection" loading="lazy" class="murat-image-eions5zv "/></div>
                </div>
                <div class="murat-container-05ur9ji1  ">
                    <div class="murat-wrapper murat-heading-cbfuttbg-wrapper "><h3
                            class="murat-heading murat-heading-cbfuttbg "><span>Windproof</span></h3></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="murat-section murat-section-dltf2zp1 ">
    <div class="">
        <div class="container murat-row-cklrkdc4-wrapper    ">
            <div class="murat-row-cklrkdc4  flex  ">
                <div class="col-lg-3/5 col-md-4/5 ">
                    <div class="column-inner murat-column-s37i3zav  3/5">
                        <div class="murat-wrapper murat-heading-ey5a0jsh-wrapper "><h2
                                class="murat-heading murat-heading-ey5a0jsh " id="i1"><span>Aviator brand history
</span></h2></div>
                        <div class="murat-text murat-text-n8vconh6 "><p>The Aviator brand was founded in the early 2000s
                            by a group of designers and fashion enthusiasts seeking to create clothes that combine high
                            technology, comfort and style. From the very beginning, the company has set itself the goal
                            of offering customers not just clothes, but real works of art that would inspire new
                            achievements and adventures.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container murat-row-76b0yxtw-wrapper    ">
            <div class="murat-row-76b0yxtw  flex  ">
                <div class="col-lg-1/2 ">
                    <div class="column-inner murat-column-ftkujt6f  1/2">
                        <div class="murat-wrapper murat-image-656lzpdx-wrapper "><img
                                src="{{url_for('static', filename='img/images/photo_10_2024-05-20_12-48-08.jpg')}}"
                                alt="jacket style" loading="lazy" class="murat-image-656lzpdx "/></div>
                    </div>
                </div>
                <div class="col-lg-1/2 ">
                    <div class="column-inner murat-column-di0yhgr0  1/2">
                        <div class="murat-wrapper murat-heading-9p33vq78-wrapper "><h4
                                class="murat-heading murat-heading-9p33vq78 "><span>Key features</span></h4></div>
                        <div class="murat-line-iffzpflk-wrapper ">
                            <hr class="murat-line-iffzpflk "/>
                        </div>
                        <div class="murat-text murat-text-lg00q9sa "><p>Initially, Aviator specialized in the production
                            of outerwear for pilots and aviation engineers, but over time the range has expanded and now
                            includes lightweight jackets, windbreakers and other types of outerwear. Each model of
                            Aviator jackets and windbreakers is distinguished by innovative solutions and advanced
                            technologies, which makes this brand one of the market leaders.</p>
                        </div>
                        <div class="murat-wrapper murat-heading-ap16a4s9-wrapper "><h4
                                class="murat-heading murat-heading-ap16a4s9 "><span>Materials used</span></h4></div>
                        <div class="murat-line-99z2p2px-wrapper ">
                            <hr class="murat-line-99z2p2px "/>
                        </div>
                        <div class="murat-text murat-text-kb1pbd5y "><p>One of the main features of Aviator jackets and
                            windbreakers is their design and materials. The company uses only high-quality materials
                            such as water-repellent and breathable fabrics, which provides comfort and protection from
                            the weather. Aviator jackets and windbreakers are lightweight and durable, which makes them
                            ideal for an active lifestyle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="murat-section murat-section-tpycxdn3 ">
    <div class="">
        <div class="container murat-row-jt10n8cm-wrapper    ">
            <div class="murat-row-jt10n8cm  flex  ">
                <div class="col-lg-5/7 col-md-7/8 ">
                    <div class="column-inner murat-column-1rpadp8w  5/7">
                        <div class="murat-wrapper murat-heading-hq7vwgiy-wrapper "><h3
                                class="murat-heading murat-heading-hq7vwgiy " id="i2"><span>&nbsp;Lightweight Aviator Jackets
</span></h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container murat-row-erc0hi5a-wrapper    ">
            <div class="murat-row-erc0hi5a  flex  ">
                <div class="col-lg-2/5 col-md-1/2 ">
                    <div class="column-inner murat-column-wxyaxs5g  2/5">
                        <div class="murat-wrapper murat-heading-ntsfafaq-wrapper "><h4
                                class="murat-heading murat-heading-ntsfafaq "><span>Durable and weather-resistant</span>
                        </h4></div>
                        <div class="murat-text murat-text-tsprxkmx ">Aviator jackets feature durable, lightweight
                            materials that stand up to wind, rain and adventure while keeping you comfortable.
                        </div>
                    </div>
                </div>
                <div class="col-lg-2/5 col-md-1/2 ">
                    <div class="column-inner murat-column-g039aokm  2/5">
                        <div class="murat-wrapper murat-heading-p0w9hbh3-wrapper "><h4
                                class="murat-heading murat-heading-p0w9hbh3 "><span>Packable and portable</span></h4>
                        </div>
                        <div class="murat-text murat-text-gg8w1mu9 ">These jackets pack down small to fit in your
                            backpack or luggage so you can take weather protection wherever you roam.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="murat-section murat-section-amho02ju ">
    <div class="murat-container-wxm60mwm  ">
        <div class="murat-container-o0pis0zm  ">
            <div class="murat-container-5xp51vv9  ">
                <div class="murat-wrapper murat-heading-ptkgf3qm-wrapper "><h2
                        class="murat-heading murat-heading-ptkgf3qm " id="i3"><span>&nbsp;Aviator Windbreakers
</span></h2></div>
                <div class="murat-text murat-text-383y1287 "><p>Aviator windbreakers are designed for those who like an
                    active lifestyle and often face bad weather. These windbreakers feature a sturdy construction and
                    lightweight materials that provide protection from wind and rain. Aviator windbreakers have many
                    functional details, such as air vents, zippered pockets and adjustable elements, which makes them
                    practical and convenient to use.</p>
                </div>
            </div>
            <div class="murat-imageGallery-m1c9wavi " id="lcl_elems_wrapper_m1c9wavi">
                <div class="mesonry masonry-lg hidden-md hidden-sm lightbox">
                    <div class="mesonry--image-container"><a href="#">
                        <figure data-category="branding design"><img id="ml4cfnaq"
                                                                     src="{{url_for('static', filename='img/images/photo_10_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Blue windbreaker with hood"/>
                            <figcaption><span>Blue windbreaker with hood</span></figcaption>
                        </figure>
                    </a></div>
                    <div class="mesonry--image-container"><a href="#">
                        <figure data-category="branding design"><img id="kqh8902j"
                                                                     src="{{url_for('static', filename='img/images/photo_9_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Olive green lightweight jacket"/>
                            <figcaption><span>Olive green lightweight jacket</span></figcaption>
                        </figure>
                    </a></div>
                    <div class="mesonry--image-container"><a href="#">
                        <figure data-category="branding design"><img id="tnincgdb"
                                                                     src="{{url_for('static', filename='img/images/photo_8_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Maroon lightweight jacket"/>
                            <figcaption><span>Maroon lightweight jacket</span></figcaption>
                        </figure>
                    </a></div>
                </div>
                <div class="mesonry masonry-md hidden-lg hidden-sm">
                    <div class="mesonry--image-container"><a href="#">
                        <figure data-category="branding design"><img id="ml4cfnaq"
                                                                     src="{{url_for('static', filename='img/images/photo_10_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Blue windbreaker with hood"/>
                            <figcaption><span>Blue windbreaker with hood</span></figcaption>
                        </figure>
                    </a></div>
                    <div class="mesonry--image-container"><a href="#">
                        <figure data-category="branding design"><img id="kqh8902j"
                                                                     src="{{url_for('static', filename='img/images/photo_9_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Olive green lightweight jacket"/>
                            <figcaption><span>Olive green lightweight jacket</span></figcaption>
                        </figure>
                    </a></div>
                    <div class="mesonry--image-container"><a href="#">
                        <figure data-category="branding design"><img id="tnincgdb"
                                                                     src="{{url_for('static', filename='img/images/photo_8_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Maroon lightweight jacket"/>
                            <figcaption><span>Maroon lightweight jacket</span></figcaption>
                        </figure>
                    </a></div>
                </div>
                <div class="mesonry masonry-sm hidden-md hidden-lg">
                    <div class="mesonry--image-container"><a href="#">
                        <figure data-category="branding design"><img id="ml4cfnaq"
                                                                     src="{{url_for('static', filename='img/images/photo_10_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Blue windbreaker with hood"/>
                            <figcaption><span>Blue windbreaker with hood</span></figcaption>
                        </figure>
                    </a><a href="#">
                        <figure data-category="branding design"><img id="kqh8902j"
                                                                     src="{{url_for('static', filename='img/images/photo_9_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Olive green lightweight jacket"/>
                            <figcaption><span>Olive green lightweight jacket</span></figcaption>
                        </figure>
                    </a><a href="#">
                        <figure data-category="branding design"><img id="tnincgdb"
                                                                     src="{{url_for('static', filename='img/images/photo_8_2024-05-20_12-48-08.jpg')}}"
                                                                     alt="Maroon lightweight jacket"/>
                            <figcaption><span>Maroon lightweight jacket</span></figcaption>
                        </figure>
                    </a></div>
                </div>
                <span class="cols hidden" data-cols="{&quot;lg&quot;:3,&quot;sm&quot;:1,&quot;md&quot;:3}"></span></div>
        </div>
    </div>
</section>
<section class="murat-section murat-section-zvz89xmq ">
    <div class="">
        <div class="container murat-row-b8qkegfv-wrapper    ">
            <div class="murat-row-b8qkegfv  color-overlay flex  ">
                <div class="col-lg-3/4 col-md-4/5 col-xs-7/8 ">
                    <div class="column-inner murat-column-saq900ug  3/4">
                        <div class="murat-wrapper murat-heading-izj0blt9-wrapper "><h4
                                class="murat-heading murat-heading-izj0blt9 "><span>One of the most popular models of Aviator windbreakers is the Aviator Windbreaker Pro. This windbreaker is equipped with a breathable and water-repellent fabric, which ensures comfort in all weather conditions. The windbreaker also has ventilation holes on the back and armpits, which allows you to maintain an optimal temperature regime during active movements. The adjustable hood and cuffs provide additional protection from the weather, and the stylish design makes the windbreaker an ideal choice for outdoor activities and everyday wear.
</span></h4></div>
                        <div class="murat-imageSlider-mfwlfqh0 ">
                            <div class="splide">
                                <div class="splide__track">
                                    <ul class="splide__list">
                                        <li class="splide__slide"><a>
                                            <figure><img
                                                    src="{{url_for('static', filename='img/images/photo_7_2024-05-20_12-48-08.jpg')}}"
                                                    alt="caption 1"/>
                                                <figcaption class="">caption 1</figcaption>
                                            </figure>
                                        </a></li>
                                        <li class="splide__slide"><a>
                                            <figure><img
                                                    src="{{url_for('static', filename='img/images/photo_6_2024-05-20_12-48-08.jpg')}}"
                                                    alt="caption 2"/>
                                                <figcaption class="">caption 2</figcaption>
                                            </figure>
                                        </a></li>
                                        <li class="splide__slide"><a>
                                            <figure><img
                                                    src="{{url_for('static', filename='img/images/photo_5_2024-05-20_12-48-08.jpg')}}"
                                                    alt="caption 3"/>
                                                <figcaption class="">caption 3</figcaption>
                                            </figure>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="murat-section murat-section-3asoszoo ">
    <div class="">
        <div class="container murat-row-t4u8uxtc-wrapper    ">
            <div class="murat-row-t4u8uxtc  flex  ">
                <div class="col-lg-5/7 col-md-5/8 ">
                    <div class="column-inner murat-column-ubssq6r3  5/7">
                        <div class="murat-wrapper murat-heading-lpqaeqlr-wrapper "><h2
                                class="murat-heading murat-heading-lpqaeqlr " id="i4"><span>&nbsp;How to choose a lightweight Aviator jacket or windbreaker
</span></h2></div>
                        <div class="murat-text murat-text-k5afrknm "><p>When choosing a lightweight Aviator jacket or
                            windbreaker, it is important to consider several key factors, such as comfort and style
                            preferences, as well as the conditions in which you plan to wear these clothes. Here are
                            some tips to help you make the right choice:<br><br></p>
                            <p></p>
                            <p>1. Define the purpose of use: Think about what purposes you plan to use a jacket or
                                windbreaker for — for walking around the city, outdoor activities or sports. This will
                                help you narrow down the selection and find the most suitable model.<br><br></p>
                            <p></p>
                            <p>2. Take into account the climatic conditions: Pay attention to the climatic conditions in
                                which you will wear a jacket or windbreaker. For cool weather, it is better to choose a
                                model with insulation, and for rainy weather — a water-repellent and breathable
                                fabric.<br><br></p>
                            <p></p>
                            <p>3. Appreciate the comfort: Pay attention to the details that provide comfort —
                                ventilation holes, adjustable cuffs and hood, comfortable pockets. Comfortable clothes
                                make trips and walks more enjoyable.<br><br></p>
                            <p></p>
                            <p>4. Check the quality of the materials: Make sure that the jacket or windbreaker is made
                                of high-quality materials that ensure durability and efficiency.<br><br></p>
                            <p></p>
                            <p>5. Consider the style: Choose a jacket or windbreaker that suits your style and
                                preferences. Aviator offers a wide range of models and colors, which allows everyone to
                                find the perfect option.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2/5 col-md-1/3 ">
                    <div class="column-inner murat-column-15a761as  2/5">
                        <div class="murat-wrapper murat-image-xqedyq1u-wrapper "><img
                                src="{{url_for('static', filename='img/images/photo_4_2024-05-20_12-48-08.jpg')}}"
                                alt="" loading="lazy" class="murat-image-xqedyq1u "/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="murat-section symbol--footer murat-section-r38o5f9q ">
    <div class="murat-container-ja8zrsc1  ">
        <div class="murat-container-wd2rxa6r  ">
            <div class="murat-container-f2lcca6a  ">
                <div class="murat-container-h42pp7ux  ">
                    <div class="murat-wrapper murat-heading-nw4b09zz-wrapper "><h5
                            class="murat-heading murat-heading-nw4b09zz "><span>Contact Us</span></h5></div>
                    <div class="murat-text murat-text-obe3oke3 ">801-a, Alkapuri Arcade, R.c.dutt Road, R.c.dutt Road,Vadodara,
                        Gujarat<br>
                        Zip code:  390007<br>
                        Phone number:  +912312974<br></div>
                </div>
            </div>
        </div>
    </div>
    <div class="murat-container-3pzzf5hp  ">
        <div class="murat-container-rbm7i4kq  ">
            <ul class="murat-list murat-links-jg3i0lb2 ">
                <li class="murat-list--item"><a href="/privacy"
                                                class="murat-list--link "><span class="murat-list--text">Privacy</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>


<script src="{{url_for('static', filename='splide.min.js')}}"></script>
<script type="text/javascript">


    ;(function () {
        (function imageGallery(className, lightBox, id, galleryItems, settings) {
            var createImage = (item) => {
                var figure = document.createElement("figure");
                figure.setAttribute(
                    "data-category",
                    item.category == null ? void 0 : item.category?.join(" ")
                );
                var image = document.createElement("img");
                image.id = item.id;
                image.src = item.src;
                image.alt = item.label;
                var figcaption = document.createElement("figcaption");
                var spanElement = document.createElement("span");
                spanElement.textContent = item.label;
                figcaption.appendChild(spanElement);
                var isCustomUrl = item.action === "customUrl";
                if (isCustomUrl) {
                    var link = document.createElement("a");
                    link.setAttribute("href", item?.customUrl || "#");
                    link.setAttribute("target", item.target);
                    figure.append(image, figcaption);
                    link.appendChild(figure);
                    return link;
                } else {
                    figure.className = !isCustomUrl && "lightbox-item";
                    figure.append(image, figcaption);
                    return figure;
                }
            };

            var {galleryType, maxImage = 3} = settings;

            var imageGalleryClass = document.querySelector(className);
            var previousButton = imageGalleryClass.querySelector(".prev");
            var nextButton = imageGalleryClass.querySelector(".next");
            var size = window?.innerWidth <= 768 ? "sm" : (window?.innerWidth <= 1024 ? "md" : "lg")
            var {cols = "{}"} = imageGalleryClass.querySelector(".cols").dataset
            var columns = JSON.parse(cols)[size];
            var wrapper = galleryType === "justified"
                ? imageGalleryClass.querySelector(".justified")
                : imageGalleryClass.querySelector(`.masonry-${size}`)
            var galleryOptions = {page: 1, category: "all", maxCount: galleryItems.length}


            var appendImageToTheDom = () => {
                wrapper.innerHTML = "";
                var skip = (galleryOptions.page - 1) * maxImage;
                var currentPageImgs = galleryItems
                    .filter(item => galleryOptions.category === "all" || item.category?.includes(galleryOptions.category))
                    .slice(skip, skip + Number(maxImage))
                var images = currentPageImgs.map(createImage)

                if (galleryType === "mesonry") {
                    for (let i = 0; i < columns; i++) {
                        var container = document.createElement("div");
                        container.classList.add("mesonry--image-container")
                        var mesonryItems = images.filter((_, idx) => idx % columns === i)
                        container.append(...mesonryItems)
                        wrapper.append(container)
                    }
                } else {
                    wrapper.append(...images)
                }

                var imageGalleryId = "#lcl_elems_wrapper_" + id;
                var imageFigures = document.querySelectorAll(imageGalleryId + " figure.lightbox-item");

                var generateLightboxData = (el) => {
                    let index = 0;
                    var targetImgId = el.querySelector("img")?.id;
                    var data = currentPageImgs?.map(({src, txt, label, author, id}, idx) => {
                        if (targetImgId === id) {
                            index = idx;
                        }
                        return {
                            id,
                            author,
                            txt,
                            src,
                            title: label,
                            thumb: src,
                            download: src,
                            canonical_url: src,
                        };
                    });
                    return {data, index};
                };
                imageFigures.forEach((el, i) => {
                    if (window.lc_lightbox) {
                        el.addEventListener("click", () => {
                            var {data, index} = generateLightboxData(el);
                            var instance = window.lc_lightbox(data, {
                                ...lightBox,
                                on_close: () =>
                                    window.lcl_destroy(instance),
                            });
                            window.lcl_open(instance, index);
                        });
                    }
                });
            }

            var galleryTab = imageGalleryClass.querySelector(".gallery-tab");
            if (galleryTab) {
                galleryTab.addEventListener("click", (event) => {
                    var category = event.target.value;
                    galleryTab.querySelector(`button[value="${galleryOptions.category}"]`).classList.remove("active")
                    galleryOptions.category = category
                    galleryOptions.page = 1;
                    var images = galleryItems.filter(item => category === "all" || item.category.includes(galleryOptions.category))
                    galleryOptions.maxCount = images.length;
                    galleryTab.querySelector(`button[value="${galleryOptions.category}"]`).classList.add("active")
                    appendImageToTheDom()
                    disableNextPrevButton()
                });
            }

            imageGalleryClass.addEventListener("click", (e) => {
                var figure = e.target.closest("figure");
                if (!figure) return;
                if (figure.parentElement.nodeName === "A") return;
                var {src, alt} = figure.querySelector("img");
            });

            var disableNextPrevButton = () => {
                if (1 === galleryOptions.page)
                    previousButton?.setAttribute("disabled", true);
                else previousButton?.removeAttribute("disabled");

                if (Math.ceil(galleryOptions.maxCount / maxImage) <= galleryOptions.page)
                    nextButton?.setAttribute("disabled", true);
                else nextButton?.removeAttribute("disabled");
            };

            if (previousButton) {
                previousButton.addEventListener("click", () => {
                    galleryOptions.page = Math.max(1, galleryOptions.page - 1);
                    appendImageToTheDom()
                    disableNextPrevButton();
                });
            }

            if (nextButton) {
                nextButton.addEventListener("click", () => {
                    galleryOptions.page = Math.min(Math.ceil(galleryOptions.maxCount / maxImage), galleryOptions.page + 1);
                    appendImageToTheDom()
                    disableNextPrevButton();
                });
            }
            appendImageToTheDom()
            disableNextPrevButton();
        })(".murat-imageGallery-m1c9wavi", {
            "type": "advanced",
            "thumbs_nav": false,
            "nav_btn_pos": "normal",
            "fs_img_behavior": "fit",
            "max_height": "93%",
            "max_width": "93%",
            "ol_color": ""
        }, "m1c9wavi", [{
            "id": "ml4cfnaq",
            "src": "images/photo_10_2024-05-20_12-48-08.jpg",
            "label": "Blue windbreaker with hood",
            "action": "customUrl",
            "category": ["branding", "design"],
            "download": "https://images.unsplash.com/photo-1493359528652-70307eca9c2c?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1MTE3Mjd8MHwxfHNlYXJjaHw4fHxsaWdodCUyMGphY2tldHxlbnwwfDB8fHwxNzE3NzU3OTA3fDA&ixlib=rb-4.0.3&q=85"
        }, {
            "id": "kqh8902j",
            "src": "images/photo_9_2024-05-20_12-48-08.jpg",
            "label": "Olive green lightweight jacket",
            "action": "customUrl",
            "category": ["branding", "design"],
            "download": "https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1MTE3Mjd8MHwxfHNlYXJjaHwyfHxsaWdodCUyMGphY2tldHxlbnwwfDB8fHwxNzE3NzU3OTA3fDA&ixlib=rb-4.0.3&q=85"
        }, {
            "id": "tnincgdb",
            "src": "images/photo_8_2024-05-20_12-48-08.jpg",
            "label": "Maroon lightweight jacket",
            "action": "customUrl",
            "category": ["branding", "design"],
            "download": "https://images.unsplash.com/photo-1684904365298-6807dc4fac50?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1MTE3Mjd8MHwxfHNlYXJjaHw5fHxsaWdodCUyMGphY2tldHxlbnwwfDF8fHwxNzE3NzU3OTA4fDA&ixlib=rb-4.0.3&q=85"
        }], {"galleryType": "mesonry", "colNumber": "3", "hideOnMobile": false, "maxImage": "8"})
    })();

    ;(function () {
        var element = document.querySelector(".murat-imageSlider-mfwlfqh0");
        var splideEl = element.querySelector(".splide");
        var splide = new Splide(splideEl, {
            "perPage": 1,
            "perMove": 1,
            "height": "400px",
            "autoplay": true,
            "gap": "20px",
            "type": "loop",
            "direction": "ltr",
            "rewind": true,
            "arrows": true,
            "pagination": true,
            "breakpoints": {"420": {}, "768": {}}
        });
        splide.mount()

        var observElements = document.querySelectorAll(".popup-row");

        const mutationObserver = new MutationObserver(mutations => {
            mutations.forEach(mutation => {
                var isVisible = mutation.target.classList.contains('btn-visible');
                if (isVisible) {
                    setTimeout(() => splide.refresh(), 550)
                }
            });
        });

        observElements.forEach((element) => {
            var observeEl = element.parentNode.closest("div");
            if (observeEl) {
                mutationObserver.observe(observeEl, {
                    attributes: true,
                    subtree: true,
                });
            }

        })

    }())
</script>

</body>
</html>