<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="images/favicon.ico"/>
    <title>Privacy policy describes how personal information is used and protected when using our site and
        services</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title"
          content="Privacy policy describes how personal information is used and protected when using our site and services">
    <meta name="description"
          content="This privacy policy outlines how we protect user personal information collected on our website.">
    <meta property="og:title"
          content="Privacy policy describes how personal information is used and protected when using our site and services">
    <meta property="og:description"
          content="This privacy policy outlines how we protect user personal information collected on our website.">
    <meta name="twitter:title"
          content="Privacy policy describes how personal information is used and protected when using our site and services">
    <meta name="twitter:description"
          content="This privacy policy outlines how we protect user personal information collected on our website.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" crossorigin="anonymous"
          href="{{url_for('static', filename='css/main.css')}}">
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="{{url_for('static', filename='css/css.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/ZToks2.css')}}">



</head>
<body>

<section class="murat-section murat-section-iidufxi3 ">
    <div class="">
        <div class="container murat-row-5iwk9iez-wrapper    ">
            <div class="murat-row-5iwk9iez  flex  ">
                <div class="col-lg-1/1 col-md-1/2 ">
                    <div class="column-inner murat-column-7gca9t91  1/1">
                        <div class="murat-wrapper murat-heading-adxuo66r-wrapper "><h2
                                class="murat-heading murat-heading-adxuo66r "><span>Privacy policy</span></h2></div>
                        <div class="murat-text murat-text-vgdxrq53 "><p>This Privacy Policy describes how your personal
                            information is used and protected when using our site and services.</p>
                            <p></p>
                            <p>&nbsp;Collection and use of information</p>
                            <p></p>
                            <p>We collect information that is necessary to provide our services and improve the
                                operation of the site. The types of information collected include:</p>
                            <p></p>
                            <p>- Personal Information: Information such as your name and email address that you provide
                                when registering on the site, subscribing to the newsletter or filling out forms.</p>
                            <p>- Technical Information: Information such as IP address, browser type, operating system,
                                time of visits and activity on the site, which is collected automatically when using the
                                site.</p>
                            <p></p>
                            <p>&nbsp;Purposes of using information</p>
                            <p></p>
                            <p>We use the collected information for the following purposes:</p>
                            <p></p>
                            <p>- Providing Services: Using personal information to process orders, manage accounts, and
                                provide support to users.</p>
                            <p>- Site improvement: analysis of technical information to improve the functionality and
                                usability of the site.</p>
                            <p>- Marketing and Communications: sending you information about new products, services and
                                promotions, if you have given your consent.</p>
                            <p></p>
                            <p>&nbsp;Information protection</p>
                            <p></p>
                            <p>We take all necessary measures to protect your information from unauthorized access,
                                modification, disclosure or destruction. We use modern security technologies and follow
                                established standards to protect your data.</p>
                            <p></p>
                            <p>&nbsp;Sharing information with third parties</p>
                            <p></p>
                            <p>We do not share your personal information with third parties without your consent, except
                                in the following cases:</p>
                            <p></p>
                            <p>- Service Providers: We may share information with trusted partners who assist us in
                                providing services, provided that they undertake to protect your information and use it
                                only for the purpose of providing services.</p>
                            <p>- Legal Requirements: We may disclose information if required by law or necessary to
                                protect our rights and interests.</p>
                            <p></p>
                            <p>&nbsp;Your rights</p>
                            <p></p>
                            <p>You have the right to access, correct and delete your personal information that we store.
                                You can also opt out of receiving marketing messages at any time.</p>
                            <p></p>
                            <p>&nbsp;Changes to the Privacy Policy</p>
                            <p></p>
                            <p>We reserve the right to make changes to this Privacy Policy. In case of changes, we will
                                notify you about it by posting the updated version on our website.</p>
                            <p></p>
                            <p>&nbsp;Contact us</p>
                            <p></p>
                            <p>If you have any questions or suggestions about our Privacy Policy, please contact us via
                                the feedback form on the website.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/1 col-md-1/2 ">
                    <div class="column-inner murat-column-91w9y8f3  1/1">
                        <div class="murat-wrapper murat-heading-ld3jlnbo-wrapper "><h2
                                class="murat-heading murat-heading-ld3jlnbo "><span>Terms of Use
</span></h2></div>
                        <div class="murat-text murat-text-38gtzsx1 "><p>Welcome to our website! Please read these Terms
                            of Use carefully before using our website. By continuing to use our site, you agree to
                            comply with and adhere to the following terms.</p>
                            <p></p>
                            <p>&nbsp;1. General provisions</p>
                            <p></p>
                            <p>1.1. These Terms of Use govern the access and use of our site and the services provided
                                on the site.</p>
                            <p></p>
                            <p>1.2. We reserve the right to change or supplement these Terms of Use at any time. The
                                changes take effect from the moment they are published on the website. Continued use of
                                the site after the changes are made means that you agree to the new terms.</p>
                            <p></p>
                            <p>&nbsp;2. Using the site</p>
                            <p></p>
                            <p>2.1. You agree to use the site only for legitimate purposes and in accordance with these
                                Terms of Use.</p>
                            <p></p>
                            <p>2.2. It is prohibited:</p>
                            <p>- Use the site to distribute illegal, malicious, offensive, threatening, defamatory or
                                other unacceptable content.</p>
                            <p>- Violate intellectual property rights or other rights of third parties.</p>
                            <p>- Attempt to gain unauthorized access to our systems or those of third parties.</p>
                            <p></p>
                            <p>&nbsp;3. Registration and Account</p>
                            <p></p>
                            <p>3.1. To access some functions of the site, registration and account creation may be
                                required. You agree to provide accurate and up-to-date information when registering.</p>
                            <p></p>
                            <p>3.2. You are responsible for maintaining the confidentiality of your credentials and for
                                all actions performed under your account.</p>
                            <p></p>
                            <p>4. Privacy</p>
                            <p></p>
                            <p>4.1. Your privacy is important to us. Please review our Privacy Policy to find out how we
                                collect, use and protect your information.</p>
                            <p></p>
                            <p>&nbsp;5. Intellectual property</p>
                            <p></p>
                            <p>5.1. All content posted on the site, including text, graphics, logos, images and
                                software, is our or our licensors' intellectual property and is protected by copyright
                                and other intellectual property laws.</p>
                            <p></p>
                            <p>5.2. It is prohibited to use the site content without prior written permission.</p>
                            <p></p>
                            <p>6. Limitation of Liability</p>
                            <p></p>
                            <p>6.1. We are not responsible for any direct, indirect, incidental, special or
                                consequential damages resulting from the use or inability to use our site or
                                services.</p>
                            <p></p>
                            <p>6.2. We do not guarantee that the site will work without interruptions or errors, and we
                                cannot guarantee the accuracy and completeness of the content.</p>
                            <p></p>
                            <p>&nbsp;7. Links to third-party sites</p>
                            <p></p>
                            <p>7.1. Our site may contain links to third-party sites that are not under our control. We
                                are not responsible for the content or privacy policies of these sites.</p>
                            <p></p>
                            <p>8. Termination of use</p>
                            <p></p>
                            <p>8.1. We reserve the right to suspend or terminate your access to the site at any time and
                                without prior notice if you violate these Terms of Use.</p>
                            <p></p>
                            <p>&nbsp;9. Applicable law</p>
                            <p></p>
                            <p>9.1. These Terms of Use shall be governed by and interpreted in accordance with the laws
                                of your jurisdiction.</p>
                            <p></p>
                            <p>&nbsp;10. Contact information</p>
                            <p></p>
                            <p>If you have any questions or suggestions about these Terms of Use, please contact us via
                                the feedback form on the website.</p>
                            <p></p>
                            <p>Thank you for using our website!</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .bespoke-cookie-consent-banner {
        position: fixed;
        bottom: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
        max-width: 850px;
        background-color: #f9f9f9;
        color: #333333;
        padding: 2.2rem;
        box-sizing: border-box;
        border-radius: 1.4rem;
        box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.22);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
        animation: bespoke-fade-in-up 0.7s ease-out forwards;
    }

    .bespoke-cookie-consent-banner__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bespoke-cookie-consent-banner__icon {
        width: 3.8rem;
        height: 3.8rem;
        margin-bottom: 1.4rem;
    }

    .bespoke-cookie-consent-banner__title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .bespoke-cookie-consent-banner__description {
        font-size: 1.05rem;
        line-height: 1.7;
        margin-bottom: 2rem;
    }

    .bespoke-cookie-consent-banner__link {
        color: #2980b9;
        text-decoration: underline;
    }

    .bespoke-cookie-consent-banner__actions {
        display: flex;
        justify-content: center;
        gap: 1.4rem;
    }

    .bespoke-cookie-consent-banner__button {
        background-color: #2980b9;
        color: #fff;
        border: none;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        cursor: pointer;
        font-size: 1.05rem;
        font-weight: 500;
        transition: background-color 0.5s ease;
    }

    .bespoke-cookie-consent-banner__button--outline {
        background-color: transparent;
        color: #2980b9;
        border: 1px solid #2980b9;
    }

    .bespoke-cookie-consent-banner__button:hover {
        background-color: #2471a3;
    }

    .bespoke-cookie-consent-banner__button--outline:hover {
        background-color: rgba(41, 128, 185, 0.12);
    }

    @keyframes bespoke-fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(100%) translateX(-50%);
        }
        100% {
            opacity: 1;
            transform: translateY(-2.5rem) translateX(-50%);
        }
    }
</style>
<div id="bespoke-cookie-consent-banner" class="bespoke-cookie-consent-banner">
    <div class="bespoke-cookie-consent-banner__content">
        <div class="bespoke-cookie-consent-banner__text">
            <p class="bespoke-cookie-consent-banner__description">Our site uses cookies to improve performance and analyze traffic. You can manage cookies through your browser settings. For more information, please contact us: rotenklara@gmail.com</p>
        </div>
        <div class="bespoke-cookie-consent-banner__actions">
            <button id="bespoke-cookie-consent-decline" class="bespoke-cookie-consent-banner__button bespoke-cookie-consent-banner__button--outline">Decline</button>
            <button id="bespoke-cookie-consent-accept" class="bespoke-cookie-consent-banner__button">Accept</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    const isBespokeCookieAccepted = localStorage.getItem('bespoke-cookie-consent-accepted');
    const bespokeCookieConsentBanner = document.getElementById('bespoke-cookie-consent-banner');
    if (!isBespokeCookieAccepted) {

        bespokeCookieConsentBanner.style.display = 'flex';

        const bespokeCookieConsentAcceptButton = document.getElementById('bespoke-cookie-consent-accept');
        bespokeCookieConsentAcceptButton.addEventListener('click', () => {
            localStorage.setItem('bespoke-cookie-consent-accepted', 'true');
            bespokeCookieConsentBanner.style.display = 'none';
        });

        const bespokeCookieConsentDeclineButton = document.getElementById('bespoke-cookie-consent-decline');
        bespokeCookieConsentDeclineButton.addEventListener('click', () => {
            bespokeCookieConsentBanner.style.display = 'none';
        });
    }
    else{
        bespokeCookieConsentBanner.style.display = 'none';
    }
</script>
</body>
</html>