<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Privacy Policy for Our Website</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Privacy Policy for Our Website">
    <meta name="description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <meta property="og:title" content="Privacy Policy for Our Website">
    <meta property="og:description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <meta name="twitter:title" content="Privacy Policy for Our Website">
    <meta name="twitter:description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">


</head>
<body>

<section class="bulk-section symbol--header bulk-section-8kv52e75 ">
    <div class="">
        <div class="container bulk-row-80vj5xo8-wrapper    ">
            <div class="bulk-row-80vj5xo8  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner bulk-column-3nlzswir  1/1">
                        <div class="bulk-navbar--wrapper bulk-nav-kflzsvrm-wrapper  sticky-nav">
                            <div class="bulk-navbar bulk-nav-kflzsvrm ">
                                <button aria-label="Navbar Toggle" class="bulk-navbar--toggle"
                                        data-target="#bulkNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="bulk-navbar--collapse collapse" id="bulkNavbarCollapse">
                                    <div class="bulk-navbar--navs">
                                        <ul class="bulk-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="bulk-nav--link home bulk-nav--link-2suuvmpu  "><span
                                                    class="bulk-nav--link-icon"></span><span
                                                    class="bulk-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="bulk-nav--link terms-of-use bulk-nav--link-jrjtnw95  "><span
                                                    class="bulk-nav--link-icon"></span><span
                                                    class="bulk-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Privacy Policy</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data_product"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Data Product</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">DMCA</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bulk-section bulk-section-pwv28c7z ">
    <div class="">
        <div class="container bulk-row-ts79crpv-wrapper    ">
            <div class="bulk-row-ts79crpv  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner bulk-column-hcq4sji7  1/1">
                        <div class="bulk-wrapper bulk-heading-jd66nofu-wrapper "><h2
                                class="bulk-heading bulk-heading-jd66nofu "><span>Cookie policy on the techaviator.one website
</span></h2></div>
                        <div class="bulk-text bulk-text-j3p21gti "><h1>Cookie Policy on the techaviator.one website</h1>
                            <p>On the techaviator.one website, we use cookies to improve the operation of our website
                                and provide a better user experience. By continuing to use our site, you agree to the
                                use of cookies in accordance with this policy.</p>
                            <h2>What are cookies?</h2>
                            <p>Cookies are small text files that are stored on your device when you visit websites. They
                                help you remember your actions and preferences over time.</p>
                            <h2>How do we use cookies?</h2>
                            <p>We use cookies to:</p>
                            <ul>
                                <li>Analysis of traffic and user behavior on the site;</li>
                                <li>Memorizing your preferences and settings;</li>
                                <li>Providing personalized content and advertising.</li>
                            </ul>
                            <h2>The types of cookies we use:</h2>
                            <ul>
                                <li>Session cookies: temporary files that are deleted after closing the browser.</li>
                                <li>Persistent cookies: Remain on your device until they are deleted or expire.</li>
                                <li>Third-party cookies: installed by third-party services that we use for analysis and
                                    advertising.
                                </li>
                            </ul>
                            <h2>How do I manage cookies?</h2>
                            <p>You can control and/or delete cookies at your discretion. For more information, visit <a
                                    href="https://aboutcookies.org/">aboutcookies.org</a> . You can delete all cookies
                                that are already on your device and configure most browsers to block their use.</p>
                            <h2>Changes to the cookie policy</h2>
                            <p>We may update this cookie policy from time to time. We recommend that you check this page
                                regularly for changes.</p>
                            <h2>Contact information</h2>
                            <p>If you have any questions about our cookie policy, please contact us via the contact form
                                on the website or using the following information:</p>
                            <p>Address: 103, Hermitage Office Complex, Nampally, Hyderabad, Andhra Pradesh, 500001<br>
                                Phone number: +91 040 5516 1494<br> Email: sagunalbanojovan@gmail.com</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>