<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/images/favicon.png"/>
    <title>Privacy Policy for Our Company</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Privacy Policy for Our Company">
    <meta name="description"
          content="This privacy policy explains how our company protects customers&#39; personal data and ensures data security.">
    <meta property="og:title" content="Privacy Policy for Our Company">
    <meta property="og:description"
          content="This privacy policy explains how our company protects customers&#39; personal data and ensures data security.">
    <meta name="twitter:title" content="Privacy Policy for Our Company">
    <meta name="twitter:description"
          content="This privacy policy explains how our company protects customers&#39; personal data and ensures data security.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" crossorigin="anonymous" href="../static/css/main.css">
    <script type="text/javascript"></script>
<!--    <link rel="stylesheet" href="css.css">-->
    <link rel="stylesheet" href="/static/css/9ewFdl.css">


</head>
<body>

<section class="mistral-section mistral-section-tj0wal1f  color-overlay">
    <div class="">
        <div class="container mistral-row-95skhj7a-wrapper    ">
            <div class="mistral-row-95skhj7a  flex  ">
                <div class="col-lg-1/1 col-md-4/5 ">
                    <div class="column-inner mistral-column-rw6h2jvd  1/1">
                        <div class="mistral-wrapper mistral-heading-kzcoqfqt-wrapper "><h2
                                class="mistral-heading mistral-heading-kzcoqfqt "><span>Cookie Policy
</span></h2></div>
                        <div class="mistral-text mistral-text-dbbz9jio "><p>Our website uses cookies to improve your user experience and traffic analysis. </p>
                            <p></p>
                            <p>What are cookies?</p>
                            <p></p>
                            <p>Cookies are small text files that are stored on your device and contain information about your activities on the site.</p>
                            <p></p>
                            <p>How do we use cookies?  </p>
                            <p></p>
                            <p>We use cookies to:</p>
                            <p></p>
                            <p>- Ensuring the correct operation of the site.</p>
                            <p>- Memorizing your preferences and settings.</p>
                            <p>- Analysis of site traffic and usage to improve it.</p>
                            <p>Managing cookies  </p>
                            <p></p>
                            <p>You can manage cookies through your browser settings. Blocking or deleting cookies may affect the functionality of the site.</p>
                            <p></p>
                            <p>If you have any questions, please contact us by email: nw004608@gmail.com </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



</body>
</html>