<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Privacy Policy for Our Website</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Privacy Policy for Our Website">
    <meta name="description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <meta property="og:title" content="Privacy Policy for Our Website">
    <meta property="og:description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <meta name="twitter:title" content="Privacy Policy for Our Website">
    <meta name="twitter:description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">

</head>
<body>

<section class="bulk-section symbol--header bulk-section-8kv52e75 ">
    <div class="">
        <div class="container bulk-row-80vj5xo8-wrapper    ">
            <div class="bulk-row-80vj5xo8  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner bulk-column-3nlzswir  1/1">
                        <div class="bulk-navbar--wrapper bulk-nav-kflzsvrm-wrapper  sticky-nav">
                            <div class="bulk-navbar bulk-nav-kflzsvrm ">
                                <button aria-label="Navbar Toggle" class="bulk-navbar--toggle"
                                        data-target="#bulkNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="bulk-navbar--collapse collapse" id="bulkNavbarCollapse">
                                    <div class="bulk-navbar--navs">
                                        <ul class="bulk-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="bulk-nav--link home bulk-nav--link-2suuvmpu  "><span
                                                    class="bulk-nav--link-icon"></span><span
                                                    class="bulk-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="bulk-nav--link terms-of-use bulk-nav--link-jrjtnw95  "><span
                                                    class="bulk-nav--link-icon"></span><span
                                                    class="bulk-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Privacy Policy</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data_product"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Data Product</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">DMCA</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bulk-section bulk-section-pwv28c7z ">
    <div class="">
        <div class="container bulk-row-ts79crpv-wrapper    ">
            <div class="bulk-row-ts79crpv  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner bulk-column-hcq4sji7  1/1">
                        <div class="bulk-wrapper bulk-heading-jd66nofu-wrapper "><h2
                                class="bulk-heading bulk-heading-jd66nofu "><span>Data processing policy on the techaviator.one website

</span></h2></div>
                        <div class="bulk-text bulk-text-j3p21gti "><h1>Privacy Policy on the techaviator.one
                            website</h1>
                            <p>On the techaviator.one website, we pay attention to your privacy and strive to protect
                                your personal data. This policy explains what data we collect, how we use it, and what
                                measures we take to protect it.</p>
                            <h2>Data collection</h2>
                            <p>We may collect the following types of data:</p>
                            <ul>
                                <li>Personal data: such as the name, email address, phone number, and mailing address
                                    that you provide when registering on the site or when placing an order.
                                </li>
                                <li>Technical data: such as IP address, browser type, operating system version, and
                                    information about messages, including the duration of visits and the pages you view.
                                </li>
                                <li>Cookies and analog technologies: to collect information about your interaction with
                                    our site.
                                </li>
                            </ul>
                            <h2>Data usage</h2>
                            <p>We use your data for the following purposes:</p>
                            <ul>
                                <li>Provision of services: to process your orders and provide the requested services.
                                </li>
                                <li>Improving our site: to analyze the use of the site and improve its functionality and
                                    content.
                                </li>
                                <li>Marketing and Communications: to send you news, special offers and information about
                                    our products and services that you may be interested in, subject to your consent.
                                </li>
                            </ul>
                            <h2>Data transfer</h2>
                            <p>We may share your data with third parties only in the following cases:</p>
                            <ul>
                                <li>Third-party services: to process payments, deliver goods and provide analytical
                                    services. All such parties ensure the confidentiality and consistency of your data.
                                </li>
                                <li>Legal requirements: if it is necessary to comply with the law or in response to
                                    legal prohibitions by government agencies.
                                </li>
                            </ul>
                            <h2>Data protection</h2>
                            <p>We take measures to protect your data from unauthorized access, modification, disclosure
                                or destruction. These measures include technical, administrative and physical security
                                measures.</p>
                            <h2>Your rights</h2>
                            <p>You have the right to access, correct or delete your personal data. You can also recover
                                against the processing of your data or request a restriction on their processing. To
                                exercise these rights, please contact us using the contact details listed below.</p>
                            <h2>Changes in the data processing policy</h2>
                            <p>We may update this policy periodically. All changes will be posted on this page, and we
                                recommend that you check it regularly for changes.</p>
                            <h2>Contact information</h2>
                            <p>If you have any questions or suggestions regarding our data processing policy, please
                                contact us:</p>
                            <p>Address: 103, Hermitage Office Complex, Nampally, Hyderabad, Andhra Pradesh, 500001<br>
                                Phone number: +91 040 5516 1494<br> Email: sagunalbanojovan@gmail.com</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .cookie-dialog {
        position: fixed;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(18, 18, 18, 0.5);
        border-radius: 16px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        padding: 10px;
        max-width: 500px;
        width: 90%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.6s, visibility 0.6s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 18px;
    }

    .cookie-dialog-icon {
        font-size: 20px;
        color: #ff9800;
        margin-bottom: 16px;
    }

    .cookie-dialog-title {
        font-size: 18px;
        font-weight: bold;
        color: #f5f5f5;
    }

    .cookie-dialog-text {
        font-size: 14px;
        line-height: 1.6;
        color: #e0e0e0;
        margin-bottom: 32px;
    }

    .cookie-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .cookie-dialog-button {
        background-color: #03b3b3;
        color: #f5f5f5;
        border: none;
        padding: 14px 28px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .cookie-dialog-button:hover {
        background-color: #ff0000;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-header">
            <div class="cookie-dialog-icon">
                <i class="fas fa-cookie-bite"></i>
            </div>
            <h2 class="cookie-dialog-title">Cookie Consent</h2>
        </div>
        <p class="cookie-dialog-text">
            We use cookies to enhance your browsing experience on our website. These small data files help us remember
            your preferences and provide personalized content. By continuing to use our site, you agree to our cookie
            policy.
        </p>
        <div class="cookie-dialog-actions">
            <button id="accept-cookies" class="cookie-dialog-button">
                <i class="fas fa-check"></i>
                Accept
            </button>
        </div>
    </div>
</div>

<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        //localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>

</body>
</html>