<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.png"/>
    <title>Aviator Bags: Style, Functionality and Full Production Cycle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Aviator Bags: Style, Functionality and Full Production Cycle"/>
    <meta name="description"
          content="Our company specializes in the development of product concepts for stylish and functional aviator bags. We offer a full range of services from design to in-house production."/>
    <meta property="og:title" content="Aviator Bags: Style, Functionality and Full Production Cycle"/>
    <meta property="og:description"
          content="Our company specializes in the development of product concepts for stylish and functional aviator bags. We offer a full range of services from design to in-house production."/>
    <meta name="twitter:title" content="Aviator Bags: Style, Functionality and Full Production Cycle"/>
    <meta name="twitter:description"
          content="Our company specializes in the development of product concepts for stylish and functional aviator bags. We offer a full range of services from design to in-house production."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:type" content="website"/>
    <link rel="canonical" href="index.html"/>
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=DM+Sans:400,500,600%7CQuicksand:400,500&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=DM+Sans:400,500,600%7CQuicksand:400,500&amp;display=swap"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lc-lightbox-lite@1.2.13/css/lc_lightbox.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lc-lightbox-lite@1.2.13/skins/light.css"/>
        <link rel="stylesheet" href="/static/css/ba.css"/>


</head>
<body>


<style>
    .cookie-banner {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 20px;
        border-radius: 5px;
        width: 90%;
        max-width: 600px;
        display: none; /* Hidden by default */
        z-index: 99999999;
    }

    .cookie-banner a {
        color: #f39c12;
        text-decoration: underline;
    }

    .cookie-banner button {
        background-color: #f39c12;
        border: none;
        color: white;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
    }

    .cookie-banner button:hover {
        opacity: 0.9;
    }

</style>
<div class="cookie-banner" id="cookieBanner">
    This site uses special cookies to improve your user experience and service delivery. By continuing to use our site,
    you agree to our <a href="cookie.html" class="tailored-cookie-content-model__link">policy use of cookies</a>.
    <button id="acceptCookies">Accept</button>
</div>

<script type="text/javascript">

    function showCookieBanner() {
        document.getElementById('cookieBanner').style.display = 'block';
    }


    function hideCookieBanner() {
        document.getElementById('cookieBanner').style.display = 'none';
    }


    showCookieBanner();


    document.getElementById('acceptCookies').addEventListener('click', function () {

        hideCookieBanner();
    });

</script>


<div class="bg-banner">
    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">10</div>
    </div>
</div>

<script src="/static/ba.js"></script>

<section class="mistral-section mistral-section-zj5kj0xp ">
    <div class="video-overlay mistral-section-zj5kj0xp--video-overlay"></div>
    <div class="mistral-container-2k93t5st  ">
        <div class="mistral-container-on6lvezo  ">
            <div class="mistral-navbar--wrapper mistral-nav-4366um87-wrapper  ">
                <div class="mistral-navbar mistral-nav-4366um87 ">
                    <button aria-label="Navbar Toggle" class="mistral-navbar--toggle"
                            data-target="#mistralNavbarCollapse">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                             class="svg-inline--fa fa-bars fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                        </svg>
                    </button>
                    <div class="mistral-navbar--collapse collapse" id="mistralNavbarCollapse">
                        <div class="mistral-navbar--navs">
                            <ul class="mistral-nav--links normalize">
                                <li class=""><a href="#i1"
                                                class="mistral-nav--link style mistral-nav--link-2suuvmpu  "><span
                                        class="mistral-nav--link-icon"></span><span
                                        class="mistral-nav--link-text">STYLE</span></a></li>
                                <li class=""><a href="#i2"
                                                class="mistral-nav--link design mistral-nav--link-jrjtnw95  "><span
                                        class="mistral-nav--link-icon"></span><span
                                        class="mistral-nav--link-text">DESIGN</span></a></li>
                                <li class=""><a href="#i3"
                                                class="mistral-nav--link prototyping mistral-nav--link-bzdz1ay2  "><span
                                        class="mistral-nav--link-icon"></span><span class="mistral-nav--link-text">PROTOTYPING</span></a>
                                </li>
                            </ul>
                            <ul class="mistral-nav--btns normalize">
                                <li><a href="privacy.html"
                                       class="mistral-nav--btn mistral-nav--btn-yui5jpvx privacy "><span
                                        class="mistral-nav--btn-icon"></span><span
                                        class="mistral-nav--btn-text">Privacy</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mistral-container-t0qct83m  ">
        <div class="mistral-container-pgxnzn70  ">
            <div class="mistral-wrapper mistral-heading-0p54ng0l-wrapper "><h1
                    class="mistral-heading mistral-heading-0p54ng0l "><span>&nbsp;Aviator Bags: Style, Functionality and Full Production Cycle
</span></h1></div>
        </div>
    </div>
</section>
<section class="mistral-section mistral-section-a1rlr7l0 ">
    <div class="">
        <div class="container mistral-row-glttqosu-wrapper    ">
            <div class="mistral-row-glttqosu  flex  ">
                <div class="col-lg-3/5 col-md-7/8 ">
                    <div class="column-inner mistral-column-czkjjoff  3/5">
                        <div class="mistral-wrapper mistral-heading-u4u3j66x-wrapper "><h2
                                class="mistral-heading mistral-heading-u4u3j66x " id="i1"><span>Style, Functionality
</span></h2></div>
                        <div class="mistral-text mistral-text-t609h9tb "><p>In the modern world, a bag is not just an
                            accessory, but an indispensable element of everyday life. Aviator bags offer not only
                            stylish design, but also high functionality, which makes them an ideal choice for dynamic
                            people who appreciate quality and convenience. Our company specializes in the development of
                            product concepts and offers a full range of services – from design development to production
                            at our facilities.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container mistral-row-b16efmuu-wrapper    ">
            <div class="mistral-row-b16efmuu  flex  ">
                <div class="col-lg-3/5 col-md-1/2 ">
                    <div class="column-inner mistral-column-787rwk92  3/5">
                        <div class="mistral-wrapper mistral-image-92r1o40f-wrapper "><img
                                src="../static/images/photo_3_2024-05-19_11-10-23.jpg"
                                alt="leather design" loading="lazy" class="mistral-image-92r1o40f "/></div>
                    </div>
                </div>
                <div class="col-lg-2/5 col-md-1/2 ">
                    <div class="column-inner mistral-column-cdv3d6cx  2/5">
                        <div class="mistral-wrapper mistral-heading-edp1mnzb-wrapper "><h3
                                class="mistral-heading mistral-heading-edp1mnzb "><span>&nbsp;History and Inspiration
</span></h3></div>
                        <div class="mistral-text mistral-text-4cvvy72t "><p>The concept of Aviator bags is inspired by
                            the
                            spirit of adventure and freedom of movement. The name "Aviator" embodies the desire for high
                            achievements and the desire to explore new horizons. Each bag in this series is the result
                            of a thorough analysis of the needs of modern travelers and professionals.</p>
                        </div>
                        <div class="mistral-text mistral-text-30odjioj ">We welcome wholesale inquiries and can produce
                            small batches for brands seeking high quality leather goods.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mistral-section mistral-section-90bg15o6 ">
    <div class="">
        <div class="container mistral-row-6lehi7bq-wrapper    ">
            <div class="mistral-row-6lehi7bq  flex  ">
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner mistral-column-26dl1j87  1/3">
                        <div class="mistral-wrapper mistral-heading-7t6yn8qe-wrapper "><h2
                                class="mistral-heading mistral-heading-7t6yn8qe " id="i2"><span>&nbsp;Design and Materials
</span></h2></div>
                        <div class="mistral-text mistral-text-xyi6q7hz ">Aviator Bags provides top-quality bags with
                            stylish
                            designs, useful features, and a full production cycle.
                        </div>
                        <div class="mistral-line-dmipjb2y-wrapper ">
                            <hr class="mistral-line-dmipjb2y "/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner mistral-column-1i20qinq  1/3">
                        <div class="mistral-icon-41hud90b-wrapper  "><span class="mistral-icon mistral-icon-41hud90b  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="palette"
                                class="svg-inline--fa fa-palette fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M512 256c0 .9 0 1.8 0 2.7c-.4 36.5-33.6 61.3-70.1 61.3H344c-26.5 0-48 21.5-48 48c0 3.4 .4 6.7 1 9.9c2.1 10.2 6.5 20 10.8 29.9c6.1 13.8 12.1 27.5 12.1 42c0 31.8-21.6 60.7-53.4 62c-3.5 .1-7 .2-10.6 .2C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm0-96a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm96 96a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"></path></svg></span>
                        </div>
                        <div class="mistral-wrapper mistral-heading-6o3n7h75-wrapper "><h5
                                class="mistral-heading mistral-heading-6o3n7h75 "><span>Design</span></h5></div>
                        <div class="mistral-text mistral-text-857bsick "><p>Each model of Aviator bags is designed
                            taking
                            into account the latest fashion trends and the wishes of our customers. We are proud to
                            create not only beautiful, but also user-friendly products. Our designers work on every
                            detail so that the bag not only attracts attention, but also serves as a reliable assistant
                            in everyday life.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner mistral-column-0x66p864  1/3">
                        <div class="mistral-icon-x62os1nf-wrapper  "><span class="mistral-icon mistral-icon-x62os1nf  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="screwdriver-wrench"
                                class="svg-inline--fa fa-screwdriver-wrench fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4h54.1l109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109V104c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.7 374.3c-7.8-20.9-9-43.6-3.6-65.1l-61.7-61.7L19.9 396.1zM512 144c0-10.5-1.1-20.7-3.2-30.5c-2.4-11.2-16.1-14.1-24.2-6l-63.9 63.9c-3 3-7.1 4.7-11.3 4.7H352c-8.8 0-16-7.2-16-16V102.6c0-4.2 1.7-8.3 4.7-11.3l63.9-63.9c8.1-8.1 5.2-21.8-6-24.2C388.7 1.1 378.5 0 368 0C288.5 0 224 64.5 224 144l0 .8 85.3 85.3c36-9.1 75.8 .5 104 28.7L429 274.5c49-23 83-72.8 83-130.5zM56 432a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"></path></svg></span>
                        </div>
                        <div class="mistral-wrapper mistral-heading-379tozqg-wrapper "><h5
                                class="mistral-heading mistral-heading-379tozqg "><span>&nbsp;High-Quality Materials
</span></h5></div>
                        <div class="mistral-text mistral-text-qrtdoudl "><p>Only the best materials are used to make
                            Aviator
                            bags. We carefully select leather, textiles and accessories so that each bag is durable and
                            can withstand all the tests that may come in the way of its owner. The quality of materials
                            plays a key role in creating products that you can be proud of.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner mistral-column-9vw3eisk  1/3">
                        <div class="mistral-icon-bjsmpnlu-wrapper  "><span class="mistral-icon mistral-icon-bjsmpnlu  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="industry"
                                class="svg-inline--fa fa-industry fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M64 32C46.3 32 32 46.3 32 64V304v48 80c0 26.5 21.5 48 48 48H496c26.5 0 48-21.5 48-48V304 152.2c0-18.2-19.4-29.7-35.4-21.1L352 215.4V152.2c0-18.2-19.4-29.7-35.4-21.1L160 215.4V64c0-17.7-14.3-32-32-32H64z"></path></svg></span>
                        </div>
                        <div class="mistral-wrapper mistral-heading-0knezxpo-wrapper "><h5
                                class="mistral-heading mistral-heading-0knezxpo "><span>&nbsp;Capacity and Organization
</span></h5></div>
                        <div class="mistral-text mistral-text-rzpq49kx "><p>Aviator bags are distinguished by the
                            thoughtful
                            organization of the interior space. Each model is equipped with a variety of pockets and
                            compartments, which allows you to conveniently place all the necessary things. No matter if
                            you are going on a business trip or just for a walk around the city, your things will always
                            be in order.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner mistral-column-j3gg4n7k  1/3">
                        <div class="mistral-icon-2ras7pg7-wrapper  "><span class="mistral-icon mistral-icon-2ras7pg7  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                class="svg-inline--fa fa-star fa-fw icon " role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 576 512" data-testid="icon-test"><path fill="currentColor"
                                                                                    d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path></svg></span>
                        </div>
                        <div class="mistral-wrapper mistral-heading-ujycp04z-wrapper "><h5
                                class="mistral-heading mistral-heading-ujycp04z "><span>&nbsp;Comfort and Convenience
</span></h5></div>
                        <div class="mistral-text mistral-text-gr5xm0m5 "><p>We understand how important it is that the
                            bag
                            is comfortable to wear. Therefore, special attention is paid to the ergonomics of belts and
                            handles. Aviator bags are equipped with adjustable straps, which allows you to choose the
                            ideal length for any height. In addition, the materials used to make handles and straps
                            guarantee comfort even during prolonged wear.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner mistral-column-bh5t4o30  1/3">
                        <div class="mistral-icon-vupb4dox-wrapper  "><span class="mistral-icon mistral-icon-vupb4dox  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="truck"
                                class="svg-inline--fa fa-truck fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg></span>
                        </div>
                        <div class="mistral-wrapper mistral-heading-8skn96lg-wrapper "><h5
                                class="mistral-heading mistral-heading-8skn96lg "><span>&nbsp;Design Development
</span></h5></div>
                        <div class="mistral-text mistral-text-plcbfngi "><p></p>
                            <p>Our company offers a full range of services for the creation of Aviator bags. It all
                                starts with the design development. Our professional designers carefully study market
                                trends and customer wishes to create unique and sought-after models. We offer services
                                for creating an individual design, taking into account all the preferences of the
                                customer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mistral-section mistral-section-97hcl6ne ">
    <div class="mistral-container-aei4daw6  ">
        <div class="mistral-container-5vhurx90  ">
            <div class="mistral-wrapper mistral-heading-z2486xtq-wrapper "><h2
                    class="mistral-heading mistral-heading-z2486xtq "
                    id="i3"><span>&nbsp;Prototyping and Testing
</span></h2></div>
            <div class="mistral-text mistral-text-zej0ujaj "><p>After the design is approved, we proceed to the creation
                of
                prototypes. This is an important stage that allows you to evaluate the functionality and appearance of
                the bag before the start of mass production. We conduct thorough testing of prototypes to ensure their
                quality and convenience. Our specialists make the necessary adjustments so that the final product fully
                meets expectations.</p>
            </div>
        </div>
    </div>
    <div class="mistral-container-xsreao1h  ">
        <div class="mistral-container-jx869e6r  ">
            <div class="mistral-imageGallery-kadv3wxc " id="lcl_elems_wrapper_kadv3wxc">
                <div class="justified">
                    <figure class="lightbox-item" data-category="branding design"><img id="acqus8sa"
                                                                                       src="/static/images/photo_2_2024-05-19_11-10-23.jpg"
                                                                                       alt="Image with LightBox"/>
                        <figcaption><span>Image with LightBox</span></figcaption>
                    </figure>
                    <figure class="lightbox-item" data-category="photography"><img id="acqus8se"
                                                                                   src="/static/images/photo_19_2024-05-19_11-10-23.jpg"
                                                                                   alt="caption 4"/>
                        <figcaption><span>caption 4</span></figcaption>
                    </figure>
                    <a href="#" target="_blank" rel="noreferrer">
                        <figure data-category="photography design"><img id="acqus8sl"
                                                                        src="/static/images/photo_17_2024-05-19_11-10-23.jpg"
                                                                        alt="Image with Custom Link"/>
                            <figcaption><span>Image with Custom Link</span></figcaption>
                        </figure>
                    </a>
                    <figure class="lightbox-item" data-category="design"><img id="acqus8su"
                                                                              src="/static/images/photo_13_2024-05-19_11-10-23.jpg"
                                                                              alt="Captions will show on hover"/>
                        <figcaption><span>Captions will show on hover</span></figcaption>
                    </figure>
                </div>
                <span class="cols hidden" data-cols="{&quot;lg&quot;:3,&quot;sm&quot;:2,&quot;md&quot;:3}"></span></div>
        </div>
    </div>
</section>
<section class="mistral-section mistral-section-auqo3z5w ">
    <div class="mistral-container-2z4pi30r  ">
        <div class="mistral-container-1l7gsjs9  ">
            <div class="mistral-text mistral-text-nb6wm7sc " id="i4"><p>We value every customer and offer an individual
                approach to each order. Regardless of the order volume, we guarantee attention to detail and high
                quality service. Our managers are always ready to help you choose the best solutions and answer all your
                questions.</p>
            </div>
        </div>
        <div class="mistral-container-5deu7dvz  ">
            <div class="mistral-wrapper mistral-image-w0x15dob-wrapper "><img
                    src="/static/images/photo_5_2024-05-19_11-10-23.jpg"
                    alt="leather design" loading="lazy" class="mistral-image-w0x15dob "/></div>
        </div>
    </div>
    <div class="mistral-container-4cf8kphi  ">
        <div class="mistral-container-rjza5jrr  ">
            <div class="mistral-text mistral-text-4wk9343d "><p>Quality is our priority. We strictly control every stage
                of
                production to ensure that each bag meets the highest standards. Our products undergo a multi-level
                quality check before they get into the hands of customers.</p>
            </div>
        </div>
        <div class="mistral-container-nqmn53ev  ">
            <div class="mistral-wrapper mistral-image-xgcwq7vr-wrapper "><img
                    src="/static/images/photo_9_2024-05-19_11-10-23.jpg"
                    alt="leather design" loading="lazy" class="mistral-image-xgcwq7vr "/></div>
        </div>
    </div>
    <div class="mistral-container-t4egsl5w  ">
        <div class="mistral-container-6fv4uzr1  ">
            <div class="mistral-text mistral-text-akiabydh "><p>We value our customers' time and strive for maximum
                efficiency in fulfilling orders. Flexibility in production processes allows us to adapt to any
                requirements and quickly respond to changes in orders.</p>
            </div>
        </div>
        <div class="mistral-container-kifj08qb  ">
            <div class="mistral-wrapper mistral-image-l753yi1t-wrapper "><img
                    src="/static/images/photo_11_2024-05-19_11-10-23.jpg"
                    alt="leather design" loading="lazy" class="mistral-image-l753yi1t "/></div>
        </div>
    </div>
    <div class="mistral-container-wstxn2qb  ">
        <div class="mistral-container-xxmr078m  ">
            <div class="mistral-text mistral-text-bglnd9pb "><p>Our work speaks for itself. We are proud of the numerous
                positive reviews from our customers, which confirm the high quality of our bags and the level of
                service. We have successful cases of cooperation with large companies and individual customers who have
                appreciated all the advantages of working with us.</p>
            </div>
        </div>
        <div class="mistral-container-vt3e2pz0  ">
            <div class="mistral-wrapper mistral-image-5qgy9rfw-wrapper "><img
                    src="/static/images/photo_12_2024-05-19_11-10-23.jpg"
                    alt="sewing machine" loading="lazy" class="mistral-image-5qgy9rfw "/></div>
        </div>
    </div>
</section>
<section class="mistral-section symbol--footer mistral-section-lzl6h1z9 ">
    <div class="mistral-container-c5kx78l0  ">
        <div class="mistral-container-s2sqgimw  ">
            <div class="mistral-text mistral-text-rbb1www2 ">Whizzkids Acadamy, Elementaita Rd, Box 1447-20100,
                Nakuru<br>
                ZIP: 5443425<br>
                Phone number: +254512143043
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lc-lightbox-lite@1.2.13/js/lc_lightbox.lite.min.js"></script>
<script type="text/javascript">


    ;(function () {
        (function imageGallery(className, lightBox, id, galleryItems, settings) {
            var createImage = (item) => {
                var figure = document.createElement("figure");
                figure.setAttribute(
                    "data-category",
                    item.category == null ? void 0 : item.category?.join(" ")
                );
                var image = document.createElement("img");
                image.id = item.id;
                image.src = item.src;
                image.alt = item.label;
                var figcaption = document.createElement("figcaption");
                var spanElement = document.createElement("span");
                spanElement.textContent = item.label;
                figcaption.appendChild(spanElement);
                var isCustomUrl = item.action === "customUrl";
                if (isCustomUrl) {
                    var link = document.createElement("a");
                    link.setAttribute("href", item?.customUrl || "#");
                    link.setAttribute("target", item.target);
                    figure.append(image, figcaption);
                    link.appendChild(figure);
                    return link;
                } else {
                    figure.className = !isCustomUrl && "lightbox-item";
                    figure.append(image, figcaption);
                    return figure;
                }
            };

            var {galleryType, maxImage = 3} = settings;

            var imageGalleryClass = document.querySelector(className);
            var previousButton = imageGalleryClass.querySelector(".prev");
            var nextButton = imageGalleryClass.querySelector(".next");
            var size = window?.innerWidth <= 768 ? "sm" : (window?.innerWidth <= 1024 ? "md" : "lg")
            var {cols = "{}"} = imageGalleryClass.querySelector(".cols").dataset
            var columns = JSON.parse(cols)[size];
            var wrapper = galleryType === "justified"
                ? imageGalleryClass.querySelector(".justified")
                : imageGalleryClass.querySelector(`.masonry-${size}`)
            var galleryOptions = {page: 1, category: "all", maxCount: galleryItems.length}


            var appendImageToTheDom = () => {
                wrapper.innerHTML = "";
                var skip = (galleryOptions.page - 1) * maxImage;
                var currentPageImgs = galleryItems
                    .filter(item => galleryOptions.category === "all" || item.category?.includes(galleryOptions.category))
                    .slice(skip, skip + Number(maxImage))
                var images = currentPageImgs.map(createImage)

                if (galleryType === "mesonry") {
                    for (let i = 0; i < columns; i++) {
                        var container = document.createElement("div");
                        container.classList.add("mesonry--image-container")
                        var mesonryItems = images.filter((_, idx) => idx % columns === i)
                        container.append(...mesonryItems)
                        wrapper.append(container)
                    }
                } else {
                    wrapper.append(...images)
                }

                var imageGalleryId = "#lcl_elems_wrapper_" + id;
                var imageFigures = document.querySelectorAll(imageGalleryId + " figure.lightbox-item");

                var generateLightboxData = (el) => {
                    let index = 0;
                    var targetImgId = el.querySelector("img")?.id;
                    var data = currentPageImgs?.map(({src, txt, label, author, id}, idx) => {
                        if (targetImgId === id) {
                            index = idx;
                        }
                        return {
                            id,
                            author,
                            txt,
                            src,
                            title: label,
                            thumb: src,
                            download: src,
                            canonical_url: src,
                        };
                    });
                    return {data, index};
                };
                imageFigures.forEach((el, i) => {
                    if (window.lc_lightbox) {
                        el.addEventListener("click", () => {
                            var {data, index} = generateLightboxData(el);
                            var instance = window.lc_lightbox(data, {
                                ...lightBox,
                                on_close: () =>
                                    window.lcl_destroy(instance),
                            });
                            window.lcl_open(instance, index);
                        });
                    }
                });
            }

            var galleryTab = imageGalleryClass.querySelector(".gallery-tab");
            if (galleryTab) {
                galleryTab.addEventListener("click", (event) => {
                    var category = event.target.value;
                    galleryTab.querySelector(`button[value="${galleryOptions.category}"]`).classList.remove("active")
                    galleryOptions.category = category
                    galleryOptions.page = 1;
                    var images = galleryItems.filter(item => category === "all" || item.category.includes(galleryOptions.category))
                    galleryOptions.maxCount = images.length;
                    galleryTab.querySelector(`button[value="${galleryOptions.category}"]`).classList.add("active")
                    appendImageToTheDom()
                    disableNextPrevButton()
                });
            }

            imageGalleryClass.addEventListener("click", (e) => {
                var figure = e.target.closest("figure");
                if (!figure) return;
                if (figure.parentElement.nodeName === "A") return;
                var {src, alt} = figure.querySelector("img");
            });

            var disableNextPrevButton = () => {
                if (1 === galleryOptions.page)
                    previousButton?.setAttribute("disabled", true);
                else previousButton?.removeAttribute("disabled");

                if (Math.ceil(galleryOptions.maxCount / maxImage) <= galleryOptions.page)
                    nextButton?.setAttribute("disabled", true);
                else nextButton?.removeAttribute("disabled");
            };

            if (previousButton) {
                previousButton.addEventListener("click", () => {
                    galleryOptions.page = Math.max(1, galleryOptions.page - 1);
                    appendImageToTheDom()
                    disableNextPrevButton();
                });
            }

            if (nextButton) {
                nextButton.addEventListener("click", () => {
                    galleryOptions.page = Math.min(Math.ceil(galleryOptions.maxCount / maxImage), galleryOptions.page + 1);
                    appendImageToTheDom()
                    disableNextPrevButton();
                });
            }
            appendImageToTheDom()
            disableNextPrevButton();
        })(".mistral-imageGallery-kadv3wxc", {"type": "advanced"}, "kadv3wxc", [{
            "id": "acqus8sa",
            "src": "/static/images/photo_2_2024-05-19_11-10-23.jpg",
            "label": "Image with LightBox",
            "action": "lightbox",
            "category": ["branding", "design"]
        }, {
            "id": "acqus8se",
            "src": "/static/images/photo_19_2024-05-19_11-10-23.jpg",
            "label": "caption 4",
            "action": "lightbox",
            "category": ["photography"]
        }, {
            "id": "acqus8sl",
            "src": "/static/images/photo_17_2024-05-19_11-10-23.jpg",
            "label": "Image with Custom Link",
            "action": "customUrl",
            "target": "_blank",
            "category": ["photography", "design"]
        }, {
            "id": "acqus8su",
            "src": "images/photo_13_2024-05-19_11-10-23.jpg",
            "label": "Captions will show on hover",
            "action": "lightbox",
            "category": ["design"]
        }], {"galleryType": "justified", "colNumber": "3", "hideOnMobile": false})
    })();</script>




</body>
</html>