<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/images/favicon.png"/>
    <title>Privacy Policy for Our Company</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Privacy Policy for Our Company">
    <meta name="description"
          content="This privacy policy explains how our company protects customers&#39; personal data and ensures data security.">
    <meta property="og:title" content="Privacy Policy for Our Company">
    <meta property="og:description"
          content="This privacy policy explains how our company protects customers&#39; personal data and ensures data security.">
    <meta name="twitter:title" content="Privacy Policy for Our Company">
    <meta name="twitter:description"
          content="This privacy policy explains how our company protects customers&#39; personal data and ensures data security.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" crossorigin="anonymous" href="../static/css/main.css">
    <script type="text/javascript"></script>
<!--    <link rel="stylesheet" href="css.css">-->
    <link rel="stylesheet" href="/static/css/9ewFdl.css">


</head>
<body>

<section class="mistral-section mistral-section-tj0wal1f  color-overlay">
    <div class="">
        <div class="container mistral-row-95skhj7a-wrapper    ">
            <div class="mistral-row-95skhj7a  flex  ">
                <div class="col-lg-1/1 col-md-4/5 ">
                    <div class="column-inner mistral-column-rw6h2jvd  1/1">
                        <div class="mistral-wrapper mistral-heading-kzcoqfqt-wrapper "><h2
                                class="mistral-heading mistral-heading-kzcoqfqt "><span>&nbsp;Privacy Policy
</span></h2></div>
                        <div class="mistral-text mistral-text-dbbz9jio "><p>Introduction</p>
                            <p></p>
                            <p>Our company attaches great importance to the protection of our customers' personal data.
                                The Privacy Policy describes what data we collect, how we use it, and the measures we
                                take to ensure its security. This policy applies to all products and services offered by
                                our company.</p>
                            <p></p>
                            <p>&nbsp;Collecting Personal Information</p>
                            <p></p>
                            <p>&nbsp;Types Of Collected Information</p>
                            <p></p>
                            <p>We may collect various types of information, including:</p>
                            <p></p>
                            <p>1. Personal data: Name, email address, phone number and postal address.</p>
                            <p>2. Financial Data: Payment information such as credit card numbers and bank details.</p>
                            <p>3. Order Information: Details of orders, including purchased items, date and time of
                                purchase.</p>
                            <p>4. Technical Information: IP address, browser type, operating system and other data
                                related to the use of our website and services.</p>
                            <p></p>
                            <p>&nbsp;Ways To Collect Information</p>
                            <p></p>
                            <p>We collect information in several ways:</p>
                            <p></p>
                            <p>1. Direct Collection: When you register on our website, place an order or contact us for
                                support.</p>
                            <p>2. Automatic collection: Through the use of cookies and other technologies that collect
                                information about the use of our site.</p>
                            <p>3. Collection through third parties: We may receive information about you from our
                                partners and other third-party sources with whom you interact.</p>
                            <p></p>
                            <p>&nbsp;Use Of Personal Information</p>
                            <p></p>
                            <p>We use your personal information for various purposes:</p>
                            <p></p>
                            <p>1. Order Processing: To process and fulfill your orders, as well as to provide related
                                services.</p>
                            <p>2. Communications: To send notifications about the status of your orders, news and
                                promotional offers, if you have given your consent to this.</p>
                            <p>3. Service Improvement: To analyze and improve our website, products and services.</p>
                            <p>4. Security: To protect against fraud and other illegal activities, as well as to ensure
                                the security of our systems.</p>
                            <p></p>
                            <p>&nbsp;Transfer Of Personal Information To Third Parties</p>
                            <p></p>
                            <p>We do not sell or share your personal information with third parties except in the
                                following cases:</p>
                            <p></p>
                            <p>1. Service Providers: We may share information with our trusted partners and service
                                providers who assist us in processing orders and providing services.</p>
                            <p>2. Legal requirements: We may disclose your information if required by law or to protect
                                our rights and interests.</p>
                            <p>3. Business transfer: In the event of a merger, acquisition or sale of the company, your
                                information may be transferred to the new owners.</p>
                            <p></p>
                            <p>&nbsp;Protection Of Personal Information</p>
                            <p></p>
                            <p>We take various measures to protect your personal information:</p>
                            <p></p>
                            <p>1. Technical measures: The use of encryption, firewalls and other technologies to protect
                                data.</p>
                            <p>2. Organizational measures: Employee training and access control to personal
                                information.</p>
                            <p>3. Physical measures: Protection of premises and equipment where information is
                                stored.</p>
                            <p></p>
                            <p>&nbsp;Storing Personal Information</p>
                            <p></p>
                            <p>We store your personal information only for as long as it is necessary to fulfill the
                                purposes for which it was collected, or in accordance with legal requirements. After
                                this period, the data will be safely deleted or anonymized.</p>
                            <p></p>
                            <p>&nbsp;Your Rights</p>
                            <p></p>
                            <p>You have the right to:</p>
                            <p></p>
                            <p>1. Access to Information: Request a copy of the personal information we hold about
                                you.</p>
                            <p>2. Correction of data: Require correction of incorrect or incomplete data.</p>
                            <p>3. Data Deletion: Require the deletion of your personal information if it does not
                                contradict legal requirements.</p>
                            <p>4. Processing Restriction: Request a restriction on the processing of your information in
                                certain cases.</p>
                            <p>5. Objection to processing: Object to the processing of your data for marketing
                                purposes.</p>
                            <p>6. Data Transfer: Request the transfer of your data to another service provider.</p>
                            <p></p>
                            <p>&nbsp;Policy Updates</p>
                            <p></p>
                            <p>We may periodically update our privacy policy to take into account changes in our
                                services or legislation. We recommend checking this page regularly to check for current
                                changes. In case of significant changes, we will notify you in an additional way, for
                                example, via email.</p>
                            <p></p>
                            <p>Last updated: May 22, 2024</p>
                            <p></p>
                            <p>---</p>
                            <p></p>
                            <p>Our company values your privacy and strives to ensure reliable protection of your
                                personal information.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container mistral-row-r7qnuvw4-wrapper    ">
            <div class="mistral-row-r7qnuvw4  flex  ">
                <div class="col-lg-1/1 col-md-4/5 ">
                    <div class="column-inner mistral-column-6d78rqos  1/1">
                        <div class="mistral-wrapper mistral-heading-ok3rgama-wrapper "><h2
                                class="mistral-heading mistral-heading-ok3rgama "><span>&nbsp;Terms of Use
</span></h2></div>
                        <div class="mistral-text mistral-text-brgzype2 "><p>&nbsp;Introduction</p>
                            <p></p>
                            <p>These terms of use govern your use of our website and the services provided by our
                                company. Please read these terms and conditions carefully before using our site. By
                                using our website, you agree to these terms and conditions. If you do not agree to these
                                terms, please do not use our website.</p>
                            <p></p>
                            <p>&nbsp;General Provisions</p>
                            <p></p>
                            <p>&nbsp;Acceptance of Terms</p>
                            <p></p>
                            <p>Your use of our site means that you agree to these terms of use. We may update these
                                terms from time to time, and your use of the site after making such changes means that
                                you agree to the updated terms. We recommend checking this page regularly to check for
                                current changes.</p>
                            <p></p>
                            <p>&nbsp;Description of Services</p>
                            <p></p>
                            <p>Our company provides various services, including the sale of bags and accessories, design
                                development and production. We strive to provide an accurate and up-to-date description
                                of all our services, however, we cannot guarantee that the description, photos and other
                                materials on the site will always be completely accurate, complete and up-to-date.</p>
                            <p></p>
                            <p>&nbsp;User Account</p>
                            <p></p>
                            <p>&nbsp;Registration and Security</p>
                            <p></p>
                            <p>To use some of the features of our site, you may need to create an account. You must
                                provide accurate and complete information when registering. You are responsible for
                                maintaining the confidentiality of your password and account, as well as for all
                                activities that occur under your account. You agree to notify us immediately of any
                                unauthorized use of your password or account.</p>
                            <p></p>
                            <p>&nbsp;Rights and Obligations of the User</p>
                            <p></p>
                            <p>&nbsp;Legitimate Use</p>
                            <p></p>
                            <p>You agree to use our site only for legitimate purposes and not to commit actions that may
                                violate the rights of other users or restrict their use of the site. It is prohibited to
                                post materials on the site that are illegal, offensive, defamatory, infringe copyrights
                                or otherwise harm third parties.</p>
                            <p></p>
                            <p>&nbsp;Intellectual Property</p>
                            <p></p>
                            <p>All materials on our website, including texts, images, logos and software, are the
                                property of our company and are protected by copyright and intellectual property laws.
                                You agree not to use, copy, modify or distribute these materials without our prior
                                written consent.</p>
                            <p></p>
                            <p>&nbsp;Orders and Payment</p>
                            <p></p>
                            <p>&nbsp;Making Orders</p>
                            <p></p>
                            <p>When placing an order, you agree to provide accurate and complete information. We reserve
                                the right to cancel or change the order in case of an error, unavailability of the
                                product or other reasons. In case of cancellation of the order, we will contact you to
                                clarify the details.</p>
                            <p></p>
                            <p>&nbsp;Prices and Payment</p>
                            <p></p>
                            <p>All prices on our website are indicated in the currency indicated on the website and are
                                subject to change without prior notice. Payment must be made in full before the goods
                                are shipped. We accept various payment methods listed on the site and adhere to high
                                security standards when processing payments.</p>
                            <p></p>
                            <p>&nbsp;Refunds and Refunds</p>
                            <p></p>
                            <p>&nbsp;Refund Policy</p>
                            <p></p>
                            <p>We strive to ensure our customers' satisfaction and offer a return policy for certain
                                items. Please refer to our return policy on the website for detailed information about
                                which items are subject to return and return conditions.</p>
                            <p></p>
                            <p>&nbsp;Refund Procedure</p>
                            <p></p>
                            <p>If the refund is approved, the refund will be made in accordance with the conditions
                                specified in our refund policy. The refund is made to the original payment method used
                                during the purchase.</p>
                            <p></p>
                            <p>&nbsp;Limitation of Liability</p>
                            <p></p>
                            <p>We are not responsible for any direct, indirect, incidental or consequential damages
                                resulting from the use or inability to use our site or services. This includes, but is
                                not limited to, damages caused by viruses that may infect your computer hardware,
                                software, data, or other property due to your access to, use of, or browsing of our
                                site.</p>
                            <p></p>
                            <p>&nbsp;Applicable Law</p>
                            <p></p>
                            <p>These terms of use are governed by and interpreted in accordance with the laws of the
                                country in which our company is registered. Any disputes arising in connection with
                                these terms are subject to resolution in the appropriate courts of this
                                jurisdiction.</p>
                            <p></p>
                            <p>&nbsp;Changes to Conditions</p>
                            <p></p>
                            <p>We reserve the right to make changes to these terms of use at any time. The changes take
                                effect from the moment they are published on the website. Continued use of the site
                                after the changes are made means that you agree to the new terms.</p>
                            <p></p>
                            <p>&nbsp;Other Conditions</p>
                            <p></p>
                            <p>If any provision of these terms of use is found to be invalid or inapplicable, the
                                remaining provisions remain in force. A waiver of any provision of these terms does not
                                constitute a waiver of the right to enforce any other provision.</p>
                            <p></p>
                            <p>---</p>
                            <p></p>
                            <p>These terms of use are aimed at ensuring the safe and legitimate use of our site and
                                services.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .cookie-banner {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 20px;
        border-radius: 5px;
        width: 90%;
        max-width: 600px;
        display: none; /* Hidden by default */
        z-index: 1000;
    }

    .cookie-banner a {
        color: #f39c12;
        text-decoration: underline;
    }

    .cookie-banner button {
        background-color: #f39c12;
        border: none;
        color: white;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
    }

    .cookie-banner button:hover {
        opacity: 0.9;
    }

</style>
<div class="cookie-banner" id="cookieBanner">
    This site uses special cookies to improve your user experience and service delivery. By continuing to use our site,
    you agree to our <a href="cookie.html" class="tailored-cookie-content-model__link">policy use of cookies</a>.
    <button id="acceptCookies">Accept</button>
</div>

<script type="text/javascript">

    function showCookieBanner() {
        document.getElementById('cookieBanner').style.display = 'block';
    }


    function hideCookieBanner() {
        document.getElementById('cookieBanner').style.display = 'none';
    }


    showCookieBanner();


    document.getElementById('acceptCookies').addEventListener('click', function () {

        hideCookieBanner();
    });

</script>

</body>
</html>