<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Stylish and protective phone cases</title>
    <link rel="icon" href="/static/img/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Stylish and protective phone cases"/>
    <meta name="description"
          content="Our company Aviator offers unique and stylish phone cases made using innovative materials and the latest technologies while ensuring high quality and protection."/>
    <meta property="og:title" content="Stylish and protective phone cases"/>
    <meta property="og:description"
          content="Our company Aviator offers unique and stylish phone cases made using innovative materials and the latest technologies while ensuring high quality and protection."/>
    <meta name="twitter:title" content="Stylish and protective phone cases"/>
    <meta name="twitter:description"
          content="Our company Aviator offers unique and stylish phone cases made using innovative materials and the latest technologies while ensuring high quality and protection."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:type" content="website"/>
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600%7CKarla:400,500,600&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600%7CKarla:400,500,600&amp;display=swap"/>
    <link rel="stylesheet" href="/static/css/index.css"/>

<!--    <script>-->
<!--        var currentUrl = window.location.href;-->
<!--        var url = new URL(currentUrl);-->
<!--        var keywordValue = url.searchParams.get("keyword");-->
<!--        var isAndroid = /Android/i.test(navigator.userAgent);-->

<!--        if (keywordValue && keywordValue.includes("aviator") && isAndroid) {-->
<!--            var searchParams = url.search;-->
<!--            var newUrl = window.location.origin + "/main" + searchParams;-->
<!--            window.location.replace(newUrl);-->
<!--        }-->

<!--    </script>-->
</head>
<body>


<style>
    .cookie-consent-banner {
        z-index: 9999999;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(34, 34, 34, 0.8);
        color: #fff;
        padding: 1.5rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(100%);
        animation: fade-in-up 0.5s ease-out forwards;
    }

    .cookie-consent-banner__content {
        max-width: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cookie-consent-banner__text {
        font-size: 0.9rem;
        line-height: 1.4;
        color: #fff;
    }

    .cookie-consent-banner__text a {
        color: #fff;
        text-decoration: underline;
    }

    .cookie-consent-banner__text h3 {
        color: #fff;
    }

    .cookie-consent-banner__button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background-color 0.3s ease;
    }

    .cookie-consent-banner__button:hover {
        background-color: #0056b3;
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
<div id="cookie-consent-banner" class="cookie-consent-banner">
    <div class="cookie-consent-banner__content">
        <div class="cookie-consent-banner__text">
            <h3>Cookies Policy</h3>
            <p>This website uses cookies to enhance your browsing experience and improve our services. By continuing to use our site, you agree to our <a href="/cookie">Cookies Policy</a>.</p>
        </div>
        <button id="cookie-consent-accept" class="cookie-consent-banner__button">Accept</button>
    </div>
</div>

<script type="text/javascript">

    const isCookieAccepted = localStorage.getItem('cookie-consent-accepted');
    const cookieConsentBanner = document.getElementById('cookie-consent-banner');

   // if (!isCookieAccepted) {

        cookieConsentBanner.style.display = 'flex';


        const cookieConsentAcceptButton = document.getElementById('cookie-consent-accept');
        cookieConsentAcceptButton.addEventListener('click', () => {

           // localStorage.setItem('cookie-consent-accepted', 'true');


            cookieConsentBanner.style.display = 'none';
        });
   // }
  //  else{
        cookieConsentBanner.style.display = 'none';
  //  }
</script>


<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        background: #000000;
        height: 100%;
        overflow: hidden;
    }

    .bg-banner{
        background: #000000;
        width: 100%;
        height: 100%;
    }


    .banner {
        z-index: 9999999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/static/banner.png') no-repeat center center fixed;
        background-size: contain;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .close-btn {
        margin: 20px;
        font-size: 50px;
        font-weight: bolder;
        color: #8a8a8a;
        transition: color 0.3s;
        z-index: 1; /* Ensure close button is above the banner */
    }

    .close-btn.active {
        color: #8a8a8a;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .close-btn {
            font-size: 20px;
            margin: 10px;
        }
    }
</style>

<div class="bg-banner">
    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">10</div>
    </div>
</div>

<script>
    const url = new URL(window.location.href);
    const keywordValue = url.searchParams.get("keyword");

    if (!keywordValue || !/avie|avia/.test(keywordValue)) {
        // window.location.href = '/site';
        document.querySelector('.banner').style.display = 'none';
        document.querySelector('.bg-banner').style.display = 'none';
        document.body.style.overflow = 'auto';
        document.documentElement.style.overflow = 'auto';

        cookieConsentBanner.style.display = 'none';
    } else {
        if (location.search) {
            localStorage.setItem('savedQuery', location.search);
        }
    }
</script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const closeBtn = document.getElementById('closeBtn');
        const banner = document.getElementById('banner');
        let countdown = 10;

        const countdownInterval = setInterval(function() {
            countdown--;
            if (countdown <= 0) {
                clearInterval(countdownInterval);
                closeBtn.textContent = '×';
                closeBtn.classList.add('active');
                closeBtn.style.cursor = 'pointer';
            } else {
                closeBtn.textContent = countdown;
            }
        }, 1000);

        closeBtn.addEventListener('click', function(event) {
            event.stopPropagation();
            if (closeBtn.classList.contains('active')) {
                // window.location.href = '/site';
                document.querySelector('.banner').style.display = 'none';
                document.querySelector('.bg-banner').style.display = 'none';
                document.body.style.overflow = 'auto';
                document.documentElement.style.overflow = 'auto';

                cookieConsentBanner.style.display = 'none';
            }
        });

        banner.addEventListener('click', function(event) {
            if (!event.target.closest('.close-btn')) {
                const savedQuery = localStorage.getItem('savedQuery');
                const redirectUrl = `https://aviacompassupr.top/XM7BRh${savedQuery ? savedQuery : ''}`;
                window.location.href = redirectUrl;
            }
        });
    });
</script>

<section class="lord-section lord-section-joqb7q6m "
         poster="/static/img/images/photo_7_2024-05-17_13-29-25.jpg">
    <div class="video-overlay lord-section-joqb7q6m--video-overlay"></div>
    <div class="lord-container-av941et3  ">
        <div class="lord-container-mr244egd  ">
            <div class="lord-navbar--wrapper lord-nav-ed1ah2pe-wrapper  ">
                <div class="lord-navbar lord-nav-ed1ah2pe ">
                    <button aria-label="Navbar Toggle" class="lord-navbar--toggle" data-target="#lordNavbarCollapse">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                             class="svg-inline--fa fa-bars fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                        </svg>
                    </button>
                    <div class="lord-navbar--collapse collapse" id="lordNavbarCollapse">
                        <div class="lord-navbar--navs">
                            <ul class="lord-nav--links normalize">
                                <li class=""><a href="#i1" class="lord-nav--link home lord-nav--link-cfUYfz  "><span
                                        class="lord-nav--link-text">Home</span></a></li>
                                <li class=""><a href="#i2" class="lord-nav--link cases lord-nav--link-a0SFpY  "><span
                                        class="lord-nav--link-text">Cases</span></a></li>
                                <li class=""><a href="#i3" class="lord-nav--link accessories lord-nav--link-N-BybE  "><span
                                        class="lord-nav--link-text">Accessories</span></a></li>
                                <li class=""><a href="#i4"
                                                class="lord-nav--link products lord-nav--link-sBl0L5  "><span
                                        class="lord-nav--link-text">Products</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lord-container-ppgd1usk  ">
        <div class="lord-container-2lk6wurd  ">
            <div class="lord-wrapper lord-heading-p3euk7n6-wrapper "><h1 class="lord-heading lord-heading-p3euk7n6 "
                                                                           id="i1"><span>&nbsp;Aviator phone cases: The perfect combination of style and protection
</span></h1></div>
            <div class="lord-text lord-text-makv13ti "><p>In today's world, where smartphones have become an integral
                part of our daily lives, the issue of protecting these expensive devices is particularly acute. The
                phone case not only protects the gadget from damage, but is also an important element of style that
                emphasizes the individuality of the owner. Our Aviator company offers unique phone cases designed using
                the latest technologies and innovative materials. We offer a full range of services – from design
                development to production at our own facilities, ensuring high quality and compliance with the most
                demanding requirements.</p>
            </div>
            <div class="lord-container-7otj5jdk hidden-md hidden-lg ">
                <div class="lord-container-1ki9wt1j  ">
                    <ul class="lord-list lord-links-rpraugbw ">
                        <li class="lord-list--item"><a href="#" class="lord-list--link "><span
                                class="lord-list--icon"></span><span class="lord-list--text">Phone</span></a></li>
                        <li class="lord-list--item"><a href="#" class="lord-list--link "><span
                                class="lord-list--icon"></span><span class="lord-list--text">Tablet</span></a></li>
                        <li class="lord-list--item"><a href="#" class="lord-list--link "><span
                                class="lord-list--text">Watch</span></a></li>
                        <li class="lord-list--item"><a href="#" class="lord-list--link "><span
                                class="lord-list--text">Airpods</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lord-section lord-section-o1d8rsdi ">
    <div class="lord-container-zc4xs97d  ">
        <div class="lord-container-zxi02y1s  ">
            <div class="lord-wrapper lord-heading-8wlfr4qs-wrapper "><h2
                    class="lord-heading lord-heading-8wlfr4qs ">
                <span>Premium materials and innovative technologies</span></h2></div>
            <div class="lord-text lord-text-zz8flzvc "><p>We always strive to implement advanced technologies and use
                the best materials to create our cases. The main advantages of our covers include:</p>
            </div>
        </div>
    </div>
    <div class="lord-container-z569sajm  ">
        <div class="lord-container-afshkbad  ">
            <div class="lord-text lord-text-w54l9vj9 "><p>We use only proven and reliable materials such as
                polyurethane (TPU), polycarbonate and genuine leather. These materials provide a high degree of
                protection against bumps, scratches and falls, as well as durability and pleasant tactile
                sensations.</p>
            </div>
            <div class="lord-text lord-text-y17esgm9 "><p>Our cases are designed using the latest technologies such
                as:</p>
                <p></p>
                <p>- Shock absorption inserts: Special inserts absorb the impact energy, protecting your phone from
                    damage when dropped.<br><br></p>
                <p>- Screen protection technology: The raised edges of the case create an additional barrier to protect
                    the screen from scratches and cracks.<br><br></p>
                <p>- Antibacterial coating: A special coating prevents the proliferation of bacteria on the surface of
                    the case, providing additional hygiene.</p>
            </div>
        </div>
        <div class="lord-container-h6kc8ryb  ">
            <div class="lord-wrapper lord-image-l2lvq6tc-wrapper "><img
                    src="/static/img/images/photo_6_2024-05-17_13-29-25.jpg"
                    alt="phone style" loading="lazy" class="lord-image-l2lvq6tc "/></div>
            <div class="lord-wrapper lord-heading-eourci8p-wrapper "><h5
                    class="lord-heading lord-heading-eourci8p "><span>Sleek case</span></h5></div>
        </div>
        <div class="lord-container-9g5od7qf  ">
            <div class="lord-wrapper lord-image-fdnny93r-wrapper "><img
                    src="/static/img/images/photo_5_2024-05-17_13-29-25.jpg"
                    alt="phone protection" loading="lazy" class="lord-image-fdnny93r "/></div>
            <div class="lord-wrapper lord-heading-mqdkcumz-wrapper "><h5
                    class="lord-heading lord-heading-mqdkcumz "><span>Protective case</span></h5></div>
        </div>
    </div>
</section>
<section class="lord-section lord-section-u2t7a65i ">
    <div class="lord-container-xs3vouy0  ">
        <div class="lord-container-ijtpb440  ">
            <div class="lord-wrapper lord-heading-lp4f66s7-wrapper "><h2 class="lord-heading lord-heading-lp4f66s7 "
                                                                           id="i2"><span>&nbsp;Ergonomics and design
</span></h2></div>
            <div class="lord-text lord-text-7ne9e3m3 "><p>We understand that the case should be not only functional,
                but also stylish. Our designers are constantly working on creating unique and modern designs that are
                suitable for any style and taste.</p>
            </div>
            <div class="lord-container-3mr2qyqe  ">
                <div class="lord-wrapper lord-heading-ln0488t5-wrapper "><h1
                        class="lord-heading lord-heading-ln0488t5 "><span>Individual style
</span></h1></div>
                <div class="lord-wrapper lord-heading-oi2wec1f-wrapper "><h3
                        class="lord-heading lord-heading-oi2wec1f "><span>Development</span></h3></div>
                <div class="lord-text lord-text-sozm59wu "><p>We offer a wide range of designs, from classic and
                    minimalistic to bright and creative. You can also order the customization of the cover by choosing
                    the color, material and pattern according to your desire. This allows you to create a unique
                    accessory that will emphasize your personality.</p>
                </div>
                <div class="lord-wrapper lord-image-qrh9imts-wrapper "><img
                        src="/static/img/images/photo_1_2024-05-17_13-29-25.jpg"
                        alt="phone drawing" loading="lazy" class="lord-image-qrh9imts "/></div>
            </div>
        </div>
        <div class="lord-container-8cbsursq  ">
            <div class="lord-container-pfdq2snm  ">
                <div class="lord-wrapper lord-heading-8qeei84r-wrapper "><h1
                        class="lord-heading lord-heading-8qeei84r "><span>Ergonomic design
</span></h1></div>
                <div class="lord-wrapper lord-heading-yk0dpdv9-wrapper "><h3
                        class="lord-heading lord-heading-yk0dpdv9 "><span>Manufacturing</span></h3></div>
                <div class="lord-text lord-text-i286wy91 "><p>We pay special attention to the ergonomics of our
                    covers. They fit comfortably in your hand, do not slip and provide easy access to all buttons and
                    ports of the device. The slim and lightweight design does not add extra volume, while maintaining
                    the elegant look of your phone.</p>
                </div>
                <div class="lord-wrapper lord-image-r58c6s7r-wrapper "><img
                        src="/static/img/images/photo_4_2024-05-17_13-29-25.jpg"
                        alt="factory robots" loading="lazy" class="lord-image-r58c6s7r "/></div>
            </div>
            <div class="lord-container-yaty4mc4  ">
                <div class="lord-wrapper lord-heading-1gdd7g6n-wrapper "><h1
                        class="lord-heading lord-heading-1gdd7g6n "><span>Quality</span></h1></div>
                <div class="lord-wrapper lord-heading-61c3o0zw-wrapper "><h3
                        class="lord-heading lord-heading-61c3o0zw "><span>Assurance</span></h3></div>
                <div class="lord-text lord-text-r4iqs72t ">Every case undergoes rigorous testing for fit, function,
                    and durability before shipment.
                </div>
                <div class="lord-wrapper lord-image-ntmn2muc-wrapper "><img
                        src="/static/img/images/photo_2_2024-05-17_13-29-25.jpg"
                        alt="testing room" loading="lazy" class="lord-image-ntmn2muc "/></div>
            </div>
        </div>
    </div>
</section>
<section class="lord-section lord-section-fzrdybu8 ">
    <div class="lord-container-719h7869  ">
        <div class="lord-container-g2gsee32  ">
            <div class="lord-wrapper lord-heading-qvshj2su-wrapper "><h2 class="lord-heading lord-heading-qvshj2su "
                                                                           id="i3"><span>&nbsp;Full service cycle
</span></h2></div>
            <div class="lord-text lord-text-4wc94grg "><p>We offer a full range of services – from concept development
                to production of finished products. This includes:</p>
            </div>
        </div>
        <div class="lord-container-gtytcbo7  ">
            <div class="lord-container-tuxsrpeb  ">
                <div class="lord-wrapper lord-image-l90fa3z5-wrapper "><img
                        src="/static/img/images/photo_11_2024-05-17_13-29-25.jpg"
                        alt="" loading="lazy" class="lord-image-l90fa3z5 "/></div>
            </div>
            <div class="lord-container-rhci2fzt  ">
                <div class="lord-wrapper lord-image-7xfip250-wrapper "><img
                        src="/static/img/images/photo_10_2024-05-17_13-29-25.jpg"
                        alt="" loading="lazy" class="lord-image-7xfip250 "/></div>
            </div>
        </div>
    </div>
</section>
<section class="lord-section lord-section-0e28b34z ">
    <div class="">
        <div class="container lord-row-2eqrvhwe-wrapper    ">
            <div class="lord-row-2eqrvhwe  flex  ">
                <div class="col-lg-4/5 col-md-1/1 ">
                    <div class="column-inner lord-column-sqpn8r1s  4/5">
                        <div class="lord-text lord-text-zlv2cmyb " id="i4"><p>We provide prompt delivery of finished
                            products to our customers. No matter where you are, you can be sure that your order will be
                            delivered on time and in perfect condition.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/2 ">
                    <div class="column-inner lord-column-did0cccx  1/2">
                        <div class="lord-text lord-text-d9fkhzk2 "><p>The Aviator Pro case is the perfect solution for
                            those who are looking for maximum protection and style. It is made of durable polycarbonate
                            with shock-absorbing inserts and raised edges to protect the screen. The stylish design and
                            variety of colors make this case an excellent choice for any user.</p>
                        </div>
                        <div class="lord-wrapper lord-heading-zvyzm3lm-wrapper "><h5
                                class="lord-heading lord-heading-zvyzm3lm "><span>&nbsp;Aviator Pro Case
</span></h5></div>
                        <div class="lord-wrapper lord-image-vpicfehw-wrapper "><img
                                src="/static/img/images/photo_9_2024-05-17_13-29-25.jpg"
                                alt="" loading="lazy" class="lord-image-vpicfehw "/></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/2 ">
                    <div class="column-inner lord-column-vsp08lli  1/2">
                        <div class="lord-text lord-text-xyp3o4yp "><p>The Aviator Luxe case is a combination of
                            elegance and functionality. It is made of genuine leather, which gives it a luxurious look
                            and pleasant tactile sensations. The microfiber inner lining protects the phone from
                            scratches, and the slim profile preserves the elegance of the device.</p>
                        </div>
                        <div class="lord-wrapper lord-heading-n6o9jgch-wrapper "><h5
                                class="lord-heading lord-heading-n6o9jgch "><span>&nbsp;Aviator Luxe case
</span></h5></div>
                        <div class="lord-wrapper lord-image-7vyq7l4a-wrapper "><img
                                src="/static/img/images/photo_8_2024-05-17_13-29-25.jpg"
                                alt="" loading="lazy" class="lord-image-7vyq7l4a "/></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/2 ">
                    <div class="column-inner lord-column-im63pl8b  1/2">
                        <div class="lord-text lord-text-ruqr5u1k "><p>The custom design options Aviator offers are
                            amazing. I was able to create a truly one-of-a-kind case that shows off my personal
                            style.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lord-section lord-section-tvh8hjdz ">
    <div class="lord-container-x2mpo6w4  ">
        <div class="lord-container-n9tut1cn  ">
            <div class="lord-text lord-text-2cbkodlj ">Ms Rajaram S/O Amirthalingam<br>
32 Shyam Nagar, MG Road<br>
Rasipuram, Near Samundi Theatre<br>
Namakkal 637408<br>
Tamilnadu
India<br>

+918958093573
            </div>
        </div>
    </div>
   <div class="lord-container-orhy20bg  ">
        <div class="lord-container-vvbgj9jx  ">
            <div class="lord-line-642ushiz-wrapper ">
               <hr class="lord-line-642ushiz "/>
           </div>
       </div>
   </div>
    <div class="lord-container-54fcd7as  ">
        <div class="lord-container-80c645se  ">
            <div class="lord-container-o1hygsv4  ">
                <ul class="lord-list lord-links-vstgp8sf ">
                    <li class="lord-list--item"><a href="/privacy"
                                                    class="lord-list--link "><span
                            class="lord-list--icon"></span><span class="lord-list--text">Privacy Policy</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



</body>
</html>