<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/images/favicon.ico"/>
    <title>Data protection and privacy in AVIATOR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Data protection and privacy in AVIATOR">
    <meta name="description" content="Our privacy policy explains how we collect, use, and protect your personal data.">
    <meta property="og:title" content="Data protection and privacy in AVIATOR">
    <meta property="og:description"
          content="Our privacy policy explains how we collect, use, and protect your personal data.">
    <meta name="twitter:title" content="Data protection and privacy in AVIATOR">
    <meta name="twitter:description"
          content="Our privacy policy explains how we collect, use, and protect your personal data.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" crossorigin="anonymous" href="/static/css/main.css">
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/privacy.css">


</head>
<body>

<section class="kita-section kita-section-l05m97te ">
    <div class="kita-container-w8sozu6g  ">
        <div class="kita-container-lziudkgu  ">
            <div class="kita-wrapper kita-heading-sa6ugdpa-wrapper "><h2
                    class="kita-heading kita-heading-sa6ugdpa "><span>&nbsp;AVIATOR's Privacy Policy
</span></h2></div>
            <div class="kita-text kita-text-lyvf75ip "><p>AVIATOR (hereinafter referred to as the "Company", "we",
                "our" or "us") respects your right to privacy and strives to protect the personal data that we collect,
                use and store as part of our activities. This Privacy Policy describes what data we collect, how we use
                it, and your rights with respect to this data. Please read this policy carefully.</p>
                <p></p>
                <p>&nbsp;Data collection and use</p>
                <p></p>
                <p>1. Personal Data</p>
                <p></p>
                <p>We may collect and process the following personal data:</p>
                <p></p>
                <p>- Contact information: name, email address, phone number, mailing address.</p>
                <p>- Financial information: credit card details, bank details (for payment processing).</p>
                <p>- Purchase Information: order details, purchase history.</p>
                <p>- Site Usage Information: data about your visit to our site, including IP address, browser type,
                    pages you visited, time of visit and other similar data.</p>
                <p></p>
                <p>&nbsp;2. Data usage</p>
                <p></p>
                <p>We use the collected data for the following purposes:</p>
                <p></p>
                <p>- Order Processing and Fulfillment: To process your orders, deliver products and provide
                    services.</p>
                <p>- Customer Service: To respond to your inquiries and provide support.</p>
                <p>- Marketing Communications: to send you information about our products, services and offers (with
                    your consent).</p>
                <p>- Analytics and Service improvement: to analyze the use of our site and improve the quality of
                    services provided.</p>
                <p>- Legal Obligations: to comply with our legal and regulatory obligations.</p>
                <p></p>
                <p>&nbsp;Data Disclosure</p>
                <p></p>
                <p>We do not sell, exchange or transfer your personal data to third parties without your consent, except
                    in the following cases:</p>
                <p></p>
                <p>- Service Providers: We may share your data with our trusted partners and service providers who
                    assist us in our operational activities (for example, payment processing, delivery of goods).</p>
                <p>- Legal Requirements: We may disclose your data if required by law or to protect our rights, property
                    or safety.</p>
                <p></p>
                <p>&nbsp;Data storage</p>
                <p></p>
                <p>We only store your personal data for as long as necessary to fulfill the purposes for which it was
                    collected and in accordance with applicable laws and regulations.</p>
                <p></p>
                <p>&nbsp;Data security</p>
                <p></p>
                <p>We take all reasonable measures to protect your personal data from unauthorized access, use or
                    disclosure. Our security measures include technical, administrative and physical measures aimed at
                    protecting data.</p>
                <p></p>
                <p>&nbsp;Your rights</p>
                <p></p>
                <p>You have the following rights with respect to your personal data:</p>
                <p></p>
                <p>- Right of access: You have the right to request a copy of your personal data that we store.</p>
                <p>- Right to correction: You have the right to request correction of your personal data if it is
                    inaccurate or incomplete.</p>
                <p>- Right to delete: You have the right to request the deletion of your personal data if it is no
                    longer needed for the purposes for which it was collected, or if you withdraw your consent to its
                    processing.</p>
                <p>- Right to restrict processing: You have the right to request a restriction on the processing of your
                    data under certain conditions.</p>
                <p>- Right to transfer data: You have the right to receive your data in a structured, generally accepted
                    and machine-readable format and transfer it to another data controller.</p>
                <p>- Right to object: You have the right to object to the processing of your data in certain cases.</p>
                <p></p>
                <p>&nbsp;Changes to the Privacy Policy</p>
                <p></p>
                <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by
                    posting the updated policy on our website. We recommend that you review this page regularly to keep
                    up to date with the changes.</p>
                <p></p>
                <p>&nbsp;Contact information</p>
                <p></p>
                <p>If you have any questions or comments about this Privacy Policy or if you would like to exercise your
                    rights, please contact us:</p>
                <p></p>
                <p>We thank you for your trust in AVIATOR and are confident that we will continue to provide you with
                    high-quality products and services while protecting your privacy.</p>
                <p></p>
            </div>
        </div>
    </div>
</section>
<section class="kita-section kita-section-ccbhf6a6 ">
    <div class="">
        <div class="container kita-row-mqf8x25h-wrapper    ">
            <div class="kita-row-mqf8x25h  flex  ">
                <div class="col-lg-1/1 col-md-3/5 ">
                    <div class="column-inner kita-column-wior1gst  1/1">
                        <div class="kita-wrapper kita-heading-rxnti5mq-wrapper "><h2
                                class="kita-heading kita-heading-rxnti5mq "><span>Terms of Use

</span></h2></div>
                        <div class="kita-text kita-text-1cjle191 "><p>Welcome to the AVIATOR Skateboards website. By
                            using our website and services, you agree to the terms set out in these Terms of Use. Please
                            read these terms and conditions carefully before using our site.</p>
                            <p></p>
                            <p>2. Acceptable use</p>
                            <p></p>
                            <p>You agree to use our website only for legitimate purposes and in accordance with these
                                Terms of Use. It is prohibited to use our site for any illegal purposes, transfer or
                                receive materials that may violate laws or the rights of third parties, distribute
                                malware or violate intellectual property rights.</p>
                            <p></p>
                            <p>3. Intellectual Property</p>
                            <p></p>
                            <p>All materials on our website, including texts, images, graphics, logos and software, are
                                the intellectual property of AVIATOR Skateboards or are used with the permission of
                                their respective owners. You may not use these materials without our written
                                permission.</p>
                            <p></p>
                            <p>4. User-generated content</p>
                            <p></p>
                            <p>You may post reviews, comments and other materials on our site, provided that they are
                                not illegal, obscene, threatening, defamatory, infringing on intellectual property
                                rights or otherwise unacceptable. You grant us a non-exclusive, free, worldwide right to
                                use, modify, reproduce and distribute such content.</p>
                            <p></p>
                            <p>5. Confidentiality</p>
                            <p></p>
                            <p>We process your personal information in accordance with our Privacy Policy. By using our
                                website, you agree to such processing and guarantee that all data provided by you is
                                accurate and up-to-date.</p>
                            <p></p>
                            <p>6. Disclaimer of warranties</p>
                            <p></p>
                            <p>Our website and services are provided "as is" and "as available". We make no guarantees,
                                express or implied, regarding the operation of our site, its content or the services
                                provided.</p>
                            <p></p>
                            <p>7. Changes in the conditions</p>
                            <p></p>
                            <p>We reserve the right to change these Terms of Use at any time. We will notify you of such
                                changes by posting an updated version on our website.</p>
                            <p></p>
                            <p>8. Termination of use</p>
                            <p></p>
                            <p>We reserve the right to terminate or restrict your access to our site at any time without
                                prior notice and without giving reasons.</p>
                            <p></p>
                            <p>9. Applicable law</p>
                            <p></p>
                            <p>These Terms of Use are governed by and interpreted in accordance with the laws of the
                                country in which our company is registered, without regard to the principles of conflict
                                of laws.</p>
                            <p></p>
                            <p>10. Contact us</p>
                            <p></p>
                            <p>If you have any questions or comments about these Terms of Use, please contact us via our
                                website.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .cookie-dialog {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .cookie-dialog-content {
        max-width: 800px;
        background-color: rgba(18, 18, 18, 0.6);
        color: #f5f5f5;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .cookie-dialog-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
        color: #f5f5f5;
    }

    .cookie-dialog-text {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 24px;
    }

    .cookie-dialog-button {
        background-color: #2962ff;
        color: #f5f5f5;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .cookie-dialog-button:hover {
        background-color: #0039cb;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <h2 class="cookie-dialog-title">Cookie Policy</h2>
        <p class="cookie-dialog-text">
            To enhance your user experience, we utilize cookies. They assist us in remembering your preferences and providing personalized content. Additionally, we collect anonymous site visit statistics to improve our performance. By continuing to use our website, you consent to the use of cookies. If you do not agree, kindly disable them in your browser settings. Thank you for your understanding!
        </p>
        <button id="accept-cookies" class="cookie-dialog-button">Accept All</button>
    </div>
</div>

<script>

    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        localStorage.setItem('cookiesAccepted', 'true');

        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>

</body>
</html>