<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cookie</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Cookie">
    <meta property="og:title" content="Cookie">
    <meta name="twitter:title" content="Cookie">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css?family=DM+Sans:400,500&display=swap">
    <link rel="stylesheet" href="/static/css/doc.css?">


</head>
<body>

<section class="jiraf-section symbol--header jiraf-section-8kv52e75 ">
    <div class="">
        <div class="container jiraf-row-80vj5xo8-wrapper    ">
            <div class="jiraf-row-80vj5xo8  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner jiraf-column-3nlzswir  1/1">
                        <div class="jiraf-navbar--wrapper jiraf-nav-kflzsvrm-wrapper  sticky-nav">
                            <div class="jiraf-navbar jiraf-nav-kflzsvrm ">
                                <button aria-label="Navbar Toggle" class="jiraf-navbar--toggle"
                                        data-target="#jirafNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="jiraf-navbar--collapse collapse" id="jirafNavbarCollapse">
                                    <div class="jiraf-navbar--navs">
                                        <ul class="jiraf-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="jiraf-nav--link home jiraf-nav--link-2suuvmpu  "><span
                                                    class="jiraf-nav--link-icon"></span><span
                                                    class="jiraf-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="jiraf-nav--link privacy-policy jiraf-nav--link-jrjtnw95  "><span
                                                    class="jiraf-nav--link-icon"></span><span
                                                    class="jiraf-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="jiraf-nav--link cookies jiraf-nav--link-bzdz1ay2  "><span
                                                    class="jiraf-nav--link-icon"></span><span
                                                    class="jiraf-nav--link-text">Cookies</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="jiraf-nav--link terms-of-use jiraf-nav--link-xbr0av3x  "><span
                                                    class="jiraf-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="jiraf-nav--link dmca jiraf-nav--link-fgxm9htx  "><span
                                                    class="jiraf-nav--link-text">dmca</span></a></li>
                                            <li class=""><a href="data_products.html"
                                                            class="jiraf-nav--link data-products jiraf-nav--link-6hwn9h68  "><span
                                                    class="jiraf-nav--link-text">data products</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="jiraf-section jiraf-section-abww6bmc ">
    <div class="">
        <div class="container jiraf-row-x7vuy0wj-wrapper    ">
            <div class="jiraf-row-x7vuy0wj  flex  ">
                <div class="col-lg-1/1 col-md-3/5 ">
                    <div class="column-inner jiraf-column-z7mfsmqf  1/1">
                        <div class="jiraf-wrapper jiraf-heading-qbaetc3n-wrapper "><h2
                                class="jiraf-heading jiraf-heading-qbaetc3n "><span>Cookie Policy for aviatorgamepro.xyz
</span></h2></div>
                        <div class="jiraf-text jiraf-text-0fm22n6k "><p>&nbsp;Use of cookies<br></p>
                            <p></p>
                            <p>We use cookies to:</p>
                            <p>- Ensuring the operation of the site.</p>
                            <p>- Improved functionality and analysis.</p>
                            <p><br></p>
                            <p>&nbsp;Cookie management</p>
                            <p><br></p>
                            <p>You can configure the use of cookies through your browser settings. Disabling cookies may
                                affect the operation of the site.</p>
                            <p><br></p>
                            <p>For questions, write to [support@aviatorgamepro.xyz ](mailto:support@aviatorgamepro.xyz ).</p>
                            <p><br></p>
                            <p>Effective date: July 4, 2024</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




</body>
</html>