<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Terms of use</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Terms of use">
    <meta property="og:title" content="Terms of use">
    <meta name="twitter:title" content="Terms of use">
    <meta name="twitter:card" content="summary_large_image">

    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/css.css?family=DM+Sans:400,500&display=swap">
    <link rel="stylesheet" href="/static/css/doc.css?">


</head>
<body>

<section class="jiraf-section symbol--header jiraf-section-8kv52e75 ">
    <div class="">
        <div class="container jiraf-row-80vj5xo8-wrapper    ">
            <div class="jiraf-row-80vj5xo8  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner jiraf-column-3nlzswir  1/1">
                        <div class="jiraf-navbar--wrapper jiraf-nav-kflzsvrm-wrapper  sticky-nav">
                            <div class="jiraf-navbar jiraf-nav-kflzsvrm ">
                                <button aria-label="Navbar Toggle" class="jiraf-navbar--toggle"
                                        data-target="#jirafNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="jiraf-navbar--collapse collapse" id="jirafNavbarCollapse">
                                    <div class="jiraf-navbar--navs">
                                        <ul class="jiraf-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="jiraf-nav--link home jiraf-nav--link-2suuvmpu  "><span
                                                    class="jiraf-nav--link-icon"></span><span
                                                    class="jiraf-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="jiraf-nav--link privacy-policy jiraf-nav--link-jrjtnw95  "><span
                                                    class="jiraf-nav--link-icon"></span><span
                                                    class="jiraf-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="jiraf-nav--link cookies jiraf-nav--link-bzdz1ay2  "><span
                                                    class="jiraf-nav--link-icon"></span><span
                                                    class="jiraf-nav--link-text">Cookies</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="jiraf-nav--link terms-of-use jiraf-nav--link-xbr0av3x  "><span
                                                    class="jiraf-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="jiraf-nav--link dmca jiraf-nav--link-fgxm9htx  "><span
                                                    class="jiraf-nav--link-text">dmca</span></a></li>
                                            <li class=""><a href="data_products.html"
                                                            class="jiraf-nav--link data-products jiraf-nav--link-6hwn9h68  "><span
                                                    class="jiraf-nav--link-text">data products</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="jiraf-section jiraf-section-abww6bmc ">
    <div class="">
        <div class="container jiraf-row-x7vuy0wj-wrapper    ">
            <div class="jiraf-row-x7vuy0wj  flex  ">
                <div class="col-lg-1/1 col-md-3/5 ">
                    <div class="column-inner jiraf-column-z7mfsmqf  1/1">
                        <div class="jiraf-wrapper jiraf-heading-qbaetc3n-wrapper "><h2
                                class="jiraf-heading jiraf-heading-qbaetc3n "><span>Terms of Use
</span></h2></div>
                        <div class="jiraf-text jiraf-text-0fm22n6k "><p>&nbsp;Introduction<br><br></p>
                            <p></p>
                            <p>Welcome to our website. These Terms of Use (hereinafter referred to as the "Terms")
                                regulate your use of our website and the services provided by our company (hereinafter
                                referred to as "the Company", "we", "us" or "our"). Please read these Terms and
                                Conditions carefully before using the site. By using the site, you agree to comply with
                                and accept these Terms. If you do not agree to the Terms, please do not use our
                                website.</p>
                            <p><br></p>
                            <p>&nbsp;Using the site<br></p>
                            <p></p>
                            <p>1. Access and use: You may use our site and services only for legitimate purposes and in
                                accordance with these Terms. You agree not to use the site for any illegal or
                                unauthorized activity.</p>
                            <p><br></p>
                            <p>2. Age restrictions: Our website and services are intended for users over the age of 18.
                                By using the site, you confirm that you are 18 years old.</p>
                            <p><br></p>
                            <p>3. Account: You may need to create an account to access some of the features of our site.
                                You agree to provide accurate and up-to-date information during registration and to keep
                                it up to date. You are responsible for maintaining the confidentiality of your password
                                and account.</p>
                            <p><br></p>
                            <p>&nbsp;Intellectual property</p>
                            <p><br></p>
                            <p>1. Content Rights: All materials and content on our site, including text, graphics,
                                logos, images, audio and video files, are our property or the property of our licensors
                                and are protected by copyright and other intellectual property laws.</p>
                            <p><br></p>
                            <p>2. Content Usage: You may view, download and print materials from our website solely for
                                your personal, non-commercial use. Any other use of the content, including its
                                reproduction, modification, distribution or public display, is prohibited without our
                                prior written consent.</p>
                            <p><br></p>
                            <p>&nbsp;Limitation of liability</p>
                            <p><br></p>
                            <p>1. Disclaimer of warranties: Our website and services are provided "as is" and "as
                                available". We do not provide any express or implied warranties, including, but not
                                limited to, warranties of merchantability, fitness for a particular purpose and
                                non-infringement.</p>
                            <p><br></p>
                            <p>2. Limitation of damages: To the maximum extent permitted by law, we are not responsible
                                for any direct, indirect, incidental, special or consequential damages arising from the
                                use or inability to use our site or services.</p>
                            <p><br></p>
                            <p>&nbsp;Links to third-party resources</p>
                            <p><br></p>
                            <p>Our site may contain links to third-party websites or resources that are not under our
                                control. We are not responsible for the content, privacy policies, or actions of these
                                third-party sites. Your use of third-party sites is at your own risk.</p>
                            <p><br></p>
                            <p>&nbsp;Changes in Conditions</p>
                            <p><br></p>
                            <p>We reserve the right to change these Terms at any time. All changes will be posted on
                                this page, and the effective date of the changes will be indicated at the top of the
                                page. We recommend that you regularly check the relevance of the Terms. Using the site
                                after making changes means that you agree to the updated Terms.</p>
                            <p><br></p>
                            <p>&nbsp;Termination of use</p>
                            <p><br></p>
                            <p>We may terminate or suspend your access to our site and services without prior notice if
                                you violate these Terms or we deem it necessary for other reasons.</p>
                            <p><br></p>
                            <p>&nbsp;Applicable law</p>
                            <p><br></p>
                            <p>These Terms and Conditions shall be governed by and interpreted in accordance with the
                                laws of the country in which our company is registered, without regard to conflicts of
                                law. All disputes arising in connection with these Terms are subject to the exclusive
                                jurisdiction of the courts of that country.<br></p>
                            <p></p>
                            <p>&nbsp;Conclusion</p>
                            <p><br></p>
                            <p>By using our website and services, you agree to be bound by these Terms. If you have any
                                questions or doubts about these Terms, please contact us through the available
                                communication channels.</p>
                            <p><br></p>
                            <p>These Terms and Conditions come into force from the moment they are published on our
                                website.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .cookie-dialog {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(31, 31, 31, 0.5);
        border-radius: 20px;
        box-shadow: 0 24px 48px rgba(0, 0, 0, 0.5);
        padding: 10px;
        max-width: 600px;
        width: 90%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.7s, visibility 0.7s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .cookie-dialog-icon {
        font-size: 44px;
        color: #ff9800;
        margin-bottom: 16px;
    }

    .cookie-dialog-title {
        font-size: 16px;
        font-weight: bold;
        color: #f5f5f5;
    }

    .cookie-dialog-text {
        font-size: 14px;
        line-height: 1.6;
        color: #e0e0e0;
        margin-bottom: 36px;
    }

    .cookie-dialog-link {
        color: #64b5f6;
        text-decoration: none;
        transition: color 0.5s;
    }

    .cookie-dialog-link:hover {
        color: #2196f3;
    }

    .cookie-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .cookie-dialog-button {
        background-color: #ff0000;
        color: #f5f5f5;
        border: none;
        padding: 16px 32px;
        border-radius: 12px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .cookie-dialog-button:hover {
        background-color: #43a047;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-header">
            <div class="cookie-dialog-icon">
                <i class="fas fa-cookie-bite"></i>
            </div>
            <h2 class="cookie-dialog-title">Cookies &amp; Privacy</h2>
        </div>
        <p class="cookie-dialog-text">
            By using our website, you consent to our use of cookies. These small files help us remember your preferences
            and provide personalized content. We also collect anonymous usage data to improve our services. You can
            review our <a href="cookie.html" class="cookie-dialog-link">Cookie Policy</a> for more details.
        </p>
        <div class="cookie-dialog-actions">
            <button id="accept-cookies" class="cookie-dialog-button">
                <i class="fas fa-check"></i>
                I Understand
            </button>
        </div>
    </div>
</div>

<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        // localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>

</body>
</html>