<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/img/images/favicon.ico"/>
    <title>Terms of Use and Privacy Policy for Aviator Cosmetics Brand Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Terms of Use and Privacy Policy for Aviator Cosmetics Brand Website">
    <meta name="description"
          content="This page outlines the terms of use and privacy policy that govern the Aviator cosmetics brand website.">
    <meta property="og:title" content="Terms of Use and Privacy Policy for Aviator Cosmetics Brand Website">
    <meta property="og:description"
          content="This page outlines the terms of use and privacy policy that govern the Aviator cosmetics brand website.">
    <meta name="twitter:title" content="Terms of Use and Privacy Policy for Aviator Cosmetics Brand Website">
    <meta name="twitter:description"
          content="This page outlines the terms of use and privacy policy that govern the Aviator cosmetics brand website.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" crossorigin="anonymous" href="/static/css/main.css">
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/lx4q8M.css">


</head>
<body>

<section class="lot-section lot-section-890dyfgz ">
    <div class="">
        <div class="container lot-row-6cplx0ul-wrapper    ">
            <div class="lot-row-6cplx0ul  flex  ">
                <div class="col-lg-4/5 col-md-4/5 ">
                    <div class="column-inner lot-column-4dsg29q8  4/5">
                        <div class="lot-wrapper lot-heading-2axe1lht-wrapper "><h2
                                class="lot-heading lot-heading-2axe1lht "><span>Terms of use of the Aviator Cosmetic Line website
</span></h2></div>
                        <div class="lot-text lot-text-6pds280d "><p>1. General provisions Welcome to the website of the
                            Aviator cosmetics line. Before using the site, please read these Terms of Use carefully. By
                            logging into the site and using its resources, you confirm your agreement to these
                            Terms.</p>
                            <p>2. Content rights All site content, including texts, graphics, logos, icons, as well as
                                design and decoration, is the property of Aviator or is used legally and is protected by
                                copyright protection legislation.</p>
                            <p>3. Use of the site Users are allowed to use the site materials only for personal,
                                non-commercial purposes. It is prohibited to copy, reproduce, process, distribute or use
                                the content for commercial purposes without the prior written permission of the
                                owner.</p>
                            <p>4. Disclaimer The site owner is not responsible for any loss or damage resulting from the
                                use of the site, its contents or the inability to use the site.</p>
                            <p>5. Changes to the Terms The Site owner reserves the right to change these Terms at any
                                time by updating this text. Users should check the Terms and Conditions section
                                regularly to be aware of possible changes.</p>
                            <p>6. Applicable law Any disputes related to the use of the site will be handled in
                                accordance with the laws of the country of registration of the site owner.</p>
                            <p>Contact Information If you have any questions or suggestions regarding these Terms,
                                please contact us via the feedback form on the website.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container lot-row-svrvccfq-wrapper    ">
            <div class="lot-row-svrvccfq  flex  ">
                <div class="col-lg-4/5 col-md-4/5 ">
                    <div class="column-inner lot-column-mw03j8vm  4/5">
                        <div class="lot-wrapper lot-heading-gpffdvwj-wrapper "><h2
                                class="lot-heading lot-heading-gpffdvwj "><span>Privacy policy of the website of the Aviator cosmetics line
</span></h2></div>
                        <div class="lot-text lot-text-3pj2kq7c "><p>1. General Provisions This Privacy Policy describes
                            how the website of the Aviator cosmetics line collects, uses and protects the information
                            that you provide when using our site. We strive to protect your privacy and your personal
                            information.</p>
                            <p>2. Collecting information We collect information when you register on the site, place an
                                order, subscribe to a newsletter or fill out a form. This information includes your
                                name, contact email, mailing address, phone number and card details when making a
                                purchase.</p>
                            <p>3. Use of information The information collected may be used by us for the following
                                purposes:</p>
                            <p>• Improving customer service</p>
                            <p>• Personalize your user experience</p>
                            <p>• Improving our website</p>
                            <p>• Transaction processing</p>
                            <p>• Organization of promotions, contests or surveys</p>
                            <p>• Sending periodic emails with news, updates, information about products or services</p>
                            <p>4. Protecting your Information We take various security measures to protect your personal
                                information. Modern data protection technologies are used on the Internet and only
                                employees who need to carry out specific work (for example, billing or customer service)
                                have access to users' personal data.</p>
                            <p>5. Disclosure of information to third parties We do not sell, exchange or transfer
                                personal data to external parties. This does not apply to trusted persons who help us
                                with the operation of the site, provided that they agree to keep the information
                                confidential.</p>
                            <p>6. Your rights You have the right to request access to your personal data, their
                                correction, deletion or restriction of processing. You can also object to the processing
                                of your data and have the right to their portability.</p>
                            <p>7. Changes to the Privacy Policy We reserve the right to change this privacy policy at
                                any time. The changes will take effect immediately after they are posted on the
                                site.</p>
                            <p>Contact Information If you have any questions about this privacy policy, you can contact
                                us via the form on the website.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .cookie-banner {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(49, 159, 191, 0.5);
        color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        animation: slideIn 0.5s ease-out;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    button {
        background-color: #00ff33;
        color: #000000;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #00b312;
    }
</style>
<div id="cookie-banner" class="cookie-banner" style="display: none;">
    <p>Our website uses cookies to improve your user experience. We use several types of cookies, including session, persistent and analytical cookies, to:</p>

    <li>- To ensure the proper operation of the site.</li>
    <li>- Remember your preferences and settings.</li>
    <li>- Analyze the use of the site to improve it.</li>

    <p>You can manage cookies through your browser settings. For more information, please contact us at the following email address: dannysurferserra111@gmail.com.</p>
    <button id="accept-cookies">Accept Cookies</button>
</div>

<script type="text/javascript">
    const hasAcceptedCookies = document.cookie.includes('acceptedCookies=true');
    const cookieBanner = document.getElementById('cookie-banner');
    const acceptCookiesBtn = document.getElementById('accept-cookies');

    if (!hasAcceptedCookies) {
        cookieBanner.style.display = 'block';

        acceptCookiesBtn.addEventListener('click', () => {
            document.cookie = 'acceptedCookies=true; expires=Fri, 31 Dec 9999 23:59:59 GMT';
            cookieBanner.style.animation = 'slideOut 0.5s ease-in forwards';
            setTimeout(() => {
                cookieBanner.style.display = 'none';
            }, 500);
        });
    }
</script>

</body>
</html>