<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/images/favicon.ico"/>
    <title>Tiger Puzzle World privacy policy overview</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Tiger Puzzle World privacy policy overview">
    <meta name="description"
          content="This is the privacy policy page for Tiger Puzzle World detailing how they collect, use, store, and protect users&#39; personal information.">
    <meta property="og:title" content="Tiger Puzzle World privacy policy overview">
    <meta property="og:description"
          content="This is the privacy policy page for Tiger Puzzle World detailing how they collect, use, store, and protect users&#39; personal information.">
    <meta name="twitter:title" content="Tiger Puzzle World privacy policy overview">
    <meta name="twitter:description"
          content="This is the privacy policy page for Tiger Puzzle World detailing how they collect, use, store, and protect users&#39; personal information.">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" crossorigin="anonymous" href="/static/css/main.css">
    <script type="text/javascript"></script>
    <link as="font" rel="preload" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/R4h1_P.css">


</head>
<body>

<section class="hil-section hil-section-1are7f3c ">
    <div class="">
        <div class="container-fluid hil-row-4t6e3b8w-wrapper    ">
            <div class="hil-row-4t6e3b8w  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner hil-column-grviz2tx  1/1">
                        <div class="hil-wrapper hil-heading-655vs2rs-wrapper "><h2
                                class="hil-heading hil-heading-655vs2rs "><span>Política de Cookies
</span></h2></div>
                        <div class="hil-text hil-text-6f339u4m "><p>Tiger Puzzle World</p>
                            <p>Esta Política de Cookies explica como a Tiger Puzzle World utiliza cookies e tecnologias
                                similares para reconhecer você quando visita nosso site. Ela explica o que são essas
                                tecnologias e por que as utilizamos, bem como seus direitos para controlar seu uso.</p>
                            <p>1. O que são Cookies?<br><br></p>
                            <p>Cookies são pequenos arquivos de texto que são armazenados no seu dispositivo quando você
                                visita um site. Eles são amplamente utilizados para fazer os sites funcionarem de forma
                                mais eficiente e para fornecer informações aos proprietários do site.<br><br></p>
                            <p>2. Como Usamos Cookies</p>
                            <p>Usamos cookies por várias razões, incluindo:</p>
                            <p>Cookies Essenciais: Necessários para que nosso site funcione corretamente. Eles permitem que você navegue pelo site e use nossos recursos.</p>
                            <p>Cookies de Desempenho e Funcionalidade: Usados para melhorar o desempenho e a funcionalidade do nosso site, mas não são essenciais para o seu uso. No entanto, sem esses cookies, certas funcionalidades (como vídeos) podem ficar indisponíveis.</p>
                            <p>Cookies de Análise e Personalização: Coletam informações que são usadas para nos ajudar a entender como nosso site está sendo usado ou o quão eficazes são nossas campanhas de marketing, ou para nos ajudar a personalizar nosso site para você.</p>
                            <p>Cookies de Publicidade: Usados para tornar as mensagens publicitárias mais relevantes para você. Eles realizam funções como impedir que o mesmo anúncio reapareça continuamente, garantindo que os anúncios sejam exibidos corretamente e, em alguns casos, selecionando anúncios baseados em seus interesses.</p>
                            <p>3. Cookies de Terceiros</p>
                            <p>Em alguns casos, podemos usar cookies fornecidos por terceiros de confiança. O uso desses cookies está sujeito às políticas de privacidade desses terceiros. Exemplos incluem:
                                Google Analytics para nos ajudar a entender como você usa nosso site e como podemos melhorar sua experiência.</p>
                            <p>4. Como Controlar Cookies</p>
                            <p>Você tem o direito de decidir se aceita ou rejeita cookies. Você pode exercer suas preferências de cookies clicando nos links de “aceitar” ou “rejeitar” que aparecem em nosso banner de cookies. Além disso, a maioria dos navegadores permite que você controle cookies através das configurações. Para saber mais sobre cookies, inclusive como ver quais cookies foram configurados e como gerenciá-los e excluí-los, visite.</p>
                            <p>5. Alterações na Política de Cookies</p>
                            <p>Podemos atualizar esta Política de Cookies periodicamente para refletir, por exemplo, mudanças nos cookies que usamos ou por outras razões operacionais, legais ou regulamentares. Recomendamos que você revise esta política regularmente para se manter informado sobre o uso de cookies e tecnologias relacionadas.<br><br></p>
                            <p>6. Contato</p>
                            <p>Se você tiver qualquer dúvida sobre o uso de cookies ou outras tecnologias, entre em contato conosco:</p>
                            <p>Endereço: Rua das Flores, 1234, Curitiba, PR, Brasil, CEP 80010-150</p>
                            <p>Telefone: +55 (41) 98765-4321</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>