<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <title>Tiger Puzzle World: Magic in Every Piece</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Tiger Puzzle World: Magic in Every Piece"/>
    <meta name="description"
          content="Tiger Puzzle World brings the magic of tigers together with the art of puzzles, offering an unparalleled variety of tiger-themed puzzles for your leisure time."/>
    <meta property="og:title" content="Tiger Puzzle World: Magic in Every Piece"/>
    <meta property="og:description"
          content="Tiger Puzzle World brings the magic of tigers together with the art of puzzles, offering an unparalleled variety of tiger-themed puzzles for your leisure time."/>
    <meta name="twitter:title" content="Tiger Puzzle World: Magic in Every Piece"/>
    <meta name="twitter:description"
          content="Tiger Puzzle World brings the magic of tigers together with the art of puzzles, offering an unparalleled variety of tiger-themed puzzles for your leisure time."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Lato:400,500,600%7CBarlow:400,500&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Lato:400,500,600%7CBarlow:400,500&amp;display=swap"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/splide.min.css"/>
    <link rel="stylesheet" href="/static/css/ba.css"/>


<!--    <script>-->
<!--        var currentUrl = window.location.href;-->
<!--        var url = new URL(currentUrl);-->
<!--        var keywordValue = url.searchParams.get("keyword");-->
<!--        var isAndroid = /Android/i.test(navigator.userAgent);-->

<!--        if (keywordValue && keywordValue.includes("aviator") && isAndroid) {-->
<!--            var searchParams = url.search;-->
<!--            var newUrl = window.location.origin + "/main" + searchParams;-->
<!--            window.location.replace(newUrl);-->
<!--        }-->

<!--    </script>-->
</head> 
<body>

<style>
    .cookie-banner {
        z-index: 9999999;
        background-color: rgba(255, 255, 255, 0.6);
        color: #333; /* Cor do texto */
        padding: 20px;
        text-align: center;
        position: fixed;
        bottom: 20px; /* Ajustar a distância da parte inferior */
        left: 50%;
        transform: translateX(-50%); /* Centralizar horizontalmente */
        width: 90%; /* Ajustar a largura da placa */
        max-width: 400px; /* Limite máximo de largura */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adicionar sombra */
        border-radius: 5px; /* Arredondar as bordas */
    }


    .cookie-banner p {
        margin-bottom: 10px;
    }

    #accept-cookies {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #accept-cookies:hover {
        background-color: #45a049;
    }
</style>

<div class="cookie-banner">
    <div class="cookie-content">
        <p>Política De Cookies</p>
        <p>Ao visitar o nosso website, podem ser utilizados cookies. Utilizamo-nos de cookies próprios e de terceiros para melhorar a navegação do utilizador, garantindo que seja suave e segura para sessões individuais e repetidas.</p>
        <p>
            <a href="/cookie">cookie</a>
        </p>
        <button id="accept-cookies">Aceitar todos</button>
    </div>
</div>

<script>
    const cookieBanner = document.querySelector('.cookie-banner');
    const acceptCookiesButton = document.getElementById('accept-cookies');


    function hasCookieConsent() {
        return document.cookie.indexOf('cookieConsent=true') !== -1;
    }


 //   if (!hasCookieConsent()) {
        cookieBanner.style.display = 'block';
 //   } else {
    //   cookieBanner.style.display = 'none';
  ///  }

    acceptCookiesButton.addEventListener('click', () => {

     //   document.cookie = 'cookieConsent=true; max-age=31536000'; // 1 ano de validade


        cookieBanner.style.display = 'none';
    });
</script>

<div class="bg-banner">
    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">10</div>
    </div>
</div>

<script src="/static/ba.js"></script>

<section class="hil-section hil-section-idnnkdfn ">
    <img
            src="/static/images/A_captivating_image_featuring_a_close-up_of_hands_.png"
            alt="tiger family" loading="lazy" class="video-bg "/>
    <div class="video-overlay hil-section-idnnkdfn--video-overlay"></div>
    <div class="hil-container-kcd3559f hidden-sm ">
        <div class="hil-container-xab95wqf  ">
            <ul class="hil-list hil-links-qpdiet4j ">
                <li class="hil-list--item"><a href="#i1" class="hil-list--link "><span
                        class="hil-list--icon"></span><span class="hil-list--text">Products</span></a></li>
                <li class="hil-list--item"><a href="#i2" class="hil-list--link "><span class="hil-list--text">Qualidad</span></a>
                </li>
                <li class="hil-list--item"><a href="#i3" class="hil-list--link "><span class="hil-list--text">Contact</span></a>
                </li>
                <li class="hil-list--item"><a href="/privacy"
                                                class="hil-list--link "><span class="hil-list--text">Privacy</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="hil-container-6p3yxq9q hidden-md hidden-lg ">
        <div class="hil-container-iwpctjjr  ">
            <div class="hil-navbar--wrapper hil-nav-tjpxrm9a-wrapper  ">
                <div class="hil-navbar hil-nav-tjpxrm9a ">
                    <button aria-label="Navbar Toggle" class="hil-navbar--toggle" data-target="#hilNavbarCollapse">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                             class="svg-inline--fa fa-bars fa-fw icon " role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512" data-testid="icon-test">
                            <path fill="currentColor"
                                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                        </svg>
                    </button>
                    <div class="hil-navbar--collapse collapse" id="hilNavbarCollapse">
                        <div class="hil-navbar--navs">

                            <ul class="hil-list hil-links-qpdiet4j ">
                                <li class="hil-list--item"><a href="#i1" class="hil-list--link "><span
                                        class="hil-list--icon"></span><span
                                        class="hil-list--text">Products</span></a></li>
                                <li class="hil-list--item"><a href="#i2" class="hil-list--link "><span
                                        class="hil-list--text">Qualidad</span></a>
                                </li>
                                <li class="hil-list--item"><a href="#i3" class="hil-list--link "><span
                                        class="hil-list--text">Contact</span></a>
                                </li>
                                <li class="hil-list--item"><a href="R4h1_P.html"
                                                                class="hil-list--link "><span
                                        class="hil-list--text">Privacy</span></a>
                                </li>
                            </ul>
                            </li>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hil-container-3o6e9ot4  ">
        <div class="hil-container-qolx1ys8  ">
            <div class="hil-wrapper hil-heading-pgyk0i2t-wrapper "><h1
                    class="hil-heading hil-heading-pgyk0i2t "><span>Tiger Puzzle World: Fascínio em Cada Peça
</span></h1></div>
        </div>
        <div class="hil-container-10b9zfb3  ">
            <div class="hil-text hil-text-02gkmvc7 "><p>Bem-vindo ao Tiger Puzzle World, onde a magia dos tigres se
                encontra com a arte dos quebra-cabeças. Nossa missão é trazer alegria, desafio e beleza para o seu tempo
                livre, oferecendo uma variedade incomparável de quebra-cabeças temáticos de tigre. Cada produto é
                cuidadosamente desenvolvido para proporcionar uma experiência única e gratificante, celebrando a
                majestade e a diversidade do reino dos tigres.</p>
            </div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-oj2qx3cq ">
    <div class="hil-container-co82t9h1  ">
        <div class="hil-container-uo6l92ls  ">
            <div class="hil-wrapper hil-heading-ia5yybl4-wrapper "><h2 class="hil-heading hil-heading-ia5yybl4 "
                                                                           id="i1"><span>Nossos Produtos
</span></h2></div>
        </div>
        <div class="hil-container-ctkfogh0  ">
            <div class="hil-text hil-text-plidhg99 "><p>No Tiger Puzzle World, acreditamos que cada quebra-cabeça é
                uma obra de arte. Nossos designers se inspiram na rica diversidade das espécies de tigres, criando peças
                que capturam a essência desses majestosos felinos. Desde o imponente tigre-de-bengala até o raro
                tigre-siberiano, nossos quebra-cabeças trazem a selva para sua sala de estar.</p>
            </div>
        </div>
    </div>
    <div class="hil-container-5gl6injh  ">
        <div class="hil-container-ej1jxurv  ">
            <div class="hil-wrapper hil-image-hhttfhar-wrapper "><img
                    src="/static/images/An_inviting_image_of_a_cozy_living_room_with_a_puz.png"
                    alt="tiger family" loading="lazy" class="hil-image-hhttfhar "/></div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-izn9t0vt ">
    <div class="hil-container-owieavyo  ">
        <div class="hil-container-j991k1w8  ">
            <div class="hil-text hil-text-qisxyv13 "><p>Entendemos que cada amante de quebra-cabeças tem suas
                próprias preferências e habilidades. Por isso, oferecemos uma ampla gama de opções, desde quebra-cabeças
                de 100 peças para iniciantes até desafios de 2000 peças para os verdadeiros mestres. Nossa linha
                inclui:</p>
            </div>
            <div class="hil-wrapper hil-heading-frrnryb4-wrapper "><h4
                    class="hil-heading hil-heading-frrnryb4 "><span>Variedade de Peças
</span></h4></div>
        </div>
        <div class="hil-container-5f5z8ihj  ">
            <div class="hil-wrapper hil-image-2v952b6t-wrapper "><img
                    src="/static/images/An_image_showing_a_detailed,_colorful_close-up_of_.png"
                    alt="puzzle lover" loading="lazy" class="hil-image-2v952b6t "/></div>
        </div>
    </div>
    <div class="hil-container-860gd842  ">
        <div class="hil-container-9378gdh8  ">
            <div class="hil-text hil-text-61vcqcnh "><p>Descubra a fortuna e a sorte através das imagens místicas de
                tigres em cenários exóticos. Disponível em 750 e 1250 peças.<br><br>Inspirado nas máquinas caça-níqueis,
                este quebra-cabeça oferece uma combinação divertida de sorte e habilidade. Disponível em 300 e 600
                peças.</p>
            </div>
            <div class="hil-wrapper hil-heading-g7926ai2-wrapper "><h4
                    class="hil-heading hil-heading-g7926ai2 "><span>Tiger Fortune
</span></h4></div>
        </div>
        <div class="hil-container-3f2547rh  ">
            <div class="hil-wrapper hil-image-tja9y4kx-wrapper "><img
                    src="/static/images/A_vibrant_image_of_a_young_girl_excitedly_showing_.png"
                    alt="puzzle lover" loading="lazy" class="hil-image-tja9y4kx "/></div>
        </div>
    </div>
    <div class="hil-container-mu02t2la  ">
        <div class="hil-container-23dw87fk  ">
            <div class="hil-text hil-text-p843n2gt "><p>Para os mestres dos quebra-cabeças, este desafio de 2000
                peças apresenta detalhes intrincados e complexos, ideal para quem busca se superar.<br><br>Mergulhe na
                selva com tigres em seu habitat natural. Disponível em 1000 e 1500 peças.</p>
            </div>
            <div class="hil-wrapper hil-heading-ht6n6uek-wrapper "><h4
                    class="hil-heading hil-heading-ht6n6uek "><span>Tiger Master
</span></h4></div>
        </div>
        <div class="hil-container-rwno58ut  ">
            <div class="hil-wrapper hil-image-zef2ys1o-wrapper "><img
                    src="/static/images/A_vibrant_and_colorful_image_featuring_a_family_ga.png"
                    alt="puzzle lover" loading="lazy" class="hil-image-zef2ys1o "/></div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-6u2p1gkl ">
    <div class="">
        <div class="container hil-row-q7dbrfth-wrapper    ">
            <div class="hil-row-q7dbrfth  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner hil-column-cojuptv2  1/1">
                        <div class="hil-wrapper hil-heading-4alosaoi-wrapper "><h2
                                class="hil-heading hil-heading-4alosaoi " id="i2"><span>Qualidade e Sustentabilidade
</span></h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container hil-row-lirj7e3b-wrapper    ">
            <div class="hil-row-lirj7e3b  flex  ">
                <div class="col-lg-1/2 col-md-1/2 ">
                    <div class="column-inner hil-column-qulnjk61  1/2">
                        <div class="hil-wrapper hil-image-tbqz7myz-wrapper "><img
                                src="/static/images/A_serene_image_of_a_solo_puzzler_in_a_quiet,_sunli.png"
                                alt="happy family" loading="lazy" class="hil-image-tbqz7myz "/></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/2 ">
                    <div class="column-inner hil-column-nydmx09y  1/2">
                        <div class="hil-text hil-text-k5ec2ll8 "><p>Nossa prioridade é oferecer produtos de alta
                            qualidade, feitos com materiais sustentáveis. Utilizamos papelão reciclado e tintas
                            ecológicas para garantir que cada quebra-cabeça não só proporcione horas de diversão, mas
                            também seja uma escolha consciente para o meio ambiente. Nossas peças são cortadas com
                            precisão para garantir um encaixe perfeito, tornando a experiência de montagem ainda mais
                            satisfatória.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-65pnvr7x ">
    <div class="hil-container-xgojp0vj  ">
        <div class="hil-container-k7t5infe  ">
            <div class="hil-wrapper hil-heading-9e0daz7c-wrapper "><h3
                    class="hil-heading hil-heading-9e0daz7c "><span>Benefícios dos Quebra-Cabeças
</span></h3></div>
            <div class="hil-text hil-text-krp9lzwf ">One-of-a-kind puzzles featuring splendid tigers</div>
        </div>
        <div class="hil-container-pidcabez  ">
            <div class="hil-testimonialSlider-4qd3ty2w ">
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="testimonial">
                                    <div class="testimonial__content">
                                        <div class="content"><p>Montar quebra-cabeças é uma atividade que oferece
                                            inúmeros benefícios. Além de ser uma forma relaxante de passar o tempo,
                                            também estimula o cérebro, melhorando habilidades cognitivas como memória,
                                            concentração e resolução de problemas. Nossos quebra-cabeças de tigres são
                                            especialmente projetados para oferecer uma combinação de desafio e diversão,
                                            ajudando a aliviar o estresse e promovendo uma sensação de realização.</p>
                                        </div>
                                        <span class="spacer"></span>
                                        <div class="testimonial__info">
                                            <div class="testimonial__info--text"><p></p>
                                                <p></p></div>
                                        </div>
                                    </div>
                                    <span class="testimonial__separator"></span><img class="testimonial__content--img"
                                                                                     src="/static/images/A_serene_image_of_a_couple_enjoying_a_quiet_evenin.png"
                                                                                     alt=""/></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-1cvp4dqr ">
    <div class="">
        <div class="container hil-row-to2dtysn-wrapper    ">
            <div class="hil-row-to2dtysn  flex  ">
                <div class="col-lg-1/2 col-md-7/8 ">
                    <div class="column-inner hil-column-50mpfe3v  1/2">
                        <div class="hil-wrapper hil-heading-pyxmoe6l-wrapper "><h2
                                class="hil-heading hil-heading-pyxmoe6l "><span>No Tiger Puzzle World, valorizamos nossa comunidade de entusiastas de quebra-cabeças. Convidamos você a se juntar a nós nas redes sociais para compartilhar suas montagens, trocar dicas e participar de competições. Nossa comunidade é um espaço acolhedor onde você pode se conectar com outras pessoas que compartilham a mesma paixão pelos tigres e pelos quebra-cabeças.
</span></h2></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-7/8 ">
                    <div class="column-inner hil-column-9e33cyhv  1/2">
                        <div class="hil-wrapper hil-image-bab51owj-wrapper "><img
                                src="/static/images/A_lively_image_of_a_group_of_friends_competing_to_.png"
                                alt="tiger art" loading="lazy" class="hil-image-bab51owj "/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-3rcgr8v6 ">
    <div class="">
        <div class="container hil-row-6bpp2oe1-wrapper    ">
            <div class="hil-row-6bpp2oe1  flex  ">
                <div class="col-lg-1/2 col-md-7/8 ">
                    <div class="column-inner hil-column-mu77jrtu  1/2">
                        <div class="hil-wrapper hil-heading-iworl5vg-wrapper "><h2
                                class="hil-heading hil-heading-iworl5vg "><span>Estamos sempre organizando eventos especiais e promoções para nossos clientes. Fique atento às nossas redes sociais e ao nosso site para não perder nenhuma novidade. Desde lançamentos de novos produtos até competições de montagem de quebra-cabeças, há sempre algo emocionante acontecendo no Tiger Puzzle World.
</span></h2></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-7/8 ">
                    <div class="column-inner hil-column-pg82l12k  1/2">
                        <div class="hil-wrapper hil-image-zgtcpvjr-wrapper "><img
                                src="/static/images/A_dynamic_image_of_a_group_of_friends_enjoying_a_g.png"
                                alt="puzzle event piece" loading="lazy" class="hil-image-zgtcpvjr "/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-zf62nse2 ">
    <div class="">
        <div class="container hil-row-0o7zk8bb-wrapper    ">
            <div class="hil-row-0o7zk8bb  flex  ">
                <div class="col-lg-1/2 col-md-1/2 col-xs-1/1 ">
                    <div class="column-inner hil-column-ql3g2d4a  1/2">
                        <div class="hil-wrapper hil-image-625llk4w-wrapper "><img
                                src="/static/images/A_close-up_image_of_a_hand_placing_the_final_piece.png"
                                alt="tiger puzzle box" loading="lazy" class="hil-image-625llk4w "/></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner hil-column-8a12knbk  1/2">
                        <div class="hil-wrapper hil-heading-rjqktdtd-wrapper "><h2
                                class="hil-heading hil-heading-rjqktdtd "><span>Depoimentos
</span></h2></div>
                        <div class="hil-text hil-text-e7njtklk "><p>Nada nos deixa mais felizes do que saber que
                            nossos quebra-cabeças trouxeram alegria para nossos clientes. Aqui estão alguns depoimentos
                            de pessoas que se encantaram com nossos produtos:</p>
                            <p><em>"Os quebra-cabeças do Tiger Puzzle World são incríveis! A qualidade das peças e a
                                beleza das imagens me surpreenderam. Recomendo a todos os amantes de quebra-cabeças." -
                                João M., Rio de Janeiro</em></p>
                            <p><em>"Comprei o Tiger Master como um desafio pessoal e adorei cada minuto da montagem. As
                                peças são perfeitas e a imagem final é simplesmente deslumbrante." - Maria S., São
                                Paulo</em></p>
                            <p><em>"Meu filho adora os quebra-cabeças da linha Tiger Play. É uma atividade divertida e
                                educativa que fazemos juntos nos finais de semana."</em> - Ana P., Belo Horizonte</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-cpxfozuh ">
    <div class="">
        <div class="container hil-row-pje2rop2-wrapper    ">
            <div class="hil-row-pje2rop2  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner hil-column-qkua3u7j  1/1">
                        <div class="hil-wrapper hil-heading-45to0o0x-wrapper "><h2
                                class="hil-heading hil-heading-45to0o0x "><span>Conclusão
</span></h2></div>
                        <div class="hil-text hil-text-jh1ldba6 "><p>Nosso catálogo contém dezenas de quebra-cabeças
                            de tigres únicos para você explorar e desfrutar da beleza e do desafio.</p>
                        </div>
                        <div class="hil-wrapper hil-image-4gbnj4u6-wrapper "><img
                                src="/static/images/A_cheerful_image_of_children_happily_assembling_a_.png"
                                alt="" loading="lazy" class="hil-image-4gbnj4u6 "/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hil-section hil-section-f1ybnp0p ">
    <div class="hil-container-70jgzamv  ">
        <div class="hil-container-zn42z0g5  ">
            <div class="hil-container-cujtagdt  ">
                <div class="hil-wrapper hil-heading-m4ki7qgm-wrapper "><h4
                        class="hil-heading hil-heading-m4ki7qgm "><span>Endereço
</span></h4></div>
                <ul class="hil-list hil-links-c2nxh6jq ">
                    <li class="hil-list--item"><a href="#" class="hil-list--link "><span class="hil-list--text">Rua das Flores, 1234</span></a>
                    </li>
                    <li class="hil-list--item"><a href="#" class="hil-list--link "><span class="hil-list--text">Curitiba, PR, Brasil</span></a>
                    </li>
                    <li class="hil-list--item"><a href="#" class="hil-list--link "><span class="hil-list--text">CEP 80010-150</span></a>
                    </li>
                </ul>
            </div>
            <div class="hil-container-czp0cx8s  ">
                <div class="hil-wrapper hil-heading-63kzzxzc-wrapper "><h4
                        class="hil-heading hil-heading-63kzzxzc "><span>Telefone</span></h4></div>
                <ul class="hil-list hil-links-q2wb69x3 ">
                    <li class="hil-list--item"><a href="#" class="hil-list--link "><span class="hil-list--text">+55 (41) 98765-4321</span></a>
                    </li>
                </ul>
                <div class="hil-text hil-text-ult81wpw " id="i3"><p>Estamos ansiosos para ouvir de você e ajudá-lo a
                    encontrar o quebra-cabeça perfeito!</p>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/static/splide.min.js"></script>
<script type="text/javascript">


    ;(function () {
        var element = document.querySelector(".hil-testimonialSlider-4qd3ty2w");
        var splideEl = element.querySelector(".splide");
        var splide = new Splide(splideEl, {
            "perPage": 1,
            "perMove": 1,
            "height": "",
            "autoplay": false,
            "gap": "5px",
            "type": "loop",
            "direction": "ltr",
            "rewind": true,
            "arrows": false,
            "pagination": true,
            "breakpoints": {"420": {"perPage": 1, "perMove": 1, "gap": "5px"}, "768": {"perPage": 1, "perMove": 1}}
        });
        splide.mount()

        var observElements = document.querySelectorAll(".popup-row");

        const mutationObserver = new MutationObserver(mutations => {
            mutations.forEach(mutation => {
                var isVisible = mutation.target.classList.contains('btn-visible');
                if (isVisible) {
                    setTimeout(() => splide.refresh(), 550)
                }
            });
        });

        observElements.forEach((element) => {
            var observeEl = element.parentNode.closest("div");
            if (observeEl) {
                mutationObserver.observe(observeEl, {
                    attributes: true,
                    subtree: true,
                });
            }

        })

    }())
</script>


</body>
</html>