<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="images/favicon.ico"/>
    <title>Aviator's Privacy Policy Overview</title>
    <link rel="icon" href=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Aviator's Privacy Policy Overview"/>
    <meta name="description"
          content="This page provides the privacy policy that users must agree to in order to use the Aviator website."/>
    <meta property="og:title" content="Aviator's Privacy Policy Overview"/>
    <meta property="og:description"
          content="This page provides the privacy policy that users must agree to in order to use the Aviator website."/>
    <meta name="twitter:title" content="Aviator's Privacy Policy Overview"/>
    <meta name="twitter:description"
          content="This page provides the privacy policy that users must agree to in order to use the Aviator website."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Inter:400,500,600%7CDM+Sans:400,500&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Inter:400,500,600%7CDM+Sans:400,500&amp;display=swap"/>
    <link rel="stylesheet" href="k9nSxA.css"/>


</head>
<body>

<section class="kito-section symbol--footer kito-section-5k0x5etj ">
    <div class="kito-container-yoxcd5pn  ">
        <div class="kito-container-ggs60dhe  ">
            <div class="kito-text kito-text-knpufgj7 "><p>Aviator's Privacy Policy</p>
            </div>
        </div>
    </div>
</section>
<section class="kito-section kito-section-kh6qirde  color-overlay">
    <div class="">
        <div class="container kito-row-wymb8kuh-wrapper    ">
            <div class="kito-row-wymb8kuh  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kito-column-1nxcom90  1/1">
                        <div class="kito-text kito-text-3wk9qe6j "><p>&nbsp;Introduction</p>
                            <p></p>
                            <p>Aviator respects your right to privacy and is committed to protecting your personal
                                information. This Privacy Policy explains what data we collect, how we use it, and how
                                we protect your information. By using our website, you agree to the terms of this
                                Privacy Policy.</p>
                            <p></p>
                            <p>&nbsp;Collection Of Personal Data</p>
                            <p></p>
                            <p>We may collect and process the following types of personal data:</p>
                            <p></p>
                            <p>1. **Contact Information**</p>
                            <p>- Name</p>
                            <p>- Email Address</p>
                            <p>&nbsp;&nbsp;&nbsp;- Phone number</p>
                            <p></p>
                            <p>2. **Company Information**</p>
                            <p>- Company Name</p>
                            <p>&nbsp;&nbsp;&nbsp;- Legal address</p>
                            <p>&nbsp;&nbsp;&nbsp;- INN and other details</p>
                            <p></p>
                            <p>3. **Technical information**</p>
                            <p>- IP address</p>
                            <p>&nbsp;&nbsp;&nbsp;- Browser type and version</p>
                            <p>&nbsp;&nbsp;&nbsp;- Time and date of the site visit</p>
                            <p></p>
                            <p>4. **Cookies**</p>
                            <p>&nbsp;&nbsp;&nbsp;- We use cookies to improve the functionality of the site and provide
                                personalized content.</p>
                            <p></p>
                            <p>&nbsp;Use Of Personal Data</p>
                            <p></p>
                            <p>The collected data is used for the following purposes:</p>
                            <p></p>
                            <p>1. **Provision of services**</p>
                            <p>&nbsp;&nbsp;&nbsp;- Processing customer requests and orders</p>
                            <p>- Providing information about our services and products</p>
                            <p></p>
                            <p>2. **Improving the site**</p>
                            <p>- Analyzing user behavior to improve content and navigation</p>
                            <p></p>
                            <p>3. **Marketing**</p>
                            <p>- Sending advertising and information materials (with the user's consent)</p>
                            <p></p>
                            <p>4. **Legal objectives**</p>
                            <p>- Compliance with legal requirements and protection of our rights and interests</p>
                            <p></p>
                            <p>&nbsp;Transfer Of Personal Data To Third Parties</p>
                            <p></p>
                            <p>We do not share users' personal data with third parties, except in the following
                                cases:</p>
                            <p></p>
                            <p>1. **With your consent**</p>
                            <p>- If you have your explicit consent to the transfer of data.</p>
                            <p></p>
                            <p>2. **Service Providers**</p>
                            <p>&nbsp;&nbsp;&nbsp;- Companies that provide us with the services necessary for the
                                operation of the site and the fulfillment of orders (for example, hosting
                                providers).</p>
                            <p></p>
                            <p>3. **Legal requirements**</p>
                            <p>- If it is necessary to comply with the requirements of legislation or court
                                decisions.</p>
                            <p></p>
                            <p>&nbsp;Protection Of Personal Data</p>
                            <p></p>
                            <p>We take all necessary measures to protect personal data from unauthorized access,
                                modification, disclosure or destruction. Such measures include:</p>
                            <p></p>
                            <p>1. **Technical measures**</p>
                            <p>- Use of data encryption.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Software updates and support.</p>
                            <p></p>
                            <p>2. **Organizational measures**</p>
                            <p>&nbsp;&nbsp;&nbsp;- Restriction of access to personal data of employees.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Training of employees in data protection methods.</p>
                            <p></p>
                            <p>&nbsp;Storage Of Personal Data</p>
                            <p></p>
                            <p>We store personal data only for the period necessary to fulfill the purposes of their
                                processing, or for a period established by law. After that, the data will be deleted or
                                depersonalized.</p>
                            <p></p>
                            <p>&nbsp;User Rights</p>
                            <p></p>
                            <p>You have the right to:</p>
                            <p></p>
                            <p>1. **Access to your data**</p>
                            <p>&nbsp;&nbsp;&nbsp;- Getting information about what data is stored about you and how it is
                                processed.</p>
                            <p></p>
                            <p>2. **Correction of data**</p>
                            <p>&nbsp;&nbsp;&nbsp;- Request to change or update your personal data.</p>
                            <p></p>
                            <p>3. **Data Deletion**</p>
                            <p>- A request to delete your personal data if it is no longer needed for the purposes for
                                which it was collected.</p>
                            <p></p>
                            <p>4. **Limitation of processing**</p>
                            <p>&nbsp;&nbsp;&nbsp;- A request to restrict the processing of your personal data in certain
                                cases.</p>
                            <p></p>
                            <p>5. **Withdrawal of consent**</p>
                            <p>- Withdrawal of your consent to data processing at any time.</p>
                            <p></p>
                            <p>&nbsp;Feedback</p>
                            <p></p>
                            <p>If you have any questions or comments about this Privacy Policy or the processing of your
                                personal data, you can contact us:</p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p>&nbsp;Changes to the Privacy Policy</p>
                            <p></p>
                            <p>We reserve the right to make changes to this Privacy Policy at any time. All changes will
                                be posted on this page. We recommend that you regularly review this page to keep up to
                                date with the latest information about our Privacy Policy.</p>
                            <p></p>
                            <p>Last updated: May 15, 2024.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kito-section kito-section-20f3pc8d ">
    <div class="kito-container-m6w6l7oj  ">
        <div class="kito-container-zc6s9xkk  ">
            <div class="kito-text kito-text-7udpnara "><p>Terms of use of the Aviator website</p>
            </div>
        </div>
    </div>
</section>
<section class="kito-section kito-section-g99iiyex ">
    <div class="">
        <div class="container kito-row-421al5r7-wrapper    ">
            <div class="kito-row-421al5r7  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kito-column-jm8q4qmg  1/1">
                        <div class="kito-text kito-text-6dh69i2g "><p>&nbsp;Introduction</p>
                            <p></p>
                            <p>Welcome to the Aviator website. By using our website, you agree to these Terms of Use. If
                                you do not agree to these terms, please stop using our site.</p>
                            <p></p>
                            <p>&nbsp;General Provisions</p>
                            <p></p>
                            <p>1. **Purpose of the website**</p>
                            <p>- The Aviator website provides information about our services and products, as well as
                                the opportunity to contact us for more information and to place orders.</p>
                            <p></p>
                            <p>2. **Changes to the terms**</p>
                            <p>&nbsp;&nbsp;&nbsp;- We reserve the right to change or update these Terms of Use at any
                                time without prior notice. Continued use of the site after the changes are made means
                                that you agree to the new terms.</p>
                            <p></p>
                            <p>&nbsp;User Responsibilities</p>
                            <p></p>
                            <p>1. **Legitimate use**</p>
                            <p>&nbsp;&nbsp;&nbsp;- You agree to use the site only for legitimate purposes and not to
                                take actions that may damage the site, its content or functionality.</p>
                            <p></p>
                            <p>2. **Personal Information**</p>
                            <p>&nbsp;&nbsp;&nbsp;- You agree to provide only accurate and up-to-date information when
                                filling out forms on our website.</p>
                            <p></p>
                            <p>3. **Security**</p>
                            <p>- You are responsible for maintaining the confidentiality of your credentials and
                                passwords, as well as for all actions performed under your account.</p>
                            <p></p>
                            <p>&nbsp;Intellectual Property</p>
                            <p></p>
                            <p>1. **Copyright**</p>
                            <p>- All materials presented on the website (texts, images, logos, graphics) are the
                                property of Aviator and are protected by copyright.</p>
                            <p></p>
                            <p>2. **Limitation of use**</p>
                            <p>&nbsp;&nbsp;&nbsp;- You have no right to use, copy, distribute or modify materials from
                                the site without the prior written consent of Aviator.</p>
                            <p></p>
                            <p>&nbsp;Limitation of Liability</p>
                            <p></p>
                            <p>1. **Website Content**</p>
                            <p>- We strive to provide accurate and up-to-date information, however, we do not guarantee
                                its completeness and accuracy. The use of information from the site is at your own
                                risk.</p>
                            <p></p>
                            <p>2. **Technical failures**</p>
                            <p>&nbsp;&nbsp;&nbsp;- Aviator is not responsible for temporary interruptions in the
                                operation of the site caused by technical problems or updates.</p>
                            <p></p>
                            <p>3. **External links**</p>
                            <p>&nbsp;&nbsp;&nbsp;- Our website may contain links to third-party resources. We do not
                                control and are not responsible for the content and privacy policies of these sites.</p>
                            <p></p>
                            <p>&nbsp;Privacy</p>
                            <p></p>
                            <p>1. **Data collection and Use**</p>
                            <p>- We collect and use personal data in accordance with our Privacy Policy, which you can
                                read on the corresponding page of our website.</p>
                            <p></p>
                            <p>2. **Cookies**</p>
                            <p>&nbsp;&nbsp;&nbsp;- We use cookies to improve the functionality of the site and provide
                                personalized content. By continuing to use the site, you agree to the use of
                                cookies.</p>
                            <p></p>
                            <p>&nbsp;Dispute Resolution</p>
                            <p></p>
                            <p>1. **Applicable Law**</p>
                            <p>- These Terms of Use are governed by the laws of the Russian Federation.</p>
                            <p></p>
                            <p>2. **Location of the court**</p>
                            <p>- All disputes arising in connection with the use of the site are subject to
                                consideration in the courts of the Russian Federation at the location of the Aviator
                                company.</p>
                            <p></p>
                            <p>&nbsp;Contact Information</p>
                            <p></p>
                            <p>If you have any questions or comments about these Terms of Use, you can contact us:</p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p>&nbsp;Conclusion</p>
                            <p></p>
                            <p>Using the Aviator website means that you agree to these Terms of Use. We recommend that
                                you regularly review this page to familiarize yourself with possible changes. Thank you
                                for choosing Aviator!</p>
                            <p></p>
                            <p>Last updated: May 15, 2024.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .cookie-banner {
        background-color: #282c34; /* Dark background */
        color: #fff; /* White text */
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed; /* Keep the cookie banner fixed at the bottom */
        bottom: 20px; /* Add some bottom margin */
        left: 0;
        width: 100%;
        z-index: 999999999999999;
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow */
        font-family: 'Roboto', sans-serif; /* Optional: Use a modern font */
    }

    .cookie-banner .message {
        flex-grow: 1; /* Make the message take up most of the space */
        font-size: 16px;
        line-height: 1.5;
        margin-right: 20px;
    }

    .cookie-banner .button {
        background-color: #FF5733; /* Orange background */
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease; /* Smooth background color transition */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow on the button */
    }

    .cookie-banner .button:hover {
        background-color: #E94520; /* Darker orange on hover */
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
    }
</style>


<div class="cookie-banner">
    <div class="message">
        We use cookies to improve the operation of our site and personalize your experience.
        <br>
        What are cookies?
        <br>
        Cookies are small text files that are stored on your device when you visit our website.
        <br>
        Email: josefinamonmany@gmail.com
    </div>
    <button class="button">Accept</button>
</div>

<script>
    const cookieBanner = document.querySelector('.cookie-banner');
    const acceptButton = document.querySelector('.button');

    acceptButton.addEventListener('click', () => {
        cookieBanner.style.display = 'none';
        document.cookie = "cookie_consent=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
    });

    if (document.cookie.includes('cookie_consent=true')) {
        cookieBanner.style.display = 'none';
    }
</script>

</body>
</html>