<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/images/favicon.ico"/>
    <title>Tiger Puzzle World privacy policy overview</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Tiger Puzzle World privacy policy overview">
    <meta name="description"
          content="This is the privacy policy page for Tiger Puzzle World detailing how they collect, use, store, and protect users&#39; personal information.">
    <meta property="og:title" content="Tiger Puzzle World privacy policy overview">
    <meta property="og:description"
          content="This is the privacy policy page for Tiger Puzzle World detailing how they collect, use, store, and protect users&#39; personal information.">
    <meta name="twitter:title" content="Tiger Puzzle World privacy policy overview">
    <meta name="twitter:description"
          content="This is the privacy policy page for Tiger Puzzle World detailing how they collect, use, store, and protect users&#39; personal information.">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" crossorigin="anonymous" href="/static/css/main.css">
    <script type="text/javascript"></script>

    <link rel="stylesheet" href="/static/css/R4h1_P.css">



</head>
<body>

<section class="hil-section hil-section-1are7f3c ">
    <div class="">
        <div class="container-fluid hil-row-4t6e3b8w-wrapper    ">
            <div class="hil-row-4t6e3b8w  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner hil-column-grviz2tx  1/1">
                        <div class="hil-wrapper hil-heading-655vs2rs-wrapper "><h2
                                class="hil-heading hil-heading-655vs2rs "><span>Política de Privacidade
</span></h2></div>
                        <div class="hil-text hil-text-6f339u4m "><p>Política de Privacidade</p>
                            <p>Tiger Puzzle World</p>
                            <p>Última atualização: 10 de junho de 2024<br><br></p>
                            <p>Na Tiger Puzzle World, respeitamos a sua privacidade e estamos comprometidos em proteger
                                os dados pessoais que você compartilha conosco. Esta Política de Privacidade descreve
                                como coletamos, usamos, armazenamos e protegemos suas informações pessoais.<br><br></p>
                            <p>1. Coleta de Informações</p>
                            <p>Coletamos informações pessoais que você nos fornece diretamente, como quando você:</p>
                            <p>Cria uma conta em nosso site</p>
                            <p>Faz um pedido</p>
                            <p>Inscreve-se em nosso boletim informativo</p>
                            <p>Entra em contato com o nosso suporte ao cliente</p>
                            <p>As informações pessoais que podemos coletar incluem:</p>
                            <p>Nome</p>
                            <p>Endereço de e-mail</p>
                            <p>Endereço de entrega e cobrança</p>
                            <p>Número de telefone</p>
                            <p>Informações de pagamento<br><br></p>
                            <p>2. Uso das Informações</p>
                            <p>Usamos suas informações pessoais para os seguintes fins:</p>
                            <p>Processar e gerenciar seus pedidos</p>
                            <p>Fornecer suporte ao cliente</p>
                            <p>Enviar atualizações sobre seu pedido</p>
                            <p>Enviar comunicações de marketing, caso você tenha optado por recebê-las</p>
                            <p>Melhorar nosso site e serviços<br><br></p>
                            <p>3. Compartilhamento de Informações</p>
                            <p>Não vendemos, trocamos ou transferimos suas informações pessoais para terceiros, exceto
                                para:</p>
                            <p>Provedores de serviços que nos auxiliam na operação do nosso site e na condução dos
                                nossos negócios</p>
                            <p>Cumprir com obrigações legais e regulamentares</p>
                            <p>Proteger nossos direitos, propriedade e segurança<br><br></p>
                            <p>4. Segurança das Informações</p>
                            <p>Implementamos medidas de segurança apropriadas para proteger suas informações pessoais
                                contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum
                                método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro, e não
                                podemos garantir a segurança absoluta de suas informações.<br><br></p>
                            <p>5. Seus Direitos</p>
                            <p>Você tem o direito de:</p>
                            <p>Acessar suas informações pessoais</p>
                            <p>Corrigir informações pessoais incorretas ou desatualizadas</p>
                            <p>Solicitar a exclusão de suas informações pessoais</p>
                            <p>Retirar seu consentimento para o uso de suas informações pessoais</p>
                            <p>Para exercer seus direitos, entre em contato conosco através do e-mail:
                                contato@tigerpuzzleworld.com.br.<br><br></p>
                            <p>6. Cookies</p>
                            <p>Nosso site usa cookies para melhorar sua experiência de navegação. Para mais informações,
                                consulte nossa Política de Cookies abaixo.<br><br></p>
                            <p>7. Alterações na Política de Privacidade</p>
                            <p>Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos que você
                                reveja esta política regularmente para se manter informado sobre como protegemos suas
                                informações.<br><br></p>
                            <p>8. Contato</p>
                            <p>Se você tiver qualquer dúvida sobre esta Política de Privacidade, entre em contato
                                conosco:</p>
                            <p>Endereço: Rua das Flores, 1234, Curitiba, PR, Brasil, CEP 80010-150</p>
                            <p>Telefone: +55 (41) 98765-4321</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .cookie-banner {
        background-color: rgba(255, 255, 255, 0.6);
        color: #333; /* Cor do texto */
        padding: 20px;
        text-align: center;
        position: fixed;
        bottom: 20px; /* Ajustar a distância da parte inferior */
        left: 50%;
        transform: translateX(-50%); /* Centralizar horizontalmente */
        width: 90%; /* Ajustar a largura da placa */
        max-width: 400px; /* Limite máximo de largura */
        z-index: 1000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adicionar sombra */
        border-radius: 5px; /* Arredondar as bordas */
    }

    .cookie-banner p {
        margin-bottom: 10px;
            font-size: 10px;
    }

    #accept-cookies {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #accept-cookies:hover {
        background-color: #45a049;
    }
</style>

<div class="cookie-banner">
    <div class="cookie-content">
        <p>Política De Cookies</p>
        <p>Ao visitar o nosso website, podem ser utilizados cookies. Utilizamo-nos de cookies próprios e de terceiros para melhorar a navegação do utilizador, garantindo que seja suave e segura para sessões individuais e repetidas.</p>
        <p>
            <a href="/cookie">cookie</a>
        </p>
        <button id="accept-cookies">Aceitar todos</button>
    </div>
</div>

<script>
    const cookieBanner = document.querySelector('.cookie-banner');
    const acceptCookiesButton = document.getElementById('accept-cookies');


    function hasCookieConsent() {
        return document.cookie.indexOf('cookieConsent=true') !== -1;
    }


    if (!hasCookieConsent()) {
        cookieBanner.style.display = 'block';
    } else {
        cookieBanner.style.display = 'none';
    }

    acceptCookiesButton.addEventListener('click', () => {

        document.cookie = 'cookieConsent=true; max-age=31536000'; // 1 ano de validade


        cookieBanner.style.display = 'none';
    });
</script>


</body>
</html>