<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cookie</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Cookie">
    <meta property="og:title" content="Cookie">
    <meta name="twitter:title" content="Cookie">
    <meta name="twitter:card" content="summary_large_image">
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">


</head>
<body>

<section class="kuht-section symbol--header kuht-section-bmpp8u13 ">
    <div class="">
        <div class="container kuht-row-z78gejfw-wrapper    ">
            <div class="kuht-row-z78gejfw  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kuht-column-87devae4  1/1">
                        <div class="kuht-navbar--wrapper kuht-nav-2hj3u03f-wrapper  sticky-nav">
                            <div class="kuht-navbar kuht-nav-2hj3u03f ">
                                <button aria-label="Navbar Toggle" class="kuht-navbar--toggle"
                                        data-target="#kuhtNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="kuht-navbar--collapse collapse" id="kuhtNavbarCollapse">
                                    <div class="kuht-navbar--navs">
                                        <ul class="kuht-nav--links normalize">
                                            <li class=""><a href="/site"
                                                            class="kuht-nav--link home kuht-nav--link-2suuvmpu  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">home</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="kuht-nav--link privacy-policy kuht-nav--link-jrjtnw95  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="/terms/"
                                                            class="kuht-nav--link terms-of-use kuht-nav--link-bzdz1ay2  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="kuht-nav--link cookies kuht-nav--link-xbr0av3x  "><span
                                                    class="kuht-nav--link-text">Cookies</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="kuht-nav--link dmca kuht-nav--link-lakxvhvk  "><span
                                                    class="kuht-nav--link-text">dmca</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="kuht-nav--link data-product kuht-nav--link-hqe5ceb6  "><span
                                                    class="kuht-nav--link-text">data product</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-yp515zfk ">
    <div class="kuht-container-0a72gp75  ">
        <div class="kuht-container-9r3hqwqk  ">
            <div class="kuht-wrapper kuht-heading-onuochb6-wrapper "><h2
                    class="kuht-heading kuht-heading-onuochb6 "><span>Cookie Policy for aviator-scooters.club
</span></h2></div>
            <div class="kuht-text kuht-text-6u59yfas "><p>We use cookies to improve the functionality of the site and
                your user experience. Cookies help us analyze the use of the site and personalize the content. You can
                manage your cookie settings through your browser settings. Disabling cookies may affect the operation of
                some functions of the site.</p>
            </div>
        </div>
    </div>
</section>


</body>
</html>