<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>data product</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="data product">
    <meta property="og:title" content="data product">
    <meta name="twitter:title" content="data product">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/doc.css">



</head>
<body>

<section class="kuht-section symbol--header kuht-section-bmpp8u13 ">
    <div class="">
        <div class="container kuht-row-z78gejfw-wrapper    ">
            <div class="kuht-row-z78gejfw  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kuht-column-87devae4  1/1">
                        <div class="kuht-navbar--wrapper kuht-nav-2hj3u03f-wrapper  sticky-nav">
                            <div class="kuht-navbar kuht-nav-2hj3u03f ">
                                <button aria-label="Navbar Toggle" class="kuht-navbar--toggle"
                                        data-target="#kuhtNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="kuht-navbar--collapse collapse" id="kuhtNavbarCollapse">
                                    <div class="kuht-navbar--navs">
                                        <ul class="kuht-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="kuht-nav--link home kuht-nav--link-2suuvmpu  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="kuht-nav--link privacy-policy kuht-nav--link-jrjtnw95  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="terms_of_use.html"
                                                            class="kuht-nav--link terms-of-use kuht-nav--link-bzdz1ay2  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="kuht-nav--link cookies kuht-nav--link-xbr0av3x  "><span
                                                    class="kuht-nav--link-text">Cookies</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="kuht-nav--link dmca kuht-nav--link-lakxvhvk  "><span
                                                    class="kuht-nav--link-text">dmca</span></a></li>
                                            <li class=""><a href="data_product.html"
                                                            class="kuht-nav--link data-product kuht-nav--link-hqe5ceb6  "><span
                                                    class="kuht-nav--link-text">data product</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-yp515zfk ">
    <div class="kuht-container-0a72gp75  ">
        <div class="kuht-container-9r3hqwqk  ">
            <div class="kuht-wrapper kuht-heading-onuochb6-wrapper "><h2
                    class="kuht-heading kuht-heading-onuochb6 "><span>&nbsp;DMCA Privacy Policy for aviator-scooters.club website
</span></h2></div>
            <div class="kuht-text kuht-text-6u59yfas "><p>&nbsp;Introduction</p>
                <p><br></p>
                <p>At aviator-scooters.club, we respect the intellectual property rights of others and strive to comply
                    with all applicable copyright laws. In accordance with the Digital Millennium Copyright Act (DMCA),
                    we will promptly respond to notices of alleged copyright infringement and take appropriate
                    action.</p>
                <p><br></p>
                <p>&nbsp;How to File a Copyright Infringement Notice (DMCA)</p>
                <p><br></p>
                <p>If you believe that your material has been used on our site in violation of your copyright, you can
                    send us a notification containing the following information:</p>
                <p><br></p>
                <p>1. Signature: A physical or electronic signature of a person authorized to act on behalf of the owner
                    of an exclusive right that is allegedly violated.</p>
                <p>2. Identification of the copyrighted work: Description of the copyrighted work that, in your opinion,
                    has been violated.</p>
                <p>3. Description of Infringing material: A description of the material that you claim infringes
                    copyrights, and information sufficient for us to find this material on the site.</p>
                <p>4. Contact information: Your name, address, phone number and email address.</p>
                <p>5. Good Faith Statement: A statement that you believe in good faith that the use of the material in
                    this manner is not authorized by the copyright owner, his agent or the law.</p>
                <p>6. Statement of Accuracy: A statement that the information in the notification is accurate and, under
                    penalty of perjury, that you are the copyright owner or authorized to act on behalf of the owner of
                    an exclusive right that is allegedly infringed.</p>
                <p><br></p>
                <p>&nbsp;Contact information for DMCA notifications:</p>
                <p><br></p>
                <p>Address:</p>
                <p>Hosur Main Road, At Signal Beside Ad Lab, Madiwala,&nbsp;&nbsp;</p>
                <p>Bangalore, Karnataka,&nbsp;&nbsp;</p>
                <p>Zip code: 560095</p>
                <p><br></p>
                <p>Phone: +91 25505585&nbsp;&nbsp;</p>
                <p></p>
                <p><br></p>
                <p>&nbsp;Counter-notification</p>
                <p><br></p>
                <p>If you believe that your material has been deleted or access to it has been mistakenly restricted,
                    you can send us a counter-notification containing the following information:</p>
                <p><br></p>
                <p>1. Your physical or electronic signature.</p>
                <p>2. Identification of the deleted material or the material to which access was restricted, and the
                    location where the material appeared before its removal or restriction of access.</p>
                <p>3. A statement under penalty of perjury that you believe in good faith that the material has been
                    deleted or restricted due to an error or incorrect identification of the material.</p>
                <p>4. Your name, address, phone number and a statement that you agree to the jurisdiction of the Federal
                    Court at your address, or if your address is outside India, at the location of the company, and that
                    you will accept a notice of legal proceedings from the person who provided the initial notice of
                    violation.</p>
                <p><br></p>
                <p>&nbsp;Entry into force</p>
                <p><br></p>
                <p>Effective date: July 4, 2024</p>
                <p></p>
            </div>
        </div>
    </div>
</section>



<style>
    .cookie-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(250, 250, 250, 0.56);
        border-radius: 24px;
        box-shadow: 0 28px 56px rgba(0, 0, 0, 0.6);
        padding: 10px;
        max-width: 600px;
        width: 90%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s, visibility 0.8s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }

    .cookie-dialog-icon {
        font-size: 48px;
        color: #ff6b6b;
        margin-bottom: 20px;
    }

    .cookie-dialog-title {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }

    .cookie-dialog-text {
        font-size: 14px;
        line-height: 1.6;
        color: #000000;
        margin-bottom: 40px;
    }

    .cookie-dialog-link {
        color: #9575cd;
        text-decoration: none;
        transition: color 0.6s;
    }

    .cookie-dialog-link:hover {
        color: #7e57c2;
    }

    .cookie-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .cookie-dialog-button {
        background-color: #2196f3;
        color: #f5f5f5;
        border: none;
        padding: 16px 32px;
        border-radius: 14px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        transition: background-color 0.6s;
    }

    .cookie-dialog-button:hover {
        background-color: #1e88e5;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-header">
            <div class="cookie-dialog-icon">
                <i class="fas fa-cookie-bite"></i>
            </div>
            <h2 class="cookie-dialog-title">Cookies Policy</h2>
        </div>
        <p class="cookie-dialog-text">
            By using our website, you consent to our use of cookies. These small data files help us remember your preferences and provide personalized content. We also collect anonymous usage statistics to improve our services. To learn more, please review our <a href="cookie.html" class="cookie-dialog-link">Cookie Policy</a>.
        </p>
        <div class="cookie-dialog-actions">
            <button id="accept-cookies" class="cookie-dialog-button">
                <i class="fas fa-check"></i>
                I Accept
            </button>
        </div>
    </div>
</div>

<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        //localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>


</body>
</html>