<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>AVIATOR - Protective Equipment for an Active Lifestyle</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="AVIATOR - Protective Equipment for an Active Lifestyle">
    <meta name="description"
          content="AVIATOR offers development and production of high-quality protective equipment for roller skating, scooters, skateboards, and other sports.">
    <meta property="og:title" content="AVIATOR - Protective Equipment for an Active Lifestyle">
    <meta property="og:description"
          content="AVIATOR offers development and production of high-quality protective equipment for roller skating, scooters, skateboards, and other sports.">
    <meta name="twitter:title" content="AVIATOR - Protective Equipment for an Active Lifestyle">
    <meta name="twitter:description"
          content="AVIATOR offers development and production of high-quality protective equipment for roller skating, scooters, skateboards, and other sports.">
    <meta name="twitter:card" content="summary_large_image">
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600|Black+Ops+One:400,500,700&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Noto+Sans:400,500,600|Black+Ops+One:400,500,700&amp;display=swap">
    <link rel="stylesheet" href="/static/css/index.css">

    <style>
        .banner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('banner.png') no-repeat center center fixed;
            background-size: contain;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }

        .close-btn {
            margin: 20px;
            font-size: 50px;
            font-weight: bolder;
            color: #fff;
            cursor: not-allowed;
            transition: color 0.3s;
            z-index: 1; /* Ensure close button is above the banner */
        }

        .close-btn.active {
            color: white;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            .close-btn {
                font-size: 20px;
                margin: 10px;
            }
        }
    </style>
</head>
<body>

    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">&times;</div>
    </div>

<section class="kita-section kita-section-ebi9q3ax ">
    <div class="kita-container-kg1bjgpc  ">
        <div class="kita-container-7dx923ke  ">
            <div class="kita-navbar--wrapper kita-nav-vtmkuny6-wrapper  ">
                <div class="kita-navbar kita-nav-vtmkuny6 ">
                    <button aria-label="Navbar Toggle" class="kita-navbar--toggle" data-target="#kitaNavbarCollapse">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                             class="svg-inline--fa fa-bars fa-fw icon " role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512" data-testid="icon-test">
                            <path fill="currentColor"
                                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                        </svg>
                    </button>
                    <div class="kita-navbar--collapse collapse" id="kitaNavbarCollapse">
                        <div class="kita-navbar--navs">
                            <ul class="kita-nav--links normalize">
                                <li class=""><a href="#i1"
                                                class="kita-nav--link develop kita-nav--link-2suuvmpu  "><span
                                        class="kita-nav--link-icon"></span><span
                                        class="kita-nav--link-text">Develop</span></a></li>
                                <li class=""><a href="#i2"
                                                class="kita-nav--link product kita-nav--link-jrjtnw95  "><span
                                        class="kita-nav--link-icon"></span><span
                                        class="kita-nav--link-text">Product</span></a></li>
                                <li class=""><a href="#i3"
                                                class="kita-nav--link protection kita-nav--link-bzdz1ay2  "><span
                                        class="kita-nav--link-icon"></span><span class="kita-nav--link-text">Protection</span></a>
                                </li>
                                <li class=""><a href="#i4"
                                                class="kita-nav--link skate kita-nav--link-0he47rch  "><span
                                        class="kita-nav--link-text">Skate</span></a></li>
                                <li class=""><a href="/privacy"
                                                class="kita-nav--link privacy kita-nav--link-57t986uy  "><span
                                        class="kita-nav--link-text">Privacy</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kita-container-cgdxbwyc  ">
            <div class="kita-container-h9897voi  ">
                <div class="kita-wrapper kita-heading-vz6nvcpa-wrapper "><h1
                        class="kita-heading kita-heading-vz6nvcpa "><span>&nbsp;Protection for rollers, scooters and skateboards from AVIATOR: Full cycle of development and production
</span></h1></div>
            </div>
            <div class="kita-container-32v9da57  ">
                <div class="kita-wrapper kita-image-5ibpntgo-wrapper "><img
                        src="/static/images/9.jpg" alt="protective equipment" loading="lazy"
                        class="kita-image-5ibpntgo "></div>
            </div>
            <div class="kita-container-8iux0x3d  ">
                <div class="kita-text kita-text-nzs9n56c "><p>In the modern world, an active lifestyle is becoming
                    more and more popular, and more and more people are interested in sports such as roller skating,
                    scooters and skateboards. In this regard, there is a growing demand for high-quality and reliable
                    protection that can ensure safety and comfort during outdoor activities. AVIATOR offers a unique
                    solution – a full cycle of development and production of protective equipment, starting from design
                    development and ending with production at our facilities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kita-section kita-section-5y7wl6dl ">
    <div class="">
        <div class="container kita-row-hhogohmz-wrapper    ">
            <div class="kita-row-hhogohmz  flex  ">
                <div class="col-lg-1/2 col-md-1/1 ">
                    <div class="column-inner kita-column-0b18lf5e  1/2">
                        <div class="kita-wrapper kita-image-k8f9chaq-wrapper "><img
                                src="/static/images/8.jpg" alt="helmet gloves" loading="lazy"
                                class="kita-image-k8f9chaq "></div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/1 ">
                    <div class="column-inner kita-column-umrbllba  1/2">
                        <div class="kita-wrapper kita-heading-1c7aqfcb-wrapper "><h2
                                class="kita-heading kita-heading-1c7aqfcb " id="i1"><span>AVIATOR is a team of professionals that specializes in the development of concepts and the production of products for an active lifestyle. We offer comprehensive solutions that include:
</span></h2></div>
                        <div class="kita-text kita-text-mpo0anes "><p>- Design Development: Our designers will create
                            a unique and modern design of protective equipment that will meet the latest fashion trends
                            and take into account all the needs of customers.</p>
                            <p>- Design and Prototyping: Our engineers will design and create product prototypes using
                                the latest technologies and materials.</p>
                            <p>- Production: We have our own production facilities, which allows us to control all
                                stages of production and guarantee high quality products.</p>
                            <p>- Testing and Certification: Before being released to the market, our products undergo
                                rigorous safety and reliability tests and are certified in accordance with international
                                standards.</p>
                        </div>
                        <div class="">
                            <div class=" kita-row-aqf2tftr-wrapper    ">
                                <div class="kita-row-aqf2tftr  flex  ">
                                    <div class="col-lg-1/7 col-md-1/7 col-xs-1/5 ">
                                        <div class="column-inner kita-column-xvdh7t25  1/7">
                                            <div class="kita-icon-bectm4us-wrapper  "><span
                                                    class="kita-icon kita-icon-bectm4us  "><svg aria-hidden="true"
                                                                                                  focusable="false"
                                                                                                  data-prefix="far"
                                                                                                  data-icon="compass"
                                                                                                  class="svg-inline--fa fa-compass fa-fw icon "
                                                                                                  role="img"
                                                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                                                  viewBox="0 0 512 512"
                                                                                                  data-testid="icon-test"><path
                                                    fill="currentColor"
                                                    d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1/3 col-md-1/3 col-xs-3/4 ">
                                        <div class="column-inner kita-column-ztirlrd4  1/3">
                                            <div class="kita-text kita-text-45atdjsh ">Safe</div>
                                            <div class="kita-wrapper kita-heading-yte2bz37-wrapper "><h5
                                                    class="kita-heading kita-heading-yte2bz37 "><span>Quality</span>
                                            </h5></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1/7 col-md-1/7 col-xs-1/5 ">
                                        <div class="column-inner kita-column-wlmg4ngn  1/7">
                                            <div class="kita-icon-x1262ubb-wrapper  "><span
                                                    class="kita-icon kita-icon-x1262ubb  "><svg aria-hidden="true"
                                                                                                  focusable="false"
                                                                                                  data-prefix="fas"
                                                                                                  data-icon="bullseye"
                                                                                                  class="svg-inline--fa fa-bullseye fa-fw icon "
                                                                                                  role="img"
                                                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                                                  viewBox="0 0 512 512"
                                                                                                  data-testid="icon-test"><path
                                                    fill="currentColor"
                                                    d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"></path></svg></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1/3 col-md-1/3 col-xs-3/4 ">
                                        <div class="column-inner kita-column-qbqb2f23  1/3">
                                            <div class="kita-text kita-text-68viekpo ">Fun</div>
                                            <div class="kita-wrapper kita-heading-ldxlstfh-wrapper "><h5
                                                    class="kita-heading kita-heading-ldxlstfh "><span>Cool</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kita-section kita-section-7m6h07qk ">
    <div class="kita-container-x1ra7ocs  ">
        <div class="kita-container-69205pv8  ">
            <div class="kita-wrapper kita-heading-i2npxxvf-wrapper "><h2 class="kita-heading kita-heading-i2npxxvf "
                                                                           id="i2"><span>Advantages of our products
</span></h2></div>
            <div class="kita-text kita-text-38l9dc9q "><p>The main purpose of our protective equipment is to ensure
                maximum safety when riding roller skates, scooters and skateboards. We use only high-quality and proven
                materials that provide reliable protection against injury.</p>
            </div>
        </div>
    </div>
    <div class="kita-container-8m1wy39h  ">
        <div class="kita-container-uegie1wd  ">
            <div class="kita-wrapper kita-image-mvx4lq91-wrapper "><img
                    src="/static/images/7.jpg" alt="gear production" loading="lazy"
                    class="kita-image-mvx4lq91 "></div>
            <div class="kita-container-hhpxhh3z  ">
                <div class="kita-wrapper kita-heading-74irqz6n-wrapper "><h4
                        class="kita-heading kita-heading-74irqz6n "><span>Comfort and Convenience
</span></h4></div>
                <div class="kita-text kita-text-asx0aj39 "><p>Our equipment is designed taking into account human
                    anatomical features, which ensures comfort and convenience during long-term use. The thoughtful
                    design makes it easy to put on and take off protection, and also does not restrict movement.</p>
                </div>
            </div>
        </div>
        <div class="kita-container-1d805j72  ">
            <div class="kita-wrapper kita-image-swydwar2-wrapper "><img
                    src="/static/images/6.jpg" alt="safety testing" loading="lazy"
                    class="kita-image-swydwar2 "></div>
            <div class="kita-container-gmog1n0m  ">
                <div class="kita-wrapper kita-heading-a3vo393s-wrapper "><h4
                        class="kita-heading kita-heading-a3vo393s "><span>Modern design
</span></h4></div>
                <div class="kita-text kita-text-odq5bio3 "><p>We understand that the appearance of products plays an
                    important role, especially for young people. Therefore, our designers create stylish and modern
                    models that will appeal to both children and adults.</p>
                </div>
            </div>
        </div>
        <div class="kita-container-ecaec4l9  ">
            <div class="kita-wrapper kita-image-l1p5fj1i-wrapper "><img
                    src="/static/images/5.jpg" alt="production line" loading="lazy"
                    class="kita-image-l1p5fj1i "></div>
            <div class="kita-container-8z8fn56b  ">
                <div class="kita-wrapper kita-heading-1tp1k4uj-wrapper "><h4
                        class="kita-heading kita-heading-1tp1k4uj "><span>Wide range
</span></h4></div>
                <div class="kita-text kita-text-mfgw19z8 "><p>Our catalog contains many models of protective equipment
                    for various types of outdoor activities. You can choose protection kits for rollers, scooters and
                    skateboards for every taste.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kita-section kita-section-h9e1j5j9 ">
    <div class="kita-container-mvdg1ayy  ">
        <div class="kita-container-86hgw8v3  ">
            <div class="kita-wrapper kita-heading-wakd945e-wrapper "><h2 class="kita-heading kita-heading-wakd945e "
                                                                           id="i3"><span>Maximum Protection
</span></h2></div>
            <div class="kita-text kita-text-lo0f0p8j ">Protecting your head, wrists and knees while on wheels is
                crucial.
            </div>
        </div>
        <div class="kita-container-2gg8kt3a  ">
            <div class="kita-container-9t7auj2y  ">
                <div class="kita-container-6aopnc0f  ">
                    <div class="kita-wrapper kita-image-cyxorw8e-wrapper "><img
                            src="/static/images/4.jpg" alt="gear rider" loading="lazy"
                            class="kita-image-cyxorw8e "></div>
                </div>
                <div class="kita-container-64o616pj  ">
                    <ul class="kita-list kita-lists-ude55tvu ">
                        <li class="kita-list--item kita-li-3hmbugvr">
                            <div class="kita-list--lists"><span class="kita-list--icon"><svg aria-hidden="true"
                                                                                               focusable="false"
                                                                                               data-prefix="far"
                                                                                               data-icon="circle-check"
                                                                                               class="svg-inline--fa fa-circle-check fa-fw icon icon_3hmbugvr"
                                                                                               role="img"
                                                                                               xmlns="http://www.w3.org/2000/svg"
                                                                                               viewBox="0 0 512 512"
                                                                                               data-testid="icon-test"><path
                                    fill="currentColor"
                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                    class="kita-list--text">Helmets prevent head injuries</span></div>
                        </li>
                        <li class="kita-list--gap"></li>
                        <li class="kita-list--item kita-li-r9c9b2rj">
                            <div class="kita-list--lists"><span class="kita-list--icon"><svg aria-hidden="true"
                                                                                               focusable="false"
                                                                                               data-prefix="far"
                                                                                               data-icon="circle-check"
                                                                                               class="svg-inline--fa fa-circle-check fa-fw icon icon_r9c9b2rj"
                                                                                               role="img"
                                                                                               xmlns="http://www.w3.org/2000/svg"
                                                                                               viewBox="0 0 512 512"
                                                                                               data-testid="icon-test"><path
                                    fill="currentColor"
                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                    class="kita-list--text">Knee pads cushion falls</span></div>
                        </li>
                        <li class="kita-list--gap"></li>
                        <li class="kita-list--item kita-li-pnygvsgo">
                            <div class="kita-list--lists"><span class="kita-list--icon"><svg aria-hidden="true"
                                                                                               focusable="false"
                                                                                               data-prefix="far"
                                                                                               data-icon="circle-check"
                                                                                               class="svg-inline--fa fa-circle-check fa-fw icon icon_pnygvsgo"
                                                                                               role="img"
                                                                                               xmlns="http://www.w3.org/2000/svg"
                                                                                               viewBox="0 0 512 512"
                                                                                               data-testid="icon-test"><path
                                    fill="currentColor"
                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                    class="kita-list--text">Wrist guards support fragile bones</span></div>
                        </li>
                        <li class="kita-list--gap"></li>
                    </ul>
                </div>
                <div class="kita-container-ux9w9379  ">
                    <div class="kita-text kita-text-zqf0rwo7 "><p>Roller skating is not only an exciting, but also
                        quite a dangerous sport, especially for beginners. To minimize the risk of injury, it is
                        necessary to use high-quality protective equipment. AVIATOR roller protection kits include:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kita-section kita-section-cpxfozuh ">
    <div class="">
        <div class="container kita-row-pje2rop2-wrapper    ">
            <div class="kita-row-pje2rop2  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kita-column-qkua3u7j  1/1">
                        <div class="kita-wrapper kita-heading-45to0o0x-wrapper "><h2
                                class="kita-heading kita-heading-45to0o0x "><span>&nbsp;Protection for scooters
</span></h2></div>
                        <div class="kita-text kita-text-jh1ldba6 "><p>Scooters are becoming more and more popular
                            among children and adults. However, there is also a risk of injury when riding a scooter.
                            Our protective equipment for scooters includes:</p>
                        </div>
                        <div class="kita-wrapper kita-image-slmajbxq-wrapper "><img
                                src="/static/images/3.jpg" alt="" loading="lazy"
                                class="kita-image-slmajbxq "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kita-section kita-section-ny1jhkfp ">
    <div class="">
        <div class="container kita-row-2fnka9gq-wrapper    ">
            <div class="kita-row-2fnka9gq  flex  ">
                <div class="col-lg-4/7 ">
                    <div class="column-inner kita-column-2z2znujl  4/7">
                        <div class="kita-wrapper kita-heading-i3dofzxx-wrapper "><h2
                                class="kita-heading kita-heading-i3dofzxx " id="i4"><span>Protection for skateboards
</span></h2></div>
                        <div class="kita-text kita-text-a6r92m13 "><p>Skateboarding is an extreme sport that requires
                            the use of reliable protective equipment. In our company you can purchase protection kits
                            for skateboards, including:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container kita-row-b5fzpi05-wrapper    ">
            <div class="kita-row-b5fzpi05  flex  ">
                <div class="col-lg-3/8 ">
                    <div class="column-inner kita-column-xp5xp6ai  3/8">
                        <div class="kita-wrapper kita-heading-eksd0009-wrapper "><h3
                                class="kita-heading kita-heading-eksd0009 "><span>Helmets
</span></h3></div>
                        <div class="kita-text kita-text-govzygdw "><p>Helmets: Protect the head from bumps and falls.
                            Our helmets have a stylish design and a convenient size adjustment system, which makes them
                            comfortable and safe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5/8 ">
                    <div class="column-inner kita-column-p2c1o873  5/8">
                        <div class="kita-wrapper kita-image-d1oxp47g-wrapper "><img
                                src="/static/images/2.jpg" alt="" loading="lazy"
                                class="kita-image-d1oxp47g "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container kita-row-tuj7q06a-wrapper    ">
            <div class="kita-row-tuj7q06a  flex  ">
                <div class="col-lg-5/8 ">
                    <div class="column-inner kita-column-1gnph39h  5/8">
                        <div class="kita-wrapper kita-image-2vu6537w-wrapper "><img
                                src="/static/images/1.jpg" alt="" loading="lazy"
                                class="kita-image-2vu6537w "></div>
                    </div>
                </div>
                <div class="col-lg-3/8 ">
                    <div class="column-inner kita-column-7bitmrkb  3/8">
                        <div class="kita-wrapper kita-heading-uzjrd03r-wrapper "><h3
                                class="kita-heading kita-heading-uzjrd03r "><span>Knee pads and elbow pads
</span></h3></div>
                        <div class="kita-text kita-text-5gedmm30 "><p>These protection elements provide reliable
                            protection for knees and elbows. They are made of durable materials and have soft linings
                            for comfort and safety.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kita-section kita-section-p1bo9nny ">
    <div class="kita-container-7y4d6g2r  ">
        <div class="kita-container-2el3hivz  ">
            <div class="kita-wrapper kita-image-fpttxxue-wrapper "><img
                    src="/static/images/10.jpg" alt="skateboard wheels protective"
                    loading="lazy" class="kita-image-fpttxxue "></div>
            <div class="kita-text kita-text-ti2werhq "><p>Contact us right now to discuss the details of your order
                and get advice from our specialists. We will be happy to help you create the perfect protective
                equipment that will ensure safety and comfort when riding roller skates, scooters and
                skateboards.<br><br><br><br>Gokhale Rd, Opp Ice Factory, Thane (west),Mumbai,Maharashtra</p>
                <p></p>
                <p>Phone number: +9102298429898</p>
                <p></p>
                <p>Zip code: 400602</p>
            </div>
        </div>
    </div>
</section>

<style>
    .cookie-dialog {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .cookie-dialog-content {
        max-width: 800px;
        background-color: rgba(18, 18, 18, 0.6);
        color: #f5f5f5;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .cookie-dialog-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
        color: #f5f5f5;
    }

    .cookie-dialog-text {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 24px;
    }

    .cookie-dialog-button {
        background-color: #2962ff;
        color: #f5f5f5;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .cookie-dialog-button:hover {
        background-color: #0039cb;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <h2 class="cookie-dialog-title">Cookie Policy</h2>
        <p class="cookie-dialog-text">
            To enhance your user experience, we utilize cookies. They assist us in remembering your preferences and providing personalized content. Additionally, we collect anonymous site visit statistics to improve our performance. By continuing to use our website, you consent to the use of cookies. If you do not agree, kindly disable them in your browser settings. Thank you for your understanding!
        </p>
        <button id="accept-cookies" class="cookie-dialog-button">Accept All</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const closeBtn = document.getElementById('closeBtn');
        const banner = document.getElementById('banner');

        setTimeout(function() {
            closeBtn.classList.add('active');
            closeBtn.style.cursor = 'pointer';
        }, 10000);

        closeBtn.addEventListener('click', function(event) {
            event.stopPropagation(); // Prevent event from bubbling to the banner
            if (closeBtn.classList.contains('active')) {
                banner.style.display = 'none';
            }
        });

        banner.addEventListener('click', function(event) {
            if (!event.target.closest('.close-btn')) {
                window.location.href = 'https://aviacompassupr.top/XM7BRh';
            }
        });
    });
</script>

<script>

    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        localStorage.setItem('cookiesAccepted', 'true');

        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>

</body>
</html>