<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Privacy policy for Aviator scooters company website</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Privacy policy for Aviator scooters company website">
    <meta name="description"
          content="This is the privacy policy for the Aviator scooters company website. It describes what data we collect, how we use and protect it, and what rights you have regarding your data.">
    <meta property="og:title" content="Privacy policy for Aviator scooters company website">
    <meta property="og:description"
          content="This is the privacy policy for the Aviator scooters company website. It describes what data we collect, how we use and protect it, and what rights you have regarding your data.">
    <meta name="twitter:title" content="Privacy policy for Aviator scooters company website">
    <meta name="twitter:description"
          content="This is the privacy policy for the Aviator scooters company website. It describes what data we collect, how we use and protect it, and what rights you have regarding your data.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/doc.css">



</head>
<body>

<section class="kuht-section symbol--header kuht-section-bmpp8u13 ">
    <div class="">
        <div class="container kuht-row-z78gejfw-wrapper    ">
            <div class="kuht-row-z78gejfw  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner kuht-column-87devae4  1/1">
                        <div class="kuht-navbar--wrapper kuht-nav-2hj3u03f-wrapper  sticky-nav">
                            <div class="kuht-navbar kuht-nav-2hj3u03f ">
                                <button aria-label="Navbar Toggle" class="kuht-navbar--toggle"
                                        data-target="#kuhtNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="kuht-navbar--collapse collapse" id="kuhtNavbarCollapse">
                                    <div class="kuht-navbar--navs">
                                        <ul class="kuht-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="kuht-nav--link home kuht-nav--link-2suuvmpu  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="kuht-nav--link privacy-policy kuht-nav--link-jrjtnw95  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="terms_of_use.html"
                                                            class="kuht-nav--link terms-of-use kuht-nav--link-bzdz1ay2  "><span
                                                    class="kuht-nav--link-icon"></span><span
                                                    class="kuht-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="kuht-nav--link cookies kuht-nav--link-xbr0av3x  "><span
                                                    class="kuht-nav--link-text">Cookies</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="kuht-nav--link dmca kuht-nav--link-lakxvhvk  "><span
                                                    class="kuht-nav--link-text">dmca</span></a></li>
                                            <li class=""><a href="data_product.html"
                                                            class="kuht-nav--link data-product kuht-nav--link-hqe5ceb6  "><span
                                                    class="kuht-nav--link-text">data product</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kuht-section kuht-section-yp515zfk ">
    <div class="kuht-container-0a72gp75  ">
        <div class="kuht-container-9r3hqwqk  ">
            <div class="kuht-wrapper kuht-heading-onuochb6-wrapper "><h2
                    class="kuht-heading kuht-heading-onuochb6 "><span>Privacy Policy
</span></h2></div>
            <div class="kuht-text kuht-text-6u59yfas "><p>1. Introduction<br></p>
                <p></p>
                <p>Welcome to the website of the company engaged in the development and production of Aviator scooters.
                    Your privacy and the security of your personal information are a priority for us. This Privacy
                    Policy describes what data we collect, how we use it, protect it, and what rights you have with
                    respect to your data.</p>
                <p><br></p>
                <p>2. Collecting information</p>
                <p><br></p>
                <p>We collect information when you visit our website, register for services, fill out forms, or
                    otherwise interact with us. The information may include:</p>
                <p><br></p>
                <p>- Personal data: First name, last name, email address, phone number and other data provided by you
                    voluntarily.</p>
                <p>- Technical data: IP address, browser type, operating system, time of visit and the pages you viewed
                    on our site.</p>
                <p>- Cookies: We use cookies to improve the operation of our website, analyze traffic and personalize
                    content.</p>
                <p><br><br></p>
                <p>3. Using Information</p>
                <p><br></p>
                <p>The information collected is used for the following purposes:</p>
                <p><br></p>
                <p>- Provision of services: Order processing, product delivery, technical support.</p>
                <p>- Site improvement: Traffic analysis, user experience optimization, new features development.</p>
                <p>- Marketing: Sending promotional materials, news and offers (only with your consent).</p>
                <p>- Security: Protection against fraud, prevention of unauthorized access and other threats.</p>
                <p><br></p>
                <p>4. Data Protection</p>
                <p><br></p>
                <p>We take all necessary measures to protect your data from unauthorized access, modification,
                    disclosure or destruction. These measures include technical, administrative and physical security
                    measures.</p>
                <p><br></p>
                <p>&nbsp;5. Disclosure of information to third parties</p>
                <p><br></p>
                <p>We do not sell or transfer your personal data to third parties without your consent, except in cases
                    where it is necessary for:</p>
                <p><br></p>
                <p>- Service Provision: Work with partners and suppliers to fulfill your orders.</p>
                <p>- Legal obligations: Compliance with legal requirements, response to requests from government
                    agencies.</p>
                <p><br></p>
                <p>&nbsp;6. User rights</p>
                <p><br></p>
                <p>You have the following rights with respect to your personal data:</p>
                <p><br></p>
                <p>- Right of access: You can request a copy of your data that we store.</p>
                <p>- The right to correction: You can correct inaccurate or incomplete data.</p>
                <p>- The right to delete: You can request the deletion of your data under certain conditions.</p>
                <p>- The right to restrict processing: You can request a restriction on the processing of your data in
                    certain cases.</p>
                <p>- The right to data portability: You can get your data in a structured, machine-readable format.</p>
                <p>- Right to object: You may object to the processing of your data in certain cases.</p>
                <p><br></p>
                <p>&nbsp;7. Changes to the Privacy Policy</p>
                <p><br></p>
                <p>We reserve the right to make changes to this Privacy Policy at any time. All changes will be posted
                    on this page with the date of the last update. We recommend checking this page regularly to review
                    the current version of the Policy.</p>
                <p><br></p>
                <p>8. Conclusion</p>
                <p><br></p>
                <p>We strive to ensure maximum protection of your personal data and transparency in their use. If you
                    have any questions or suggestions regarding our Privacy Policy, please contact us through the
                    communication channels indicated on the website.</p>
                <p><br></p>
                <p>Thank you for trusting Aviator Company.</p>
                <p></p>
            </div>
        </div>
    </div>
</section>


<style>
    .cookie-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(250, 250, 250, 0.56);
        border-radius: 24px;
        box-shadow: 0 28px 56px rgba(0, 0, 0, 0.6);
        padding: 10px;
        max-width: 600px;
        width: 90%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s, visibility 0.8s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }

    .cookie-dialog-icon {
        font-size: 48px;
        color: #ff6b6b;
        margin-bottom: 20px;
    }

    .cookie-dialog-title {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }

    .cookie-dialog-text {
        font-size: 14px;
        line-height: 1.6;
        color: #000000;
        margin-bottom: 40px;
    }

    .cookie-dialog-link {
        color: #9575cd;
        text-decoration: none;
        transition: color 0.6s;
    }

    .cookie-dialog-link:hover {
        color: #7e57c2;
    }

    .cookie-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .cookie-dialog-button {
        background-color: #2196f3;
        color: #f5f5f5;
        border: none;
        padding: 16px 32px;
        border-radius: 14px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        transition: background-color 0.6s;
    }

    .cookie-dialog-button:hover {
        background-color: #1e88e5;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-header">
            <div class="cookie-dialog-icon">
                <i class="fas fa-cookie-bite"></i>
            </div>
            <h2 class="cookie-dialog-title">Cookies Policy</h2>
        </div>
        <p class="cookie-dialog-text">
            By using our website, you consent to our use of cookies. These small data files help us remember your preferences and provide personalized content. We also collect anonymous usage statistics to improve our services. To learn more, please review our <a href="cookie.html" class="cookie-dialog-link">Cookie Policy</a>.
        </p>
        <div class="cookie-dialog-actions">
            <button id="accept-cookies" class="cookie-dialog-button">
                <i class="fas fa-check"></i>
                I Accept
            </button>
        </div>
    </div>
</div>

<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        //localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>



</body>
</html>