<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cookie</title>
    <link rel="icon" href="../static/images/favicon.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Cookie">
    <meta name="description"
          content="This privacy policy explains how Aviator Sportswear collects, uses, and protects personal information provided by website visitors.">
    <meta property="og:title" content="Cookie">
    <meta property="og:description"
          content="This privacy policy explains how Aviator Sportswear collects, uses, and protects personal information provided by website visitors.">
    <meta name="twitter:title" content="Cookie">
    <meta name="twitter:description"
          content="This privacy policy explains how Aviator Sportswear collects, uses, and protects personal information provided by website visitors.">
    <link rel="stylesheet" href="../static/css/doc.css?v=1720348938600">


</head>
<body>

<section class="letrol-section symbol--header letrol-section-r69479k5 ">
    <div class="">
        <div class="container letrol-row-acf9gpf0-wrapper    ">
            <div class="letrol-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner letrol-column-t61xckg3  1/1">
                        <div class="letrol-navbar--wrapper letrol-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="letrol-navbar letrol-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="letrol-navbar--toggle"
                                        data-target="#letrolNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="letrol-navbar--collapse collapse" id="letrolNavbarCollapse">
                                    <div class="letrol-navbar--navs">
                                        <ul class="letrol-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="letrol-nav--link home letrol-nav--link-2suuvmpu  "><span
                                                    class="letrol-nav--link-icon"></span><span
                                                    class="letrol-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="letrol-nav--link privacy-policy letrol-nav--link-jrjtnw95  "><span
                                                    class="letrol-nav--link-icon"></span><span
                                                    class="letrol-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="letrol-nav--link cookies letrol-nav--link-bzdz1ay2  "><span
                                                    class="letrol-nav--link-icon"></span><span
                                                    class="letrol-nav--link-text">Cookies</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="letrol-nav--link dmca letrol-nav--link-xbr0av3x  "><span
                                                    class="letrol-nav--link-text">Dmca</span></a></li>
                                            <li class=""><a href="data.html"
                                                            class="letrol-nav--link data-product letrol-nav--link-sirs8i33  "><span
                                                    class="letrol-nav--link-text">Data product</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="letrol-nav--link terms-of-use letrol-nav--link-m9kvfrmz  "><span
                                                    class="letrol-nav--link-text">Terms of use</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="letrol-section letrol-section-ls18i4o3 ">
    <div class="letrol-container-ho95r55t  ">
        <div class="letrol-container-l7m9owiw  ">
            <div class="letrol-wrapper letrol-heading-vml1rqy8-wrapper "><h2
                    class="letrol-heading letrol-heading-vml1rqy8 "><span>Cookie
</span></h2></div>
            <div class="letrol-text letrol-text-xtyh67h5 "><p>What are cookies? <br><br>Cookies are small text files
                placed on your device when you visit a website. They help websites operate more effectively and provide
                information to the site owners.<br><br></p>
                <p>How do we use cookies? Our use of cookies includes:<br><br></p>
                <p>Essential cookies: Necessary for the proper functioning of the website, enabling basic functions like
                    navigation and secure area access. The site cannot function properly without these cookies.<br><br>
                </p>
                <p>Analytical cookies: Collect anonymous information to help us understand visitor interactions and
                    improve the website.<br><br></p>
                <p>Marketing cookies: Track visitors across websites to display relevant ads.<br><br></p>
                <p>Your choices regarding cookies You can accept or decline cookies. Most browsers accept cookies
                    automatically, but you can change your settings to decline them. This may restrict some website
                    functionality.<br><br></p>
                <p>Third-party cookies We may use third-party services, such as Google Analytics, that use cookies to
                    help us analyze site usage and enhance the user experience.<br><br></p>
                <p>Updates to our Cookie Policy Our Cookie Policy may be updated periodically. Changes will be posted on
                    this page with the updated "last updated" date.</p>
                <p></p>
            </div>
        </div>
    </div>
</section>


</body>
</html>