<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Discover Style with Aviator Sportswear Active Fashion</title>
    <link rel="icon" href="static/images/favicon.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Discover Style with Aviator Sportswear Active Fashion">
    <meta name="description"
          content="Aviator Sportswear provides high quality, fashionable tracksuits designed for an active lifestyle with versatile designs perfect for workouts or everyday wear.">
    <meta property="og:title" content="Discover Style with Aviator Sportswear Active Fashion">
    <meta property="og:description"
          content="Aviator Sportswear provides high quality, fashionable tracksuits designed for an active lifestyle with versatile designs perfect for workouts or everyday wear.">
    <meta name="twitter:title" content="Discover Style with Aviator Sportswear Active Fashion">
    <meta name="twitter:description"
          content="Aviator Sportswear provides high quality, fashionable tracksuits designed for an active lifestyle with versatile designs perfect for workouts or everyday wear.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="static/css/index.css?v=1720348938589">
      <link rel="stylesheet" href="/static/css/ba.css"/>

</head>
<body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

    :root {
        --primary-color: #ff6b6b;
        --secondary-color: #ffa500;
        --bg-color: rgba(92, 92, 92, 0.5);
        --text-color: #333;
    }



    .cookie-preferences {
        position: fixed;
        bottom: -350px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 600px;
        background-color: rgba(67, 67, 67, 0.5);
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: bottom 0.5s ease-in-out;
        z-index: 999999999;
    }

    .cookie-preferences.show {
        bottom: 20px;
    }

    .cookie-preferences h2 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 10px;
        color: white;
    }

    .cookie-preferences p {
        font-size: 16px;
        margin-bottom: 10px;
        color: white;
    }

    .cookie-preferences .buttons {
        display: flex;
        justify-content: space-between;
    }

    .cookie-preferences button {
        background-color: var(--primary-color);
        border: none;
        color: #fff;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .cookie-preferences button.secondary {
        background-color: var(--secondary-color);
    }

    .cookie-preferences button:hover {
        background-color: #ff4444;
    }

    .cookie-preferences button.secondary:hover {
        background-color: #ff8c00;
    }

    .cookie-preferences a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: 600;
    }

    .cookie-preferences a:hover {
        text-decoration: underline;
    }
</style>

<div class="cookie-preferences show">
    <h2>Cookie Preferences</h2>
    <p>Our website uses cookies to enhance your browsing experience. Manage your preferences</p>
    <a href="cookie.html">Cookie Policy</a>
    <div class="buttons">
        <button id="manage-cookies" class="secondary">Denied</button>
        <button id="accept-cookies">Accept All</button>

    </div>
</div>

<script>
    const cookiePreferencesDialog = document.querySelector('.cookie-preferences');
    const acceptCookiesBtn = document.getElementById('accept-cookies');
    const manageCookiesBtn = document.getElementById('manage-cookies');


    acceptCookiesBtn.addEventListener('click', () => {
        cookiePreferencesDialog.style.display = 'none';
        //localStorage.setItem('cookiesAccepted', 'true');
    });

    manageCookiesBtn.addEventListener('click', () => {
        cookiePreferencesDialog.style.display = 'none';
        //localStorage.setItem('cookiesAccepted', 'true');
    });
</script>

<div class="bg-banner">
    <div class="banner" id="banner">
        <div class="close-btn" id="closeBtn">10</div>
    </div>
</div>

<script src="/static/ba.js"></script>

<section class="letrol-section letrol-section-wl2fe4wo ">
    <div class="letrol-container-syscdnvy  ">
        <div class="letrol-container-w6e5tg0h  ">
            <div class="letrol-container-uuf9xeyu  ">
                <div class="letrol-container-08xgp8so  ">
                    <div class="letrol-navbar--wrapper letrol-nav-67abdkhr-wrapper  ">
                        <div class="letrol-navbar letrol-nav-67abdkhr ">
                            <button aria-label="Navbar Toggle" class="letrol-navbar--toggle"
                                    data-target="#letrolNavbarCollapse">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                     class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-testid="icon-test">
                                    <path fill="currentColor"
                                          d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                </svg>
                            </button>
                            <div class="letrol-navbar--collapse collapse" id="letrolNavbarCollapse">
                                <div class="letrol-navbar--navs">
                                    <ul class="letrol-nav--links normalize">
                                        <li class=""><a href="#i1"
                                                        class="letrol-nav--link revolution letrol-nav--link-2suuvmpu  "><span
                                                class="letrol-nav--link-icon"></span><span
                                                class="letrol-nav--link-text">Revolution</span></a>
                                        </li>
                                        <li class=""><a href="#i2"
                                                        class="letrol-nav--link choose letrol-nav--link-jrjtnw95  "><span
                                                class="letrol-nav--link-icon"></span><span
                                                class="letrol-nav--link-text">Choose</span></a>
                                        </li>
                                        <li class=""><a href="#i3"
                                                        class="letrol-nav--link stay letrol-nav--link-gxhc2i5v  "><span
                                                class="letrol-nav--link-icon"></span><span
                                                class="letrol-nav--link-text">Stay</span></a>
                                        </li>
                                        <li class=""><a href="#i4"
                                                        class="letrol-nav--link contact letrol-nav--link-bzdz1ay2  "><span
                                                class="letrol-nav--link-icon"></span><span
                                                class="letrol-nav--link-text">Contact</span></a>
                                        </li>
                                        <li class=""><a href="privacy.html"
                                                        class="letrol-nav--link privacy-policy letrol-nav--link-5c6x70ab  "><span
                                                class="letrol-nav--link-text">Privacy policy</span></a></li>
                                        <li class=""><a href="terms.html"
                                                        class="letrol-nav--link terms-of-use letrol-nav--link-ytrtfsgd  "><span
                                                class="letrol-nav--link-text">Terms of use</span></a></li>
                                        <li class=""><a href="dmca.html"
                                                        class="letrol-nav--link dmca letrol-nav--link-h2g0llwv  "><span
                                                class="letrol-nav--link-text">Dmca</span></a></li>
                                        <li class=""><a href="cookie.html"
                                                        class="letrol-nav--link cookie letrol-nav--link-1gcodqi7  "><span
                                                class="letrol-nav--link-text">Cookie</span></a></li>
                                        <li class=""><a href="#"
                                                        class="letrol-nav--link data-product letrol-nav--link-70zv7klw  "><span
                                                class="letrol-nav--link-text">Data product</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="letrol-container-7nhqbeoz  ">
        <div class="letrol-container-xim1xi49  ">
            <div class="letrol-container-iq9wa26z  ">
                <div class="letrol-wrapper letrol-heading-kvdkiapd-wrapper "><h1
                        class="letrol-heading letrol-heading-kvdkiapd "><span>Discover Comfort and Style in Every Move!
</span></h1></div>
                <div class="letrol-text letrol-text-ivrgjodz "><p>We are thrilled to welcome you to the official Aviator
                    sportswear website! Our tracksuits are designed for those who appreciate high quality, modern
                    design, and absolute comfort. Inspired by an active lifestyle, we offer you unique collections that
                    are perfect for both workouts and everyday wear.<br><br></p>
                    <p>At Aviator, we believe that sportswear should be more than just functional; it should also be an
                        expression of your personal style and a reflection of your active lifestyle. Our tracksuits
                        combine cutting-edge technology with the latest fashion trends to deliver products that not only
                        perform well but also look great. Whether you're hitting the gym, running errands, or relaxing
                        at home, our tracksuits provide the perfect blend of comfort and style.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="letrol-container-nyh2ixxg  ">
        <div class="letrol-container-by6bd0dy  ">
            <div class="letrol-container-m352rahs  ">
                <div class="letrol-container-kq7bf0q1  ">
                    <div class="letrol-wrapper letrol-image-cxxoqht0-wrapper "><img alt="model wears"
                                                                                    src="static/images/A_young_woman_in_an_Aviator_tracksuit_practicing_y-p4RkX.png"
                                                                                    loading="lazy"
                                                                                    class="letrol-image-cxxoqht0 ">
                    </div>
                </div>
                <div class="letrol-container-7d9s5g4o  ">
                    <div class="letrol-wrapper letrol-heading-o7nco0c6-wrapper "><h3
                            class="letrol-heading letrol-heading-o7nco0c6 "><span>Trendy Looks</span></h3></div>
                </div>
            </div>
        </div>
        <div class="letrol-container-wgz1ujsq  ">
            <div class="letrol-container-qo2m3t0q  ">
                <div class="letrol-container-pv5qabj1  ">
                    <div class="letrol-wrapper letrol-image-yuw9prr4-wrapper "><img alt="active woman"
                                                                                    src="static/images/A_young_man_in_an_Aviator_tracksuit_jumping_in_th-0k-Vi.png"
                                                                                    loading="lazy"
                                                                                    class="letrol-image-yuw9prr4 ">
                    </div>
                </div>
                <div class="letrol-container-s4zqfclj  ">
                    <div class="letrol-wrapper letrol-heading-5wl3yl5s-wrapper "><h3
                            class="letrol-heading letrol-heading-5wl3yl5s "><span>Active Living</span></h3></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="letrol-section letrol-section-1i75q8wv ">
    <div class="">
        <div class="container letrol-row-19sc6kzl-wrapper    ">
            <div class="letrol-row-19sc6kzl  flex  ">
                <div class="col-lg-1/2 col-md-1/1 ">
                    <div class="column-inner letrol-column-9gkuvvdk  1/2">
                        <div class="letrol-wrapper letrol-image-0f041tuf-wrapper "><img alt="sports fashion"
                                                                                        src="static/images/A_stylish_woman_in_an_Aviator_tracksuit_posing_co-mhOuB.png"
                                                                                        loading="lazy"
                                                                                        class="letrol-image-0f041tuf ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/2 col-md-1/1 ">
                    <div class="column-inner letrol-column-yt51lmlb  1/2">
                        <div class="letrol-wrapper letrol-heading-2ei5823i-wrapper "><h2
                                class="letrol-heading letrol-heading-2ei5823i " id="i1"><span>Revolutionizing Active Fashion with Aviator Sportswear
</span></h2></div>
                        <div class="letrol-text letrol-text-idhizq73 "><p>We understand that everyone has different
                            needs
                            and preferences when it comes to sportswear. That's why we offer a wide range of designs,
                            colors, and sizes to cater to all tastes and body types. Our commitment to quality ensures
                            that every piece of clothing we produce meets the highest standards of durability and
                            comfort. When you choose Aviator, you're choosing clothing that will support you through
                            every challenge and adventure.<br><br></p>
                            <p>Our website is designed to provide a seamless shopping experience. You can easily browse
                                our collections, read detailed product descriptions, and view high-resolution images of
                                each item. We also offer a range of convenient payment options and fast, reliable
                                shipping to ensure that you receive your order as quickly as possible.<br><br></p>
                            <p>We value our customers and strive to provide exceptional service at all times. If you
                                have any questions or need assistance with your order, our friendly and knowledgeable
                                customer service team is here to help. We are committed to making your shopping
                                experience as enjoyable and hassle-free as possible.</p>
                        </div>
                        <div class="">
                            <div class=" letrol-row-89jn29xi-wrapper    ">
                                <div class="letrol-row-89jn29xi  flex  ">
                                    <div class="col-lg-1/7 col-md-1/7 col-xs-1/4 ">
                                        <div class="column-inner letrol-column-jogstqr3  1/7">
                                            <div class="letrol-icon-3i1xzm8y-wrapper  "><span
                                                    class="letrol-icon letrol-icon-3i1xzm8y  "><svg aria-hidden="true"
                                                                                                    focusable="false"
                                                                                                    data-prefix="fas"
                                                                                                    data-icon="circle-check"
                                                                                                    class="svg-inline--fa fa-circle-check fa-fw icon "
                                                                                                    role="img"
                                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                                    viewbox="0 0 512 512"
                                                                                                    data-testid="icon-test"><path
                                                    fill="currentColor"
                                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path></svg></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1/3 col-md-1/3 col-xs-3/4 ">
                                        <div class="column-inner letrol-column-z28s52i0  1/3">
                                            <div class="letrol-text letrol-text-gxah4z3z ">Quality</div>
                                            <div class="letrol-wrapper letrol-heading-wjeo5qxg-wrapper "><h5
                                                    class="letrol-heading letrol-heading-wjeo5qxg ">
                                                <span>Materials</span>
                                            </h5></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1/7 col-md-1/7 col-xs-1/5 ">
                                        <div class="column-inner letrol-column-vi8715n8  1/7">
                                            <div class="letrol-icon-6frmorx7-wrapper  "><span
                                                    class="letrol-icon letrol-icon-6frmorx7  "><svg aria-hidden="true"
                                                                                                    focusable="false"
                                                                                                    data-prefix="fas"
                                                                                                    data-icon="lightbulb"
                                                                                                    class="svg-inline--fa fa-lightbulb fa-fw icon "
                                                                                                    role="img"
                                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                                    viewbox="0 0 384 512"
                                                                                                    data-testid="icon-test"><path
                                                    fill="currentColor"
                                                    d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"></path></svg></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1/3 col-md-1/3 col-xs-3/4 ">
                                        <div class="column-inner letrol-column-zpr1k8g6  1/3">
                                            <div class="letrol-text letrol-text-7pusfbf6 ">Comfort</div>
                                            <div class="letrol-wrapper letrol-heading-vor5pf6e-wrapper "><h5
                                                    class="letrol-heading letrol-heading-vor5pf6e "><span>Fit</span>
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="letrol-section letrol-section-tzphjp5x ">
    <div class="">
        <div class="container letrol-row-muj16duj-wrapper    ">
            <div class="letrol-row-muj16duj  flex  ">
                <div class="col-lg-4/5 ">
                    <div class="column-inner letrol-column-ruunu2h3  4/5">
                        <div class="letrol-wrapper letrol-heading-mpyjzmss-wrapper "><h2
                                class="letrol-heading letrol-heading-mpyjzmss " id="i2"><span>Why Choose Aviator?
</span></h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container letrol-row-une1t084-wrapper    ">
            <div class="letrol-row-une1t084  flex  ">
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner letrol-column-ah2g7kh9  1/3">
                        <div class="letrol-wrapper letrol-heading-kf3sq5tn-wrapper "><h4
                                class="letrol-heading letrol-heading-kf3sq5tn "><span>High-Quality Materials
</span></h4></div>
                        <div class="letrol-text letrol-text-otkjn3wr "><p>Our commitment to quality begins with the
                            materials we use. We source only the finest fabrics that offer durability, breathability,
                            and comfort. Whether you're working out or lounging, our tracksuits provide the perfect fit
                            and feel. Our materials are carefully selected to ensure they can withstand rigorous use
                            while maintaining their appearance and performance over time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner letrol-column-enmxybxn  1/3">
                        <div class="letrol-wrapper letrol-heading-7p9v3jmz-wrapper "><h4
                                class="letrol-heading letrol-heading-7p9v3jmz "><span>Sophisticated Design
</span></h4></div>
                        <div class="letrol-text letrol-text-t3vyg2sp "><p>Our design team is constantly researching and
                            developing new styles to keep our collections fresh and exciting. We pay close attention to
                            the latest fashion trends and incorporate them into our designs, ensuring that our
                            tracksuits are not only functional but also stylish. From sleek, modern lines to bold,
                            vibrant colors, our designs are made to turn heads and make you feel confident.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 ">
                    <div class="column-inner letrol-column-9rmszmpx  1/3">
                        <div class="letrol-wrapper letrol-heading-n1q2qtqq-wrapper "><h4
                                class="letrol-heading letrol-heading-n1q2qtqq "><span>Versatility
</span></h4></div>
                        <div class="letrol-text letrol-text-82n20g0y "><p>One of the key features of our tracksuits is
                            their versatility. They are designed to be worn for a variety of activities, making them a
                            practical addition to any wardrobe. Whether you're heading to the gym, going for a run, or
                            simply relaxing at home, our tracksuits provide the comfort and functionality you need.
                            Their stylish designs also make them suitable for casual outings, allowing you to look great
                            no matter where you go.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="letrol-section letrol-section-8y92xx2h ">
    <div class="letrol-container-9vzf0cdq  ">
        <div class="letrol-container-l126syxv  ">
            <div class="letrol-wrapper letrol-heading-8vzc406c-wrapper "><h2
                    class="letrol-heading letrol-heading-8vzc406c "><span>Versatility
</span></h2></div>
            <div class="letrol-text letrol-text-lgwstpji "><p>One of the key features of our tracksuits is their
                versatility. They are designed to be worn for a variety of activities, making them a practical addition
                to any wardrobe. Whether you're heading to the gym, going for a run, or simply relaxing at home, our
                tracksuits provide the comfort and functionality you need. Their stylish designs also make them suitable
                for casual outings, allowing you to look great no matter where you go.<br><br>We believe that everyone
                deserves to feel comfortable and confident in their sportswear. That's why we offer a wide range of
                sizes, colors, and styles to suit all preferences. Our collections are designed to cater to different
                tastes, ensuring that there is something for everyone. We also offer custom sizing options for those who
                need a more tailored fit, providing an added level of personalization.</p>
            </div>
        </div>
        <div class="letrol-container-be9wzm57  ">
            <div class="letrol-wrapper letrol-image-2so950om-wrapper "><img alt="active wear"
                                                                            src="static/images/A_sporty_man_and_woman_wearing_Aviator_tracksuits-SPfr2.png"
                                                                            loading="lazy"
                                                                            class="letrol-image-2so950om ">
            </div>
            <div class="letrol-line-oqfcjoh7-wrapper ">
                <hr class="letrol-line-oqfcjoh7 ">
            </div>
            <div class="letrol-container-vrv0ad8d  ">
                <ul class="letrol-list letrol-lists-eogkhu1m ">
                    <li class="letrol-list--item letrol-li-3hmbugvr">
                        <div class="letrol-list--lists"><span class="letrol-list--icon"><svg aria-hidden="true"
                                                                                             focusable="false"
                                                                                             data-prefix="far"
                                                                                             data-icon="circle-check"
                                                                                             class="svg-inline--fa fa-circle-check fa-fw icon icon_3hmbugvr"
                                                                                             role="img"
                                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                                             viewbox="0 0 512 512"
                                                                                             data-testid="icon-test"><path
                                fill="currentColor"
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                class="letrol-list--text">Soft, stretch fabric</span></div>
                    </li>
                    <li class="letrol-list--gap"></li>
                    <li class="letrol-list--item letrol-li-r9c9b2rj">
                        <div class="letrol-list--lists"><span class="letrol-list--icon"><svg aria-hidden="true"
                                                                                             focusable="false"
                                                                                             data-prefix="far"
                                                                                             data-icon="circle-check"
                                                                                             class="svg-inline--fa fa-circle-check fa-fw icon icon_r9c9b2rj"
                                                                                             role="img"
                                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                                             viewbox="0 0 512 512"
                                                                                             data-testid="icon-test"><path
                                fill="currentColor"
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                class="letrol-list--text">Athletic or casual wear</span></div>
                    </li>
                    <li class="letrol-list--gap"></li>
                    <li class="letrol-list--item letrol-li-pnygvsgo">
                        <div class="letrol-list--lists"><span class="letrol-list--icon"><svg aria-hidden="true"
                                                                                             focusable="false"
                                                                                             data-prefix="far"
                                                                                             data-icon="circle-check"
                                                                                             class="svg-inline--fa fa-circle-check fa-fw icon icon_pnygvsgo"
                                                                                             role="img"
                                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                                             viewbox="0 0 512 512"
                                                                                             data-testid="icon-test"><path
                                fill="currentColor"
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"></path></svg></span><span
                                class="letrol-list--text">Machine washable</span></div>
                    </li>
                    <li class="letrol-list--gap"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="letrol-section letrol-section-2e8e0u0f ">
    <div class="letrol-container-yx7h7dpq  ">
        <div class="letrol-container-na50zqc3  ">
            <div class="letrol-wrapper letrol-heading-bnndjui1-wrapper "><h2
                    class="letrol-heading letrol-heading-bnndjui1 "
                    id="i3"><span>Stay Connected
</span></h2></div>
        </div>
        <div class="letrol-container-aemzw79c  ">
            <div class="letrol-container-tsi9h18a  ">
                <div class="letrol-container-k83dqcak  ">
                    <div class="letrol-container-mnj8syx3  ">
                        <div class="letrol-wrapper letrol-image-na9f0pet-wrapper "><img alt="stylish outfit"
                                                                                        src="static/images/A_group_of_runners_wearing_Aviator_tracksuits_com-T5lgu.png"
                                                                                        loading="lazy"
                                                                                        class="letrol-image-na9f0pet ">
                        </div>
                    </div>
                    <div class="letrol-container-86s04tx9  ">
                        <div class="letrol-wrapper letrol-heading-ov2seaq3-wrapper "><h4
                                class="letrol-heading letrol-heading-ov2seaq3 "><span>Social Media
</span></h4></div>
                    </div>
                </div>
                <div class="letrol-text letrol-text-2h5vzg0z "><p>Follow us on social media platforms such as Instagram,
                    Facebook, and Twitter to get the latest updates on new collections, exclusive offers, and
                    behind-the-scenes content. Our social media channels are a great way to connect with other Aviator
                    fans and share your experiences with our products. Join our online community and be the first to
                    know about upcoming releases and special promotions.</p>
                </div>
            </div>
            <div class="letrol-container-zymjsw57  ">
                <div class="letrol-container-qi3iw9mq  ">
                    <div class="letrol-container-naw27khu  ">
                        <div class="letrol-wrapper letrol-image-vpwfcc59-wrapper "><img alt="jogging woman"
                                                                                        src="static/images/A_group_of_friends_wearing_Aviator_tracksuits_smi-ZLahB.png"
                                                                                        loading="lazy"
                                                                                        class="letrol-image-vpwfcc59 ">
                        </div>
                    </div>
                    <div class="letrol-container-ccw6q9uj  ">
                        <div class="letrol-wrapper letrol-heading-jkyqwyfy-wrapper "><h4
                                class="letrol-heading letrol-heading-jkyqwyfy "><span>Newsletter
</span></h4></div>
                    </div>
                </div>
                <div class="letrol-text letrol-text-k4w6c03d "><p>Subscribe to our newsletter to receive regular updates
                    directly in your inbox. Our newsletters feature the latest news, product launches, special offers,
                    and expert tips on how to get the most out of your Aviator sportswear. By subscribing, you’ll also
                    receive exclusive discounts and early access to sales events.</p>
                </div>
            </div>
            <div class="letrol-container-g3pkg0e2  ">
                <div class="letrol-container-fvnqx6dm  ">
                    <div class="letrol-container-7j4urov9  ">
                        <div class="letrol-wrapper letrol-image-3pwwtjd3-wrapper "><img alt="man wearing tracksuit"
                                                                                        src="static/images/A_fit_couple_in_Aviator_tracksuits_performing_out-SawiK.png"
                                                                                        loading="lazy"
                                                                                        class="letrol-image-3pwwtjd3 ">
                        </div>
                    </div>
                    <div class="letrol-container-es6orlb2  ">
                        <div class="letrol-wrapper letrol-heading-fho4s9yl-wrapper "><h4
                                class="letrol-heading letrol-heading-fho4s9yl "><span>Customer Support
</span></h4></div>
                    </div>
                </div>
                <div class="letrol-text letrol-text-3p0ty80t "><p>Our customer support team is here to assist you with
                    any
                    questions or concerns you may have. Whether you need help with sizing, order inquiries, or product
                    recommendations, our friendly and knowledgeable team is always ready to help. You can reach us via
                    email, phone, or live chat on our website.</p>
                </div>
            </div>
            <div class="letrol-container-sot044pq  ">
                <div class="letrol-container-dz84x5z0  ">
                    <div class="letrol-container-hg3tooyw  ">
                        <div class="letrol-wrapper letrol-image-p9xceeee-wrapper "><img alt="woman lounging "
                                                                                        src="static/images/A_group_of_friends_in_Aviator_tracksuits_playing_-lzFBX.png"
                                                                                        loading="lazy"
                                                                                        class="letrol-image-p9xceeee ">
                        </div>
                    </div>
                    <div class="letrol-container-qmnuldte  ">
                        <div class="letrol-wrapper letrol-heading-7jn0pjdf-wrapper "><h4
                                class="letrol-heading letrol-heading-7jn0pjdf "><span>Blog
</span></h4></div>
                    </div>
                </div>
                <div class="letrol-text letrol-text-996spuzl "><p>Thank you for choosing Aviator. We are committed to
                    providing you with the highest quality sportswear and exceptional customer service. Together, we can
                    make your active lifestyle even brighter and more comfortable. Explore our collections today and
                    discover the Aviator difference.</p>
                </div>
            </div>
        </div>
        <div class="letrol-container-ei0qi1wl  ">
            <div class="letrol-container-3lflvg0c  ">
                <div class="letrol-wrapper letrol-heading-hoau3nwb-wrapper "><h4
                        class="letrol-heading letrol-heading-hoau3nwb "><span>Loved by all</span></h4></div>
            </div>
            <div class="letrol-container-oa9ew0u5  ">
                <div class="letrol-wrapper letrol-image-kh0j5z05-wrapper "><img alt="woman dancing"
                                                                                src="static/images/A_dynamic_stylish_young_man_jogging_in_a_city_par-mVy4Y.png"
                                                                                loading="lazy"
                                                                                class="letrol-image-kh0j5z05 "></div>
            </div>
        </div>
    </div>
</section>
<section class="letrol-section letrol-section-6o4g6msw ">
    <div class="letrol-container-bauk2t37  ">
        <div class="letrol-container-nq13q92l  ">
            <div class="letrol-container-rksm1kyj  ">
                <div class="letrol-wrapper letrol-heading-82gw1y2h-wrapper "><h5
                        class="letrol-heading letrol-heading-82gw1y2h " id="i4"><span>Contact Us
</span></h5></div>
                <div class="letrol-text letrol-text-izg5wp33 "><p>Rwanda<br><br>3356+J8G, KN 87 St, Kigali</p>
                    <p>Phone Number (91)- 9433527763</p>
                    <p>Email pedersenmorten12@gmail.com</p>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.540330481812!2d30.063531314752263!3d-1.9537982987848904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca6c8b278f763%3A0xb5ac4d0b8d843e3d!2s3356%2BJ8G%2C%20KN%2087%20St%2C%20Kigali!5e0!3m2!1sen!2sru!4v1622240442000!5m2!1sen!2sru"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>

    </div>
</section>


</body>
</html>