<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cookie</title>
    <link rel="icon" href="images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Cookie">
    <meta name="description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta property="og:title" content="Cookie">
    <meta property="og:description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta name="twitter:title" content="Cookie">
    <meta name="twitter:description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="stylesheet" href="../static/css/doc.css">


</head>
<body>

<section class="gafd-section symbol--header gafd-section-7l3m39mc ">
    <div class="">
        <div class="container gafd-row-26kjxs2q-wrapper    ">
            <div class="gafd-row-26kjxs2q  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gafd-column-7czfqv3j  1/1">
                        <div class="gafd-navbar--wrapper gafd-nav-icobvfxe-wrapper  sticky-nav">
                            <div class="gafd-navbar gafd-nav-icobvfxe ">
                                <button aria-label="Navbar Toggle" class="gafd-navbar--toggle"
                                        data-target="#gafdNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="gafd-navbar--collapse collapse" id="gafdNavbarCollapse">
                                    <div class="gafd-navbar--navs">
                                        <ul class="gafd-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="gafd-nav--link home gafd-nav--link-2suuvmpu  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="gafd-nav--link privacy-policy gafd-nav--link-jrjtnw95  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="gafd-nav--link terms-of-use gafd-nav--link-bzdz1ay2  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="gafd-nav--link cookie gafd-nav--link-xbr0av3x  "><span
                                                    class="gafd-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="gafd-nav--link dmca gafd-nav--link-6st0hjhr  "><span
                                                    class="gafd-nav--link-text">Dmca</span></a></li>
                                            <li class=""><a href="data.html"
                                                            class="gafd-nav--link data gafd-nav--link-nw524n7m  "><span
                                                    class="gafd-nav--link-text">Data</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gafd-section gafd-section-ncortv4b ">
    <div class="">
        <div class="container gafd-row-0asxwphp-wrapper    ">
            <div class="gafd-row-0asxwphp  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gafd-column-34e586aq  1/1">
                        <div class="gafd-wrapper gafd-heading-vtiv1ce0-wrapper "><h2
                                class="gafd-heading gafd-heading-vtiv1ce0 "><span>Cookie
</span></h2></div>
                        <div class="gafd-text gafd-text-2v3qa8ug "><p>What are cookies? <br><br>Cookies are small text
                            files placed on your device when you visit a website. They help websites function more
                            efficiently and provide information to site owners.<br><br></p>
                            <p>How do we use cookies? We use cookies for different purposes, including:<br><br></p>
                            <p>Essential cookies: Necessary for the proper functioning of the website, enabling basic
                                operations like navigation and secure access. The site cannot function correctly without
                                these cookies.<br><br></p>
                            <p>Analytical cookies: Collect anonymous data to help us understand how visitors interact
                                with our site, allowing us to make improvements.</p>
                            <p>Marketing cookies: Used to track visitors across websites to display relevant
                                ads.<br><br></p>
                            <p>Your choices regarding cookies You can accept or decline cookies. Most browsers accept
                                cookies by default, but you can change your settings to decline them. This may affect
                                your ability to use some features of the site.<br><br></p>
                            <p>Third-party cookies We may use third-party services, such as Google Analytics, that use
                                cookies to help us analyze site usage and enhance the user experience.<br><br></p>
                            <p>Updates to our Cookie Policy Our Cookie Policy may be updated from time to time. Changes
                                will be posted on this page with an updated "last updated" date.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>