<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Dmca</title>
    <link rel="icon" href="images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Dmca">
    <meta name="description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta property="og:title" content="Dmca">
    <meta property="og:description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta name="twitter:title" content="Dmca">
    <meta name="twitter:description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="stylesheet" href="../static/css/doc.css">


</head>
<body>

<section class="gafd-section symbol--header gafd-section-7l3m39mc ">
    <div class="">
        <div class="container gafd-row-26kjxs2q-wrapper    ">
            <div class="gafd-row-26kjxs2q  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gafd-column-7czfqv3j  1/1">
                        <div class="gafd-navbar--wrapper gafd-nav-icobvfxe-wrapper  sticky-nav">
                            <div class="gafd-navbar gafd-nav-icobvfxe ">
                                <button aria-label="Navbar Toggle" class="gafd-navbar--toggle"
                                        data-target="#gafdNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="gafd-navbar--collapse collapse" id="gafdNavbarCollapse">
                                    <div class="gafd-navbar--navs">
                                        <ul class="gafd-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="gafd-nav--link home gafd-nav--link-2suuvmpu  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="gafd-nav--link privacy-policy gafd-nav--link-jrjtnw95  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="gafd-nav--link terms-of-use gafd-nav--link-bzdz1ay2  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="gafd-nav--link cookie gafd-nav--link-xbr0av3x  "><span
                                                    class="gafd-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="gafd-nav--link dmca gafd-nav--link-6st0hjhr  "><span
                                                    class="gafd-nav--link-text">Dmca</span></a></li>
                                            <li class=""><a href="data.html"
                                                            class="gafd-nav--link data gafd-nav--link-nw524n7m  "><span
                                                    class="gafd-nav--link-text">Data</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gafd-section gafd-section-ncortv4b ">
    <div class="">
        <div class="container gafd-row-0asxwphp-wrapper    ">
            <div class="gafd-row-0asxwphp  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gafd-column-34e586aq  1/1">
                        <div class="gafd-wrapper gafd-heading-vtiv1ce0-wrapper "><h2
                                class="gafd-heading gafd-heading-vtiv1ce0 "><span>&nbsp;DMCA Notice

</span></h2></div>
                        <div class="gafd-text gafd-text-2v3qa8ug "><p>&nbsp;&nbsp;&nbsp;games-simple.com respects the
                            intellectual property of others. If you believe that your copyright has been infringed,
                            please notify our designated agent with the following information:<br></p>
                            <p></p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;1. A physical or electronic signature of a person authorized to
                                act on behalf of the copyright owner;<br><br></p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Identification of the copyrighted work claimed to have been
                                infringed;<br><br></p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;3. Identification of the material that is claimed to be
                                infringing, and information reasonably sufficient to permit us to locate the
                                material;<br><br></p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;4. Your contact information, including your address, telephone
                                number, and email address;<br><br></p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;5. A statement that you have a good faith belief that the
                                disputed use is not authorized by the copyright owner, its agent, or the law;<br><br>
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;6. A statement that the information in the notification is
                                accurate, and under penalty of perjury, that you are authorized to act on behalf of the
                                copyright owner.<br><br></p>
                            <p></p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;Contact our DMCA Agent at: <strong>malmgrendew11990@gmail.com</strong>
                            </p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .cookie-dialog {
        position: fixed;
        bottom: 20px;
        left: 0;
        right: 0;
        background-color: rgba(12, 12, 12, 0.5);
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 3px;
        max-width: 400px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-icon {
        font-size: 36px;
        color: #ff9800;
        margin-bottom: 16px;
    }

    .cookie-dialog-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #fff;
    }

    .cookie-dialog-text {
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: 2px;
        color: #fff;
    }

    .cookie-dialog-buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .cookie-dialog-button {
        background-color: #ff9800;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .cookie-dialog-button:hover {
        background-color: #f57c00;
    }

    .cookie-dialog-link {
        color: #616161;
        font-size: 16px;
        text-decoration: none;
    }

    .cookie-dialog-link:hover {
        color: #424242;
    }
</style>


<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-icon">
            <i class="fas fa-cookie-bite"></i>
        </div>
        <h2 class="cookie-dialog-title">Cookie Preferences</h2>
        <p class="cookie-dialog-text">
            We use cookies to enhance your experience on our website. These small data files help us remember your preferences and provide personalized content. We also collect anonymous statistics to improve our services. By continuing to use our site, you agree to our cookie policy. If you wish to adjust your cookie settings, please do so in your browser.
        </p>
        <p>
            <a href="cookie.html">Cookie</a>
        </p>
        <div class="cookie-dialog-buttons">
            <button id="accept-cookies" class="cookie-dialog-button">Accept Cookies</button>
        </div>
    </div>
</div>

<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        //  localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>

</body>
</html>