<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Aviator Business Solutions privacy policy outlines data collection and usage</title>
    <link rel="icon" href="images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Aviator Business Solutions privacy policy outlines data collection and usage">
    <meta name="description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta property="og:title" content="Aviator Business Solutions privacy policy outlines data collection and usage">
    <meta property="og:description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta name="twitter:title" content="Aviator Business Solutions privacy policy outlines data collection and usage">
    <meta name="twitter:description"
          content="The privacy policy of Aviator Business Solutions explains how they collect and use personal information and usage data when users visit their website or use their services.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="stylesheet" href="../static/css/doc.css">

</head>
<body>

<section class="gafd-section symbol--header gafd-section-7l3m39mc ">
    <div class="">
        <div class="container gafd-row-26kjxs2q-wrapper    ">
            <div class="gafd-row-26kjxs2q  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gafd-column-7czfqv3j  1/1">
                        <div class="gafd-navbar--wrapper gafd-nav-icobvfxe-wrapper  sticky-nav">
                            <div class="gafd-navbar gafd-nav-icobvfxe ">
                                <button aria-label="Navbar Toggle" class="gafd-navbar--toggle"
                                        data-target="#gafdNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="gafd-navbar--collapse collapse" id="gafdNavbarCollapse">
                                    <div class="gafd-navbar--navs">
                                        <ul class="gafd-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="gafd-nav--link home gafd-nav--link-2suuvmpu  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="gafd-nav--link privacy-policy gafd-nav--link-jrjtnw95  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="gafd-nav--link terms-of-use gafd-nav--link-bzdz1ay2  "><span
                                                    class="gafd-nav--link-icon"></span><span
                                                    class="gafd-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="gafd-nav--link cookie gafd-nav--link-xbr0av3x  "><span
                                                    class="gafd-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="gafd-nav--link dmca gafd-nav--link-6st0hjhr  "><span
                                                    class="gafd-nav--link-text">Dmca</span></a></li>
                                            <li class=""><a href="data.html"
                                                            class="gafd-nav--link data gafd-nav--link-nw524n7m  "><span
                                                    class="gafd-nav--link-text">Data</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gafd-section gafd-section-ncortv4b ">
    <div class="">
        <div class="container gafd-row-0asxwphp-wrapper    ">
            <div class="gafd-row-0asxwphp  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gafd-column-34e586aq  1/1">
                        <div class="gafd-wrapper gafd-heading-vtiv1ce0-wrapper "><h2
                                class="gafd-heading gafd-heading-vtiv1ce0 "><span>Privacy Policy
</span></h2></div>
                        <div class="gafd-text gafd-text-2v3qa8ug "><p>Introduction<br><br></p>
                            <p>Aviator Business Solutions Pvt. Ltd. ("we," "us," or "our") values your privacy. This
                                Privacy Policy explains what personal data we collect, how we use it, and the measures
                                we take to protect it when you visit our use our services.<br><br></p>
                            <p>Information We Collect<br><br></p>
                            <p>Personal Information</p>
                            <p>When you contact us, register for our services, or participate in our business games, we
                                may collect the following personal information:</p>
                            <p>Name</p>
                            <p>Email address</p>
                            <p>Phone number</p>
                            <p>Company name</p>
                            <p>Job title</p>
                            <p>Billing information (for payment processing)</p>
                            <p>Usage Data</p>
                            <p>We collect information about how you interact with our website, including:</p>
                            <p>IP address</p>
                            <p>Browser type and version</p>
                            <p>Pages visited</p>
                            <p>Date and time of visit</p>
                            <p>Time spent on pages</p>
                            <p>Referring website addresses<br><br></p>
                            <p>Cookies and Tracking Technologies<br><br></p>
                            <p>We use cookies and similar tracking technologies to track activity on our website and
                                store certain information. Cookies are small data files stored on your device.<br><br>
                            </p>
                            <p>How We Use Your Information<br><br></p>
                            <p>We use the collected information for various purposes, including:</p>
                            <p>Providing and maintaining our services</p>
                            <p>Processing transactions and sending you related information</p>
                            <p>Communicating with you, including responding to your requests or inquiries</p>
                            <p>Improving our website and services through analysis and feedback</p>
                            <p>Personalizing your experience on our website</p>
                            <p>Marketing and promotional purposes (with your consent)</p>
                            <p>Ensuring compliance with legal obligations<br><br></p>
                            <p>Sharing Your Information<br><br></p>
                            <p>We do not sell, trade, or otherwise transfer your personal information to outside parties
                                except as described below:<br><br></p>
                            <p>Service Providers: We may share your information with trusted third-party service
                                providers who assist us in operating our website, conducting our business, or providing
                                services to you. These providers have access to your information only to perform
                                specific tasks on our behalf and are obligated to protect your information.</p>
                            <p>Legal Requirements: We may disclose your information if required by law or in response to
                                valid requests by public authorities (e.g., a court or a government agency).<br><br></p>
                            <p>Security of Your Information<br><br></p>
                            <p>We implement a variety of security measures to protect your personal information from
                                unauthorized access, use, or disclosure. These measures include:</p>
                            <p>Secure Sockets Layer (SSL) technology to encrypt data transmitted over the internet</p>
                            <p>Regular security audits and vulnerability assessments</p>
                            <p>Access controls to ensure that only authorized personnel can access your information</p>
                            <p>Data Retention</p>
                            <p>We retain your personal information for as long as necessary to fulfill the purposes
                                outlined in this Privacy Policy unless a longer retention period is required or
                                permitted by law.<br><br></p>
                            <p>Your Rights and Choices<br><br></p>
                            <p>You have certain rights regarding your personal information, including:</p>
                            <p>Access: You can request access to the personal information we hold about you.</p>
                            <p>Correction: You can request that we correct or update inaccurate or incomplete
                                information.</p>
                            <p>Deletion: You can request that we delete your personal information, subject to certain
                                legal obligations.<br><br></p>
                            <p>Objection: You can object to the processing of your personal information under certain
                                circumstances.</p>
                            <p>Withdrawal of Consent: If we rely on your consent to process your personal information,
                                you can withdraw your consent at any time.</p>
                            <p>To exercise these rights, please contact us using the contact information provided below.<br><br>
                            </p>
                            <p>Third-Party Links<br><br></p>
                            <p>Our website may contain links to third-party websites. We are not responsible for the
                                privacy practices or the content of these websites. We encourage you to read the privacy
                                policies of any third-party websites you visit.<br><br></p>
                            <p>Changes to This Privacy Policy<br><br></p>
                            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by
                                posting the new Privacy Policy on this page. Changes become effective immediately upon
                                posting on the website.<br><br></p>
                            <p>Contact Information<br><br></p>
                            <p>If you have any questions about this Privacy Policy, please contact us at:</p>
                            <p>Aviator Business Solutions Pvt. Ltd. Block B, 6th Floor, Qutub Plaza</p>
                            <p>DLF Phase I, Sector 26</p>
                            <p>Gurgaon, Haryana 122002</p>
                            <p>India</p>
                            <p>Phone: +91-124-4567890</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .cookie-dialog {
        position: fixed;
        bottom: 20px;
        left: 0;
        right: 0;
        background-color: rgba(12, 12, 12, 0.5);
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 3px;
        max-width: 400px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-icon {
        font-size: 36px;
        color: #ff9800;
        margin-bottom: 16px;
    }

    .cookie-dialog-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #fff;
    }

    .cookie-dialog-text {
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: 2px;
        color: #fff;
    }

    .cookie-dialog-buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .cookie-dialog-button {
        background-color: #ff9800;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .cookie-dialog-button:hover {
        background-color: #f57c00;
    }

    .cookie-dialog-link {
        color: #616161;
        font-size: 16px;
        text-decoration: none;
    }

    .cookie-dialog-link:hover {
        color: #424242;
    }
</style>


<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-icon">
            <i class="fas fa-cookie-bite"></i>
        </div>
        <h2 class="cookie-dialog-title">Cookie Preferences</h2>
        <p class="cookie-dialog-text">
            We use cookies to enhance your experience on our website. These small data files help us remember your preferences and provide personalized content. We also collect anonymous statistics to improve our services. By continuing to use our site, you agree to our cookie policy. If you wish to adjust your cookie settings, please do so in your browser.
        </p>
        <p>
            <a href="cookie.html">Cookie</a>
        </p>
        <div class="cookie-dialog-buttons">
            <button id="accept-cookies" class="cookie-dialog-button">Accept Cookies</button>
        </div>
    </div>
</div>

<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        //  localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>

</body>
</html>