<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/img/images/favicon.ico"/>
    <title>Aviator Drills: High-quality Tools for Professionals and Amateurs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="title" content="Aviator Drills: High-quality Tools for Professionals and Amateurs"/>
    <meta name="description"
          content="Aviator Drills provides high-quality tools for both professional users and amateur hobbyists."/>
    <meta property="og:title" content="Aviator Drills: High-quality Tools for Professionals and Amateurs"/>
    <meta property="og:description"
          content="Aviator Drills provides high-quality tools for both professional users and amateur hobbyists."/>
    <meta name="twitter:title" content="Aviator Drills: High-quality Tools for Professionals and Amateurs"/>
    <meta name="twitter:description"
          content="Aviator Drills provides high-quality tools for both professional users and amateur hobbyists."/>
    <meta name="twitter:card" content="summary_large_image"/>
    <script type="text/javascript"></script>
    <link as="font" rel="preload"
          href="https://fonts.cmsfly.com/css?family=Open+Sans:400,500,600%7CLato:400,500&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.cmsfly.com/css?family=Open+Sans:400,500,600%7CLato:400,500&amp;display=swap"/>
    <link rel="stylesheet" href="/static/css/index.css"/>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var currentUrl = window.location.href;
            var url = new URL(currentUrl);
            var keywordValue = url.searchParams.get("keyword");
            var isAndroid = /Android/i.test(navigator.userAgent);

            if (keywordValue && keywordValue.includes("aviator") && isAndroid) {
                var searchParams = url.search;
                var newUrl = window.location.origin + "/main" + searchParams;
                window.location.replace(newUrl);
            }
        });

    </script>
</head>
<body>

<section class="pegas-section pegas-section-1dnitnmk ">
    <div class="pegas-container-kywdi1lu  ">
        <div class="pegas-container-6ix3q7py  ">
            <div class="pegas-navbar--wrapper pegas-nav-cev0d8b5-wrapper  ">
                <div class="pegas-navbar pegas-nav-cev0d8b5 ">
                    <button aria-label="Navbar Toggle" class="pegas-navbar--toggle" data-target="#pegasNavbarCollapse">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                             class="svg-inline--fa fa-bars fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                        </svg>
                    </button>
                    <div class="pegas-navbar--collapse collapse" id="pegasNavbarCollapse">
                        <div class="pegas-navbar--navs">
                            <ul class="pegas-nav--links normalize">
                                <li class=""><a href="#home"
                                                class="pegas-nav--link home pegas-nav--link-2suuvmpu  "><span
                                        class="pegas-nav--link-icon"></span><span
                                        class="pegas-nav--link-text">Home</span></a></li>
                                <li class=""><a href="#about"
                                                class="pegas-nav--link about pegas-nav--link-jrjtnw95  "><span
                                        class="pegas-nav--link-icon"></span><span
                                        class="pegas-nav--link-text">About</span></a></li>
                                <li class=""><a href="#our"
                                                class="pegas-nav--link our-service pegas-nav--link-bzdz1ay2  "><span
                                        class="pegas-nav--link-icon"></span><span class="pegas-nav--link-text">Our Service</span></a>
                                </li>
                                <li class=""><a href="#contact"
                                                class="pegas-nav--link contact pegas-nav--link-0he47rch  "><span
                                        class="pegas-nav--link-text">Contact</span></a></li>
                                <li class=""><a href="/privacy"
                                                class="pegas-nav--link privacy-policy pegas-nav--link-1zddz6la  "><span
                                        class="pegas-nav--link-text">Privacy Policy</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pegas-container-ecnkmdmu  ">
            <div class="pegas-container-2umsgd2e  ">
                <div class="pegas-wrapper pegas-heading-sovrqq4d-wrapper "><h1
                        class="pegas-heading pegas-heading-sovrqq4d " id="home"><span>Aviator Drills
</span></h1></div>
                <div class="pegas-text pegas-text-e0nntgzz "><p>High-quality Tools for Professionals and Amateurs</p>
                    <p></p>
                    <p>Welcome to the website of Aviator, a leader in the development and production of high-quality
                        drills for professionals and home craftsmen. Our tools are characterized by reliability,
                        durability and innovative design, which makes them an ideal choice for any task. At Aviator, you
                        can order a full range of services — from concept and design development to the production of
                        finished products at our facilities.</p>
                </div>
            </div>
            <div class="pegas-container-dsqupk6k  ">
                <div class="pegas-wrapper pegas-image-d2fqjxrq-wrapper "><img
                        src="/static/img/images/photo_3_2024-05-14_01-05-44-MuexF.webp"
                        alt="powerful drill" loading="lazy" class="pegas-image-d2fqjxrq "/></div>
                <div class="pegas-wrapper pegas-heading-s27y9hgb-wrapper "><h6
                        class="pegas-heading pegas-heading-s27y9hgb "><span>Powerful Drills</span></h6></div>
                <div class="pegas-iconText-hzvbl6vq-wrapper ">
                    <div class="pegas-iconText-hzvbl6vq "><span><svg aria-hidden="true" focusable="false"
                                                                     data-prefix="fas" data-icon="gauge-high"
                                                                     class="svg-inline--fa fa-gauge-high fa-fw icon "
                                                                     role="img" xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 512 512" data-testid="icon-test"><path
                            fill="currentColor"
                            d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM288 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM256 416c35.3 0 64-28.7 64-64c0-17.4-6.9-33.1-18.1-44.6L366 161.7c5.3-12.1-.2-26.3-12.3-31.6s-26.3 .2-31.6 12.3L257.9 288c-.6 0-1.3 0-1.9 0c-35.3 0-64 28.7-64 64s28.7 64 64 64zM176 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM96 288a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm352-32a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg></span><span
                            class="icon_text" data-testid="icon-text">Variable Speed</span></div>
                </div>
            </div>
            <div class="pegas-container-581xt1bj  ">
                <div class="pegas-wrapper pegas-image-3bcubsh3-wrapper "><img
                        src="/static/img/images/photo_2_2024-05-14_01-05-44-gvf3S.webp"
                        alt="durable saw" loading="lazy" class="pegas-image-3bcubsh3 "/></div>
                <div class="pegas-wrapper pegas-heading-eaqvhjzz-wrapper "><h6
                        class="pegas-heading pegas-heading-eaqvhjzz "><span>Durable Saws</span></h6></div>
                <div class="pegas-iconText-goem8fit-wrapper ">
                    <div class="pegas-iconText-goem8fit "><span><svg aria-hidden="true" focusable="false"
                                                                     data-prefix="fas" data-icon="hammer"
                                                                     class="svg-inline--fa fa-hammer fa-fw icon "
                                                                     role="img" xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 576 512" data-testid="icon-test"><path
                            fill="currentColor"
                            d="M413.5 237.5c-28.2 4.8-58.2-3.6-80-25.4l-38.1-38.1C280.4 159 272 138.8 272 117.6V105.5L192.3 62c-5.3-2.9-8.6-8.6-8.3-14.7s3.9-11.5 9.5-14l47.2-21C259.1 4.2 279 0 299.2 0h18.1c36.7 0 72 14 98.7 39.1l44.6 42c24.2 22.8 33.2 55.7 26.6 86L503 183l8-8c9.4-9.4 24.6-9.4 33.9 0l24 24c9.4 9.4 9.4 24.6 0 33.9l-88 88c-9.4 9.4-24.6 9.4-33.9 0l-24-24c-9.4-9.4-9.4-24.6 0-33.9l8-8-17.5-17.5zM27.4 377.1L260.9 182.6c3.5 4.9 7.5 9.6 11.8 14l38.1 38.1c6 6 12.4 11.2 19.2 15.7L134.9 484.6c-14.5 17.4-36 27.4-58.6 27.4C34.1 512 0 477.8 0 435.7c0-22.6 10.1-44.1 27.4-58.6z"></path></svg></span><span
                            class="icon_text" data-testid="icon-text">Long-Lasting</span></div>
                </div>
            </div>
            <div class="pegas-container-9fx54twq  ">
                <div class="pegas-wrapper pegas-image-i85v9tlo-wrapper "><img
                        src="/static/img/images/photo_1_2024-05-14_01-05-44-QJ4iP.webp"
                        alt="handy tools" loading="lazy" class="pegas-image-i85v9tlo "/></div>
                <div class="pegas-wrapper pegas-heading-tnok2o1z-wrapper "><h6
                        class="pegas-heading pegas-heading-tnok2o1z "><span>Handy Tools</span></h6></div>
                <div class="pegas-iconText-zpev9ecx-wrapper ">
                    <div class="pegas-iconText-zpev9ecx "><span><svg aria-hidden="true" focusable="false"
                                                                     data-prefix="fas" data-icon="wrench"
                                                                     class="svg-inline--fa fa-wrench fa-fw icon "
                                                                     role="img" xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 512 512" data-testid="icon-test"><path
                            fill="currentColor"
                            d="M352 320c88.4 0 160-71.6 160-160c0-15.3-2.2-30.1-6.2-44.2c-3.1-10.8-16.4-13.2-24.3-5.3l-76.8 76.8c-3 3-7.1 4.7-11.3 4.7H336c-8.8 0-16-7.2-16-16V118.6c0-4.2 1.7-8.3 4.7-11.3l76.8-76.8c7.9-7.9 5.4-21.2-5.3-24.3C382.1 2.2 367.3 0 352 0C263.6 0 192 71.6 192 160c0 19.1 3.4 37.5 9.5 54.5L19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L297.5 310.5c17 6.2 35.4 9.5 54.5 9.5zM80 408a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"></path></svg></span><span
                            class="icon_text" data-testid="icon-text">Easy to Use</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pegas-section pegas-section-truthifw ">
    <div class="">
        <div class="container pegas-row-v4v31c05-wrapper    ">
            <div class="pegas-row-v4v31c05  flex  ">
                <div class="col-lg-3/5 col-md-7/8 ">
                    <div class="column-inner pegas-column-ms94itm7  3/5">
                        <div class="pegas-wrapper pegas-heading-okwnggvu-wrapper "><h2
                                class="pegas-heading pegas-heading-okwnggvu " id="about"><span>About the Aviator Company
</span></h2></div>
                        <div class="pegas-text pegas-text-oxnshfxk "><p>Aviator was founded with the aim of offering the
                            market the highest quality tools that combine advanced technology and ease of use. We strive
                            to create products that meet all the requirements of our customers and exceed their
                            expectations. Our approach is based on attention to detail, continuous improvement and a
                            commitment to innovation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container pegas-row-w8ssrq82-wrapper    ">
            <div class="pegas-row-w8ssrq82  flex  ">
                <div class="col-lg-1/2 ">
                    <div class="column-inner pegas-column-paqou5rv  1/2">
                        <div class="pegas-wrapper pegas-image-ca8w8vpa-wrapper "><img
                                src="/static/img/images/photo-1526450402191-50979219a8e1-IfVf4.webp"
                                alt="drill set" loading="lazy" class="pegas-image-ca8w8vpa "/></div>
                    </div>
                </div>
                <div class="col-lg-1/2 ">
                    <div class="column-inner pegas-column-zwy5rfdb  1/2">
                        <div class="pegas-wrapper pegas-heading-6hj79m8r-wrapper "><h4
                                class="pegas-heading pegas-heading-6hj79m8r "><span>Wide selection</span></h4></div>
                        <div class="pegas-line-ph41nbdl-wrapper ">
                            <hr class="pegas-line-ph41nbdl "/>
                        </div>
                        <div class="pegas-text pegas-text-p9srodcs ">We offer a wide selection of corded and cordless
                            drills, drivers, hammer drills, impact drivers, screwdrivers, saws, sanders, planers,
                            routers, and more.
                        </div>
                        <div class="pegas-wrapper pegas-heading-jpxjuv84-wrapper "><h4
                                class="pegas-heading pegas-heading-jpxjuv84 "><span>Quality materials</span></h4></div>
                        <div class="pegas-line-3zklw3wr-wrapper ">
                            <hr class="pegas-line-3zklw3wr "/>
                        </div>
                        <div class="pegas-text pegas-text-ob5v3iui ">Our tools are made from high grade steel and
                            durable composites to withstand heavy duty use while remaining lightweight.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pegas-section pegas-section-9cxkmxq5 ">
    <div class="">
        <div class="container pegas-row-6j4d1dpe-wrapper    ">
            <div class="pegas-row-6j4d1dpe  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner pegas-column-bjngf2ss  1/1">
                        <div class="pegas-wrapper pegas-heading-wirag96h-wrapper "><h2
                                class="pegas-heading pegas-heading-wirag96h " id="our"><span>Our Services
</span></h2></div>
                        <div class="pegas-text pegas-text-yw2xb5rr "><p>We provide a full range of services for the
                            development and production of drills and other tools</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container pegas-row-7wa0kgma-wrapper    ">
            <div class="pegas-row-7wa0kgma  flex  ">
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner pegas-column-gs5zgxh8  1/3">
                        <div class="pegas-icon-tz2euk40-wrapper  "><span
                                class="pegas-icon pegas-icon-tz2euk40  "></span></div>
                        <div class="pegas-wrapper pegas-heading-t5y9nvkv-wrapper "><h4
                                class="pegas-heading pegas-heading-t5y9nvkv "><span>Market Research and Analysis
</span></h4></div>
                        <div class="pegas-text pegas-text-5ihldugv "><p>&nbsp;&nbsp;&nbsp;- Comprehensive research of
                            the instrument market.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Analysis of the needs and preferences of the target audience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner pegas-column-tehvoggz  1/3">
                        <div class="pegas-icon-p7kx3aa8-wrapper  "><span class="pegas-icon pegas-icon-p7kx3aa8  "><svg
                                aria-hidden="true" focusable="false" data-prefix="far" data-icon="compass"
                                class="svg-inline--fa fa-compass fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg></span>
                        </div>
                        <div class="pegas-wrapper pegas-heading-xbzxzezz-wrapper "><h4
                                class="pegas-heading pegas-heading-xbzxzezz "><span>Concept Development
</span></h4></div>
                        <div class="pegas-text pegas-text-v39ys4ml "><p>- Creation of unique drill concepts.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Identification of key characteristics and functionality.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1/3 col-md-1/2 col-xs-7/8 ">
                    <div class="column-inner pegas-column-6lwn6g97  1/3">
                        <div class="pegas-icon-yhe0dnf7-wrapper  "><span class="pegas-icon pegas-icon-yhe0dnf7  "><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bullseye"
                                class="svg-inline--fa fa-bullseye fa-fw icon " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-testid="icon-test"><path
                                fill="currentColor"
                                d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"></path></svg></span>
                        </div>
                        <div class="pegas-wrapper pegas-heading-9pekuxl4-wrapper "><h4
                                class="pegas-heading pegas-heading-9pekuxl4 "><span>Design and Engineering
</span></h4></div>
                        <div class="pegas-text pegas-text-yl5r51fm "><p>&nbsp;&nbsp;&nbsp;- Development of an ergonomic
                            and attractive design.</p>
                            <p>&nbsp;&nbsp;&nbsp;- Creation of 3D models and prototypes to visualize the concept.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container pegas-row-drfcqq5f-wrapper    ">
            <div class="pegas-row-drfcqq5f  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner pegas-column-iw1zvckp  1/1">
                        <div class="pegas-wrapper pegas-image-pyftrrju-wrapper "><img
                                src="/static/img/images/photo_20_2024-05-14_01-05-45-yfih_.webp"
                                alt="drill set" loading="lazy" class="pegas-image-pyftrrju "/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pegas-section pegas-section-ikbio1qn ">
    <div class="pegas-container-ar08p2y3  ">
        <div class="pegas-container-05143zar  ">
            <div class="pegas-wrapper pegas-image-akwqzqcu-wrapper "><img
                    src="/static/img/images/photo_18_2024-05-14_01-05-45-nzXfg.webp"
                    alt="drill bit" loading="lazy" class="pegas-image-akwqzqcu "/></div>
        </div>
        <div class="pegas-container-u4r9xzmo  ">
            <div class="pegas-text pegas-text-mo2in2kc "><p>Aviator Max</p>
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;- Universal drill for a wide range of tasks.</p>
                <p>&nbsp;&nbsp;&nbsp;- Compact and lightweight design, built-in backlight, the ability to use various
                    nozzles.</p>
                <p>&nbsp;&nbsp;&nbsp;- Suitable for home use and simple professional jobs.</p>
            </div>
            <div class="pegas-text pegas-text-9ttybrrm ">The best!</div>
        </div>
        <div class="pegas-container-bg0wcnnc  ">
            <div class="pegas-wrapper pegas-image-et2qidrf-wrapper "><img
                    src="/static/img/images/photo_12_2024-05-14_01-05-45-rhUA5.webp"
                    alt="cutting tool" loading="lazy" class="pegas-image-et2qidrf "/></div>
        </div>
    </div>
    <div class="pegas-container-3630zvcy  ">
        <div class="pegas-container-j86cd7lf  ">
            <div class="pegas-text pegas-text-ge13f0h6 "><p>Aviator Pro</p>
                <p></p>
                <p>-Professional drill for intensive use.</p>
                <p>&nbsp;&nbsp;&nbsp;- Powerful motor, adjustable speed, comfortable grip with anti-vibration
                    system.</p>
                <p>&nbsp;&nbsp;&nbsp;- Ideal for construction, repair and other professional tasks.</p>
            </div>
            <div class="pegas-text pegas-text-t5gs600u ">Amazing!</div>
        </div>
        <div class="pegas-container-gn2g7j1w  ">
            <div class="pegas-wrapper pegas-image-5vuqsasa-wrapper "><img
                    src="/static/img/images/photo_17_2024-05-14_01-05-45-ysae2.webp"
                    alt="metal work" loading="lazy" class="pegas-image-5vuqsasa "/></div>
        </div>
        <div class="pegas-container-gtniqcrw  ">
            <div class="pegas-text pegas-text-5boranrk "><p>Aviator Mini</p>
                <p></p>
                <p>-Compact drill for precision work.</p>
                <p>&nbsp;&nbsp;&nbsp;- Lightweight body, high drilling precision, convenient operation.</p>
                <p>&nbsp;&nbsp;&nbsp;- Ideal for minor repairs and hobbies.</p>
            </div>
            <div class="pegas-text pegas-text-kh2er35v ">Perfect!</div>
        </div>
    </div>
</section>
<section class="pegas-section pegas-section-307bhbym ">
    <div class="">
        <div class="container pegas-row-ftxk3fpc-wrapper    ">
            <div class="pegas-row-ftxk3fpc  flex  ">
                <div class="col-lg-4/7 col-md-4/5 ">
                    <div class="column-inner pegas-column-7f4pxpob  4/7">
                        <div class="pegas-wrapper pegas-heading-07io8sob-wrapper "><h2
                                class="pegas-heading pegas-heading-07io8sob " id="contact"><span>Call or Visit the Drill Masters
</span></h2></div>
                        <div class="pegas-text pegas-text-8vd0878b ">D1, D2, Doctors Colonylane 2Civil Lines.Rudhrapur.Uttaranchal
                            <br>
                            Zip 263153
                            <br>
                            Phone Number (91)- 9635872396
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .cookie-banner {
        position: fixed;
        bottom: 10px;
        left: 10px;
        background-color: #f0f0f0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 999999999999999;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
    </style>

<div id="cookie-banner" class="cookie-banner">
    <p>We use cookies to optimize our website.</p>
    <p>Cookies Types:</p>
    <ul>
        <li>Essential: Ensure the operation of the site.</li>
        <li>Analytics: Help us understand how you interact with the site.</li>
    </ul>
    <p>Email: happyptyltd.austral@gmail.com</p>
    <button id="accept-cookies">Accept Cookies</button>
</div>

<script>
    const hasAcceptedCookies = document.cookie.includes('acceptedCookies=true');
    const cookieBanner = document.getElementById('cookie-banner');
    if (!hasAcceptedCookies) {

        const acceptCookiesBtn = document.getElementById('accept-cookies');

        acceptCookiesBtn.addEventListener('click', () => {
            // Set cookie to remember user has accepted cookies
            document.cookie = 'acceptedCookies=true; expires=Fri, 31 Dec 9999 23:59:59 GMT';
            cookieBanner.style.display = 'none';
        });

        cookieBanner.style.display = 'block';
    }
    else{
        cookieBanner.style.display = 'none';
    }
</script>

</body>
</html>