/*!normalize.css.css v8.0.1 | MIT License | github.com/necolas/normalize.css.css*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: initial
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

.container-fluid {
    width: 100%
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%
}

@media screen and (min-width: 640px) {
    .container {
        width: 540px
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1e3px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1140px
    }
}

.flex {
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    flex-wrap: wrap;
    display: flex
}

.col-full {
    width: 100%
}

.column-inner {
    width: 100%;
    position: relative
}

[class*=col-] {
    width: 100%;
    display: flex;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1\/8 {
    width: 12.5%
}

.col-xs-1\/1 {
    width: 100%
}

.col-xs-2\/8 {
    width: 25%
}

.col-xs-1\/2 {
    width: 50%
}

.col-xs-2\/2 {
    width: 100%
}

.col-xs-3\/8 {
    width: 37.5%
}

.col-xs-1\/3 {
    width: 33.33333%
}

.col-xs-2\/3 {
    width: 66.66667%
}

.col-xs-3\/3 {
    width: 100%
}

.col-xs-4\/8 {
    width: 50%
}

.col-xs-1\/4 {
    width: 25%
}

.col-xs-2\/4 {
    width: 50%
}

.col-xs-3\/4 {
    width: 75%
}

.col-xs-4\/4 {
    width: 100%
}

.col-xs-5\/8 {
    width: 62.5%
}

.col-xs-1\/5 {
    width: 20%
}

.col-xs-2\/5 {
    width: 40%
}

.col-xs-3\/5 {
    width: 60%
}

.col-xs-4\/5 {
    width: 80%
}

.col-xs-5\/5 {
    width: 100%
}

.col-xs-6\/8 {
    width: 75%
}

.col-xs-1\/6 {
    width: 16.66667%
}

.col-xs-2\/6 {
    width: 33.33333%
}

.col-xs-3\/6 {
    width: 50%
}

.col-xs-4\/6 {
    width: 66.66667%
}

.col-xs-5\/6 {
    width: 83.33333%
}

.col-xs-6\/6 {
    width: 100%
}

.col-xs-7\/8 {
    width: 87.5%
}

.col-xs-1\/7 {
    width: 14.28571%
}

.col-xs-2\/7 {
    width: 28.57143%
}

.col-xs-3\/7 {
    width: 42.85714%
}

.col-xs-4\/7 {
    width: 57.14286%
}

.col-xs-5\/7 {
    width: 71.42857%
}

.col-xs-6\/7 {
    width: 85.71429%
}

.col-xs-7\/7 {
    width: 100%
}

.col-xs-8\/8 {
    width: 100%
}

.col-xs-1\/8 {
    width: 12.5%
}

.col-xs-2\/8 {
    width: 25%
}

.col-xs-3\/8 {
    width: 37.5%
}

.col-xs-4\/8 {
    width: 50%
}

.col-xs-5\/8 {
    width: 62.5%
}

.col-xs-6\/8 {
    width: 75%
}

.col-xs-7\/8 {
    width: 87.5%
}

.col-xs-8\/8 {
    width: 100%
}

@media screen and (min-width: 640px) {
    .col-sm-1\/8 {
        width: 12.5%
    }

    .col-sm-1\/1 {
        width: 100%
    }

    .col-sm-2\/8 {
        width: 25%
    }

    .col-sm-1\/2 {
        width: 50%
    }

    .col-sm-2\/2 {
        width: 100%
    }

    .col-sm-3\/8 {
        width: 37.5%
    }

    .col-sm-1\/3 {
        width: 33.33333%
    }

    .col-sm-2\/3 {
        width: 66.66667%
    }

    .col-sm-3\/3 {
        width: 100%
    }

    .col-sm-4\/8 {
        width: 50%
    }

    .col-sm-1\/4 {
        width: 25%
    }

    .col-sm-2\/4 {
        width: 50%
    }

    .col-sm-3\/4 {
        width: 75%
    }

    .col-sm-4\/4 {
        width: 100%
    }

    .col-sm-5\/8 {
        width: 62.5%
    }

    .col-sm-1\/5 {
        width: 20%
    }

    .col-sm-2\/5 {
        width: 40%
    }

    .col-sm-3\/5 {
        width: 60%
    }

    .col-sm-4\/5 {
        width: 80%
    }

    .col-sm-5\/5 {
        width: 100%
    }

    .col-sm-6\/8 {
        width: 75%
    }

    .col-sm-1\/6 {
        width: 16.66667%
    }

    .col-sm-2\/6 {
        width: 33.33333%
    }

    .col-sm-3\/6 {
        width: 50%
    }

    .col-sm-4\/6 {
        width: 66.66667%
    }

    .col-sm-5\/6 {
        width: 83.33333%
    }

    .col-sm-6\/6 {
        width: 100%
    }

    .col-sm-7\/8 {
        width: 87.5%
    }

    .col-sm-1\/7 {
        width: 14.28571%
    }

    .col-sm-2\/7 {
        width: 28.57143%
    }

    .col-sm-3\/7 {
        width: 42.85714%
    }

    .col-sm-4\/7 {
        width: 57.14286%
    }

    .col-sm-5\/7 {
        width: 71.42857%
    }

    .col-sm-6\/7 {
        width: 85.71429%
    }

    .col-sm-7\/7 {
        width: 100%
    }

    .col-sm-8\/8 {
        width: 100%
    }

    .col-sm-1\/8 {
        width: 12.5%
    }

    .col-sm-2\/8 {
        width: 25%
    }

    .col-sm-3\/8 {
        width: 37.5%
    }

    .col-sm-4\/8 {
        width: 50%
    }

    .col-sm-5\/8 {
        width: 62.5%
    }

    .col-sm-6\/8 {
        width: 75%
    }

    .col-sm-7\/8 {
        width: 87.5%
    }

    .col-sm-8\/8 {
        width: 100%
    }
}

@media screen and (min-width: 768px) {
    .col-md-1\/8 {
        width: 12.5%
    }

    .col-md-1\/1 {
        width: 100%
    }

    .col-md-2\/8 {
        width: 25%
    }

    .col-md-1\/2 {
        width: 50%
    }

    .col-md-2\/2 {
        width: 100%
    }

    .col-md-3\/8 {
        width: 37.5%
    }

    .col-md-1\/3 {
        width: 33.33333%
    }

    .col-md-2\/3 {
        width: 66.66667%
    }

    .col-md-3\/3 {
        width: 100%
    }

    .col-md-4\/8 {
        width: 50%
    }

    .col-md-1\/4 {
        width: 25%
    }

    .col-md-2\/4 {
        width: 50%
    }

    .col-md-3\/4 {
        width: 75%
    }

    .col-md-4\/4 {
        width: 100%
    }

    .col-md-5\/8 {
        width: 62.5%
    }

    .col-md-1\/5 {
        width: 20%
    }

    .col-md-2\/5 {
        width: 40%
    }

    .col-md-3\/5 {
        width: 60%
    }

    .col-md-4\/5 {
        width: 80%
    }

    .col-md-5\/5 {
        width: 100%
    }

    .col-md-6\/8 {
        width: 75%
    }

    .col-md-1\/6 {
        width: 16.66667%
    }

    .col-md-2\/6 {
        width: 33.33333%
    }

    .col-md-3\/6 {
        width: 50%
    }

    .col-md-4\/6 {
        width: 66.66667%
    }

    .col-md-5\/6 {
        width: 83.33333%
    }

    .col-md-6\/6 {
        width: 100%
    }

    .col-md-7\/8 {
        width: 87.5%
    }

    .col-md-1\/7 {
        width: 14.28571%
    }

    .col-md-2\/7 {
        width: 28.57143%
    }

    .col-md-3\/7 {
        width: 42.85714%
    }

    .col-md-4\/7 {
        width: 57.14286%
    }

    .col-md-5\/7 {
        width: 71.42857%
    }

    .col-md-6\/7 {
        width: 85.71429%
    }

    .col-md-7\/7 {
        width: 100%
    }

    .col-md-8\/8 {
        width: 100%
    }

    .col-md-1\/8 {
        width: 12.5%
    }

    .col-md-2\/8 {
        width: 25%
    }

    .col-md-3\/8 {
        width: 37.5%
    }

    .col-md-4\/8 {
        width: 50%
    }

    .col-md-5\/8 {
        width: 62.5%
    }

    .col-md-6\/8 {
        width: 75%
    }

    .col-md-7\/8 {
        width: 87.5%
    }

    .col-md-8\/8 {
        width: 100%
    }
}

@media screen and (min-width: 1024px) {
    .col-lg-1\/8 {
        width: 12.5%
    }

    .col-lg-1\/1 {
        width: 100%
    }

    .col-lg-2\/8 {
        width: 25%
    }

    .col-lg-1\/2 {
        width: 50%
    }

    .col-lg-2\/2 {
        width: 100%
    }

    .col-lg-3\/8 {
        width: 37.5%
    }

    .col-lg-1\/3 {
        width: 33.33333%
    }

    .col-lg-2\/3 {
        width: 66.66667%
    }

    .col-lg-3\/3 {
        width: 100%
    }

    .col-lg-4\/8 {
        width: 50%
    }

    .col-lg-1\/4 {
        width: 25%
    }

    .col-lg-2\/4 {
        width: 50%
    }

    .col-lg-3\/4 {
        width: 75%
    }

    .col-lg-4\/4 {
        width: 100%
    }

    .col-lg-5\/8 {
        width: 62.5%
    }

    .col-lg-1\/5 {
        width: 20%
    }

    .col-lg-2\/5 {
        width: 40%
    }

    .col-lg-3\/5 {
        width: 60%
    }

    .col-lg-4\/5 {
        width: 80%
    }

    .col-lg-5\/5 {
        width: 100%
    }

    .col-lg-6\/8 {
        width: 75%
    }

    .col-lg-1\/6 {
        width: 16.66667%
    }

    .col-lg-2\/6 {
        width: 33.33333%
    }

    .col-lg-3\/6 {
        width: 50%
    }

    .col-lg-4\/6 {
        width: 66.66667%
    }

    .col-lg-5\/6 {
        width: 83.33333%
    }

    .col-lg-6\/6 {
        width: 100%
    }

    .col-lg-7\/8 {
        width: 87.5%
    }

    .col-lg-1\/7 {
        width: 14.28571%
    }

    .col-lg-2\/7 {
        width: 28.57143%
    }

    .col-lg-3\/7 {
        width: 42.85714%
    }

    .col-lg-4\/7 {
        width: 57.14286%
    }

    .col-lg-5\/7 {
        width: 71.42857%
    }

    .col-lg-6\/7 {
        width: 85.71429%
    }

    .col-lg-7\/7 {
        width: 100%
    }

    .col-lg-8\/8 {
        width: 100%
    }

    .col-lg-1\/8 {
        width: 12.5%
    }

    .col-lg-2\/8 {
        width: 25%
    }

    .col-lg-3\/8 {
        width: 37.5%
    }

    .col-lg-4\/8 {
        width: 50%
    }

    .col-lg-5\/8 {
        width: 62.5%
    }

    .col-lg-6\/8 {
        width: 75%
    }

    .col-lg-7\/8 {
        width: 87.5%
    }

    .col-lg-8\/8 {
        width: 100%
    }
}

svg:not(:root).svg-inline--fa {
    overflow: visible
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: middle
}

.svg-inline--fa.fa-lg {
    vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
    width: .0625em
}

.svg-inline--fa.fa-w-2 {
    width: .125em
}

.svg-inline--fa.fa-w-3 {
    width: .1875em
}

.svg-inline--fa.fa-w-4 {
    width: .25em
}

.svg-inline--fa.fa-w-5 {
    width: .3125em
}

.svg-inline--fa.fa-w-6 {
    width: .375em
}

.svg-inline--fa.fa-w-7 {
    width: .4375em
}

.svg-inline--fa.fa-w-8 {
    width: .5em
}

.svg-inline--fa.fa-w-9 {
    width: .5625em
}

.svg-inline--fa.fa-w-10 {
    width: .625em
}

.svg-inline--fa.fa-w-11 {
    width: .6875em
}

.svg-inline--fa.fa-w-12 {
    width: .75em
}

.svg-inline--fa.fa-w-13 {
    width: .8125em
}

.svg-inline--fa.fa-w-14 {
    width: .875em
}

.svg-inline--fa.fa-w-15 {
    width: .9375em
}

.svg-inline--fa.fa-w-16 {
    width: 1em
}

.svg-inline--fa.fa-w-17 {
    width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em
}

.svg-inline--fa.fa-w-19 {
    width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em
}

.svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto
}

.svg-inline--fa.fa-border {
    height: 1.5em
}

.svg-inline--fa.fa-li {
    width: 2em
}

.svg-inline--fa.fa-fw {
    width: 1.25em
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter, .fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: .25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-top-left {
    left: 0;
    right: auto;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.fa-lg {
    font-size: 1.3333333333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.fa-xs {
    font-size: .75em
}

.fa-sm {
    font-size: .875em
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0
}

.fa-ul > li {
    position: relative
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit
}

.fa-border {
    border: solid .08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left, .fab.fa-pull-left, .fal.fa-pull-left, .far.fa-pull-left, .fas.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right, .fab.fa-pull-right, .fal.fa-pull-right, .far.fa-pull-right, .fas.fa-pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1)
}

:root .fa-flip-both, :root .fa-flip-horizontal, :root .fa-flip-vertical, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5em
}

.fa-stack-1x, .fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em
}

.fa-inverse {
    color: #fff
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.svg-inline--fa .fa-primary {
    fill: var(--fa-primary-color, currentColor);
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa .fa-secondary {
    fill: var(--fa-secondary-color, currentColor);
    opacity: .4;
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
    opacity: .4;
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa mask .fa-primary, .svg-inline--fa mask .fa-secondary {
    fill: #000
}

.fad.fa-inverse {
    color: #fff
}

html {
    scroll-behavior: smooth
}

body, html {
    min-height: 100%
}

body *, html * {
    box-sizing: border-box
}

body {
    margin: 0 auto;
    overflow-x: hidden !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, system-ui, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji
}

div, section {
    border: 0
}

hr, img {
    max-width: 100%;
    border-style: none;
    vertical-align: middle
}

video {
    max-width: 100%
}

hr {
    width: 100%;
    display: inline-block
}

button {
    cursor: pointer
}

a {
    text-decoration: none
}

ul.normalize {
    margin: 0;
    padding: 0;
    list-style-type: none
}

ul.normalize li {
    padding: 0
}

input[type=email]:active, input[type=email]:focus, input[type=number]:active, input[type=number]:focus, input[type=password]:active, input[type=password]:focus, input[type=text]:active, input[type=text]:focus, textarea:active, textarea:focus {
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, .25) inset
}

input[type=email]::placeholder, input[type=number]::placeholder, input[type=password]::placeholder, input[type=text]::placeholder, textarea::placeholder {
    opacity: .6;
    color: currentColor
}

sub, sup {
    vertical-align: baseline;
    position: relative;
    top: -.4em
}

sub {
    top: .4em
}

code {
    padding: 1px 3px;
    border-radius: 3px;
    font-family: monospace;
    overflow-wrap: break-word;
    background: #f1f1f1
}

.milena-branding {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    bottom: 20px;
    left: 20px;
    background: #fff;
    color: #2e284a;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    font-family: sans-serif !important
}

.milena-branding a {
    height: 24px;
    width: 24px;
    color: #959399
}

.milena-branding a:hover {
    color: red
}

.color-overlay, .gradient-overlay {
    overflow: hidden;
    position: relative
}

.color-overlay > *, .gradient-overlay > * {
    position: relative
}

.color-overlay:before, .gradient-overlay:before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute
}

.video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    object-fit: cover;
    border-radius: inherit
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.milena-frame-corner {
    max-width: 100%
}

.milena-section {
    margin: 0 auto;
    position: relative
}

.flex {
    justify-content: center
}

.milena-icon, .el-ib {
    display: inline-block
}

.milena-icon > .icon {
    vertical-align: middle
}

.milena-heading p {
    margin: 0
}

.milena-text {
    margin-top: 1em;
    margin-bottom: 1em
}

.milena-text p {
    margin: 0
}

.milena-btn {
    display: inline-flex;
    align-items: center;
    background-color: initial
}

.milena-wrapper {
    display: block;
    position: relative
}

.success-message {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 3px;
    color: #17832d;
    background-color: #fff
}

.error-message {
    font-size: 14px;
    color: #ff3a28;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #fff
}

.milena-iframe {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%
}

.milena-iframe iframe {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: calc(100% + 1px)
}

.milena-list {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.milena-list li {
    padding: 0
}

.milena-list {
    display: flex;
    flex-wrap: wrap
}

.milena-list--item, .milena-list--link {
    display: flex
}

.sticky {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1999;
    position: fixed !important
}

.collapsing {
    height: 0;
    position: relative;
    overflow: hidden;
    transition: height 350ms ease
}

.collapse:not(.show) {
    display: none
}

.milena-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.milena-navbar--wrapper {
    padding-left: 15px;
    padding-right: 15px;
    transition: top .35s ease, background-color .35s ease
}

.milena-navbar--wrapper.sticky {
    padding-left: 0;
    padding-right: 0
}

.milena-navbar--wrapper:not(.sticky) {
    margin-left: -15px;
    margin-right: -15px
}

.milena-navbar--brand {
    margin-right: 30px
}

.milena-navbar--toggle {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: initial
}

.milena-navbar--collapse {
    flex-grow: 1;
    flex-basis: 100%
}

@media screen and (max-width: 1024px) {
    .milena-navbar--navs {
        text-align: center;
        padding-top: 30px
    }
}

@media screen and (min-width: 10px) {
    .milena-navbar--toggle {
        display: none
    }

    .milena-navbar--collapse {
        flex-basis: auto;
        align-items: center;
        display: flex !important;
        justify-content: flex-end
    }

    .milena-navbar--navs {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
}

.milena-nav--btns, .milena-nav--links {
    display: flex;
    flex-direction: column
}

@media screen and (min-width: 1025px) {
    .milena-nav--btns, .milena-nav--links {
        flex-direction: row
    }
}

.milena-nav--btn, .milena-nav--link {
    display: inline-flex;
    text-decoration: none;
    margin-bottom: 15px
}

.milena-nav--links {
    flex: 1
}

@media screen and (min-width: 1025px) {
    .milena-nav--links:not(:last-child) {
        margin-right: 30px
    }
}

.hidden {
    display: none !important
}

@media all and (max-width: 767px) {
    .hidden-sm {
        display: none !important
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .hidden-md {
        display: none !important
    }
}

@media all and (min-width: 1024px) {
    .hidden-lg {
        display: none !important
    }
}

@media screen and (max-width: 767px) {
    [class*=col-] {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .flex {
        margin-left: 0 !important;
        margin-right: 0 !important
    }
}

.typed-strings {
    display: none
}

:root {
    --color-1: #3D8CB3;
    --color-2: #59A3C7;
    --color-3: #2E6986;
    --color-11: #060E12;
    --color-12: #1F262A;
    --color-13: #D9D9D9FF;
    --color-14: #EFF6F9;
    --color-21: #FFFFFFD9;
    --color-22: #FFFFFFD9;
    --color-23: #424242FF;
    --color-24: #060E12;
    --color-30: red;
    --color-101: #EFF6F9;
    --color-102: #ffffff;
    --color-103: #060E12;
    --color-104: #3D8CB3B3;
    --color-105: #ffffffcc;
    --color-106: #060E12B3;
    --color-201: #ffffff;
    --color-202: #FFFFFFD9;
    --color-203: #FFFFFFCC;
    --color-204: #060E12;
    --color-205: #1F262A;
    --color-301: #ffffff32;
    --color-302: #42424233
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Inter;
    color: var(--color-12)
}

h1 {
    font-size: 64px;
    line-height: 1.2;
    color: var(--color-11);
    font-weight: 500;
    font-family: DM Sans
}

h2 {
    font-size: 48px;
    line-height: 1.35;
    color: var(--color-11);
    font-weight: 500;
    font-family: DM Sans
}

h3 {
    font-size: 38px;
    line-height: 1.35;
    color: var(--color-11);
    font-weight: 500;
    font-family: DM Sans
}

h4 {
    font-size: 30px;
    line-height: 1.35;
    color: var(--color-11);
    font-weight: 500;
    font-family: DM Sans
}

h5 {
    font-size: 24px;
    line-height: 1.35;
    color: var(--color-11);
    font-weight: 600;
    font-family: Inter
}

h6 {
    font-size: 20px;
    line-height: 1.35;
    color: var(--color-11);
    font-weight: 600;
    font-family: Inter
}

a {
    text-decoration: underline
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 48px
    }

    h2 {
        font-size: 42px
    }

    h3 {
        font-size: 32px
    }

    h4 {
        font-size: 24px
    }
}

@media all and (min-width: 1280px) {
    :where([class*=milena-container]:not([class*=milena-container] *)) {
        --max-width: 1140px
    }

    :where([class*=milena-container]:not([class*=milena-container] *)) .milena-container--global-container-width {
        max-width: 1140px
    }
}

.symbol--footer {
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: var(--color-103)
}

.symbol--footer:before {
}

@media screen and (max-width: 1023px) {
    .symbol--footer {
        padding-top: 60px;
        padding-bottom: 24px;
        padding-left: 32px;
        padding-right: 32px
    }
}

@media screen and (max-width: 767px) {
    .symbol--footer {
        padding-top: 40px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px
    }
}

.ai-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    justify-content: center
}

.milena-container-bauk2t37 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    flex-basis: 100%;
    justify-content: center;
    gap: 0;
    align-items: center
}

@media screen and (max-width: 1023px) {
    .milena-container-bauk2t37 {
        flex-direction: row
    }
}

@media screen and (max-width: 767px) {
    .milena-container-bauk2t37 {
        flex-direction: row
    }
}

.milena-container-bauk2t37 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    flex-basis: 100%;
    justify-content: center;
    gap: 0;
    align-items: center
}

@media all and (max-width: 1023px) {
    .milena-container-bauk2t37 {
        flex-direction: row
    }
}

@media all and (max-width: 767px) {
    .milena-container-bauk2t37 {
        flex-direction: row
    }
}

.milena-container-bauk2t37.milena-container-bauk2t37 {
    margin-left: calc((100% - var(--max-width, 100%)) / 2 + 0px);
    margin-right: calc((100% - var(--max-width, 100%)) / 2 + 0px);
    width: calc(var(--max-width, 100%) - 0px - 0px)
}

@media all and (max-width: 1023px) {
    .milena-container-bauk2t37.milena-container-bauk2t37 {
        margin-left: calc((100% - var(--max-width, 100%)) / 2 + 0px);
        margin-right: calc((100% - var(--max-width, 100%)) / 2 + 0px);
        width: calc(var(--max-width, 100%) - 0px - 0px)
    }
}

@media all and (max-width: 767px) {
    .milena-container-bauk2t37.milena-container-bauk2t37 {
        margin-left: calc((100% - var(--max-width, 100%)) / 2 + 0px);
        margin-right: calc((100% - var(--max-width, 100%)) / 2 + 0px);
        width: calc(var(--max-width, 100%) - 0px - 0px)
    }
}

:where(.milena-container-bauk2t37) {
    margin: 0 auto
}

:where(.milena-container-bauk2t37) {
    position: relative
}

.milena-container-nq13q92l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    padding-bottom: 0;
    flex-basis: 100%;
    align-items: unset;
    gap: 80px;
    justify-content: unset
}

@media screen and (max-width: 1023px) {
    .milena-container-nq13q92l {
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        flex-wrap: nowrap
    }
}

@media screen and (max-width: 767px) {
    .milena-container-nq13q92l {
        justify-content: unset;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%
    }
}

.milena-container-nq13q92l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    padding-bottom: 0;
    flex-basis: 100%;
    align-items: unset;
    gap: 80px;
    justify-content: unset
}

@media all and (max-width: 1023px) {
    .milena-container-nq13q92l {
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        flex-wrap: nowrap
    }
}

@media all and (max-width: 767px) {
    .milena-container-nq13q92l {
        justify-content: unset;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%
    }
}

:where(.milena-container-nq13q92l) {
    position: relative
}

.milena-container-54y8j8jv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    flex-basis: 100%;
    align-items: unset;
    border-style: solid;
    border-left-width: 0;
    border-left-color: var(--color-302);
    border-right-width: 0;
    border-right-color: var(--color-302);
    justify-content: center;
    gap: 0
}

@media screen and (max-width: 1023px) {
    .milena-container-54y8j8jv {
        flex-basis: 60%;
        align-items: center;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 32px
    }
}

@media screen and (max-width: 767px) {
    .milena-container-54y8j8jv {
        flex-basis: 100%;
        align-items: flex-start;
        margin-bottom: 24px;
        margin-top: 16px;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap
    }
}

.milena-container-54y8j8jv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    flex-basis: 100%;
    align-items: unset;
    border-style: solid;
    border-left-width: 0;
    border-left-color: var(--color-302);
    border-right-width: 0;
    border-right-color: var(--color-302);
    justify-content: center;
    gap: 0
}

@media all and (max-width: 1023px) {
    .milena-container-54y8j8jv {
        flex-basis: 60%;
        align-items: center;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 32px
    }
}

@media all and (max-width: 767px) {
    .milena-container-54y8j8jv {
        flex-basis: 100%;
        align-items: flex-start;
        margin-bottom: 24px;
        margin-top: 16px;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap
    }
}

:where(.milena-container-54y8j8jv) {
    position: relative
}

.milena-image-zynpgy71 {
    object-fit: cover;
    width: 400px;
    height: 400px
}

.milena-image-zynpgy71-wrapper {
    text-align: center
}

.milena-text-ft9kg1p9 {
    color: var(--color-203);
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 11px;
    padding-left: 46px
}

@media screen and (max-width: 1023px) {
    .milena-text-ft9kg1p9 {
        text-align: center;
        margin-top: 4px;
        margin-bottom: 0
    }
}

@media screen and (max-width: 767px) {
    .milena-text-ft9kg1p9 {
        text-align: left;
        margin-top: 24px;
        margin-bottom: 0
    }
}

.milena-text-ft9kg1p9 {
}

.milena-container-5bx27opw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 16px;
    flex-basis: 100%;
    justify-content: flex-start;
    border-style: solid;
    border-top-width: 1px;
    border-top-color: var(--color-301);
    margin-top: 0
}

@media screen and (max-width: 1023px) {
    .milena-container-5bx27opw {
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0;
        gap: 0;
        margin-top: 0
    }
}

@media screen and (max-width: 767px) {
    .milena-container-5bx27opw {
        gap: 10px;
        margin-top: 24px;
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0
    }
}

.milena-container-5bx27opw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 16px;
    flex-basis: 100%;
    justify-content: flex-start;
    border-style: solid;
    border-top-width: 1px;
    border-top-color: var(--color-301);
    margin-top: 0
}

@media all and (max-width: 1023px) {
    .milena-container-5bx27opw {
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0;
        gap: 0;
        margin-top: 0
    }
}

@media all and (max-width: 767px) {
    .milena-container-5bx27opw {
        gap: 10px;
        margin-top: 24px;
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0
    }
}

:where(.milena-container-5bx27opw) {
    position: relative
}

.milena-container-qpddv0yh {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    flex-basis: 50%;
    align-items: center;
    gap: 16px;
    justify-content: flex-start
}

@media screen and (max-width: 1023px) {
    .milena-container-qpddv0yh {
        flex-basis: 100%;
        justify-content: center;
        margin-top: 8px
    }
}

@media screen and (max-width: 767px) {
    .milena-container-qpddv0yh {
        flex-basis: 100%;
        gap: 10px;
        flex-direction: row;
        justify-content: flex-start
    }
}

.milena-container-qpddv0yh {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    flex-basis: 50%;
    align-items: center;
    gap: 16px;
    justify-content: flex-start
}

@media all and (max-width: 1023px) {
    .milena-container-qpddv0yh {
        flex-basis: 100%;
        justify-content: center;
        margin-top: 8px
    }
}

@media all and (max-width: 767px) {
    .milena-container-qpddv0yh {
        flex-basis: 100%;
        gap: 10px;
        flex-direction: row;
        justify-content: flex-start
    }
}

:where(.milena-container-qpddv0yh) {
    position: relative
}

.milena-links-t4ke6qxv .milena-list--link {
    text-decoration: none;
    color: var(--color-201)
}

.milena-links-t4ke6qxv .milena-list--link:hover {
    color: var(--color-203)
}

.milena-links-t4ke6qxv .milena-list--link {
    margin-right: 24px
}

.milena-links-t4ke6qxv .milena-list--item:last-child .milena-list--link {
    margin-right: 0
}

.milena-links-t4ke6qxv .milena-list--icon {
    margin-right: 5px
}

.milena-links-t4ke6qxv .icon_2suuvmpu {
    font-size: null;
    color: null
}

.symbol--header {
    background-color: var(--color-101)
}

.ai-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    justify-content: center
}

.milena-row-80vj5xo8-wrapper {
}

.milena-row-80vj5xo8 {
    --nav-padding: 15px
}

[class*=close-btn-] {
    display: none
}

.milena-column-3nlzswir {
}

.milena-nav-kflzsvrm {
    padding-top: 20px;
    padding-bottom: 20px
}

.milena-nav-kflzsvrm-wrapper.sticky, .milena-nav-kflzsvrm-wrapper.expended {
    background-color: var(--color-102)
}

.milena-nav-kflzsvrm .milena-navbar--brand {
    width: 200px
}

.milena-nav-kflzsvrm .milena-navbar--brand img {
    width: 100%
}

.milena-nav-kflzsvrm .milena-navbar--toggle {
    border: 1px solid var(--color-204);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 5px 5px;
    color: var(--color-204)
}

.milena-nav-kflzsvrm .milena-nav--links {
    justify-content: center
}

.milena-nav-kflzsvrm .milena-nav--link {
    margin-right: 30px
}

@media all and (max-width: 767px) {
    .milena-nav-kflzsvrm .milena-nav--link {
        margin-right: auto;
        margin-bottom: 30px
    }
}

.milena-nav-kflzsvrm .milena-nav--links > li:last-child > a {
    margin-right: 0
}

.milena-nav-kflzsvrm .milena-nav--link-icon {
    margin-right: 5px
}

.milena-nav-kflzsvrm .milena-nav--link {
    text-decoration: none;
    color: var(--color-1)
}

.milena-nav-kflzsvrm .milena-nav--btn {
    margin-right: 15px
}

@media all and (max-width: 767px) {
    .milena-nav-kflzsvrm .milena-nav--btn {
        margin-right: auto;
        margin-bottom: 15px
    }
}

.milena-nav-kflzsvrm .milena-nav--btns > li:last-child > a {
    margin-right: 0
}

.milena-nav-kflzsvrm .milena-nav--btn {
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--color-1)
}

.milena-nav-kflzsvrm .milena-nav--btn, .milena-nav-kflzsvrm .milena-nav--link {
    margin-bottom: 0
}

.milena-nav-kflzsvrm .is-dropdown {
    position: relative
}

.milena-nav-kflzsvrm .is-dropdown:hover .milena-nav--dropdown {
    opacity: 1;
    top: 100%;
    visibility: visible
}

.milena-nav-kflzsvrm .dropdown-item .dropdown-text {
    flex: 1 0
}

.milena-nav-kflzsvrm .dropdown-icon-gap {
    display: inline-block;
    width: null
}

.milena-nav-kflzsvrm .milena-nav--dropdown {
    padding: 0;
    background: #fff;
    white-space: nowrap;
    transition: all .2s;
    list-style-type: none
}

.milena-nav-kflzsvrm .milena-nav--dropdown.expended {
    display: grid
}

@media screen and (min-width: 1024px) {
    .milena-nav-kflzsvrm .milena-nav--dropdown {
        left: 0;
        top: 100%;
        opacity: 0;
        display: grid;
        z-index: 99999;
        visibility: hidden;
        position: absolute;
        box-shadow: rgb(43 53 86/15%) 0 5px 20px
    }
}

.milena-nav-kflzsvrm .dropdown-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: row
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .milena-nav-kflzsvrm .milena-nav--links {
        justify-content: center
    }

    .milena-nav-kflzsvrm .milena-nav--link {
        margin-right: 30px
    }

    @media all and (max-width: 767px) {
        .milena-nav-kflzsvrm .milena-nav--link {
            margin-right: auto;
            margin-bottom: 30px
        }
    }.milena-nav-kflzsvrm .milena-nav--links > li:last-child > a {
         margin-right: 0
     }

    .milena-nav-kflzsvrm .milena-nav--link-icon {
        margin-right: 5px
    }

    .milena-nav-kflzsvrm .milena-nav--link {
        margin-right: 0 !important
    }

    .milena-nav-kflzsvrm .milena-nav--btn {
        margin-right: 15px
    }

    @media all and (max-width: 767px) {
        .milena-nav-kflzsvrm .milena-nav--btn {
            margin-right: auto;
            margin-bottom: 15px
        }
    }.milena-nav-kflzsvrm .milena-nav--btns > li:last-child > a {
         margin-right: 0
     }

    .milena-nav-kflzsvrm .milena-nav--btn {
        margin-right: 0 !important
    }
}

@media screen and (max-width: 1023px) {
    .milena-nav-kflzsvrm .milena-nav--dropdown {
        position: relative;
        opacity: 1;
        place-content: center
    }

    .milena-nav-kflzsvrm .milena-nav--btn, .milena-nav-kflzsvrm .milena-nav--link {
        margin: 8px 0
    }
}

.symbol--header {
    background-color: var(--color-101)
}

.ai-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    justify-content: center
}

.milena-row-80vj5xo8-wrapper {
}

.milena-row-80vj5xo8 {
    --nav-padding: 15px
}

[class*=close-btn-] {
    display: none
}

.milena-column-3nlzswir {
}

.milena-nav-kflzsvrm {
    padding-top: 20px;
    padding-bottom: 20px
}

.milena-nav-kflzsvrm-wrapper.sticky, .milena-nav-kflzsvrm-wrapper.expended {
    background-color: var(--color-102)
}

.milena-nav-kflzsvrm .milena-navbar--brand {
    width: 200px
}

.milena-nav-kflzsvrm .milena-navbar--brand img {
    width: 100%
}

.milena-nav-kflzsvrm .milena-navbar--toggle {
    border: 1px solid var(--color-204);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 5px 5px;
    color: var(--color-204)
}

.milena-nav-kflzsvrm .milena-nav--links {
    justify-content: center
}

.milena-nav-kflzsvrm .milena-nav--link {
    margin-right: 30px
}

@media all and (max-width: 767px) {
    .milena-nav-kflzsvrm .milena-nav--link {
        margin-right: auto;
        margin-bottom: 30px
    }
}

.milena-nav-kflzsvrm .milena-nav--links > li:last-child > a {
    margin-right: 0
}

.milena-nav-kflzsvrm .milena-nav--link-icon {
    margin-right: 5px
}

.milena-nav-kflzsvrm .milena-nav--link {
    text-decoration: none;
    color: var(--color-1)
}

.milena-nav-kflzsvrm .milena-nav--btn {
    margin-right: 15px
}

@media all and (max-width: 767px) {
    .milena-nav-kflzsvrm .milena-nav--btn {
        margin-right: auto;
        margin-bottom: 15px
    }
}

.milena-nav-kflzsvrm .milena-nav--btns > li:last-child > a {
    margin-right: 0
}

.milena-nav-kflzsvrm .milena-nav--btn {
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--color-1)
}

.milena-nav-kflzsvrm .milena-nav--btn, .milena-nav-kflzsvrm .milena-nav--link {
    margin-bottom: 0
}

.milena-nav-kflzsvrm .is-dropdown {
    position: relative
}

.milena-nav-kflzsvrm .is-dropdown:hover .milena-nav--dropdown {
    opacity: 1;
    top: 100%;
    visibility: visible
}

.milena-nav-kflzsvrm .dropdown-item .dropdown-text {
    flex: 1 0
}

.milena-nav-kflzsvrm .dropdown-icon-gap {
    display: inline-block;
    width: null
}

.milena-nav-kflzsvrm .milena-nav--dropdown {
    padding: 0;
    background: #fff;
    white-space: nowrap;
    transition: all .2s;
    list-style-type: none
}

.milena-nav-kflzsvrm .milena-nav--dropdown.expended {
    display: grid
}

@media screen and (min-width: 1024px) {
    .milena-nav-kflzsvrm .milena-nav--dropdown {
        left: 0;
        top: 100%;
        opacity: 0;
        display: grid;
        z-index: 99999;
        visibility: hidden;
        position: absolute;
        box-shadow: rgb(43 53 86/15%) 0 5px 20px
    }
}

.milena-nav-kflzsvrm .dropdown-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: row
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .milena-nav-kflzsvrm .milena-nav--links {
        justify-content: center
    }

    .milena-nav-kflzsvrm .milena-nav--link {
        margin-right: 30px
    }

    @media all and (max-width: 767px) {
        .milena-nav-kflzsvrm .milena-nav--link {
            margin-right: auto;
            margin-bottom: 30px
        }
    }.milena-nav-kflzsvrm .milena-nav--links > li:last-child > a {
         margin-right: 0
     }

    .milena-nav-kflzsvrm .milena-nav--link-icon {
        margin-right: 5px
    }

    .milena-nav-kflzsvrm .milena-nav--link {
        margin-right: 0 !important
    }

    .milena-nav-kflzsvrm .milena-nav--btn {
        margin-right: 15px
    }

    @media all and (max-width: 767px) {
        .milena-nav-kflzsvrm .milena-nav--btn {
            margin-right: auto;
            margin-bottom: 15px
        }
    }.milena-nav-kflzsvrm .milena-nav--btns > li:last-child > a {
         margin-right: 0
     }

    .milena-nav-kflzsvrm .milena-nav--btn {
        margin-right: 0 !important
    }
}

@media screen and (max-width: 1023px) {
    .milena-nav-kflzsvrm .milena-nav--dropdown {
        position: relative;
        opacity: 1;
        place-content: center
    }

    .milena-nav-kflzsvrm .milena-nav--btn, .milena-nav-kflzsvrm .milena-nav--link {
        margin: 8px 0
    }
}

.milena-nav-kflzsvrm.milena-nav-kflzsvrm.milena-nav-kflzsvrm {
}

@media all and (max-width: 1023px) {
    .milena-nav-kflzsvrm.milena-nav-kflzsvrm.milena-nav-kflzsvrm {
    }
}

@media all and (max-width: 767px) {
    .milena-nav-kflzsvrm.milena-nav-kflzsvrm.milena-nav-kflzsvrm {
    }
}

.milena-section-g5s04yys {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-103)
}

@media screen and (max-width: 767px) {
    .milena-section-g5s04yys {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

.ai-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    justify-content: center
}

.milena-row-1iq6cjv7-wrapper {
}

.milena-row-1iq6cjv7 {
    --nav-padding: 15px
}

[class*=close-btn-] {
    display: none
}

.milena-column-hlz9wruk {
    text-align: center
}

@media screen and (max-width: 1023px) {
}

.milena-column-hlz9wruk {
}

.milena-heading-ndgl5fnl {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--color-201)
}

@media screen and (max-width: 767px) {
    .milena-heading-ndgl5fnl {
    }
}

.milena-heading-ndgl5fnl {
}

.milena-heading-ndgl5fnl p {
    display: inline
}

.milena-heading-ndgl5fnl .milena-heading__dynamic {
    display: inline
}

.milena-heading-ndgl5fnl .milena-heading__dynamic span {
    display: inline-block
}

:where([class*=milena-heading-ndgl5fnl-wrapper]:not([class*=milena-heading-ndgl5fnl-wrapper] *)) {
    margin-top: 0;
    margin-bottom: 16px
}

@media all and (max-width: 1023px) {
    :where([class*=milena-heading-ndgl5fnl-wrapper]:not([class*=milena-heading-ndgl5fnl-wrapper] *)) {
        margin-top: 0;
        margin-bottom: 16px
    }
}

@media all and (max-width: 767px) {
    :where([class*=milena-heading-ndgl5fnl-wrapper]:not([class*=milena-heading-ndgl5fnl-wrapper] *)) {
        margin-top: 0;
        margin-bottom: 16px
    }
}

.milena-heading-ndgl5fnl.milena-heading-ndgl5fnl.milena-heading-ndgl5fnl {
    margin-top: 0;
    margin-bottom: 0
}

@media all and (max-width: 1023px) {
    .milena-heading-ndgl5fnl.milena-heading-ndgl5fnl.milena-heading-ndgl5fnl {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media all and (max-width: 767px) {
    .milena-heading-ndgl5fnl.milena-heading-ndgl5fnl.milena-heading-ndgl5fnl {
        margin-top: 0;
        margin-bottom: 0
    }
}

.milena-text-yz67lgl4 {
    color: var(--color-203);
    margin-top: 0;
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .milena-text-yz67lgl4 {
        padding-left: 5%;
        padding-right: 5%
    }
}

.milena-text-yz67lgl4 {
}

.milena-section-truthifw {
    padding-top: 92px;
    padding-bottom: 100px;
    background-color: var(--color-103)
}

@media screen and (max-width: 767px) {
    .milena-section-truthifw {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

.ai-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    justify-content: center
}

.milena-row-v4v31c05-wrapper {
}

.milena-row-v4v31c05 {
    --nav-padding: 15px
}

[class*=close-btn-] {
    display: none
}

.milena-column-ms94itm7 {
    text-align: center
}

@media screen and (max-width: 1023px) {
}

.milena-column-ms94itm7 {
}

.milena-heading-okwnggvu {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--color-201)
}

@media screen and (max-width: 767px) {
    .milena-heading-okwnggvu {
    }
}

.milena-heading-okwnggvu {
}

.milena-heading-okwnggvu p {
    display: inline
}

.milena-heading-okwnggvu .milena-heading__dynamic {
    display: inline
}

.milena-heading-okwnggvu .milena-heading__dynamic span {
    display: inline-block
}

:where([class*=milena-heading-okwnggvu-wrapper]:not([class*=milena-heading-okwnggvu-wrapper] *)) {
    margin-top: 0;
    margin-bottom: 16px
}

@media all and (max-width: 1023px) {
    :where([class*=milena-heading-okwnggvu-wrapper]:not([class*=milena-heading-okwnggvu-wrapper] *)) {
        margin-top: 0;
        margin-bottom: 16px
    }
}

@media all and (max-width: 767px) {
    :where([class*=milena-heading-okwnggvu-wrapper]:not([class*=milena-heading-okwnggvu-wrapper] *)) {
        margin-top: 0;
        margin-bottom: 16px
    }
}

.milena-heading-okwnggvu.milena-heading-okwnggvu.milena-heading-okwnggvu {
    margin-top: 0;
    margin-bottom: 0
}

@media all and (max-width: 1023px) {
    .milena-heading-okwnggvu.milena-heading-okwnggvu.milena-heading-okwnggvu {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media all and (max-width: 767px) {
    .milena-heading-okwnggvu.milena-heading-okwnggvu.milena-heading-okwnggvu {
        margin-top: 0;
        margin-bottom: 0
    }
}

.milena-text-oxnshfxk {
    color: var(--color-203);
    margin-top: 0;
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .milena-text-oxnshfxk {
        padding-left: 5%;
        padding-right: 5%
    }
}

.milena-text-oxnshfxk {
}