<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cookie</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Cookie">
    <meta property="og:title" content="Cookie">
    <meta name="twitter:title" content="Cookie">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/doc.css">


</head>
<body>

<section class="gita-section symbol--header gita-section-r69479k5 ">
    <div class="">
        <div class="container gita-row-acf9gpf0-wrapper    ">
            <div class="gita-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-t61xckg3  1/1">
                        <div class="gita-navbar--wrapper gita-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="gita-navbar gita-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="gita-navbar--toggle"
                                        data-target="#gitaNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="gita-navbar--collapse collapse" id="gitaNavbarCollapse">
                                    <div class="gita-navbar--navs">
                                        <ul class="gita-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="gita-nav--link home gita-nav--link-2suuvmpu  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="gita-nav--link privacy-policy gita-nav--link-jrjtnw95  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="gita-nav--link terms-of-use gita-nav--link-bzdz1ay2  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="gita-nav--link cookie gita-nav--link-xbr0av3x  "><span
                                                    class="gita-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="data.html"
                                                            class="gita-nav--link data-products gita-nav--link-icwsq3u8  "><span
                                                    class="gita-nav--link-text">Data products</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="gita-nav--link dmca gita-nav--link-hyr3z8vj  "><span
                                                    class="gita-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gita-section gita-section-ui0fwa4e  color-overlay">
    <div class="">
        <div class="container gita-row-nak2pkjt-wrapper    ">
            <div class="gita-row-nak2pkjt  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-nr9xy56r  1/1">
                        <div class="gita-wrapper gita-heading-ffqkevsq-wrapper "><h2
                                class="gita-heading gita-heading-ffqkevsq " id="main-heading"><span>Cookie Policy for aviatorcase.cfd website
</span></h2></div>
                        <div class="gita-text gita-text-agch0ico "><p>Effective date: 07/04/2024</p>
                            <p><br></p>
                            <p>On the aviatorcase.cfd website, we use cookies and similar technologies to improve the
                                user experience, analyze traffic and personalize content. This policy explains what
                                cookies are, what types of cookies we use and how you can manage their use.</p>
                            <p><br></p>
                            <p>&nbsp;What are cookies?</p>
                            <p><br></p>
                            <p>Cookies are small text files that a website sends to your computer or mobile device when
                                you visit the site. Cookies help the site remember information about your visit, which
                                can facilitate subsequent visits and make the site more useful to you.</p>
                            <p><br></p>
                            <p>&nbsp;The types of cookies we use</p>
                            <p><br></p>
                            <p>1. Required cookies: These cookies are necessary for the functioning of our website. They
                                allow you to navigate the site and use its features, such as access to protected
                                areas.</p>
                            <p><br></p>
                            <p>2. Analytical cookies: These cookies collect information about how visitors use our site,
                                such as which pages they visit most often and whether they receive error messages. This
                                data is used to improve the operation of the site.</p>
                            <p><br></p>
                            <p>3. Functional Cookies: These cookies allow our site to remember your choices (such as
                                your username, language, or region where you are located) and provide improved, more
                                personalized features.</p>
                            <p><br></p>
                            <p>4. Advertising Cookies: These cookies are used to display advertisements that are more
                                relevant to you and your interests. They are also used to limit the number of
                                impressions of the same ad and to measure the effectiveness of advertising
                                campaigns.</p>
                            <p><br></p>
                            <p>&nbsp;Cookie management</p>
                            <p><br></p>
                            <p>You can control the use of cookies through your browser settings. Most web browsers allow
                                you to control cookies through settings. You can configure your browser to block cookies
                                or notify you when they are sent to your device. However, if you disable cookies, some
                                functions of our site may not be available.</p>
                            <p><br></p>
                            <p>&nbsp;Changes to the Cookie Policy</p>
                            <p><br></p>
                            <p>We may update this Cookie Policy from time to time. We will notify you of any changes by
                                posting the new Policy on this page. We recommend that you review this page regularly to
                                keep up to date with changes.</p>
                            <p><br></p>
                            <p>&nbsp;Contact information</p>
                            <p><br></p>
                            <p>If you have any questions or comments about this Cookie Policy, please contact us at the
                                following email address: paulabarnette2@gmail.com
                                .</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>