<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Data</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Data">
    <meta property="og:title" content="Data">
    <meta name="twitter:title" content="Data">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">



</head>
<body>

<section class="gita-section symbol--header gita-section-r69479k5 ">
    <div class="">
        <div class="container gita-row-acf9gpf0-wrapper    ">
            <div class="gita-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-t61xckg3  1/1">
                        <div class="gita-navbar--wrapper gita-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="gita-navbar gita-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="gita-navbar--toggle"
                                        data-target="#gitaNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="gita-navbar--collapse collapse" id="gitaNavbarCollapse">
                                    <div class="gita-navbar--navs">
                                        <ul class="gita-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="gita-nav--link home gita-nav--link-2suuvmpu  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">home</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="gita-nav--link privacy-policy gita-nav--link-jrjtnw95  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="gita-nav--link terms-of-use gita-nav--link-bzdz1ay2  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="gita-nav--link cookie gita-nav--link-xbr0av3x  "><span
                                                    class="gita-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data"
                                                            class="gita-nav--link data-products gita-nav--link-icwsq3u8  "><span
                                                    class="gita-nav--link-text">Data products</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="gita-nav--link dmca gita-nav--link-hyr3z8vj  "><span
                                                    class="gita-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gita-section gita-section-ui0fwa4e  color-overlay">
    <div class="">
        <div class="container gita-row-nak2pkjt-wrapper    ">
            <div class="gita-row-nak2pkjt  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-nr9xy56r  1/1">
                        <div class="gita-wrapper gita-heading-ffqkevsq-wrapper "><h2
                                class="gita-heading gita-heading-ffqkevsq " id="main-heading"><span>DMCA policy for aviatorcase.cfd website
</span></h2></div>
                        <div class="gita-text gita-text-agch0ico "><p>We respect the intellectual property rights of
                            others and expect users of our site to do the same. In accordance with the Digital
                            Millennium Copyright Act (DMCA), we will promptly respond to claims of copyright
                            infringement made using our aviatorcase.cfd website if such statements comply with the
                            requirements of the DMCA.&nbsp;</p>
                            <p><br></p>
                            <p>&nbsp;1. Filing a notice of copyright infringement</p>
                            <p><br></p>
                            <p>If you are the copyright owner or are authorized to act on his behalf and you believe
                                that any content posted on our site violates your copyrights, you can submit a notice of
                                infringement containing the following information:</p>
                            <p><br></p>
                            <p>1. Signature of the copyright owner or a person authorized to act on his behalf.</p>
                            <p>2. Identification of the copyrighted work that, in your opinion, has been violated.</p>
                            <p>3. Identification of the material that, in your opinion, violates copyrights, indicating
                                information sufficient to detect it on the site (for example, the URL of the page).</p>
                            <p>4. Your contact information, including address, phone number and email address.</p>
                            <p>5. A statement that you believe in good faith that the use of the material in these
                                circumstances is not authorized by the copyright owner, his agent or the law.</p>
                            <p>6. A statement that the information in the notification is accurate and that you are
                                authorized to act on behalf of the copyright owner (under penalty of perjury).</p>
                            <p><br></p>
                            <p>&nbsp;2. Submission of a counter notification</p>
                            <p><br></p>
                            <p>If you believe that your content has been deleted by mistake or has been wrongly
                                identified as infringing copyright, you can file a counter-notification with the
                                following information:</p>
                            <p><br></p>
                            <p>1. Your signature (physical or electronic).</p>
                            <p>2. Identification of the removed or restricted material and the place where it was
                                located before removal or restriction.</p>
                            <p>3. Your contact information, including address, phone number and email address.</p>
                            <p>4. A statement that you believe in good faith that the material has been deleted or
                                restricted as a result of an error or incorrect identification.</p>
                            <p>5. A statement of your consent to the jurisdiction of the federal court in your judicial
                                district and to receive notifications from the party that filed the initial notification
                                of violation.</p>
                            <p><br></p>
                            <p>3. Contact information for DMCA Notifications</p>
                            <p><br></p>
                            <p>Please send all notices and counter notices of copyright infringement to the following
                                address:</p>
                            <p><br></p>
                            <p>Address: Opp Green Roadways, near Hotel Orient, Kasba Pet, Pune,
                                Maharashtra&nbsp;&nbsp;</p>
                            <p>Phone number: +91 02026128094&nbsp;&nbsp;</p>
                            <p>Email: paulabarnette2@gmail.com
                            </p>
                            <p>Postal code: 411011</p>
                            <p><br></p>
                            <p>4. Measures after receiving notification</p>
                            <p><br></p>
                            <p>After receiving proper notification of copyright infringement, we will take measures
                                including removing or blocking access to the infringing material. We will also notify
                                the user who posted the material about the submitted notification.&nbsp;</p>
                            <p><br></p>
                            <p>5. Repeated violations</p>
                            <p><br></p>
                            <p>We reserve the right to terminate user accounts that repeatedly violate the intellectual
                                property rights of others.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    #cookie-notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: none;
    }

    #cookie-notification p {
        margin: 0;
        margin-bottom: 10px;
    }

    #cookie-notification a {
        color: #007bff;
        text-decoration: none;
    }

    #cookie-notification a:hover {
        text-decoration: underline;
    }

    #cookie-notification button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>

<div id="cookie-notification">
    <p>This website uses cookies to enhance your browsing experience. By continuing to use this site, you agree to our
        <a href="cookie.html">Cookie Policy</a>.</p>
    <button id="cookie-accept">Accept</button>
</div>

<script>

    if (!localStorage.getItem('cookieAccepted')) {

        document.getElementById('cookie-notification').style.display = 'block';


        document.getElementById('cookie-accept').addEventListener('click', function () {

            //localStorage.setItem('cookieAccepted', true);


            document.getElementById('cookie-notification').style.display = 'none';
        });
    }
</script>


</body>
</html>