<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Aviator Company Privacy Policy</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Aviator Company Privacy Policy">
    <meta name="description"
          content="This privacy policy explains how Aviator company collects, uses and protects your personal information.">
    <meta property="og:title" content="Aviator Company Privacy Policy">
    <meta property="og:description"
          content="This privacy policy explains how Aviator company collects, uses and protects your personal information.">
    <meta name="twitter:title" content="Aviator Company Privacy Policy">
    <meta name="twitter:description"
          content="This privacy policy explains how Aviator company collects, uses and protects your personal information.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">



</head>
<body>

<section class="gita-section symbol--header gita-section-r69479k5 ">
    <div class="">
        <div class="container gita-row-acf9gpf0-wrapper    ">
            <div class="gita-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-t61xckg3  1/1">
                        <div class="gita-navbar--wrapper gita-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="gita-navbar gita-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="gita-navbar--toggle"
                                        data-target="#gitaNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="gita-navbar--collapse collapse" id="gitaNavbarCollapse">
                                    <div class="gita-navbar--navs">
                                            <ul class="gita-nav--links normalize">
                                                <li class=""><a href="/"
                                                                class="gita-nav--link home gita-nav--link-2suuvmpu  "><span
                                                        class="gita-nav--link-icon"></span><span
                                                        class="gita-nav--link-text">home</span></a></li>
                                                <li class=""><a href="/privacy"
                                                                class="gita-nav--link privacy-policy gita-nav--link-jrjtnw95  "><span
                                                        class="gita-nav--link-icon"></span><span
                                                        class="gita-nav--link-text">Privacy policy</span></a></li>
                                                <li class=""><a href="/terms"
                                                                class="gita-nav--link terms-of-use gita-nav--link-bzdz1ay2  "><span
                                                        class="gita-nav--link-icon"></span><span
                                                        class="gita-nav--link-text">Terms of use</span></a></li>
                                                <li class=""><a href="/cookie"
                                                                class="gita-nav--link cookie gita-nav--link-xbr0av3x  "><span
                                                        class="gita-nav--link-text">Cookie</span></a></li>
                                                <li class=""><a href="/data"
                                                                class="gita-nav--link data-products gita-nav--link-icwsq3u8  "><span
                                                        class="gita-nav--link-text">Data products</span></a></li>
                                                <li class=""><a href="/dmca"
                                                                class="gita-nav--link dmca gita-nav--link-hyr3z8vj  "><span
                                                        class="gita-nav--link-text">Dmca</span></a></li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gita-section gita-section-ui0fwa4e  color-overlay">
    <div class="">
        <div class="container gita-row-nak2pkjt-wrapper    ">
            <div class="gita-row-nak2pkjt  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-nr9xy56r  1/1">
                        <div class="gita-wrapper gita-heading-ffqkevsq-wrapper "><h2
                                class="gita-heading gita-heading-ffqkevsq " id="main-heading"><span>Privacy Policy
</span></h2></div>
                        <div class="gita-text gita-text-agch0ico "><p>Welcome to the Aviator company's website
                            (hereinafter referred to as "we", "our" or "company"). Your privacy is of great importance
                            to us, and we strive to protect your personal data. This Privacy Policy (hereinafter
                            referred to as the "Policy") explains how we collect, use and protect your personal
                            information. Please read this Policy to understand how we process your data and what
                            measures we take to protect it.</p>
                            <p><br></p>
                            <p>1. Collection Of Personal Data</p>
                            <p><br></p>
                            <p>We collect personal data only with your consent and as part of the provision of our
                                services. The personal data that we may collect includes:</p>
                            <p><br></p>
                            <p>- First and last name;</p>
                            <p>- Email address;</p>
                            <p>- Phone number;</p>
                            <p>- Postal address;</p>
                            <p>- Information about payments and orders;</p>
                            <p>- Information about the site visit, IP address, browser type and operating system.</p>
                            <p><br></p>
                            <p>We collect your data when you:</p>
                            <p><br></p>
                            <p>- Register on our website;</p>
                            <p>- Place an order or subscribe to our services;</p>
                            <p>- Contact us via the contact forms or by e-mail;</p>
                            <p>- Participate in surveys or contests.</p>
                            <p><br></p>
                            <p>&nbsp;2. Use of Personal Data</p>
                            <p><br></p>
                            <p>We use your personal data for the following purposes:</p>
                            <p><br></p>
                            <p>- Provision and improvement of our services;</p>
                            <p>- Processing your orders and payments;</p>
                            <p>- Contact you on issues related to our services and products;</p>
                            <p>- Informing you about news, promotions and special offers;</p>
                            <p>- Analysis and improvement of our website and user experience;</p>
                            <p>- Fulfilling legal obligations and preventing fraud.</p>
                            <p><br></p>
                            <p>We undertake not to transfer your personal data to third parties without your consent,
                                except in cases provided for by law.</p>
                            <p><br></p>
                            <p>3. Personal Data Protection</p>
                            <p><br></p>
                            <p>We take all necessary measures to protect your personal data from unauthorized access,
                                modification, disclosure or destruction. We use modern technologies and organizational
                                measures to ensure data security, such as:</p>
                            <p><br></p>
                            <p>- Data encryption during transmission and storage;</p>
                            <p>- Restricting access to data only to authorized persons;</p>
                            <p>- Regular security checks and updates.</p>
                            <p><br></p>
                            <p>&nbsp;4. Storage Of Personal Data</p>
                            <p><br></p>
                            <p>We store your personal data only for the necessary period of time to achieve the purposes
                                for which it was collected, or in accordance with legal requirements. We strive to
                                minimize the data retention period and ensure their relevance and accuracy.</p>
                            <p><br></p>
                            <p>5. Your Rights</p>
                            <p><br></p>
                            <p>You have the right to:</p>
                            <p><br></p>
                            <p>- Get access to your personal data and request a copy of it;</p>
                            <p>- Correct or update your personal data if it is inaccurate or outdated;</p>
                            <p>- Request the deletion of your personal data if they are no longer needed for the
                                purposes for which they were collected;</p>
                            <p>- Limit the processing of your personal data in certain cases;</p>
                            <p>- Object to the processing of your personal data;</p>
                            <p>- Transfer your personal data to another organization in a format suitable for machine
                                reading.</p>
                            <p><br></p>
                            <p>To exercise your rights, you can contact us through the contact details provided on our
                                website.</p>
                            <p><br></p>
                            <p>6. Cookie Policy</p>
                            <p><br></p>
                            <p>We use cookies and similar technologies to improve the operation of our website, analyze
                                traffic and provide personalized content. Cookies allow us to recognize you when you
                                visit the site again and provide you with a more convenient and personalized
                                experience.</p>
                            <p><br></p>
                            <p>You can manage the cookie settings in your browser and choose which cookies you want to
                                accept or block. Please note that disabling cookies may limit the functionality of our
                                site and make it difficult to use some of its features.</p>
                            <p><br></p>
                            <p>&nbsp;7. External Links</p>
                            <p><br></p>
                            <p>Our site may contain links to third-party sites that are beyond our control. We are not
                                responsible for the content and privacy policies of these sites. We recommend that you
                                review the terms of use and privacy policies of such sites before using them.</p>
                            <p><br></p>
                            <p>8. Changes to the Privacy Policy</p>
                            <p><br></p>
                            <p>We reserve the right to make changes to this Privacy Policy. We will notify you of any
                                changes on our website. We recommend checking this page regularly to keep up to date
                                with any changes. Your continued use of our site after the changes are made will mean
                                your acceptance of the new terms of the Policy.</p>
                            <p><br></p>
                            <p>&nbsp;9. Contacts</p>
                            <p><br></p>
                            <p>If you have any questions about our Privacy Policy or you want to exercise your rights
                                with respect to personal data, please contact us using the contact details provided on
                                our website.</p>
                            <p><br></p>
                            <p>&nbsp;10. Applicable Law</p>
                            <p><br></p>
                            <p>This Privacy Policy is governed by and interpreted in accordance with the laws of the
                                Russian Federation. Any disputes arising in connection with this Policy are subject to
                                resolution in the courts of the Russian Federation.</p>
                            <p><br></p>
                            <p>&nbsp;Final Provisions</p>
                            <p><br></p>
                            <p>By using our website and services, you agree to the terms of this Privacy Policy. If you
                                have any questions or suggestions about our privacy policy, please contact us. We are
                                always open to dialogue and ready to consider any of your suggestions and comments.</p>
                            <p><br></p>
                            <p>---</p>
                            <p><br></p>
                            <p>We thank you for your trust in Aviator and hope that you will be satisfied with our
                                service and the level of protection of your personal data.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    #cookie-notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: none;
    }

    #cookie-notification p {
        margin: 0;
        margin-bottom: 10px;
    }

    #cookie-notification a {
        color: #007bff;
        text-decoration: none;
    }

    #cookie-notification a:hover {
        text-decoration: underline;
    }

    #cookie-notification button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>

<div id="cookie-notification">
    <p>This website uses cookies to enhance your browsing experience. By continuing to use this site, you agree to our
        <a href="cookie.html">Cookie Policy</a>.</p>
    <button id="cookie-accept">Accept</button>
</div>

<script>

    if (!localStorage.getItem('cookieAccepted')) {

        document.getElementById('cookie-notification').style.display = 'block';


        document.getElementById('cookie-accept').addEventListener('click', function () {

            //localStorage.setItem('cookieAccepted', true);


            document.getElementById('cookie-notification').style.display = 'none';
        });
    }
</script>


</body>
</html>