<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Terms of use</title>
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Terms of use">
    <meta property="og:title" content="Terms of use">
    <meta name="twitter:title" content="Terms of use">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/doc.css">



</head>
<body>

<section class="gita-section symbol--header gita-section-r69479k5 ">
    <div class="">
        <div class="container gita-row-acf9gpf0-wrapper    ">
            <div class="gita-row-acf9gpf0  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-t61xckg3  1/1">
                        <div class="gita-navbar--wrapper gita-nav-qq96ee6b-wrapper  sticky-nav">
                            <div class="gita-navbar gita-nav-qq96ee6b ">
                                <button aria-label="Navbar Toggle" class="gita-navbar--toggle"
                                        data-target="#gitaNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="gita-navbar--collapse collapse" id="gitaNavbarCollapse">
                                    <div class="gita-navbar--navs">
                                        <ul class="gita-nav--links normalize">
                                            <li class=""><a href="index.html"
                                                            class="gita-nav--link home gita-nav--link-2suuvmpu  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">home</span></a></li>
                                            <li class=""><a href="privacy.html"
                                                            class="gita-nav--link privacy-policy gita-nav--link-jrjtnw95  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">Privacy policy</span></a></li>
                                            <li class=""><a href="terms.html"
                                                            class="gita-nav--link terms-of-use gita-nav--link-bzdz1ay2  "><span
                                                    class="gita-nav--link-icon"></span><span
                                                    class="gita-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="cookie.html"
                                                            class="gita-nav--link cookie gita-nav--link-xbr0av3x  "><span
                                                    class="gita-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="data.html"
                                                            class="gita-nav--link data-products gita-nav--link-icwsq3u8  "><span
                                                    class="gita-nav--link-text">Data products</span></a></li>
                                            <li class=""><a href="dmca.html"
                                                            class="gita-nav--link dmca gita-nav--link-hyr3z8vj  "><span
                                                    class="gita-nav--link-text">Dmca</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gita-section gita-section-ui0fwa4e  color-overlay">
    <div class="">
        <div class="container gita-row-nak2pkjt-wrapper    ">
            <div class="gita-row-nak2pkjt  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner gita-column-nr9xy56r  1/1">
                        <div class="gita-wrapper gita-heading-ffqkevsq-wrapper "><h2
                                class="gita-heading gita-heading-ffqkevsq " id="main-heading"><span>Terms of Use
</span></h2></div>
                        <div class="gita-text gita-text-agch0ico "><p>Welcome to the Aviator company's website
                            (hereinafter referred to as "we", "our" or "company"). These Terms of Use (hereinafter
                            referred to as the "Terms") regulate the use of our website and the services we provide.
                            Please read these Terms carefully before using our website and services.<br></p>
                            <p></p>
                            <p>&nbsp;1. Acceptance of the Terms</p>
                            <p><br></p>
                            <p>By using our website, you agree to be bound by these Terms. If you do not agree to these
                                Terms, please do not use our website and services.</p>
                            <p><br></p>
                            <p>&nbsp;2. Changes in Conditions<br></p>
                            <p></p>
                            <p>We reserve the right to make changes to these Terms at any time. All changes take effect
                                from the moment they are published on our website. We recommend checking this page
                                regularly to familiarize yourself with the current Terms and Conditions. Your continued
                                use of our site after the changes are made will mean your acceptance of the new
                                terms.</p>
                            <p><br></p>
                            <p>&nbsp;3. Description of Services</p>
                            <p><br></p>
                            <p>Our website provides information about Aviator's products and services, including car
                                covers, concept development and product manufacturing services. We strive to ensure the
                                relevance and accuracy of the information posted on the site, but we do not guarantee
                                its complete correctness.<br></p>
                            <p></p>
                            <p>4. Registration and Accounts</p>
                            <p><br></p>
                            <p>Registration may be required to access some services on our website. Upon registration,
                                you agree to provide accurate and complete information, as well as to keep it up to
                                date. You are responsible for maintaining the confidentiality of your credentials and
                                for all actions performed under your account.</p>
                            <p><br></p>
                            <p>5. Privacy Policy</p>
                            <p><br></p>
                            <p>The use of our website is governed by our Privacy Policy, which describes how we collect,
                                use and protect your personal data. Please read the Privacy Policy on the corresponding
                                page of our website.</p>
                            <p><br></p>
                            <p>&nbsp;6. Intellectual Property</p>
                            <p><br></p>
                            <p>All materials posted on our website, including text, images, logos and software, are our
                                intellectual property or the property of third parties with whom we have concluded
                                relevant agreements. You may not use, copy, distribute or modify these materials without
                                our written permission.</p>
                            <p><br></p>
                            <p>&nbsp;7. Using the Site</p>
                            <p><br></p>
                            <p>You agree to use our site only for legitimate purposes and to comply with all applicable
                                laws and regulations. You agree not to use our site for:</p>
                            <p><br></p>
                            <p>- Distribution of spam or unauthorized advertising;</p>
                            <p>- Downloading or distributing viruses and other malware;</p>
                            <p>- Committing actions that violate the rights of third parties;</p>
                            <p>- Disruptions of the site or restrictions on access to it for other users.</p>
                            <p><br></p>
                            <p>&nbsp;8. Disclaimer of Warranties</p>
                            <p><br></p>
                            <p>We provide our website and services "as is" and "as available". We make no warranties,
                                express or implied, including, but not limited to, warranties of fitness for a
                                particular purpose and non-infringement of third party rights. We do not guarantee that
                                our site will be available without interruptions and errors.</p>
                            <p><br></p>
                            <p>9. Limitation of Liability</p>
                            <p><br></p>
                            <p>We are not responsible for any damages, including direct, indirect, incidental or
                                punitive damages, arising from the use or inability to use our site or services, even if
                                we have been advised of the possibility of such damages. This includes, but is not
                                limited to, losses related to:</p>
                            <p><br></p>
                            <p>- Inability to use the site;</p>
                            <p>- Errors or omissions in the content;</p>
                            <p>- A security breach;</p>
                            <p>- Loss or corruption of data;</p>
                            <p>- Violation of intellectual property rights.</p>
                            <p><br></p>
                            <p>&nbsp;10. External Links</p>
                            <p><br></p>
                            <p>Our site may contain links to third-party sites that are beyond our control. We are not
                                responsible for the content and privacy policies of such sites. We recommend that you
                                review the terms of use and privacy policies of these sites before using them.</p>
                            <p><br></p>
                            <p>&nbsp;11. Confidentiality and Protection of Personal Data</p>
                            <p><br></p>
                            <p>We collect, use and protect your personal data in accordance with our Privacy Policy.
                                Please read the Privacy Policy for more information about how we process your data.</p>
                            <p><br></p>
                            <p>&nbsp;12. Termination of Access</p>
                            <p><br></p>
                            <p>We reserve the right to terminate access to our site and services at any time without
                                prior notice and for any reason, including violation of these Terms. We may also delete
                                your account and all related data if we deem it necessary.</p>
                            <p><br></p>
                            <p>&nbsp;13. Applicable Law</p>
                            <p><br></p>
                            <p>These Terms and Conditions shall be governed by and interpreted in accordance with the
                                laws of the Russian Federation. Any disputes arising in connection with these Terms are
                                subject to resolution in the courts of the Russian Federation.</p>
                            <p><br></p>
                            <p>&nbsp;14. Final Provisions</p>
                            <p><br></p>
                            <p>If any provision of these Terms is found to be invalid or unenforceable, this will not
                                affect the validity of the remaining provisions, which remain in full force and
                                effect.</p>
                            <p><br></p>
                            <p>These Terms and Conditions constitute the entire agreement between you and Aviator
                                regarding the use of our website and services. Any other agreements or arrangements that
                                contradict these Terms and Conditions will cease to be valid from the moment they enter
                                into force.</p>
                            <p><br></p>
                            <p>---</p>
                            <p><br></p>
                            <p>These Terms of Use provide the legal basis for the use of our site and services, as well
                                as establish your rights and obligations in the framework of interaction with
                                Aviator.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    #cookie-notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: none;
    }

    #cookie-notification p {
        margin: 0;
        margin-bottom: 10px;
    }

    #cookie-notification a {
        color: #007bff;
        text-decoration: none;
    }

    #cookie-notification a:hover {
        text-decoration: underline;
    }

    #cookie-notification button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>

<div id="cookie-notification">
    <p>This website uses cookies to enhance your browsing experience. By continuing to use this site, you agree to our
        <a href="cookie.html">Cookie Policy</a>.</p>
    <button id="cookie-accept">Accept</button>
</div>

<script>

    if (!localStorage.getItem('cookieAccepted')) {

        document.getElementById('cookie-notification').style.display = 'block';


        document.getElementById('cookie-accept').addEventListener('click', function () {

            //localStorage.setItem('cookieAccepted', true);


            document.getElementById('cookie-notification').style.display = 'none';
        });
    }
</script>


</body>
</html>