<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Privacy Policy for Our Website</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Privacy Policy for Our Website">
    <meta name="description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <meta property="og:title" content="Privacy Policy for Our Website">
    <meta property="og:description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <meta name="twitter:title" content="Privacy Policy for Our Website">
    <meta name="twitter:description"
          content="This privacy policy explains what data we collect, how we use and protect it when you use our website.">
    <meta name="twitter:card" content="summary_large_image">
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/doc.css">

</head>
<body>

<section class="bulk-section symbol--header bulk-section-8kv52e75 ">
    <div class="">
        <div class="container bulk-row-80vj5xo8-wrapper    ">
            <div class="bulk-row-80vj5xo8  flex  ">
                <div class="col-lg-1/1 ">
                    <div class="column-inner bulk-column-3nlzswir  1/1">
                        <div class="bulk-navbar--wrapper bulk-nav-kflzsvrm-wrapper  sticky-nav">
                            <div class="bulk-navbar bulk-nav-kflzsvrm ">
                                <button aria-label="Navbar Toggle" class="bulk-navbar--toggle"
                                        data-target="#bulkNavbarCollapse">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                                         class="svg-inline--fa fa-bars fa-fw icon " role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"
                                         data-testid="icon-test">
                                        <path fill="currentColor"
                                              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </button>
                                <div class="bulk-navbar--collapse collapse" id="bulkNavbarCollapse">
                                    <div class="bulk-navbar--navs">
                                        <ul class="bulk-nav--links normalize">
                                            <li class=""><a href="/"
                                                            class="bulk-nav--link home bulk-nav--link-2suuvmpu  "><span
                                                    class="bulk-nav--link-icon"></span><span
                                                    class="bulk-nav--link-text">Home</span></a></li>
                                            <li class=""><a href="/terms"
                                                            class="bulk-nav--link terms-of-use bulk-nav--link-jrjtnw95  "><span
                                                    class="bulk-nav--link-icon"></span><span
                                                    class="bulk-nav--link-text">Terms of use</span></a></li>
                                            <li class=""><a href="/privacy"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Privacy Policy</span></a></li>
                                            <li class=""><a href="/cookie"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Cookie</span></a></li>
                                            <li class=""><a href="/data_product"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">Data Product</span></a></li>
                                            <li class=""><a href="/dmca"
                                                            class="bulk-nav--link privacy-policy bulk-nav--link-0hwe8nz2  "><span
                                                    class="bulk-nav--link-text">DMCA</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bulk-section bulk-section-14ad3xsb ">
    <div class="bulk-container-4udoh02v  ">
        <center>
            <div class="bulk-container-dk6bfn8d  ">
                <div class="bulk-wrapper bulk-heading-h9rtb1y9-wrapper "><h2
                        class="bulk-heading bulk-heading-h9rtb1y9 "><span>Terms of Use Terms of Use
</span></h2></div>
                <div class="bulk-text bulk-text-nws45z8o "><p>Welcome to our website. Before using our website, please
                    read these Terms of Use carefully. Your use of the site means that you agree to these terms. If you do
                    not agree with them, please do not use our website.<br></p>
                    <p></p>
                    <p>&nbsp;1. General provisions<br></p>
                    <p></p>
                    <p>1.1. These Terms of Use govern the access and use of our website.<br></p>
                    <p></p>
                    <p>1.2. We reserve the right to change or supplement these Terms of Use at any time. The changes take
                        effect from the moment they are published on the website.</p>
                    <p><br></p>
                    <p>&nbsp;2. Using the site</p>
                    <p><br></p>
                    <p>2.1. You agree to use the site only for legitimate purposes and not to violate the rights of other
                        users.</p>
                    <p><br></p>
                    <p>2.2. It is prohibited to use the site to distribute malicious software, spam, or other types of
                        malicious activity.</p>
                    <p><br></p>
                    <p>&nbsp;3. Registration and Accounts</p>
                    <p><br></p>
                    <p>3.1. Registration may be required to access certain functions of the site. Upon registration, you
                        agree to provide accurate and complete information.</p>
                    <p><br></p>
                    <p>3.2. You are responsible for maintaining the confidentiality of your account data and password, as
                        well as for all actions performed under your account.</p>
                    <p><br></p>
                    <p>4. Privacy</p>
                    <p><br></p>
                    <p>4.1. The use of our website is also governed by our Privacy Policy. Please read it to understand how
                        we collect, use and protect your information.</p>
                    <p><br></p>
                    <p>&nbsp;5. Intellectual property</p>
                    <p><br></p>
                    <p>5.1. All materials on this site, including text, images, logos, graphics and software, are our
                        property or the property of our licensors and are protected by copyright and other intellectual
                        property laws.</p>
                    <p><br></p>
                    <p>5.2. You may not copy, modify, distribute, transmit or use any materials from the site without our
                        written consent.</p>
                    <p><br></p>
                    <p>6. Limitation of Liability</p>
                    <p><br></p>
                    <p>6.1. We make every effort to ensure the accuracy and relevance of the information on the site, but we
                        do not guarantee its completeness or error-free.</p>
                    <p><br></p>
                    <p>6.2. We are not responsible for any direct or indirect damages resulting from the use or inability to
                        use our site.</p>
                    <p><br></p>
                    <p>&nbsp;7. Links to third-party sites</p>
                    <p><br></p>
                    <p>7.1. Our website may contain links to third-party websites. We do not control and are not responsible
                        for the content and privacy policies of these sites.</p>
                    <p><br></p>
                    <p>8. Termination of access</p>
                    <p><br></p>
                    <p>8.1. We reserve the right to terminate your access to the site at any time without prior notice for
                        violation of these Terms of Use.</p>
                    <p><br></p>
                    <p>&nbsp;9. Applicable law</p>
                    <p><br></p>
                    <p>9.1. These Terms of Use are governed by and interpreted in accordance with the laws of the country in
                        which our company is registered.</p>
                    <p><br></p>
                    <p>&nbsp;10. Contacts</p>
                    <p><br></p>
                    <p>If you have any questions or suggestions about these Terms of Use, please contact us via the feedback
                        forms on the website.</p>
                    <p><br></p>
                    <p>Thank you for choosing our website!</p>
                    <p></p>
                </div>
            </div>
        </center>

    </div>
</section>
<style>
    .cookie-dialog {
        position: fixed;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(18, 18, 18, 0.5);
        border-radius: 16px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        padding: 10px;
        max-width: 500px;
        width: 90%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.6s, visibility 0.6s;
    }

    .cookie-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cookie-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 18px;
    }

    .cookie-dialog-icon {
        font-size: 20px;
        color: #ff9800;
        margin-bottom: 16px;
    }

    .cookie-dialog-title {
        font-size: 18px;
        font-weight: bold;
        color: #f5f5f5;
    }

    .cookie-dialog-text {
        font-size: 14px;
        line-height: 1.6;
        color: #e0e0e0;
        margin-bottom: 32px;
    }

    .cookie-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .cookie-dialog-button {
        background-color: #03b3b3;
        color: #f5f5f5;
        border: none;
        padding: 14px 28px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .cookie-dialog-button:hover {
        background-color: #ff0000;
    }
</style>

<div id="cookie-dialog" class="cookie-dialog">
    <div class="cookie-dialog-content">
        <div class="cookie-dialog-header">
            <div class="cookie-dialog-icon">
                <i class="fas fa-cookie-bite"></i>
            </div>
            <h2 class="cookie-dialog-title">Cookie Consent</h2>
        </div>
        <p class="cookie-dialog-text">
            We use cookies to enhance your browsing experience on our website. These small data files help us remember your preferences and provide personalized content. By continuing to use our site, you agree to our cookie policy.
        </p>
        <div class="cookie-dialog-actions">
            <button id="accept-cookies" class="cookie-dialog-button">
                <i class="fas fa-check"></i>
                Accept
            </button>
        </div>
    </div>
</div>

<script>
    if (!localStorage.getItem('cookiesAccepted')) {
        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '1';
        cookieDialog.style.visibility = 'visible';
    }


    const acceptCookiesButton = document.getElementById('accept-cookies');
    acceptCookiesButton.addEventListener('click', () => {

        //localStorage.setItem('cookiesAccepted', 'true');


        const cookieDialog = document.getElementById('cookie-dialog');
        cookieDialog.style.opacity = '0';
        cookieDialog.style.visibility = 'hidden';
    });
</script>

</body>
</html>